[2017-05-25 10:38] Kmohamed commented on #159
Hello @lha-ryq
Actually this crash is caused by a bad memory address and it's not necessary to be caused by Instabug because we are swizzling each viewDidAppear.
so If the crash occurred in viewDidAppear for some reason you will see Instabug swizzle stack frame in crash stack trace.
So I would appreciate if you send a steps to reproduce.

[2017-05-25 16:39] lha-ryq commented on #159
Hi @Kmohamed
This crash happened to our users only once. It occurred during first application startup and just after performing custom transition.
Our implementation for viewDidAppear of the view controller which is presented after transition is almost empty.
I am going to execute more tests to reproduce this crash.

[2017-05-26 14:11] lm2s opened #160 "Crash on [Instabug identifyUserWithEmail:name:]"
Hello
I've received a report a crash relating to [Instabug identifyUserWithEmail:name:], any idea what could be causing this?

OS Version: 10.3.1 (14E304)
Device: iPhone 6s Plus
RAM Free: 7.1%
Disk Free: 18.3%

Instabug 7.2.6

Stack trace:
[code]

[2017-05-26 14:13] Kmohamed commented on #160
@Im2s are you able to reproduce it ?
Or it occurs randomly

[2017-05-26 15:10] Kmohamed commented on #160
@lm2s are you calling `[Instabug identifyUserWithEmail:name:]` in a callback for a network call or a something like this ?

[2017-05-26 16:08] lm2s commented on #160
I cannot reproduce it and it's not widespread.
Yes, its called from a callback.

[2017-05-26 16:21] Kmohamed commented on #160
So I think I am right with my guess the email is released in the callback.
Could you please call this method with a copy from email and name until we release a fix very soon.
Sorry for inconvenience

[2017-05-26 20:05] msoliman opened #161 "This is a sample bug. Reported by Instabug."
**Title:** 	 This is a sample bug. Reported by Instabug.

**Number:** 	 3

**URL:** 	 https://insta.co/bugs/1caeee46-9c60-465a-ac0c-e74f2e2e7b86

**Status:** 	 New

**Email:** 	 noreply@instabug.com

**Reported At:** 	 2014-05-28 00:00:00 UTC

**Location:** 	 San Francisco, USA

**Device:** 	 iPhone 4, iOS 7.0

**Memory:** 	 3084.0/4085.0 MB

**Storage:** 	 25.754/31.201 GB

**Connectivity:** 	 Ca

[2017-05-26 20:05] #161 closed

[2017-05-31 17:25] Kmohamed commented on #160
@lm2s We just release v7.2.7 with a fix.
Kindly check it.

[2017-05-31 17:25] #160 closed

[2017-06-01 14:49] McFlyssss opened #162 "Crash [NSURLRequest(Additions) ibg_cURLCommandWithBody:]"
Hi guys,

One of our testers is experiencing an issue in which the app crashes every single time it opens.
Last time he reported a bug the screenshot was never uploaded (It does not appear in the dashboard) and since then the issue keeps happening.

[code]

Re-installing the app fixed the problem.

Cheers,

Albert

[2017-06-01 21:24] Figo0o commented on #162
Hello Albert,

Can you provide us with Instabug version used and what is the exception ? .. Can you reproduce it again ?

[2017-06-02 10:03] McFlyssss commented on #162
Hello @Figo0o ,

Sorry, I forgot to include the basic information:
- Instabug version is 7.2.6
- EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000001affff40

I can not reproduce it again. We had to delete the app and install it again. Working fine since then.

Cheers,

Albert

[2017-06-06 20:34] eneko opened #163 "Xcode 9 Main Thread Sanitizer"
Seems like the Instabug SDK is trying to update the network indicator from a background thread.

Happens both in versions 6.4.1 and 7.2.7

[code]

[2017-06-07 05:44] JackoPlane commented on #163
+1

[2017-06-07 07:17] Figo0o commented on #163
Hello @eneko, Thanks for reporting this out. Currently we are working to full support iOS 11. We should have a release ASAP, Let me notify you then.

[2017-06-08 23:21] Figo0o commented on #163
@eneko, @JackoPlane

We have just released V7.2.8 that should solves this problem and other issues appeared with iOS 11. Please let me know if I can help with anything else.

Thanks!

[2017-06-08 23:21] #163 closed

[2017-06-08 23:37] Figo0o commented on #158
@jeremiegirault

We have just released Instabug [V7.2.8](https://github.com/Instabug/Instabug-iOS/releases/tag/v7.2.8) with the fix for this issue. Please give it a try and let me know your feedback.

Thanks!

[2017-06-08 23:37] #158 closed

[2017-06-22 10:49] robertofrontado opened #164 "Obfuscating Data in Log issue"
Hello,

I'm using the following method to obfuscate a request before logging it:

[code]

So I'm trying to obfuscate some parameters that are in the `httpBody` of a request, but for some reason `httpBody` is always `nil` at this point,

Any idea?

[2017-06-22 10:51] Kmohamed commented on #164
@robertofrontado let me check it and get back to you.

[2017-06-22 10:52] robertofrontado commented on #164
That was fast @Kmohamed, thanks 😄

[2017-06-22 11:04] Kmohamed commented on #164
@robertofrontado
Actually it's a bug and it will fixed in the next release. If this bug will block you I can send you a custom build.

[2017-06-22 11:19] robertofrontado commented on #164
Okk, I think I can wait until the next release, thank you!

[2017-06-22 11:19] #164 closed

[2017-06-22 11:21] Kmohamed commented on #164
I will notify you once is got released.

[2017-06-28 20:45] stansey commented on #54
What is the "latest version" (The one that worked). The latest version of instabug available 7/19/16 was 5.3?

I am seeing a possibly similar crash. We upgraded from Instabug 5.2.2 to Instabug 7.2.8

I don't want to manually copy the bundle files because I have automated the process of building the ipa. I'm nervous about further automating workarounds for cocoapods. I am using cocoapods version 1.

[2017-06-28 20:54] Kmohamed commented on #54
@stansey let me check it and get back to you soon.

[2017-06-29 00:06] stansey commented on #54
We found a fix. A while back we added an automated step that would remove the "Embed Pods Framework" build phase before we packaged our app. This was necessary or uploading our app to the iTunes Connect would fail (possibly due to the presence of an empty directory or something like that?) But our app no longer fails to upload to iTunes Connect when we leave the "Embed Pods Framework" build phase

[2017-06-29 00:10] Kmohamed commented on #54
@stansey Great but I am curious why do you want to remove "Embed Pods Framework" ?

[2017-06-29 01:01] stansey commented on #54
We used to have to remove the "Embed Pods Frameworks" build phase or our app would get rejected when we tried to upload it to iTunes Connect. I don't understand why that was the case. That doesn't happen now though, so it's not a problem any more.

[2017-06-29 01:35] Kmohamed commented on #54
Could you send to me this error ?

[2017-06-30 14:49] Kmohamed commented on #164
@robertofrontado we just released v7.2.9 which contains bug fix

[2017-07-02 08:42] Figo0o commented on #162
Since we can't reproduce this issue and till now it didn't happen again, I'm gonna close this until any updates shows up.

[2017-07-02 08:42] #162 closed

[2017-07-02 13:02] #153 closed

[2017-07-04 11:05] alexkent opened #165 "iOS Carthage support not working"
Hi,

I added the `binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Carthage.json"` line to my `Cartfile`, and ran `carthage update` but I' presented with this error:

`
Failed to read file or folder at /private/var/folders/jg/s3qx8p_s75qgcrgtzmgyw2405z4fzn/T/carthage-archive.Ev00Je/__MACOSX/Instabug/Instabug.framework: Error Domain=com.antitypical.Result Code=0 "the DTSDKName

[2017-07-04 12:35] txaiwieser commented on #165
Same problem here, it started in the last version. This is breaking our CI builds. Can this be fixed quickly? Thanks

[2017-07-04 12:40] Figo0o commented on #165
We are so sorry for inconvenience, I'm checking this for now and gonna be fixed ASAP.

[2017-07-04 17:28] Figo0o commented on #165
Hello guys, Can you please give it a try now. it should be fix. ✋

[2017-07-04 17:59] txaiwieser commented on #165
It did work! Our CI just sent the dayli builds! Thank you!
:+1:

[2017-07-04 18:27] Figo0o commented on #165
Yaaay! 🎉

[2017-07-04 18:27] #165 closed

[2017-07-04 21:36] txaiwieser commented on #165
I'm having this problem again.

[2017-07-04 21:40] Kmohamed commented on #165
@txaiwieser do you face this problem on your CI or locally ?
maybe a caching problem.

[2017-07-04 22:03] txaiwieser commented on #165
Yes, it was a cache problem. Just cleaned the CI cache using `rm -rf ~/Library/Caches/org.carthage.CarthageKit` and now it works!

Thanks again! 👍

[2017-07-04 22:04] Kmohamed commented on #165
@txaiwieser you are welcome

[2017-07-06 15:28] SudoPlz commented on #159
I had a random crash as well, and I received that stack trace, not sure if it's the same problem:

[code]

[2017-07-06 17:10] Kmohamed commented on #159
@SudoPlz Could you please send to me full stack trace ?

[2017-07-07 18:19] k-shan opened #166 "Setting DSYM_PATH before executing script has issues"
Instabug_dsym_upload.sh script doesn't use DSYM_PATH if it's set prior to script execution (specifically this [line](https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.framework/Instabug.bundle/Instabug_dsym_upload.sh#L85))

[2017-07-07 18:58] evisoup opened #167 "issue closed."
Issue resolved.

[2017-07-07 18:59] Figo0o commented on #166
Hello @k-shan, I really don't get the problem. Can you please provide me more details about whats happening?

[2017-07-07 19:12] k-shan commented on #166
Sure, on this [line](https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.framework/Instabug.bundle/Instabug_dsym_upload.sh#L62) the script checks `$DSYM_PATH` and sets it if it doesn't exits. However on the [line mentioned above](https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.framework/Instabug.bundle/Instabug_dsym_upload.sh#L85) it's using a different variable. You just n

[2017-07-07 19:20] #167 closed

[2017-07-07 20:12] Figo0o commented on #166
Well, Thanks for you feedback we appreciate that so much.

Actually we can't replace [this line](https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.framework/Instabug.bundle/Instabug_dsym_upload.sh#L85) with `$DSYM_PATH` because here we are trying to find all dSYM files found there in that directory to upload them to the dashboard (depends on if you have any other inner frameworks or no

[2017-07-08 11:08] #166 closed

[2017-07-10 04:32] eneko commented on #156
Any updates on this? iOS 11 screenshots look very promising.

[2017-07-11 12:36] SudoPlz commented on #159
@Kmohamed that's all I have unfortunately :/ Here's another one too:

[code]

[2017-07-11 13:27] wojteklembryk-ah opened #168 "Missing bitcode support in 7.2.9?"
Trying to build with an app with Instabug 7.2.9 and getting following error:
`.../Frameworks/Instabug.framework" isn’t consistent with the Mach-O in the main bundle. The main bundle Mach-O contains armv7(machine code) and arm64(machine code), while the nested bundle Mach-O contains armv7(bitcode) and armv7s(bitcode) and arm64(bitcode). Verify that all of the targets for a platform have a consisten

[2017-07-11 13:29] Kmohamed commented on #168
@wojteklembryk-ah
are you using cocoa-pods or manual integration ?

[2017-07-11 13:37] wojteklembryk-ah commented on #168
@Kmohamed cocoapods `Using Instabug (7.2.9)`

[2017-07-11 13:54] Kmohamed commented on #168
@wojteklembryk-ah This error means the bitcode settings in the application vs the frameworks/extensions it includes, or even just between frameworks/extensions are not consistent.
So are you sure that every framework and extension are enabling bitcode ?
not just the app target.

[2017-07-11 14:03] wojteklembryk-ah commented on #168
I have following cocoapods post_install step:
[code]
Instabug SDK integration is only one change I did.

[2017-07-11 14:06] Kmohamed commented on #168
@wojteklembryk-ah I just double checked the latest version of SDK with our [InstabugApp](https://itunes.apple.com/eg/app/instabug/id1230889027?mt=8) and it works.
![screen shot 2017-07-11 at 3 55 20 pm](https://user-images.githubusercontent.com/1115748/28072211-a0fa2e3a-6652-11e7-8593-d2d400cfcf7e.png)

Could you remove Instabug and try to validate the app.

[2017-07-11 14:09] wojteklembryk-ah commented on #168
@Kmohamed will do, thanks for support 🍺

[2017-07-11 14:09] #168 closed

[2017-07-11 14:32] Kmohamed commented on #168
@wojteklembryk-ah
urw, Did you figure out the cause of the error ? does the app validated successfully after removing Instabug

[2017-07-11 14:34] wojteklembryk-ah commented on #168
@Kmohamed not yet, I'm on it. Will let you know when I'll fix it. Thanks again 👍

[2017-07-11 14:35] Kmohamed commented on #168
anytime, waiting your feedback

[2017-07-12 13:38] wojteklembryk-ah commented on #168
@Kmohamed it turned out that my CI server had old Xcode version and this coused a problem. cheers

[2017-07-12 16:14] Kmohamed commented on #168
@wojteklembryk-ah Great 👍

[2017-07-13 06:32] alexsanderkhitev commented on #159
Hello @Kmohamed ! We also got one similar app crash from the user, and once managed to get it in Xcode.

At us it happens during the first loading of application.

[2017-07-13 06:35] Kmohamed commented on #159
@alexsanderkhitev
I am sorry for that but could you send to me stack trace ? And are you able to reproduce it ?

[2017-07-13 06:37] alexsanderkhitev commented on #159
@Kmohamed
I got this in the Xcode console - "Instabug was compiled with optimization - stepping may behave oddly; variables may not be available"

 Sorry, but I can not provide this, because I did not save and did only a screenshot, I can send you a screenshot of this app crash.

[2017-07-13 06:38] alexsanderkhitev commented on #159
@Kmohamed Thanks for the prompt reply, do you have any suggestions on how to eliminate this in the shortest time (1-2 hours)?

[2017-07-13 06:40] Kmohamed commented on #159
I am on it now but please send to me the screenshot

[2017-07-13 06:46] alexsanderkhitev commented on #159
@Kmohamed
![instabug](https://user-images.githubusercontent.com/12511909/28153785-6aebe560-67b8-11e7-8e91-f165d3168769.png)

[2017-07-13 06:47] alexsanderkhitev commented on #159
@Kmohamed This happened during the first run, I did not have time to press the button to enter the application and the fall occurred.

[2017-07-13 06:55] alexsanderkhitev commented on #159
@Kmohamed The user had this happen at 2 seconds when he was already inside the application, the app crash happens randomly

[2017-07-13 07:53] Kmohamed commented on #159
@alexsanderkhitev could you list your third parties ?

[2017-07-13 08:01] alexsanderkhitev commented on #159
@Kmohamed yes, I can

 # Firebase
    pod 'Firebase/Core'
    pod 'Firebase/Auth'
    pod 'Firebase/Database'
    pod 'Firebase/Storage'
    # Push notification
    pod 'Firebase/Core'
    pod 'Firebase/Messaging'

    # Firebase Additional
    pod 'GeoFire', :git => 'https://github.com/firebase/geofire-objc.git', :commit => '96d6463f59016785f9c5ae9b669019c44786a23f'

    # JSON, Models
    pod 'O

[2017-07-13 08:10] alexsanderkhitev commented on #159
@Kmohamed I also added  pod 'Chatto',  :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'
 pod 'ChattoAdditions',  :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'

[2017-07-13 08:42] alexsanderkhitev commented on #159
@Kmohamed Please let us know when any details are known or the problem will be resolved.

[2017-07-13 08:47] Kmohamed commented on #159
@alexsanderkhitev Sure.

[2017-07-24 14:53] alexsanderkhitev commented on #159
Hello @Kmohamed! Is there any news on this issue?

[2017-07-24 15:10] Kmohamed commented on #159
@alexsanderkhitev we are very sorry for being late.
It takes a lot of time because this issue is occurs randomly so we put the under a lot of testing cycles. But the good news it's almost done and will be released soon.

[2017-07-24 15:12] alexsanderkhitev commented on #159
@Kmohamed thanks!

[2017-08-03 07:59] Kmohamed commented on #159
@alexsanderkhitev
Sorry for being late in fixing this issue but the good news we just release a Fix for your issue please update to 7.3.5 and tell if you still face a problems.

[2017-08-03 07:59] #159 closed

[2017-08-03 08:00] alexsanderkhitev commented on #159
@Kmohamed Thank you!

[2017-08-04 07:49] lha-ryq opened #169 "Crash in IBGMethodsLogger LogMethod:"
We see new crash related with Instabug. It looks like it happens after calling setUserData.
Instabug version: 7.2.6

[code]

Here is the execution of `Instabug.setUserData` in our code:
[code]

[2017-08-04 07:53] Kmohamed commented on #169
Hi @Iha-ryq
setUserData only accepting String. And has limit 1000 characters. This is the cause of the crash

[2017-08-04 08:06] lha-ryq commented on #169
Hi @Kmohamed
I don't think it is related with characters limit. This crash happened only once and if it would be related with characters limit then it should happen during each application startup. But of course we will add appropiate check before calling setUserData.

[2017-08-04 08:09] Kmohamed commented on #169
I am sorry for misunderstanding 😞
I mean that we use range of string for limiting the usage of setUserData to 1000 characters.
So it must accept string otherwise it will give unrecognized selector with rangeofString method
So the main cause that it must accept string

[2017-08-04 08:18] lha-ryq commented on #169
I am not sure I understand you correctly 🤔
There is no way to pass something else than `String` to `setUserData` method. It wouldn't compile for Swift.

[2017-08-04 08:21] lha-ryq commented on #169
We also have similar crash which happened on iOS11.

[code]

[2017-08-04 08:23] Kmohamed commented on #169
Let me try to reproduce the crash.

[2017-08-04 09:22] Kmohamed commented on #169
@lha-ryq The second one is fixed on the latest version.
But to be sure that this fix the issue. you are calling setUserData from thread other than MainThread

[2017-08-04 10:07] lha-ryq commented on #169
Thanks @Kmohamed for the information.
We will update Instabug to the newest version.

[2017-08-05 10:28] Kmohamed commented on #169
Hi @lha-ryq,
Actually the first crash is also fixed could you please update to SDK version 7.3.5 and inform if you find this crash again.

[2017-08-05 21:32] lha-ryq commented on #169
Thanks @Kmohamed  for the investigation!
We have scheduled `Instabug` framework update to the latest version.

[2017-08-07 19:36] SudoPlz opened #170 "NSInvalidArgumentException · *** -[__NSArrayM insertObject:atIndex:]: object cannot be nil"
Stack trace:

[code]

And another one (same error):

[code]

Threads:

[code]

I'm using `react-native-instabug` and I'm installing Instabug via cocoapods like so:

`pod 'Instabug', '~> 7.3.2'`

[2017-08-07 20:22] Kmohamed commented on #170
Let me check it and get back to you soon

[2017-08-08 08:44] Kmohamed commented on #170
@SudoPlz we are very sorry for inconvenience, it will be fixed next release.

[2017-08-08 11:56] SudoPlz commented on #170
No problem, let me know once it's fixed. Thank you @Kmohamed

[2017-08-08 12:47] Kmohamed commented on #170
sure 👍

[2017-08-11 20:16] SudoPlz opened #171 "EXC_BAD_ACCESS"
Hey there..
I received that in our crash reporter.

[code]

[code]

[code]

I'm using react-native-instabug and I'm installing Instabug via cocoapods like so:

pod 'Instabug', '~> 7.3.2'

[2017-08-11 20:17] SudoPlz opened #172 "SIGABRT in ___CFStringChangeSizeMultiple"
[code]

Threads:

[code]
I'm using react-native-instabug and I'm installing Instabug via cocoapods like so:

pod 'Instabug', '~> 7.3.2'

[2017-08-11 20:24] SudoPlz opened #173 "SIGABRT in ___CFStringDeallocate"
[code]

Threads:

[code]

I'm using react-native-instabug and I'm installing Instabug via cocoapods like so:

pod 'Instabug', '~> 7.3.2'

[2017-08-11 20:27] Kmohamed commented on #171
@Sudoplz could you please make a issue on support and I will follow up with you.

[2017-08-11 20:52] SudoPlz opened #174 "NSInvalidArgumentException"
[code]

Instabug sdk 7.3.2

[2017-08-11 20:57] SudoPlz opened #175 "EXC_BAD_ACCESS in IBGDataStore"
[code]

Instabug sdk 7.3.2

[2017-08-11 21:02] SudoPlz commented on #169
I got that too:

[code]

[2017-08-11 21:04] SudoPlz opened #176 "EXC_BAD_ACCESS in mh_execute_header"
EXC_BAD_ACCESS · Attempted to dereference garbage pointer 0xc4beabec8.

[code]

Instabug sdk 7.3.2

[2017-08-11 21:05] SudoPlz opened #177 "EXC_BAD_ACCESS in ZN5folly6detail15str_to_integralIxEENS_8ExpectedIT_NS_14ConversionCodeEEEPNS_5RangeIPKcEE"
[code]

Instabug 7.3.2

[2017-08-11 21:29] SudoPlz commented on #177
Ok after uploading DSYM to my bug tracker I found out that was unrelated to Instabug.

Here's the deobfuscated log:

[code]

[2017-08-11 21:38] SudoPlz opened #178 "-[OS_xpc_pointer coderNameForSelector:]: unrecognized selector sent to instance 0x170cae20"
[code]

[code]

[2017-08-11 21:53] Kmohamed commented on #174
@SudoPlz I will check this and get back to you soon.

[2017-08-11 21:54] SudoPlz commented on #174
Thanks !

[2017-08-11 21:54] Kmohamed commented on #177
@SudoPlz I am sorry that you are facing this issue again but it's fixed on the latest release.

[2017-08-11 21:55] Kmohamed commented on #176
@SudoPlz please update to SDK version 7.3.5 it's Fixed.

[2017-08-11 21:55] #176 closed

[2017-08-11 21:55] #177 closed

[2017-08-11 21:55] SudoPlz commented on #177
Ok awesome, which sdk version is it fixed on? Also do you have any idea when it will be released?

[2017-08-11 21:57] Kmohamed commented on #173
@SudoPlz this issue also Fixed on the latest version of SDK 7.3.5.
I will inform the ReactNative team to update to the latest version of SDK

[2017-08-11 21:57] #173 closed

[2017-08-11 21:58] Kmohamed commented on #171
This issue is Fixed on 7.3.5 also 🙈

[2017-08-11 21:58] #171 closed

[2017-08-11 22:09] Kmohamed commented on #177
On SDK version 7.3.5 and it will be released next monday

[2017-08-11 22:20] Kmohamed commented on #175
@SudoPlz We are aware of this crash and it will be fixed in the next release.

[2017-08-14 06:33] dustturtle opened #179 "sdk not open source?"
RT

[2017-08-14 06:40] keith commented on #179
I don't work at Instabug, but no, unfortunately it is not.

[2017-08-14 07:21] msoliman commented on #179
Thanks @keith.

@dustturtle It isn't at the moment, it's in the plan to open source it, but we don't have a specific date set yet. Are you having any concerns with it being closed source? Anything I can clear up for you?

[2017-08-14 07:30] dustturtle commented on #179
I just want to see the codes inside it. If it's your plan, I will watch your project.

[2017-08-14 07:30] #179 closed

[2017-08-16 00:39] noinlijin opened #180 "-[IBGMethodSwizzler sendEvent:] + 284"
instabug version :7.3.1

![image](https://user-images.githubusercontent.com/3073370/29342614-4db19a42-825e-11e7-8310-d0dad7a3a499.png)

![image](https://user-images.githubusercontent.com/3073370/29342626-5d333cfa-825e-11e7-8463-ec186b960025.png)

[2017-08-16 07:08] Kmohamed commented on #180
@noinlijin let me check and get back to you soon

[2017-08-16 09:18] Kmohamed commented on #180
@noinlijin Could you please open an issue on support and I will flow up with you.

[2017-08-16 10:20] SudoPlz opened #181 "Invalid param, Expected String"
Don't let the app crash when something other than a **string** get's passed to `setUserAttribute` (i.e a boolean)

Instead try to convert it to a string, or fail gracefully (add nothing to the attribute), but don't let the app crash because of it.

[2017-08-16 10:49] Figo0o commented on #181
Hello @SudoPlz, We are so sorry for inconvenience,

Thank you for your feedback, We will keep that in mind and make our API's more defensive as mush as we can.

[2017-08-16 10:52] Figo0o commented on #178
Hello @SudoPlz, are you still facing this specific crash again in the recent time ?

[2017-08-16 10:53] Figo0o commented on #174
duplicate issue. https://github.com/Instabug/Instabug-iOS/issues/174

[2017-08-16 10:53] #174 closed

[2017-08-16 10:58] Figo0o commented on #172
duplicate issue. https://github.com/Instabug/Instabug-iOS/issues/169

[2017-08-16 10:58] #172 closed

[2017-08-16 11:29] SudoPlz commented on #178
I'll keep an eye open for that, I'm not sure, but I haven't updated to 7.3.5 so why wouldn't I face it?

[2017-08-16 11:50] Figo0o commented on #178
We were experiencing some issues related to surveys (Last Wednesday) and it should be solved.
We are going to be more defensive about that in the next releases.

So for the current time I'm going to close this issue until any updates shows up.

Thank you for ur patience . 😊

[2017-08-16 11:50] #178 closed

[2017-08-16 14:22] SudoPlz opened #182 "NSInvalidArgumentException in __NSArrayM"
Hey there,

here's another one.

[code]

[2017-08-16 14:24] SudoPlz opened #183 "NSInternalInconsistencyException__NSCFSet"
Hey there.

Here's one from today.

[code]

[2017-08-16 14:51] Kmohamed commented on #183
@SudoPlz This gonna be fixed in the next release.

[2017-08-17 11:58] Kmohamed commented on #182
@SudoPlz This issue is fixed on the latest version 7.3.6.

[2017-08-17 11:58] #182 closed

[2017-08-17 11:58] Kmohamed commented on #183
@SudoPlz This issue is fixed on the latest version 7.3.6.

[2017-08-17 11:58] #183 closed

[2017-08-17 12:01] Kmohamed commented on #181
@SudoPlz we added extra check on this method in the new release which will prevent SDK from crash and print an error message in console

[2017-08-17 12:01] #181 closed

[2017-08-17 12:01] Kmohamed commented on #175
@SudoPlz This crash is fixed on the latest version 7.3.6

[2017-08-17 12:01] #175 closed

[2017-08-17 12:02] Kmohamed commented on #170
Released on version 7.3.6 🎉

[2017-08-17 12:02] #170 closed

[2017-08-17 12:02] Kmohamed commented on #169
@SudoPlz This issue is fixed on the latest version 7.3.6. Feel free to open it again if you face this problem on this version.

[2017-08-17 12:02] #169 closed

[2017-08-18 09:24] noinlijin commented on #180
this crash I find it is in flurry crash collect by user ,I can not reappear

[2017-08-18 09:25] Kmohamed commented on #180
No problem just open an issue on out support from Instabug website and I will follow up with you

[2017-08-22 10:16] NadineMansour commented on #59
@Aaang @TaimurAyaz I am following up on Hisham’s previous question. Could you please provide us with an example explaining when and why you would need to stop the tracking after it has already started?
Also, I renamed the issue to help other people identify the topic more quickly.

[2017-08-23 13:16] reemalashry1 commented on #180
Hey @noinlijin

Would you please contact our support team to follow up with you on this issue?
Just send an email please to: support@instabug.com

[2017-08-23 14:41] kaandedeoglu opened #185 "IBGNewMethodSwizzler assertion crash on viewDidAppear"
We're using Stripe SDK along with Instabug. Presenting `STPPaymentMethodsViewController` crashes our application with the message:

[code]

doing `Instabug.setUserStepsEnabled(false)` fixes the issue.

[2017-08-23 14:57] Kmohamed commented on #185
@kaandedeoglu are you able to reproduce it ?

[2017-08-23 14:58] kaandedeoglu commented on #185
yes, it crashes every single time.

[2017-08-23 15:00] Kmohamed commented on #185
I will be thankful If you send to me a sample app cause I can not reproduce this crash.
Also It will be helpful if you send to me all third parties you are using.

[2017-08-23 15:08] kaandedeoglu commented on #185
I'm afraid I can't create a sample app as setting up Stripe is a complicated process, plus I can't create a sample Stripe key on our company account. As for the dependencies, here's a list after excluding some of our internal ones:

mixpanel
Reachability.swift
SimpleKeychain
JVFloatLabeledTextField
MBProgressHUD
Mantle

[2017-08-23 17:38] Kmohamed commented on #185
[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/1246432/Instabug.framework.zip)
@kaandedeoglu here is a custom build with the fix until we release it very soon.

[2017-08-23 21:13] NadineMansour commented on #156
@eneko I have some updates for you. We are currently working on refactoring the annotation experience. We’ll disable the automatic shape detection and the users will have the freedom to pick if they want to stick to the free hand drawn shapes or the ones detected by Instabug. It should be ready and released in a month.
Btw, I renamed the issue to help everyone catch its topic easily.

[2017-08-24 18:56] Kmohamed commented on #185
@kaandedeoglu we just release version of SDK 7.3.7 with the fix. please let me know if you face this issue again.

[2017-08-24 18:56] #185 closed

[2017-08-24 18:57] kaandedeoglu commented on #185
thank you for the great support! I will make sure to try it out soon 👍

[2017-08-27 07:30] randaelbaz commented on #150
@booboothefool Hey This issue has been there for a while, here is an update, please update to the latest version (1.2.3). I will close this issue, for now, please reopen if the problem still persists.

[2017-08-27 07:31] randaelbaz commented on #122
@whitepixelstudios Hey I know that this issue has been there for a while, sorry for the delay, but here is a quick update, automatic dismissing of the prompt dialog will be removed in the next release for all the invocation events except for the shaking.

I will rename the title of the issue to make it more relevant to the problem.

[2017-09-01 16:02] #150 closed

[2017-09-05 17:02] kdawgwilk commented on #115
This new setter doesn't appear to work for me :(
[code]

This still is double printing out to the console

[2017-09-05 19:15] Kmohamed commented on #115
@kdawgwilk so everything is working as expected ?

[2017-09-05 20:11] kdawgwilk commented on #115
Well it seemed like it was but I may have found some problems with it still double printing

[2017-09-05 20:14] Kmohamed commented on #115
Are you sure that you called these methods after startWithToken ?

[2017-09-07 07:31] kdawgwilk commented on #115
Does that really matter in this case?  I feel like it should behave the same no matter when I call it

[2017-09-07 07:43] Kmohamed commented on #115
@kdawgwilk Actually we did not execute any method until you initialize the SDK.

[2017-09-07 19:17] goa opened #187 "I do not want to add extra Info.plist keys for gallery and audio recording."
I have disabled voice and gallery images using the following:

[Instabug setAttachmentTypesEnabledScreenShot:YES extraScreenShot:YES galleryImage:NO voiceNote:NO screenRecording:NO];

Do I still have to add the extra Info.plist keys?

Thanks.

[2017-09-07 19:27] goa opened #188 ""Too many symbol files" when submitting to App Store."
### Steps to reproduce the problem

I have added Instabug to my project using Cocoapods. I am using the latest version (7.37).
I have uploaded my archive to the App Store.

### Expected behavior

The build should be processed and then be available for testing on iTunes Connect.

### Actual behavior

I receive an e-mail from iTunes Connect saying: "Too many symbol files - These symbols have no corr

[2017-09-07 21:35] Kmohamed commented on #187
@goa No you don't need to add keys in the Info.plist

[2017-09-07 21:35] Kmohamed commented on #188
@goa Does your app support all architectures ? could you send them to me

[2017-09-07 22:55] goa commented on #187
@Kmohamed If I don't, I get the following warning from iTunes:

Missing Info.plist key - This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSPhotoLibraryUsageDescription key with a string value explaining to the user how the app uses this data.

Missing Info.plist key - This app attempts to access privacy-sensitive data without a u

[2017-09-07 22:58] goa commented on #188
@Kmohamed Our project Build Settings are the following:

**Architectures:** Standard Architectures (armv7, arm64)
**Build Active Architecture Only:** Yes
**Valid Architectures:** arm64, armv7, armv7s

Our app is built entirely on Objective C.

Cocoapods version is 1.3.1.

Please let me know if you need any additional information.

[2017-09-08 00:13] Figo0o commented on #187
@goa, We are so sorry for the misunderstanding, Unfortunately you need to add those keys while integrating Instabug because we still have an access to those components although the voice recording and photo gallery attachment buttons are not shown to the user (disabled by the API you've mentioned).

[2017-09-08 00:26] Figo0o commented on #188
@goa, Can you please check all your pod targets that they have the same config ?

[2017-09-08 08:38] goa commented on #188
@Figo0o, I only have one target in my Podfile.

This is what it looks like:

source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'

target 'MyTarget' do
pod 'other-pod'
pod 'other-pod'
**pod 'Instabug', '~> 7.3'**
end

[2017-09-08 11:50] Kmohamed commented on #188
@goa First this message will not block your release it's just a warning.
Also this message can be caused by many reasons
May be the app has different Valid architectures than Cocoa-pods target "you confirm that they are the same".
But could you run this command dwarfdump -u Instabug.framework.dSYM and share with me the result ?

[2017-09-08 11:52] Kmohamed commented on #187
@goa @Figo0o is correct I thought it will just give you a warning and will not block you submit to the Appstore so you have to put them in the info.plist.
I am really sorry for that.

[2017-09-08 11:52] #187 closed

[2017-09-08 11:55] goa commented on #188
@Kmohamed

I am confused... I don't see dSYM files from any other pods, only Instabug.

Actually there are only **two** dSYM files present in my archive. The application's main dSYM and Instabug.framework.dSYM - no other dSYM files, although I am using numerous other pods.

Please see the results of the **dwarfdump -u Instabug.framework.dSYM** command below:

UUID: 30CD93F4-D0C1-3C11-8ABE-E07987E6

[2017-09-08 11:59] goa commented on #187
Ok, thanks very much for your help.

Just a comment / suggestion for future releases of the library:

Perhaps the main Instabug lib could be provided without audio recording and photo gallery attachment functionality, and those two could be added in the form of additional plugins.

Thanks again and keep up the good work :)

[2017-09-08 12:22] Kmohamed commented on #188
Thanks a lot i will investigate a lot in this issue
But could tell me if you enabled bitcode or not ?

[2017-09-08 12:23] goa commented on #188
Bitcode is disabled.

Thank you!

[2017-09-08 15:12] goa commented on #188
@Kmohamed I just tried submitting a beta build with Bitcode turned on (as it should be) and I get no warnings from iTunes connect anymore.

However the Instabug .dSYM file is still included in my archive and again, no other libraries' dSYMs are included.

Hope that helps :)

[2017-09-09 12:06] SudoPlz commented on #129
I'm missing crash reports from Bugsnag too.

Will disabling crash reports w/ `Instabug.setCrashReportingEnabled(false)` do the trick or do we have to somehow include only specific subspecs (if they exist by now) ?

@HeshamMegid @keith ?

Thanks!

[2017-09-09 14:46] Figo0o commented on #188
@goa, So everything is working now as expected ?

[2017-09-09 14:48] Figo0o commented on #187
Thanks for your feedback, Totally we will keep that in mind and sorry for inconvenience.

[2017-09-09 14:49] Figo0o commented on #129
@SudoPlz, Yes sure, Just disabling Instabug crash reporting will do it. Please let me know after doing so if you still facing any issues.

[2017-09-10 09:59] goa commented on #188
With bitcode turned on, yes. Otherwise I see the same problem.

On Sat, 9 Sep 2017 at 17:46, Ahmad Farrag <notifications@github.com> wrote:

[2017-09-10 10:10] Kmohamed commented on #188
@goa I will check it and get back to you soon

[2017-09-11 19:09] SudoPlz commented on #129
Hmm I'm using `instabug-react-native` and it looks like [crash reports are always de-activated there](https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/InstabugReactBridge.m#L36).

I thought that was the reason I did not receive crash reports form my crash reporting tool (bugsnag) but I might haven been wrong after all..

[2017-09-12 15:23] AvdLee opened #189 "Decrease size of library"
Right now the library is about 48MB, which is quite much. We're running CI for each PR and want to improve wherever possible.

I'm curious about the possibilities of decreasing the library size.

[2017-09-12 17:06] NadineMansour commented on #189
@AvdLee Can you please elaborate more on the problem you are facing because of the size.
Is it fetching the dependencies on CI?

[2017-09-12 19:07] NadineMansour commented on #129
@SudoPlz Yes, exactly.
Given that you are using React Native the crash reporting is disabled by default and Instabug shouldn't affect any other crash reporter that you are using in this case.

Please, let us know if you have any concerns about this.

[2017-09-12 21:25] AvdLee commented on #189
We're integrating Instabug through a submodule and as the binary is already 48MB, the download takes time on each CI run. We're on caching already, but that does not always solve it.

Question is, why is it 48MB and is it really needed?

[2017-09-13 20:32] NadineMansour commented on #189
@AvdLee One main reason behind the SDK size is that it accommodates all the iOS architectures.
I am trying to understand your use case specifically to be able to tailor a relevant solution.
Can you please tell me if you are running the CI only on a simulator or not?
Another question, this problem occurs only while releasing a new build, right?

[2017-09-15 01:39] twobitlabs commented on #188
Same problem here, just updated from Instabug 7.3.2 to to Instabug 7.3.7 and get "Too many symbol files"

[2017-09-15 07:40] NadineMansour commented on #188
@twobitlabs Can you please tell me if you are enabling bitcode or not?

[2017-09-15 14:11] txaiwieser commented on #111
This is still happening on iOS 9.3

Why do you have to swizzle everything? :/

[2017-09-15 14:14] Kmohamed commented on #111
@txaiwieser could please which problem is still happening on iOS 9.3 ?

[2017-09-15 15:42] txaiwieser commented on #111
* New Xcode project
* Change ViewController status bar style
[code]
* Add Instabug with dark style

Status bar does not change to light on iOS 9.3

[2017-09-15 16:04] Kmohamed commented on #111
I just tried your steps but did not succeed to reproduce the issue. The status bar style is light before invoking Instabug and after dismissing Instabug.
are you sure it is not and old version of sdk that has the issue ?

[2017-09-15 16:45] txaiwieser commented on #111
I'm using 7.3.7.
Did you have related fixes on yesterday's version?

[2017-09-15 16:48] Kmohamed commented on #111
No, but I can send you my sample project to see if I making something wrong or you can send me a sample project if you have.

[2017-09-15 17:50] txaiwieser commented on #111
Sure, I added one line to AppDelegate from the Xcode template. And setting the VC to use .lightContent
[Testing.zip](https://github.com/Instabug/Instabug-iOS/files/1307198/Testing.zip)

[2017-09-15 18:29] twobitlabs commented on #188
@NadineMansour yep, bitcode is disabled in the app.

[2017-09-15 22:29] twobitlabs commented on #188
The message from iTunes reads:

Too many symbol files - These symbols have no corresponding slice in any binary [3DB3A537-99E9-3A79-B51A-25084C271623.symbols]

When I open my archive and go into the dSYMs folder and run `dwarfdump --uuid *` I see:

[code]

which is the ONLY armv7s dSym in the bunch. All the other dSyms are armv7 and arm64. On all of my apps I have valid architectures set to "armv7

[2017-09-15 23:44] timroesner opened #190 "Status bar white when it should be black"
### Steps to reproduce the problem

1. Set View Controller based status bar in plist to NO
2. Set status bar to light content in viewDidLoad
3. Invoke Instabug

### Expected behavior

4. Status bar should be black when reporting a bug

### Actual behavior

4. Status bar is white and not legible when reporting a bug

### Instabug integration code "Don't put your token publicly"

Through CocoaPods a

[2017-09-16 00:00] twobitlabs commented on #188
Well, I'm not sure what the issue was but the issue has cleared up for me. It seems the problem may have been related to switching back and forth between Xcode 9 GM and Xcode 8. I finally did a `git clean -dfx` to remove all untracked and git ignored files in my repo (like cached cocoapods), switched back to Xcode 8, did a clean followed by an archive and submitted a build and had no problem. Then

[2017-09-16 08:21] Kmohamed commented on #111
@txaiwieser Thanks a lot I will look in it and get back to you soon.

[2017-09-16 08:22] NadineMansour commented on #190
@timroesner Thank you so much for the details.
We will look into it right away.
I will keep you updated.

[2017-09-16 08:24] NadineMansour commented on #188
@twobitlabs Thank you so much for sharing the fix.
Please let us know if there is anything we can help you with from our side.

@goa Does this fix apply to you?

[2017-09-16 08:30] Kmohamed commented on #111
@txaiwieser  I would like to share with you something very interesting that If you create the same project from Xcode 8 and run it on iOS 9.3 it will work fine.
could you confirm this point please ?

[2017-09-16 09:10] Kmohamed commented on #111
@txaiwieser also could you confirm that it's not simulator bug "Xcode 9 GM - iOS 9.3 simulator" ?

[2017-09-16 15:36] NadineMansour commented on #190
@timroesner Here is a [custom build](https://www.dropbox.com/s/8psuzjofl9mchlr/Instabug.zip?dl=0) where the issue is fixed.
Please give it a try and let me know if everything is as expected or not.

[2017-09-16 22:02] timroesner commented on #190
Thanks @NadineMansour that fixed it. Any chance this will be implemented in the master branch, or will I have to use this custom framework going forward?

[2017-09-16 22:15] NadineMansour commented on #190
@timroesner It is my pleasure.
We will release the fix soon. I will make sure to notify you once it is out.

[2017-09-18 12:19] Kmohamed commented on #111
@txaiwieser could you confirm please this strange behaviour ?

[2017-09-18 13:00] txaiwieser commented on #111
@Kmohamed Unfortunately I couldn’t get an iOS 9 device yet, but the problem persist on the simulator

[2017-09-18 17:07] SudoPlz opened #191 "rx.exceptions.OnErrorNotImplementedException · Raw"
rx.exceptions.OnErrorNotImplementedException
        InternalObservableUtils.java:386 rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.call
        InternalObservableUtils.java:383 rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.call
        ActionSubscriber.java:44 rx.internal.util.ActionSubscriber.onError
        SafeSubscriber.java:152 rx.observers.SafeSubsc

[2017-09-18 17:08] Kmohamed commented on #191
Hi @sudoplz is this from android app ?

[2017-09-18 19:02] SudoPlz commented on #191
Whooooops yeah, sorry for that, yeah let me open another thread there..

[2017-09-18 19:03] #191 closed

[2017-09-20 18:22] twobitlabs opened #192 "Possible bug in Instabug_dsym_upload.sh"
The Instabug_dsym_upload.sh script always fails for me with "too many arguments" on line 103 `if [ -z $DSYM_UUIDs ]; then` and as a result my dSyms don't get uploaded even with the latest Instabug 7.3.8.

When I add double quotes to line 103 as follows then everything works properly:

`if [ -z "$DSYM_UUIDs" ]; then`

Would it be possible to get that line of the script updated?

https://github.com/

[2017-09-21 09:09] Kmohamed commented on #192
Let me check this modification and get back to you soon.

[2017-09-21 15:05] Figo0o commented on #192
@twobitlabs, We are so sorry for Inconvenience.

 I'm not having the same issue you got. Can you please print `DSYM_UUIDs` ?
it's should look something like `XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX` and if it's not can you report that over support@instabug.com and I will handle that with you.

[2017-09-27 15:36] gringoireDM opened #195 "UI API called on a background thread"
The main thread checker finds UI API called not on the main thread for the method `[UIApplication setNetworkActivityIndictorVisible:]` This call is apparently triggered by the method `[IBGServerManager updateNetworkActivityIndicator]`

Here is the debug log:

[code]

### Steps to reproduce the problem
Not clear
### Expected behavior
updateNetworkActivityIndicator method called on main thread
### A

[2017-09-27 16:13] reemalashry1 commented on #195
Hello @gringoireDM
this issue is fixed in the newer versions, would you please upgrade to the latest version: 7.3.9 here: d7d1c98e5b5db00d59de3cfcb841dd75004dfabb
This should solve the issue.
Let me know how it goes :)

[2017-09-29 09:38] gringoireDM commented on #195
fixed. thank you

[2017-09-29 09:41] #195 closed

[2017-09-29 15:29] winzig commented on #188
I am hesitant to do `git clean -dfx` at this point, but I am still experiencing this issue, and I'm seeing the same thing (only Instabug shows with an armv7s dsym).

[2017-09-29 15:31] Kmohamed commented on #188
@winzig did your app supports arm7s ?

[2017-09-29 15:39] winzig commented on #188
It does list it as a supported architecture, but I'm not familiar enough with armv7s to know if we really have anyone using our app on that architecture. But none of the other libraries we use have that included.

[2017-09-29 15:48] Kmohamed commented on #188
We still trying to find a way to remove un supported architectures from dsyms meanwhile you can upload to appstore it will nit block your release

[2017-09-29 15:49] winzig commented on #188
ok

[2017-10-07 00:14] kdawgwilk commented on #188
I am also seeing this with Bitcode disabled.  I actually recently disabled bitcode and that is when this issue started

[2017-10-07 00:16] Kmohamed commented on #188
Hello @kdawgwilk I checked cocoapods release notes and I found the they are start uploading Framework DSYMs could you go to Framework path and delete the DSYMs file and try to submit again and tell me if it worked.

[2017-10-07 00:24] kdawgwilk commented on #188
How can I delete only the architecture I don't want from the DSYM bundle?  I still want the other DSYMs there for crash logs

[2017-10-07 00:30] kdawgwilk commented on #188
Looks like the issue will be addressed over in CocoaPods here: CocoaPods/CocoaPods#7111

[2017-10-07 00:55] Kmohamed commented on #188
Thanks a lot 👍
Also we still trying to find a way to strip DSYMs.

[2017-10-14 12:27] Kmohamed commented on #111
@txaiwieser I am very sorry for being late. But it takes a lot of time to find a work around on iOS9
could you give this [custom build](pod ‘Instabug’, :git => ’https://github.com/Instabug/Instabug-iOS.git', :branch => ‘fix/StatusBarColor_iOS9’) a try and tell if it works fine.

[2017-10-14 13:40] Kmohamed commented on #189
@AvdLee we are working very hard to reduce SDK size since you report this issue.
so could you try this custom build and tell us if it fits you.
pod ‘Instabug’, :git => ’https://github.com/Instabug/Instabug-iOS.git', :branch => ‘fix/iOS11Optimization’

[2017-10-15 06:28] Kmohamed commented on #180
@noinlijin Please update to the latest version it should fix it feel free to open it again if it shows up again.

[2017-10-15 06:28] #180 closed

[2017-10-15 06:28] Kmohamed commented on #111
@txaiwieser I will close the issue now but also feel free to open it again if it shows up again.

[2017-10-15 06:28] #111 closed

[2017-10-15 06:28] #189 closed

[2017-10-15 06:30] Kmohamed commented on #190
@timroesner the fix is released in SDK version 7.3.9.

[2017-10-15 06:30] #190 closed

[2017-10-17 13:56] helje5 commented on #192
Seeing the same issue.

[2017-10-17 14:00] Kmohamed commented on #192
@helje5 are using manual integration or cocoapods ?

[2017-10-17 14:09] helje5 commented on #192
[code]

[2017-10-19 18:39] txaiwieser commented on #111
Unfortunately this is not perfect yet.

• At first it seemed fixed, but after entering a SafariViewController or even on Instabug (via button), (any vc that changes the statusBar to black). After I go back to the app the bar stays black and doesn't change to white again.

[2017-10-21 13:26] alyakan commented on #188
## Steps to correctly strip symbols

1. In your application's `Podfile` replace `pod 'Instabug'` with `pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS', :branch => 'fix/too-many-symbol-files'`.
2. In XCode, Go to Product -> Scheme -> Edit Scheme. Expand *Archive* section on the left and select Post-actions.
<img width="1440" alt="screen shot 2017-10-21 at 2 50 06 pm" src="https:/

[2017-10-24 21:10] Kmohamed commented on #188
@goa @twobitlabs @winzig @kdawgwilk
could you give this build a try tell If it works ?

[2017-10-25 05:42] kdawgwilk commented on #188
I will try that out tomorrow, thanks!

[2017-10-30 07:47] Kmohamed commented on #189
@AvdLee we Just released SDK version 7.3.11 with a big size optimization.

[2017-10-30 08:52] AvdLee commented on #189
Great! It's on our roadmap for this sprint. I'll post you back the results. Thanks so far!

[2017-10-30 15:57] txaiwieser commented on #111
Up

[2017-10-30 15:59] Kmohamed commented on #111
I am very sorry for being late we are still working on it and definitely will update you once it’s fixed.

[2017-11-01 18:29] Kmohamed commented on #111
Hello @txaiwieser  Finally we found a fix for the issue  🎉🎉🎉🎉🎉
We are very sorry for being later you can not imagine how it takes to fix this issue, so kindly give it a try 🙂
pod ‘Instabug’, :git => ’https://github.com/Instabug/Instabug-iOS.git', :branch => ‘custom/fix-statusbar-style-iOS9’

[2017-11-06 11:24] asklausen opened #206 "Top-left exit button is not responsive"
Using iOS 11.

Problem: It's very difficult to exit the initial "Report a problem" screen, as the top-left button is not very responsive.

[2017-11-06 11:29] asklausen commented on #206
Action area is too small. Sometimes I'm able to click it on my first or second try. But very often, I use 5-6 taps before it reacts.

In comparison, I'm easily able to tap other buttons such as the top-right arrow on my first try.

[2017-11-06 11:48] Kmohamed commented on #206
let me check it and get back to you soon.

[2017-11-06 12:20] asklausen opened #207 "Unstable in-app push notification"
Using iOS 11.

Installing an application for the first time, in which Instabug is configured in the AppDelegate, an in-app push notification containing the latest message to the user, is shown at the top of the screen every time. Even though Push Notifications && Chat are both set to false as seen in the info below.

Instabug is configured with the following information:

.start(..)
.setPrimaryCol

[2017-11-06 12:24] Kmohamed commented on #207
You should disable in app notification using this api setChatNotificationEnabled

[2017-11-06 12:26] asklausen commented on #207
Awesome. This solved it. Thanks!

[2017-11-06 12:26] #207 closed

[2017-11-06 14:55] Kmohamed commented on #206
@asklausen we fixed the bug and here is custom build with the fix kindly check it.
pod ‘Instabug’, :git => ’https://github.com/Instabug/Instabug-iOS.git', :branch => ‘fix/CloseButton-actionArea-iOS11’

[2017-11-06 15:07] asklausen commented on #206
@Kmohamed Great. It's working. Thanks for the quick fix!

[2017-11-06 15:07] #206 closed

[2017-11-06 15:09] Kmohamed commented on #206
@asklausen you are welcome 😊

[2017-11-07 07:39] Kmohamed commented on #188
Hello @kdawgwilk,
Did you get a chance to check the custom build ?

[2017-11-08 05:20] kdawgwilk commented on #188
Yeah I️ did and it seems to be working great

[2017-11-08 08:24] AvdLee commented on #189
@Kmohamed just wanted to say that we're happy with the results. Quite a big decrease in the library size 🎉

[2017-11-08 08:27] Kmohamed commented on #189
@AvdLee you are most welcome 🤩🤩

[2017-11-08 12:02] lm2s opened #208 "Error building for simulator run -> fatal error: lipo: -remove's specified would result in an empty fat file"
### Steps to reproduce the problem
Build and run on Simulator

### Expected behavior
Build and run on Simulator

### Actual behavior
Build fails with error:
`fatal error: lipo: -remove's specified would result in an empty fat file`

### Instabug integration code "Don't put your token publicly"

### SDK version
7.3.12 (via Cocoapods)

### iOS Version
9, 10, 11...

### Device
Any Simulator

Maybe th

[2017-11-08 12:06] Kmohamed commented on #208
@lm2s let me check it and get back to you soon.

[2017-11-08 12:53] Kmohamed commented on #208
@lm2s I just tried what you said and it works fine could you try to remove pods and install it again I think it's error from Cocoapods.

[2017-11-08 14:02] lm2s commented on #208
Yes, I tried to deintegrate, clear caches, generate new xcworkspace and I still get this error. If it's only happening here, then it must be related to me having removed almost all simulators and then re-adding them. I'll try to reinstall Xcode to see if it fixes the issue.

[2017-11-08 14:09] Kmohamed commented on #208
that's weird!!! Also I am waiting your feedback.

[2017-11-08 14:57] lgeromegnace opened #209 "Enabling network logging seems to break cookie storage"
Hi all,

My team and I would like to benefit the network logging feature which is very useful. Unfortunately we have had the following issue:

### Steps to reproduce the problem
1) Create a URLSessionConfiguration.ephemeral object => `let sessionConfig = URLSessionConfiguration.ephemeral`
2) Set a customized HTTPCookieStorage object to configuration => `sessionConfig.httpCookieStorage = EphemeralC

[2017-11-08 14:59] Kmohamed commented on #209
@lgeromegnace Thanks for reporting this issue I will trying to fix it as soon as possible.

[2017-11-08 15:34] Kmohamed commented on #209
@lgeromegnace could you give this custom build a try and tell if it works.
pod ‘Instabug’, :git => ’https://github.com/Instabug/Instabug-iOS.git', :branch => ‘fix/HTTPCookiesStorage_NetworkLogger’

[2017-11-08 16:35] lgeromegnace commented on #209
Hi @Kmohamed I just tried this via carthage
git "https://github.com/Instabug/Instabug-iOS.git" "fix/HTTPCookiesStorage_NetworkLogger"

But I get the following error:
*** Skipped building Instabug-iOS due to the error:
Dependency "Instabug-iOS" has no shared framework schemes for any of the platforms: iOS

Did I miss something with Carthage?

BTW I don't see anymore your comment referencing the fix

[2017-11-08 16:35] piellarda commented on #208
I have the same issue and if I look at the cocoapods script called [CP] Embed Pods Framework in the build phase I have the following input files:
${PODS_ROOT}/Instabug/Instabug.framework
${PODS_ROOT}/Instabug/Instabug.framework.dSYM
all my other pods are like
${BUILT_PRODUCTS_DIR}/<framework_name>/<framework_name>.framework

[2017-11-08 16:42] Kmohamed commented on #209
@lgeromegnace I am sorry I think you are using cocoapods.
could you give it a try manually ?
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/1454655/Instabug.zip)

[2017-11-08 16:46] lm2s commented on #208
@piellarda I believe that's related to a framework being pre-built. Mapbox has the same kind of input files that Instabug has.

[2017-11-08 16:49] Kmohamed commented on #208
@piellarda could you tell me what version of Cocoapods you are using ?
@lm2s Yes we have to distribute .framework and .DSYMs files in order to allow symbolication of Instabug frames in application crash file.

[2017-11-08 16:50] piellarda commented on #208
So this probably due to the use of the beta version of cocoapods 1.4.0.beta.2.
https://github.com/CocoaPods/CocoaPods/issues/7196

[2017-11-08 16:56] Kmohamed commented on #208
@piellarda Great news 🎉🎉🎉
@lm2s could you confirm that it's cocoapods issues ?

[2017-11-08 17:00] lm2s commented on #208
🎉🎉🎉

Yes, it's 1.4.0.beta.2. I downgraded to 1.3.1 and it's building correctly again.

[2017-11-08 17:01] Kmohamed commented on #208
Fantastic 🤩

[2017-11-08 17:01] #208 closed

[2017-11-09 05:10] Kmohamed commented on #209
Hello @lgeromegnace did you got a chance to give this custom build a try ?

[2017-11-09 08:47] lgeromegnace commented on #209
Hi, @Kmohamed sorry for the delay I have been interrupted by another topic yesterday. I am on it right now!
I come back to you ASAP.

[2017-11-09 08:48] Kmohamed commented on #209
No worries, waiting your feedback.

[2017-11-09 09:09] lgeromegnace commented on #209
So I still have the same issue: none of the custom cookie storage methods are called once I enable network logging.

**BUT I have to revise some point in this issue:**
cookies ARE stored and SENT in request. The problem is that they are not stored with our custom cookie storage. And we need this to handle multiple account (multiple http session) logged at the same time. Otherwise we ended up with

[2017-11-09 09:20] Kmohamed commented on #209
@lgeromegnace let me tell you how network logging works and then you can tell me how this breaks your custom cookie storage.
In order to intercept application requests we insert our custom URLProtocol in NSURLSessionConfiguration to catch requests.then we create a copy from your NSURLSessionConfiguration with all attributes including (HTTPCookiesStorage) and perform request on this Session and the

[2017-11-09 10:51] lgeromegnace commented on #209
BTW, I was wondering if there is a chance that while intercepting application request that there is a mismatch for the copied NSURLSessionConfiguration object used if the request target is the same?

To give you more context, in our app the user can log into 2 accounts. So there are 2 NSURLSessionConfiguration passed to Instabug for enabling network log but both will request the same server API. I

[2017-11-09 10:55] Kmohamed commented on #209
@lgeromegnace maybe this is reason because If you call it twice I used the latest one. So the latest NSURLSessionConfiguration passed will overwrite the first one.
But what about making an API that will set NSHTTPCookiesStorage and I will use it in the copied SessionConfiguration ?

[2017-11-09 13:29] lgeromegnace commented on #209
Ok @Kmohamed, but just to be sure I understand: when you said it override the first one, it is only if it targets the same server? Or are you telling me that even if I enable network log for different API, it will always be the last one.

Example:
App has to perform requests for servers: A, B, C (with 2 http sessions) with different URLSessionConfiguration.
App enable network log for each one cons

[2017-11-09 13:37] Kmohamed commented on #209
@lgeromegnace unfortunately the current version of network logging will log requests from sessionConfigC2 for all request performed by the app. But I think your use case is valid so I will make sure to communicate this with the product team.
Another point I would like to be sure that the custom build for a single NSURLSessionConfiguration will works fine with your custom HTTPCookiesStorage ? could

[2017-11-09 14:01] lgeromegnace commented on #209
Ok @Kmohamed

Yes! thanks that would be great I think. Is there a way to receive updates for this?

You were right, calling enableLogging only for one account and only one server (i.e one http session) works. Our custom cookie storage is used as it should be.

[2017-11-21 16:40] NrmeenTomoum opened #210 "issue on running"
error: failed to remove /Users/macbook/Library/Developer/Xcode/DerivedData/Akalney-dgyrdpsewmczzsamslwqqrehiekk/Build/Products/Debug-iphoneos/Akalney.app/Info.plist: “Info.plist” couldn’t be removed.

After I added SDK, I got this error

[2017-11-21 16:45] Kmohamed commented on #210
@NrmeenTomoum I don't think so this error related to Instabug could you double check the error ?

[2017-11-21 17:13] NrmeenTomoum commented on #210
Oooh Instabug discover bugs in and out, it is worked fine now thanks @Kmohamed

[2017-11-21 17:14] Kmohamed commented on #210
@NrmeenTomoum urw anytime 😊

[2017-11-21 17:14] #210 closed

[2017-11-21 17:38] NrmeenTomoum opened #211 "Crash"
when I touch on attachmentActionSheet :
for first time  ==> give blue color
for second time of touch === > Crash

[2017-11-21 17:43] Kmohamed commented on #211
@NrmeenTomoum could you tell me your SDK version ?

[2017-11-21 20:21] NrmeenTomoum commented on #211
The leatest one v 3.7.13

[2017-11-21 20:25] Kmohamed commented on #211
@NrmeenTomoum could you provide me with stack trace ?

[2017-11-22 21:21] NrmeenTomoum commented on #211
Reported at: 2017-11-21 17:33:36 UTC
Thread 0:
0 libsystem_kernel.dylib 0x1825e0bc4 mach_absolute_time + 4 1 CoreFoundation 0x182a8fce4 _CFPropertyListCreateSingleValue + 304 2 CoreFoundation 0x182a8d8b0 CFPlugInFindFactoriesForPlugInType + 72 3 CoreFoundation 0x1829ae2d8 CFNumberGetValue + 216 4 GraphicsServices 0x18483ff84 GSEventRunModal + 84 5 UIKit 0x18bf5b880 UIApplicationMain + 228 6 Akalne

[2017-11-22 21:31] Kmohamed commented on #211
@NrmeenTomoum The crash is due to __CRASHING_DUE_TO_PRIVACY_VIOLATION__
could you please add the permission keys inside the info.plist as mentioned [here](https://docs.instabug.com/docs/ios-integration#section-microphone-and-photo-library-usage-description)

[2017-11-22 21:31] #211 closed

[2017-11-28 08:02] NrmeenTomoum opened #213 "it is normal behavier"
![2017-11-28 at 09 49 43 1](https://user-images.githubusercontent.com/19241793/33308463-3935a51a-d423-11e7-944a-f6b4100ef383.png)

### SDK
 version v7.3.13

### iOS
Version 11.0.3

###
Device iPhone 6

[2017-11-28 08:13] Kmohamed commented on #213
@NrmeenTomoum could you reproduce this bug ?

[2017-11-28 08:14] #188 closed

[2017-11-28 09:15] NrmeenTomoum commented on #213
It is bug, yes I can reproduce this bug

[2017-11-28 09:15] Kmohamed commented on #213
@NrmeenTomoum could you give me the scenario please ?

[2017-12-04 23:11] joshuacleetus opened #215 "Crashes on Clicking Screen Record Button"
### Steps to reproduce the problem
Shake the app and the Instabug form appears.
Click on Suggest an improvement
Then Click on take a screen recording
And the app crashes

### Expected behavior
When we click Take a screen recording it should record the screen

### Actual behavior
App crashes

### Instabug integration code "Don't put your token publicly"
        Instabug.start(withToken: "abcd", inv

[2017-12-05 04:13] Kmohamed commented on #215
The crash is due to CRASHING_DUE_TO_PRIVACY_VIOLATION
could you please add the permission keys inside the info.plist as mentioned here
https://docs.instabug.com/docs/ios-integration#section-microphone-and-photo-library-usage-description

[2017-12-05 04:13] #215 closed

[2017-12-07 13:19] lgeromegnace commented on #209
Hi @Kmohamed,

Do you have any news on this issue?

Does your fix has been added in a new release of the framework?
Does the product team has considered the use case where we want to enable logs for several http sessions for the same server?

Regards,

[2017-12-07 18:33] Kmohamed commented on #209
@lgeromegnace
I am very sorry for not replying too quickly
First: the fix will be released soon and I will inform you once it is released.
Second: we investigated a lot in the issue of multiple session configuration and found that we can not handle it from our side. because we can not be sure that a specific request is related to specific sessionConfiguration. so it will be hard to fix it.
I am ve

[2017-12-09 08:50] NrmeenTomoum commented on #213
this demo show all scenario
[https://www.mediafire.com/file/5n91w5r93xm4skr/2017-11-28+at+09.49.43.mp4](url)

[2017-12-09 09:51] Kmohamed commented on #213
Thanks i will check it now

[2017-12-12 10:17] ZiadAyman commented on #213
Hey @NrmeenTomoum

Can you please update your SDK to the latest version 7.4 and check if this behavior is still taking place or not?

[2017-12-12 11:10] randaelbaz commented on #122
Hey @whitepixelstudios

Disabling auto dismissing of the prompt option dialog feature, is now released in version 7.4.
Please update your current SDK to the latest version.

I will close this issue for now. Feel free to reopen it if the issue still exists.

[2017-12-12 13:51] ZiadAyman commented on #156
Hey @eneko
I have some updates for you regarding the annotation.
Please update to the latest SDK to version 7.4 and give it a try :)

Shape detection is now an option you can use or leave after you draw on the screen. Give it a try and let me know if its up to expectations!

[2017-12-14 09:06] kevinrenskers opened #219 "Crash in 7.4"
### Steps to reproduce the problem
Updated from 7.3.14 to 7.4, using Cocoapods. Started my app.

### Expected behavior
Everything works as before.

### Actual behavior
App crashes:

[code]

### Instabug integration code "Don't put your token publicly"

[code]

### SDK version
7.4

### iOS Version
11.2

### Device
iPhone 8 simulator

[2017-12-14 09:18] Kmohamed commented on #219
Hello kevin,
Could you double check if you call startWithToken twice.
we are aware of this crash and will be fixed in next release.But the only cause for this crash is calling startWithToken twice

[2017-12-14 09:38] kevinrenskers commented on #219
This was indeed called twice, making sure it only happens once fixed the crash. Thanks!

[2017-12-14 09:44] Kmohamed commented on #219
Urw anyway it will be fixed in the next release

[2017-12-14 09:44] #219 closed

[2017-12-18 00:21] #122 closed

[2017-12-25 11:51] Kmohamed commented on #219
@kevinrenskers We release a fix in Version 7.4.1.

[2018-01-01 14:42] alaeddineG opened #220 "Crash on 7.4 :[__NSCFString stringByAppendingString:] : [IBGDiskPersistenceManager persistDuplicateOfFileAtPath:]"
Hi, this a crash we received 2 days ago.

[code]

[code]

### Steps to Reproduce the Problem

Occurred only once . Seems to be happening while attaching something a file when a crash/bug is reported.
### Expected Behaviour

Doesn't crash.

### Actual Behaviour

Random Crash.

### Instabug integration code

[code]

### SDK Version
7.4
### iOS Version
11.2.1
### Device Type
iPhone 7 Plus

[2018-01-01 15:25] Kmohamed commented on #220
Hello @alaeddineG this crash is fixed in the latest release v7.6 could you please update to this version.

[2018-01-01 15:38] alaeddineG commented on #220
Thank you. Will do.

[2018-01-02 15:02] anfriis opened #221 "Keyboard not showing automatically"
### Steps to Reproduce the Problem
- Use newest version v7.6 and run on iPhone X
- Shake to open Instabug dialog
- Choose either of the options (report problem or suggest improvement)
- The view expands but the keyboard does not show up, unless the text field is tapped
- I tried with a previous version (v7.3.5) and it works fine with that version

### Expected Behavior
- The keyboard should show u

[2018-01-03 00:07] #156 closed

[2018-01-03 09:40] anfriis commented on #221
Anyone?

[2018-01-03 09:52] ZiadAyman commented on #221
Hey @anfriis
Apologies for the late reply on this.
Already communicated with iOS team and they are on it.

Will keep you posted.

[2018-01-04 04:07] keith opened #222 "7.6 crash"
We've gotten some reports of crashes with the new 7.6 SDK. The app crashes after an upgrade on launch. From the user's device we were able to pull a crash log that has these symbols:

[code]

Before crashing in libdispatch. After uninstalling and reinstalling the crash was fixed, which makes me assume it had something to do with a previous model on disk.

[2018-01-04 07:32] Kmohamed commented on #222
Hello @keith
Could you tell me the previous version of your Instabug sdk ?

[2018-01-04 07:44] keith commented on #222
We upgrade weekly so our last version was 7.5, but there's a possibility it was slightly older if the user hadn't upgraded in the last week or so. Since this isn't happening to everyone I assume this user also had something unique left over on disk

[2018-01-04 07:46] Kmohamed commented on #222
I will check it now and will fix it asap but
could you provide me with complete stacktrace ?

[2018-01-04 07:50] keith commented on #222
Here's a gist with the log https://gist.github.com/keith/1f343241e79966b1018e932e38c757ad

[2018-01-04 18:40] Kmohamed commented on #222
We just released V7.6.1 with fix could you double check and tell me if you still face the issue.

[2018-01-04 18:40] #222 closed

[2018-01-04 18:40] Kmohamed commented on #222
Thanks a lot @keith for your collaboration 🙏.

[2018-01-04 19:53] keith commented on #222
Thanks!

[2018-01-08 08:19] anfriis commented on #221
Any news on this?

[2018-01-08 08:22] Kmohamed commented on #221
@anfriis I am sorry for being late It's fixed now and will be included in the next release. We can provide you with a custom build if you want.

[2018-01-08 08:25] anfriis commented on #221
Sounds great!
Yeah i would like that, unless you release it today or tomorrow anyway :)

[2018-01-08 08:25] Kmohamed commented on #221
Most probably will be Released next Sunday. are you using cocoapods ?

[2018-01-08 08:32] anfriis commented on #221
Ah okay, I need to release before then. I am using Carthage

[2018-01-08 09:03] Kmohamed commented on #221
@anfriis here is the custom build and I will inform you once we release this fix.
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/1610995/Instabug.zip)
[InstabugCore.zip](https://github.com/Instabug/Instabug-iOS/files/1610996/InstabugCore.zip)

[2018-01-08 10:15] anfriis commented on #221
Thank you!

[2018-01-10 14:31] keith opened #223 "Crash with 7.4"
We're seeing this crash with SDK version 7.4. We've upgraded locally, but aren't sure yet whether or not this is fixed with newer versions.

[code]

[2018-01-10 14:33] Kmohamed commented on #223
@keith  could you provide complete stack-trace ?

[2018-01-10 14:35] keith commented on #223
Unfortunately our crash reporting provider doesn't store the original report. There isn't much else from the other threads related to instabug though, although I found this one on a different thread:

[code]

[2018-01-10 14:41] Kmohamed commented on #223
@keith  I am really interesting to know what `derive_key` means ?

[2018-01-10 14:45] keith commented on #223
Looks like that's a function in your framework:

[code]

Looking at it in hopper it looks related to crypto, there's some hmac stuff going on, which lines up with the other part of that stack trace.

[2018-01-10 14:55] Kmohamed commented on #223
I think it may be like `__hidden` that appear in some stack traces but I try to debug the two issues but the crash is extremely hard without see the symbolicated method in InstabugCore.

[2018-01-10 15:00] Kmohamed commented on #223
I will investigate in the crash and get back to you soon.

[2018-01-11 09:44] Kmohamed commented on #223
@keith I found that this crash is related to ZipArchive which we use to convert files into .zip file and I just open an issue on Github https://github.com/ZipArchive/ZipArchive/issues/437
I will keep you updated.

[2018-01-11 13:25] battlmonstr opened #224 "Configuration order and logging"
### Steps to Reproduce the Problem

Following instructions I have added this code:

[code]

### Expected Behavior

* no logging
* no crash reporting

### Actual Behavior

Every configuration call before "startWithToken" produces a warning message:

It also affects methods like setPushNotificationsEnabled, setIntroMessageEnabled, and other setXXX configuration calls.

I get something like this in c

[2018-01-11 14:11] ZiadAyman commented on #224
hey @battlmonstr We are on it!
Will notify you back here once everything is in place.

[2018-01-12 07:31] ZiadAyman commented on #224
Hey @battlmonstr
After investigation, it seems that the problem comes from the order of the APIs initialized.
Every other API should be initialized after the SDK initialization API `  [Instabug startWithToken:@"xxx" invocationEvent:IBGInvocationEventNone]`
So please give it a try with reversing the order, initializing the SDK first and tell me if you still see the problem.

As for the error line b

[2018-01-13 20:51] danielvidexio commented on #224
Thanks for investigation, but your recommendation is confusing to me. My programming experience hunch says that first you need to configure something, then start it. Your explanation tells me to do it the other way around. If I do so, can you guarantee that the SDK won't initialize and start any unrequested features, won't send out any data to support disabled features? I'm talking about setPushNo

[2018-01-13 20:52] battlmonstr commented on #224
Thanks for investigation, but your recommendation is confusing to me. My programming experience hunch says that first you need to configure something, then start it. Your explanation tells me to do it the other way around. If I do so, can you guarantee that the SDK won't initialize and start any unrequested features, won't send out any data to support disabled features? I'm talking about setPushNo

[2018-01-14 13:06] ZiadAyman commented on #224
Okay I agree it might be a bit confusing yes.
Think of `[Instabug startWithToken:@"xxx" invocationEvent:IBGInvocationEventNone];` as an initialization step. Its not the actual start of invoking everything or logging any kind of logs.
The only logs you can get from the initialization API will look like `Starting version 7.6 (8855) of the Instabug SDK` which logs the SDK version and the number of th

[2018-01-15 08:47] battlmonstr commented on #224
Of course it is an initialization step, as well as setSDKDebugLogsLevel (and other setXXX) is also an initialization step. But "startWithToken" is a special in a sense that it allows performing actions.

One of the actions is to print a log message "Starting version 7.6...". By calling setSDKDebugLogsLevel at first, I wish to avoid printing that line (and it works well by the way).

An action can

[2018-01-15 09:18] lowyk opened #225 "v7.6 UI-freeze"
### Steps to Reproduce the Problem

Update from SDK v7.4 to v7.6 and run.

### Expected Behavior

Everything works as it should.

### Actual Behavior

Crash and UI-freeze. We think probably due to an expensive operation taking place/ waiting on the main thread.

Here is the stacktrace (bt) we got to print on the crash.

* thread #5, queue = 'com.ibg.eventLoggerQueue'
    frame #0: 0x00000001829c1c

[2018-01-15 10:19] ZiadAyman commented on #225
Hey @lowyk
Can you please clarify is it a UI freeze or a crash that completely crashes your app or is it a UI freeze followed by an app crash? And, can you send us the complete stack trace?

I would like also to clarify something here if you don't mind.
The order of initializing the APIs here won't let `Instabug.setPushNotificationsEnabled(false)` to get executed.
The thing is, in order for any of

[2018-01-15 10:35] ZiadAyman commented on #224
What you say makes complete sense here.
We will be working to enable setting `setSDKDebugLogsLevel` before initializing the SDK so you can set it to NO, completely silent the SDK and stop receiving any logs from Instabug.
Will notify you back once the change is ready!

[2018-01-16 09:49] anfriis commented on #221
You said it would be included in the next release, but it seems that it does not work in the new release v7.8?
Would be great if you could fix it in a release very soon :)

[2018-01-16 09:54] Kmohamed commented on #221
@anfriis I am so sorry but the pull request still in the testing process. So I will notify you once the PR released.

[2018-01-16 11:17] ZiadAyman commented on #224
hey @battlmonstr
We are done with the change here and now `setSDKDebugLogsLevel` API could be initialized before initializing the SDK so in case you need to completely silent the SDK you can use
`[Instabug setSDKDebugLogsLevel:IBGSDKDebugLogsLevelNone];` before
`[Instabug startWithToken:@"xxx" invocationEvent:IBGInvocationEventNone];`
The fix will be released earlier next week, are you okay with t

[2018-01-16 11:56] battlmonstr commented on #224
Thanks a lot for your effort.

I'm ok to wait for the release. I'll be able to test it in about 1-2 weeks time frame. Feel free to close the issue, I'll find it and comment if needed later.

It's very nice to see people who care about their product.

[2018-01-18 08:56] ZiadAyman commented on #224
Thank you so much for the sweet words! @battlmonstr
This will be released in our coming release next Sunday the 21st of Jan.
I will notify you here one more time next Sunday after the release and then close it :)

[2018-01-22 08:41] anfriis commented on #221
Seems to have been fixed in version 7.8.1.
Thank you!

[2018-01-22 08:41] #221 closed

[2018-01-22 08:43] Kmohamed commented on #221
Yes, It’s released yesterday sorry for not inform you after release 😬😬

[2018-01-22 08:47] anfriis commented on #221
No problem :)

[2018-01-22 10:34] kevinrenskers opened #226 "Restore status bar color after showing the Instabug UI?"
My app uses the status bar style with white letters and symbols, but after using the shake gesture to bring up the instabug UI (which uses a black status bar) and then closing that modal, the status bar stays black.

Even if you only shake to bring up the modal where you choose between reporting a problem or making a suggestion, and simply closing that screen, the status bar changes to black.

I'm

[2018-01-22 10:37] Kmohamed commented on #226
@kevinrenskers  let me check it and get back to you soon.

[2018-01-22 10:57] kevinrenskers opened #227 "NSInvalidArgumentException in 7.6"
[code]

SDK 7.6, integrated via Cocoapods. Sadly I don't know how to reproduce it.

[2018-01-22 11:03] Kmohamed commented on #227
@kevinrenskers This issue is fixed on the version 7.8.

[2018-01-22 11:03] Kmohamed commented on #227
If you found it on this version feel free to open it again.

[2018-01-22 11:03] #227 closed

[2018-01-22 11:09] kevinrenskers commented on #227
Great, thanks. I could't find a similar crash in the issues so wasn't sure if it was fixed already.

[2018-01-22 11:11] kevinrenskers opened #228 "IBGDiskPersistenceManager crash"
[code]

This one happened in 7.4, I have no clue if it was fixed in later versions? Could not find a similar report here in the github issues.

[2018-01-22 11:13] Kmohamed commented on #228
@kevinrenskers Yes this also should be fixed in the latest version If you found it please open it again.
Sorry for inconvenience 🙁

[2018-01-22 11:13] #228 closed

[2018-01-22 11:14] kevinrenskers commented on #228
No problem! I have more crash reports that I have not seen here in github issues yet, also for 7.4 and 7.6. Do you want me to crash issues for them as well? No idea if they are fixed in later SDK versions..

[2018-01-22 11:18] kevinrenskers opened #229 "Crash: collection was mutated while being enumerated."
[code]

Crash in 7.4. Again, don't know if it was fixed in later versions but haven't seen this one in the github issues.

[2018-01-22 11:18] ZiadAyman commented on #228
Hey @kevinrenskers
Please send the crashes stack traces on contactus@instabug.com and we can proceed with the fixing process from there!
Thank you for the collaboration :)

[2018-01-22 11:23] ZiadAyman commented on #228
https://github.com/Instabug/Instabug-iOS/releases/tag/7.8

[2018-01-22 11:25] ZiadAyman commented on #229
This one is fixed, it has a PR that is ready for testing.
Will be included in our coming release very soon :)

I will let you know once the fix is released.

[2018-01-22 11:25] kevinrenskers commented on #228
Mail sent, with 4 stack traces. 3 for 7.4, one for 7.6.

[2018-01-22 11:29] ZiadAyman commented on #228
@kevinrenskers Got it, will take it from there. Thanks!

[2018-01-22 12:23] Kmohamed commented on #226
@kevinrenskers here is a custom build
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/StatusBarColor'
Kindly check it and tell me if works.

[2018-01-22 13:21] kevinrenskers commented on #226
Yep, that build fixes the problem.

[2018-01-23 09:34] sz-zoli-lateral opened #230 "Crash related to UICollectionView"
### Steps to Reproduce the Problem
When used together with UIPageViewController there is a crash.
It crashes where I set the view controllers:
`self.pageViewControl.setViewControllers([self.viewControllers[page]], direction: .forward, animated: true, completion: nil)`

`2018-01-23 10:37:05.680553+0200 Application[71504:1465646] *** Assertion failure in -[_UIQueuingScrollView _replaceViews:updating

[2018-01-23 09:51] Kmohamed commented on #230
@sz-zoli-lateral I will check it and get back to you soon but I can not see Instabug or InstabugCore in stack trace!!!

[2018-01-25 11:23] tadija commented on #224
Hi, is this issue fixed in the latest 7.8.1 release?

I still see this message `"Please make sure to initialize Instabug to be able to use the SDK."` if I use `Instabug.setSDKDebugLogsLevel(.error)` and not if I use `Instabug.setSDKDebugLogsLevel(.none)`, but then I wouldn't be informed in case that some errors really happen.

[2018-01-25 20:53] patbarry opened #231 "Autolayout crash with IBGFullActivityIndicatorView"
[code]

This crash is happening in v.7.7.1 of the SDK. First time we've seen it in our beta program. Unclear what caused it, but could potentially contact beta user if need be.

[2018-01-25 21:19] keith commented on #231
It looks like the `__hidden` symbols here have been introduced recently. With 7.8.1 it looks like the SDK was built with the `-bitcode_hide_symbols` flag. Was this change intentional?

[2018-01-25 21:23] Kmohamed commented on #231
@patbarry I will investigate in the crash and get back to you soon

[2018-01-25 21:26] Kmohamed commented on #231
@keith actually I notice this issue when we start build our framework using Xcode 9.x
I tried to pass bitcode_hide_symbols with No but it doesn’t work so we open DTS with apple and still waiting for their response

[2018-01-25 21:34] keith commented on #231
@Kmohamed did you just update to 9.x? Since we haven't seen this one until now. Can you make sure that `HIDE_BITCODE_SYMBOLS` and `LD_HIDE_BITCODE_SYMBOLS` are set to `NO`?

[2018-01-25 21:35] keith commented on #231
Also, it doesn't look like it, but your `MACH_O_TYPE` isn't set to Relocatable Object File (`mh_object`) right?

[2018-01-25 21:44] Kmohamed commented on #231
@keith  I will try to set `LD_HIDE_BITCODE_SYMBOLS` with No.
Related to `MACH_O_TYPE` No it's type is Dynamic library.

[2018-01-26 00:35] Kmohamed commented on #231
@keith Actually setting `LD_HIDE_BITCODE_SYMBOLS` `HIDE_BITCODE_SYMBOLS` No works.
But the side effect is the bcSymbolMap is not generated

[2018-01-26 11:45] Kmohamed commented on #231
@patbarry this crash is fixed on 7.8 could you please update to the latest.

[2018-01-27 08:09] ZiadAyman commented on #224
Hey @tadija
Actually, we just reproduced this problem yes. `[Instabug startWithToken:@"xxx" invocationEvent:IBGInvocationEventNone];` logs this message. We are fixing it and releasing this tomorrow!

As for initializing `Instabug.setSDKDebugLogsLevel(.none)` you can already initialize it before initializing the SDK. Its now the only API that might get executed before initializing the SDK in case y

[2018-01-28 11:33] Kmohamed commented on #231
@ptbarry I will close this issue since it's fixed on the latest release also feel free to open it again if you find it.

[2018-01-28 11:33] #231 closed

[2018-01-29 07:54] Kmohamed commented on #226
@kevinrenskers The fix was released on v7.8.2

[2018-01-29 07:54] #226 closed

[2018-01-29 07:54] #220 closed

[2018-01-29 07:56] Kmohamed commented on #223
@keith This crash is fixed on version 7.8.2 could you please update to the latest.

[2018-01-29 07:56] #223 closed

[2018-01-29 08:02] Kmohamed commented on #223
@keith I would like to share some information about the crash. Actually this crash was caused by ZipArchive as you know but now we are using another framework to zip our files which is more stable in v7.8.2
Thanks keith for your support.

[2018-01-29 08:32] ZiadAyman commented on #229
Hey @kevinrenskers
This is fixed and released on iOS SDK version 7.8.2.

I will close this for now, give it a try and if anything is not in place make sure to re-open the issue and notify me!

[2018-01-29 08:32] #229 closed

[2018-01-29 09:23] ZiadAyman commented on #224
@battlmonstr @tadija Everything now is fixed and released on iOS SDK version 7.8.2.
Upgrade and let me know if anything is not in place!

[2018-01-29 09:23] #224 closed

[2018-01-29 18:59] keith opened #232 "__hidden symbols in bitcode"
Crash reports, such as [this one](https://github.com/Instabug/Instabug-iOS/issues/231) now have their bitcode obfuscated (see the conversation on that issue for more information).

This appears to have been introduced in 7.3.11 which has the release notes "Optimizing SDK size", which I assume has something to do with this unintentional change.

Are we safe to downgrade to 7.3.10 until this issue i

[2018-01-29 19:53] keith commented on #223
Thanks, I'll keep  an eye out the next time we update. You might consider depending on ZipZap directly, instead of bundling it in your SDK. We actually already depend on it, so now we'll have 2 copies of this code. Luckily, since you prefixed the symbols, the only downside will be app size.

[2018-01-30 02:31] Kmohamed commented on #232
@keith I do not think it's a good idea to downgrade to 7.3.10 you will lose a lot of fixes and features.
But could you send me the .crash file of this crash because I want to check something.

[2018-01-30 02:32] keith commented on #232
Like I said in https://github.com/Instabug/Instabug-iOS/issues/231 the issue here is `-bitcode_hide_symbols` being passed. The report there has an example.

[2018-01-30 02:36] Kmohamed commented on #232
@keith I totally agree with you that if we set -bitocde_hide_symbols with No will fix the issue but it will stop generation of bcsymboMap which will prevent ITC from regenerate Instabug DSYMs.

Also could you check apple reply here:

Glad to hear you do have .bcsymbolmap files for all your frameworks. I understand that you see __hidden symbols in the bitcode for your framework. However, this shoul

[2018-01-30 02:37] Kmohamed commented on #232
What I am trying to do I wanna try to fix DSYM file using the bcsymbolMap
`dsymutil -symbol-map` and re symbolicate the crash again
@keith what do you think ?

[2018-01-30 02:39] keith commented on #232
Removing this flag won't affect Apple's ability to generate useful crash info. GoogleMaps had this issue, and fixed it, and now their crash reports are working correctly.

[2018-01-30 02:47] Kmohamed commented on #232
Actually we received a lot of complains that apps distributed through TestFlight or Appstore are not fully symbolicated because they can not find Instabug DSYM inside ITC.

And this Apple reply about this issue:
`After building with this command, you’ll notice you have several build products - the framework, the dSYM, and bcsymbolmaps with file names that match the UUIDs of the framework slices. Y

[2018-01-30 02:51] keith commented on #232
Interesting. Currently with GoogleMaps we upload only the framework, without dsyms and without bcsymbolmaps and we get valid crash reports.

[2018-01-30 02:52] Kmohamed commented on #232
Are these crash reports form AppStore or ITC ?

[2018-01-30 02:53] keith commented on #232
Neither 😄  we seem them in both Xcode and our third party crash reporting tool that we upload the generated dsyms to.

[2018-01-30 02:57] Kmohamed commented on #232
Make sense 😃
Would you mind send to me the .crash file in order to re-symbolicate the crash again
after run dsymutil -symbol-map on DSYM file.

[2018-01-30 03:00] keith commented on #232
We actually don't have dsyms at all from our alpha builds for Instabug and InstabugCore

[2018-01-30 03:05] Kmohamed commented on #232
But I have a copy of DSYM file from each release and since you are not distributed through ITC I can send to you a new DSYM file or you can send to me the .crash file and I will try it.
as u like.

[2018-01-30 05:48] Kmohamed commented on #232
@keith here are 7.7.1 dsyms after run `dsymutil -symbol-map` could you give it a try
[7.7.1_DSYMs.zip](https://github.com/Instabug/Instabug-iOS/files/1676483/7.7.1_DSYMs.zip)

[2018-01-30 05:56] Kmohamed commented on #232
btw I integrate GoogleMaps in a sample project and upload a new version but I did not find DSYMs related to GoogleMaps on ITC.

[2018-01-30 06:04] Kmohamed commented on #209
@lgeromegnace I wanna inform you that we released the fix could you update to the latest version ?

[2018-01-30 06:04] #209 closed

[2018-01-31 19:22] Kmohamed commented on #232
Hello @keith
I made an experiment on a crash from a build downloaded from ITC that have InstabugCore frames `__hidden` then de-obfuscate the DSYMs with bcSymbolMap then symbolicates the crash again and the crash symbolicated correctly. We just made a release with this fix.

[2018-01-31 19:23] tadija commented on #224
Hi @ZiadAyman, I can confirm that this is fixed now, thanks!

[2018-01-31 19:23] Kmohamed commented on #232
Also I would like to share this reply from apple with you:

When you upload your app with bitcode to the App Store, you may choose not to send your application’s symbols by unchecking the “Upload your app’s symbols to receive symbolicated reports from Apple” box in the submission dialog. If you choose not to send your app’s symbol information to Apple, Xcode will replace the symbols in your app’s

[2018-02-01 20:00] keith commented on #232
What did you actually change in the new release? I see the symbol maps in both, and the binary still has __hidden symbols

[2018-02-06 07:32] Kmohamed commented on #232
@keith Sorry for replying too late
First what changed in this version is Instabug DSYMs is de-obfuscated using bcsymbol map according to Apple mail:

Also we already tried this solution on a crash which contains a hidden symbols. when we de-obfuscate the DSYMs with bcSymbol map file and re symbolicate the crash the hidden symbols disappear which proves that what apple said in the mail was correct.

[2018-02-07 18:45] sz-zoli-lateral commented on #230
I have updated the description and title. I will try to make a sample app that reproduces this issue, but it is hard because we have a complex layout.
Something must have changed in Instabug v7.8, because v7.7.1 doesn't produce a crash or when I remove Instabug completely.

[2018-02-07 18:49] Kmohamed commented on #230
Could you share the stacktrace with us please

[2018-02-07 18:53] Kmohamed commented on #230
@sz-zoli-lateral Could you integrate again with v7.8 and put a break point on this line of code
`self.pageViewControl.setViewControllers([self.viewControllers[page]], direction: .forward, animated: true, completion: nil)` and double check that this line is called from mainThread.

[2018-02-07 18:57] Kmohamed commented on #230
@sz-zoli-lateral also could you give the latest version a try ?

[2018-02-08 00:39] rounak opened #234 "Deprecation warning on setAttachment in version 7.8.4 but new method only exists in 8.0.0"
### Steps to Reproduce the Problem
Install v7.8.4, paste in the code below

### Expected Behavior
Code compiles without warnings, or that alternative method suggested exists in same version

### Actual Behavior
Emits deprecation warning, which if you have enabled warnings as errors results in error:

### Instabug integration code

[code]

### SDK Version
7.8.4

### iOS Version
10.3.1

### Device T

[2018-02-08 00:43] Kmohamed commented on #234
@rounak We are very sorry for this mistake we will fix it in the next release.
But you could use this method instead

  `[Instabug setEnabledAttachmentTypes:IBGAttachmentTypeScreenShot | IBGAttachmentTypeGalleryImage | IBGAttachmentTypeExtraScreenShot | IBGAttachmentTypeScreenRecording];`

[2018-02-08 01:03] rounak commented on #234
@Kmohamed thanks for the quick reply, will try that out

[2018-02-08 07:58] sz-zoli-lateral commented on #230
I have tried it with the latest version(7.8.4) and it still doesn't help.
I have checked that line and it runs on main thread. I also tried adding a wrapper around it: MainQueue.main.async {}, but it didn't help.

Interestingly when I set the animation to false it didn't crash. Setting Instabug to 7.7.1 also doesn't crash even if animation is set to true.

[2018-02-08 08:14] Kmohamed commented on #230
@sz-zoli-lateral  Could you try to disable visual user steps using this method  ?
` [Instabug setReproStepsMode:IBGUserStepsModeEnabledWithNoScreenshots];
`

[2018-02-08 12:52] sz-zoli-lateral commented on #230
I can confirm that if I disable visual user steps, then the crash doesn't happen.

[2018-02-08 13:17] Kmohamed commented on #230
That's interesting that application crashes because of Instabug and no stack frame exist related to Instabug.
could you give this custom build a try

[2018-02-08 13:32] sz-zoli-lateral commented on #230
It doesn't crash with this. It will be available in the next release?

[2018-02-08 14:16] Kmohamed commented on #230
@sz-zoli-lateral are you sure that you used the custom build because it has a typo and i fix it now ?

[2018-02-08 14:19] sz-zoli-lateral commented on #230
I have used it like this:
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/useSteps'`

[2018-02-08 15:32] Kmohamed commented on #230
@sz-zoli-lateral do you mean by didn't work that it did not fix the crash ?

[2018-02-08 15:37] sz-zoli-lateral commented on #230
@Kmohamed by didn't work I meant the git branch name you provided didn't work. After I corrected like above it worked.
The code in the branch worked and fixed the crash.

[2018-02-08 15:45] Kmohamed commented on #230
@sz-zoli-lateral I am so sorry for this conflict but I think you tried the wrong branch could you please give this new one a try and tell me if it fix the crash or not ?

[2018-02-08 16:20] sz-zoli-lateral commented on #230
This also fixes the crash.

[2018-02-08 16:21] Kmohamed commented on #230
Thanks a lot 💃

[2018-02-08 16:22] Kmohamed commented on #230
it will be released very soon

[2018-02-08 16:25] sz-zoli-lateral commented on #230
Thank you. You're welcome

[2018-02-08 22:25] jarvis-wu opened #235 "Cannot set attributed string for intro messages"
### Steps to Reproduce the Problem

The default intro message has a bold **shake** in it. I want to override that message but still keep the bold **shake**. But it seems there is no easy way to do that. I guess this is not a bug but is something that could potentially be improved in later versions.

### Expected Behavior

Want to use an attributed string in the intro message

### Actual Behavior

[2018-02-08 23:05] Kmohamed commented on #235
@jarvis-wu Yes it's not a bug but you can make it with a workaround like this
`Instabug.setValue("<test>", forStringWithKey: kIBGShakeStartAlertTextStringName)`

[2018-02-08 23:05] #235 closed

[2018-02-09 13:48] yan-zaitsev opened #236 "Feature request: Hungarian language"
Hi, my company has application for Hungarian market and we want to enable instabug for it, but you don't have yet localization in "hu" :(

We already prepare localization for keys that you define in IBGTypes in 7.3.9 version https://pastebin.com/GaMwzndr

[2018-02-09 14:26] Kmohamed commented on #236
Fantastic once you finish localization for keys in IBGTypes send it to me and i will include them in the next release
Thanks 🙏

[2018-02-09 14:36] yan-zaitsev commented on #236
@Kmohamed I have already sent you all translations, that we have: https://pastebin.com/GaMwzndr

[2018-02-09 14:38] Kmohamed commented on #236
Sorry i did no recognize the link.
let me check it and tell you once it’s released Thanks again @yan-zaitsev

[2018-02-09 14:39] yan-zaitsev commented on #236
@Kmohamed
If you sent me whole Localizable.strings that you use in framework bundle in Czech and English languages, we could make full translation to Hungarian. I see you have add ~10 new strings to latest versions (relative to 7.3.9)

[2018-02-09 19:43] Kmohamed commented on #236
Sure I attached the localization.strings file in english and Czech
[Localizable.zip](https://github.com/Instabug/Instabug-iOS/files/1712224/Localizable.zip)

[2018-02-12 09:15] Kmohamed commented on #234
Fix is released on v 7.9.1 Thanks @rounak 🙏

[2018-02-12 09:15] #234 closed

[2018-02-12 09:16] Kmohamed commented on #230
@sz-zoli-lateral Fix is released on v7.9.1 Could you give it a try ?

[2018-02-12 09:16] #230 closed

[2018-02-12 14:36] stachon opened #237 "Slovak localization : wrong text for collectingDataText"
Hello, the Slovak (SK) translation for `collectingDataText` (`kIBGCollectingDataText`) is currently `"Samlar in data..."`. This appears to be Swedish. The correct Slovak text for this key would be `"Zber dát..."`

[2018-02-12 14:40] Kmohamed commented on #237
@stachon we will fix it as soon as possible Thanks a lot 🙏.

[2018-02-12 14:49] stachon commented on #236
We had a typo in Yan's paste, it should be :
```"INSTABUG_kIBGThankYouAlertMessageStringName" = "Visszajelzésedet megkaptuk.\nKöszönjük, hogy segítesz javítani az alkalmazást %@.";```
(there was a space missing before %@)

[2018-02-12 14:51] yan-zaitsev commented on #236
@Kmohamed thanks, we will prepare it and send you back.

[2018-02-12 21:23] sz-zoli-lateral commented on #230
It works

[2018-03-04 22:07] maxydon commented on #36
any news?

[2018-03-04 23:41] Kmohamed commented on #36
@maxydon are you still facing this error ?

[2018-03-04 23:44] maxydon commented on #36
I'm not really using it but i'm thinking to and I was wondering about @HeshamMegid comment: `let us check on that and get back to you.`. Is this not still an issue?

[2018-03-04 23:47] Kmohamed commented on #36
@maxydon I think @HeshamMegid forget to update this thread but I tried it a lot and it works fine could you give it a try ?

[2018-03-04 23:48] maxydon commented on #36
I'll be happy to do that tomorrow (Monday), today I can't.

[2018-03-24 09:18] kevinrenskers commented on #228
Hi @ZiadAyman, I just sent 5 more crashes to contactus@instabug.com that are happening in 7.11.1. This is rather scary for a bug/crash reporter to cause so many crashes itself :( Please let me know if there is something I can do to help so these crashes can get fixed asap.

[2018-03-24 09:36] Kmohamed commented on #228
@kevinrenskers are you sure that all these crashes came from v7.11.1 because we already have these crashes on old versions and we fixed them. what I mean that these crash may came from an old versions.

[2018-03-24 09:45] Kmohamed commented on #237
@stachon we include your translation in the latest release thanks a lot for your collaboration 🙏

[2018-03-24 09:45] #237 closed

[2018-03-24 10:47] kevinrenskers commented on #228
Sorry, all of them actually happened on 7.10, but I was told after 7.6 that many of these were already fixed as well.

One of them happened on 7.10.1:

![screen shot 2018-03-24 at 11 47 09](https://user-images.githubusercontent.com/229384/37863131-1c8a1c3e-2f59-11e8-9f0d-11627f21fd39.png)

[2018-03-26 21:19] chuganzy opened #238 "Main thread performance is really bad"
v7.11.1

### When auto screen recording is enabled:

By default it takes screenshot every second which is pretty heavy and affects UI performance.

<img width="938" alt="screen shot 2018-03-14 at 11 31 05" src="https://user-images.githubusercontent.com/2619092/37933380-d9a6e44e-30ff-11e8-889c-b7e70dc7bb6b.png">

---

### Even if auto screen recording is disabled:

It takes screenshot when the app

[2018-03-27 08:33] Kmohamed commented on #238
Hello @chuganzy,
In auto screen recording we are measure the performance of the main thread and based on the performance we increase or decrease the frame rate if you face some lagging the UI please inform me.
Related to taking screenshot every ViewController this is actually the [visual-repro-steps](https://docs.instabug.com/docs/ios-logging#section-visual-repro-steps)

[2018-03-27 08:35] Kmohamed commented on #232
Hello @keith,
I wanna ask you if you see any crash with hidden symbols after our fix.

[2018-03-27 08:41] ZiadAyman commented on #225
Hey @lowyk
I will close this for now but please let us know if we can assist you any further here, or contact our support team on contactus@instabug.com

[2018-03-27 08:41] #225 closed

[2018-03-27 08:42] ZiadAyman commented on #213
Hey @NrmeenTomoum
I will close this for now. Please get back to us if you need any further assistance here or contact our support team on contactus@instabug.com

[2018-03-27 08:42] #213 closed

[2018-03-27 09:10] chuganzy commented on #238
@Kmohamed Got it, so now we disabled screenshots.

Hmm, but while I am measuring it, it was kept laggy and obviously the scrolling FPS was law.

How about capturing the screen in background?

[code]

[2018-03-27 09:20] Kmohamed commented on #238
@chuganzy actually we are using `drawViewHierarchyInRect` but it's a great idea let me check it and tell you.
Thanks a lot 🙏

[2018-03-27 10:07] ZiadAyman commented on #59
I will close this one for now and please make sure to contact us back here or email our support team on contactus@instabug.com.

We would love to help, always!

[2018-03-27 10:07] #59 closed

[2018-04-04 18:01] keith commented on #232
So you're saying that we should be uploading your bcsymbolmap files to Apple when we upload our builds? And that they will take those into account when recompiling your framework from bitcode in order to generate dsyms with de-obfuscated symbols?

[2018-04-05 00:02] txaiwieser opened #240 "Another day, another Instabug + Carthage problem"
### Steps to Reproduce the Problem
Try to update|bootstrap Carthage with instabug configured

### Expected Behavior
It should work

### Actual Behavior

*** xcodebuild output can be found in /var/folders/d1/x6c1jgcd18l01356m4gnxrjh0000gq/T/carthage-xcodebuild.6AVPgC.log
Unable to parse binary-only framework JSON at https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/Carthag

[2018-04-05 08:40] Kmohamed commented on #240
@txaiwieser is this fix your problem ?

[2018-04-05 08:48] Kmohamed commented on #232
I will recap what I said in order to make everything clear
1- Before distributing every version for Instabug framework we need to de-obfuscate the DSYMs with bcSymbolMap  to remove `__hidden` symbols.
2- Application developer should include framework's (DSYM & bcSymbolMap) inside project archive before uploading to iTunesConnect in order to find framework new DSYMs inside iTunesConnect.

Also thes

[2018-04-05 13:59] txaiwieser commented on #240
Yes, that was the problem! Thanks for replying quickly! 👍

[2018-04-05 14:00] #240 closed

[2018-04-05 14:01] Kmohamed commented on #240
@txaiwieser Great and sorry again for this hassle 🙏

[2018-04-07 07:50] Kmohamed commented on #232
@keith what do you mean by include them in bitcode ?

[2018-04-09 05:36] officialmanishgupta commented on #140
hi @Kmohamed - how did you fix it ?

[2018-04-09 11:48] Kmohamed commented on #140
@officialmanishgupta
 If you trying to write to database then the application crashed it will result in `database disk image is malformed` so the fix was changing the options of `NSPersistentStoreCoordinator` to `options[NSSQLitePragmasOption] = @{ @"journal_mode":@"WAL" };`
which makes checkpoints so if the database is corrupted it can revert to the latest checkpoint.

[2018-04-09 11:50] Kmohamed commented on #232
@keith I tried it but when I try to download all DSYMs form iTunesConnect I can not find Instabug DSYMs.

[2018-04-10 20:17] logananderson opened #241 "SDK 7.12 spams "Could not successfully update network info during initialization." when using simulator."
### Steps to Reproduce the Problem
Use 7.12 SDK
Instabug.start()
Run in a simulator environment.
Observe console.
Use 7.11.2
Observe console

### Actual Behavior
Constant logging of `Could not successfully update network info during initialization.`

### SDK Version
7.12

### iOS Version
11.2

### Device Type
Simulators

The "Could not successfully update network info during initialization." log i

[2018-04-10 20:25] Kmohamed commented on #241
@logananderson Sorry for this inconvenience we will fix it and send you custom build until we release it very soon.

[2018-04-10 20:28] logananderson commented on #241
It's fine, just a minor annoyance is all ¯\_(ツ)_/¯

[2018-04-10 22:30] Kmohamed commented on #241
@logananderson here is a custom build until we release it very soon.
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'remove-network-spam'

[2018-04-11 13:13] Kmohamed commented on #241
@logananderson it's fixed in SDK version https://github.com/Instabug/Instabug-iOS/releases/tag/7.12.1

[2018-04-11 13:13] #241 closed

[2018-04-11 17:11] Kmohamed commented on #241
Anytime

[2018-04-25 08:25] Kmohamed commented on #238
@kevinrenskers let me check it and I will get back to you very soon.

[2018-04-25 08:34] kevinrenskers commented on #238
I think I have found the solution myself: `start` needs to be called after setting all the different options.

[2018-04-25 15:57] Kmohamed commented on #238
@kevinrenskers It's a bug and we will release a fix very soon.

[2018-04-25 18:18] Kmohamed commented on #238
@kevinrenskers we just released the fix in SDK version 7.12.4

[2018-04-26 14:07] kevinrenskers commented on #238
Thanks, I have confirmed that it's no longer auto screenshotting constantly.

Also, when I moved the call of the `start` method to the bottom, after setting all the different config options, I suddenly got this screen in a new install of the app:

<img width="362" alt="screen shot 2018-04-26 at 15 55 33" src="https://user-images.githubusercontent.com/229384/39310869-d0f55126-496b-11e8-99dc-66d8e3a

[2018-04-26 14:11] Kmohamed commented on #238
Actually each method should be called after startWithToke and if you do so you will see an error messge in console
Anyway we are currently working on enhancing this issue

[2018-04-27 02:43] TinyQ opened #242 "Crashed: com.instabug.queueUsageLoggerQueue"
### Steps to Reproduce the Problem
![image](https://user-images.githubusercontent.com/3217732/39341707-ff908898-4a06-11e8-8d69-3489a2496693.png)

### Crashlytics
[com.zhihu.ios-dev_issue_768_crash_102ce4884c004507bc3422a794a0f393_DNE_0_v2.txt](https://github.com/Instabug/Instabug-iOS/files/1953686/com.zhihu.ios-dev_issue_768_crash_102ce4884c004507bc3422a794a0f393_DNE_0_v2.txt)

### SDK Version
7.1

[2018-04-27 06:43] Kmohamed commented on #242
Thanks @TinyQ we are aware of this crash and it will be fixed next sunday

[2018-04-27 12:17] leahpsnider commented on #77
Any progress on this issue? It still exists on iOS 10.

[2018-04-27 12:32] Kmohamed commented on #77
@leahpsnider actually we can no do anything regarding this issue because photos view only support portait
The only solution is to implement our own view.
Let me forward this to our product team and get back to you

[2018-04-27 12:51] leahpsnider commented on #77
hi @Kmohamed  ,
Another option is to use different `modalPresentationStyle` for image picker. It would be good option to pass it to your SDK.

[2018-04-29 09:51] Kmohamed commented on #77
@leahpsnider Thanks a lot for the workaround definitely we will make and release it soon.
If you wanna a custom build I can make it for you.

[2018-04-29 09:53] Kmohamed commented on #77
btw this crash is fixed on iOS 11 so we will apply this workaround on iOS versions less than iOS11.

[2018-04-30 08:44] kevinrenskers opened #243 "Crash"
### Steps to Reproduce the Problem
Tried to log feedback via the shake gesture, app crashed.

![screen shot 2018-04-30 at 10 41 31](https://user-images.githubusercontent.com/229384/39420127-6a3ebca6-4c63-11e8-949a-d404697db36a.png)

### SDK Version
7.12.4

### iOS Version
11.2.5

### Device Type
iPhone 7 Plus

[2018-04-30 08:46] Kmohamed commented on #243
Could you tell me the occurrences of this crash and are you able to reproduce it or not ?

[2018-04-30 08:49] kevinrenskers commented on #243
One of our users got this once, when trying to log feedback to us (via the shake gesture). I was not able to reproduce this myself.

[2018-04-30 09:31] Kmohamed commented on #242
@TinyQ we just released a fix for this crash in SDK version 7.12.5 so please update and feel free to open this issue if you face this crash again.

[2018-04-30 09:31] #242 closed

[2018-04-30 09:33] Kmohamed commented on #243
@kevinrenskers let me check and get back to you

[2018-05-02 18:05] LFabien opened #244 "Crash from [IBGCache readModelsFromPath:]"
We are getting more and more crash reports from our customers. Our app crashes after being open about 30 seconds. The reports show that it is from `[IBGCache readModelsFromPath:]`. Deleting and reinstalling the app doesn't fix the issue so it has a big impact on our customers.

### Stack trace

**Raw**
[ibcache_crash.txt](https://github.com/Instabug/Instabug-iOS/files/1968243/ibcache_crash.txt)

<

[2018-05-02 18:14] Kmohamed commented on #244
@LFabien We are very sorry for inconvenience. I will go through each crash.
we have three issues here
1- [IBGCache readModelsFromPath:] I will investigate inside it and get back to you very soon
2- InstabugDataModel.sqlite which is fixed
3- The last crash it should be fixed on the latest version.

[2018-05-03 15:34] Kmohamed commented on #243
@kevinrenskers are you making any operation which results to delete files in Library directory ?

[2018-05-03 15:46] kevinrenskers commented on #243
No

[2018-05-03 16:25] Kmohamed commented on #243
@kevinrenskers I succeed to reproduce and will be released next Sunday.

[2018-05-07 18:45] TinyQ opened #245 "Crashed: com.Instabug.queueUsageLoggerQueue"
### Steps to Reproduce the Problem
![image](https://user-images.githubusercontent.com/3217732/39718739-c83452c4-5269-11e8-927d-274b77ef7d31.png)

[com.zhihu.ios_issue_75324_crash_d21d421bed2d4a32a2d8ebd467df606e_DNE_0_v2.txt](https://github.com/Instabug/Instabug-iOS/files/1981057/com.zhihu.ios_issue_75324_crash_d21d421bed2d4a32a2d8ebd467df606e_DNE_0_v2.txt)

### SDK Version
7.12.5

[2018-05-07 18:54] Kmohamed commented on #245
Are you this crash from sdk version 7.12.5 ?

[2018-05-08 02:34] manderson420 opened #246 "Instacrash on startup 7.12.5"
### Steps to Reproduce the Problem

1. Open our app
2. Initialize Instabug SDK

### Expected Behavior

App does not crash.

### Actual Behavior

App crashes. It seems this is crashing on some chat cache process, which we don't even have enabled.

### Instabug integration code

`Instabug.start(withToken: self.apiKey, invocationEvent: .none)
        Instabug.setUserStepsEnabled(false)
        Instab

[2018-05-08 07:58] Kmohamed commented on #245
@TinyQ @LFabien
We are very sorry for experience this issue again.
This issue is caused from calculating cpu usage of dispatch queues.
What we are doing here is getting all threads from `mach_task_self()` and calculating the cpu usage for each thread. As you know that each thread is assigned to a single dispatch_queue and there is a property in thread called `dispatch_qaddr` which is the address o

[2018-05-08 08:01] yousefhamza commented on #246
Hi @manderson420
We are sorry for the inconvenience, I will look into it and update you ASAP.

[2018-05-08 08:53] yousefhamza commented on #246
Is there more info available like the exception message/description?

Like these
[code]

[2018-05-08 17:16] LFabien commented on #244
@Kmohamed Do you have any news about this issue?

[2018-05-08 18:03] Kmohamed commented on #244
We are going to release a new version today
I will inform once we release it Most probably within couple of hours
Sorry for being late.

[2018-05-09 02:58] rebello95 opened #247 "[Crash in IBGQueueCPUUsage] SIGSEGV queues_cpu_usage_with_name"
### Issue
We're seeing some crashes in `IBGQueueCPUUsage.c` when using v7.12.5 of the SDK. Unfortunately, haven't been able to reproduce this, but the stacktrace and other debug info is below.

### SDK Version
7.12.5

### iOS Version
iOS 11.2.6

### Device Type
iPhone8,2

### Stacktrace
[code]

[2018-05-09 05:45] slmosl commented on #247
We experience the same critical issue, even though we actually disabled session profiling by doing
[code]

[2018-05-09 05:47] Kmohamed commented on #247
We are very sorry for inconvenience
We are going to release a fix today which will disable this part of session profiler

[2018-05-09 08:04] yousefhamza commented on #246
You didn't get to me in a while, I added some protective code and pushed for you a custom build that you can install from Cocoapods by using:
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/chat_crash'`

[2018-05-09 12:06] Kmohamed commented on #243
@kevinrenskers we just released a fix for your Crash in SDK version 7.12.6

[2018-05-09 12:06] #243 closed

[2018-05-09 12:07] Kmohamed commented on #244
@LFabien we are very sorry for being late but finally we released a fix for this crash in SDK version 7.12.6

[2018-05-09 12:08] Kmohamed commented on #245
@TinyQ we just released a fix for your crash in SDK version 7.12.6 so please update.

[2018-05-09 12:08] #245 closed

[2018-05-09 12:08] Kmohamed commented on #247
@rebello95 @slmosl we just released a fix for this crash please update to the latest version (7.12.6)

[2018-05-09 12:08] #247 closed

[2018-05-09 16:41] TinyQ commented on #163
看来不能还原这个版本了：https://fabric.io/zhihu/ios/apps/com.zhihu.ios/issues/5ae5275f638393737a9b1ffc?time=last-thirty-days

[2018-05-09 22:59] manderson420 commented on #246
Hi @yousefhamza thanks for the reply. We are using carthage for our Instabug dependency. Is there a target that contains the fixes?

[2018-05-14 18:51] mishagray commented on #188
Im seeing this issue with the latest Instabug and targeting iOS 11 only.
(which only does 64bit targets)...

Is there a way to get rid of this warning with the latest build?

[2018-05-14 18:52] Kmohamed commented on #188
Are you using cocopods ?

[2018-05-16 00:52] mishagray commented on #188
Using cocoapods 1.5.0,  with a min deployment of iOS 11.
My guess is that since iOS 11 drops 32bit support, there is a 32bit dSYM that is getting added to the app?  Not sure how to strip it.

[2018-05-16 00:55] Kmohamed commented on #188
@mishagray you are totally right but starting from cocoapods version 1.4.0 it will strip the DSYM file based on application supported architecture.

[2018-05-16 11:26] kamelnabil opened #248 "Test iOS"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Type

[2018-05-16 11:27] #248 closed

[2018-05-17 01:09] keith opened #249 "Provide static binaries?"
Is there any chance that you all could provide static framework versions of Instabug as well as or in place of the dynamic ones? CocoaPods supports this for the past few versions. There are 2 benefits I think we'd see.

1. Any unused symbols could be removed at link time. Meaning if consumers of the SDK don't end up using the whole thing, they can end up with a smaller binary size increase from in

[2018-05-17 01:13] Kmohamed commented on #249
@keith Make sense let me check it and get back to you.
Thanks a lot 🙏

[2018-05-17 13:48] HeshamMegid commented on #249
@keith as far as I understand, the newly introduced `s.static_framework = true` is only relevant for source pods. Since we distribute a binary, we would have to maintain 2 separate podspecs and 2 different sets of binaries if we want to give the pod consumer the liberty of choosing whether to integrate as a static or dynamic framework.

We’re looking into whether we should maintain versions of bot

[2018-05-17 16:48] keith commented on #249
Ah right I'm sorry, this is actually irrelevant because CocoaPods has supported this for a while. The GoogleMaps pods for example are pre-compiled static frameworks.

While you would have to have 2 sets of binaries if you wanted to support both, you could maintain a single pod spec using subspecs, which would simplify things a bit.

Unless anyone is doing something crazy, there shouldn't be a diff

[2018-05-17 18:36] kastiglione commented on #249
A dynamic framework (`MH_DYLIB`) can always be produced out of a static framework, but of course the reverse is not true. It's possible to ship one binary, and add a step that transforms the static library into a dynamic one, for those that want it.

[2018-05-18 06:55] HeshamMegid commented on #249
We were not aware of that. That will definitely make things easier.

Thanks @keith and @kastiglione! We will continue discussing this internally and get back to you soon.

[2018-05-18 07:38] Kmohamed commented on #244
Let me check it and grt back to you soon.

[2018-05-18 07:57] Kmohamed commented on #244
@LFabien could you send to me the methods that you use from Instabug ?

[2018-05-18 16:39] LFabien commented on #244
@Kmohamed

*Setup*
[code]

*Logs & Errors*
[code]
*Invocation*
[code]

[2018-05-18 22:50] LFabien commented on #244
If that can help, I also see a few crashes from:

`-[IBGCache writeModels:toPath:]`
[logs.txt](https://github.com/Instabug/Instabug-iOS/files/2018824/writeModels.txt)

`IBGCoreDataPersistenceManager.m line 113`
[logstxt](https://github.com/Instabug/Instabug-iOS/files/2018828/coredata.txt)

[2018-05-18 22:53] Kmohamed commented on #244
Thanks a lot definitely will be help but could you send to me the exception name ?

[2018-05-18 23:37] LFabien commented on #244
`[IBGCache readModelsFromPath:].`
<img width="624" alt="screen shot 2018-05-18 at 4 34 23 pm" src="https://user-images.githubusercontent.com/10099/40262047-5f9e55ea-5ab9-11e8-8b44-87dd288518ae.png">

`-[IBGCache writeModels:toPath:]`
<img width="558" alt="screen shot 2018-05-18 at 4 33 16 pm" src="https://user-images.githubusercontent.com/10099/40262023-3a6d34c6-5ab9-11e8-9b1d-9ca2e071af3d.png">

[2018-05-19 00:29] Kmohamed commented on #244
@LFabien Thanks a lot  🙏

[2018-05-19 00:42] keith commented on #249
Another benefit I just realized to providing a precompiled static framework, is you could remove [this script](https://github.com/Instabug/Instabug-iOS/#manually) referenced in your readme since this would be handled automatically by the linking process.

[2018-05-19 23:40] emperatur opened #250 "A"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Type

[2018-05-19 23:41] #250 closed

[2018-05-20 11:07] HeshamMegid commented on #249
We’ve decided to switch to a static framework. We’ll be working on it this week, so it should be available in either the next release or the one after. Will let you know once it’s released.

@kastiglione I couldn’t find much that talks about transforming a static binary into a dynamic one. If you have any resources that talk about this, I’d really appreciate if you share them.

[2018-05-20 11:32] leytin10 commented on #250
No puedo generara bitcoin

[2018-05-20 15:09] keith commented on #249
Awesome! Thanks!

--
Keith Smiley

[2018-05-20 15:14] Willieharrell108 commented on #250
I yes

[2018-05-20 15:20] Willieharrell108 opened #251 "Fix"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Type

[2018-05-20 21:36] emperatur commented on #250
I yes

On Sun, 20 May 2018, 16:03 leytin10, <notifications@github.com> wrote:

[2018-05-21 06:09] shikha90 opened #252 "Issues while integrating SDK with the app ."
### Steps to Reproduce the Problem:- Adding compile 'com.instabug.library:instabug:4+' to the Build Gradle giving errors.

### Expected Behavior:-Should get Compiled easily.

### Actual Behavior:- Giving errors as mentioned below :

error: resource android:attr/colorError not found.
-------

error: style attribute 'android:attr/keyboardNavigationCluster' not found.
-------

error: resource android

[2018-05-21 06:14] #252 closed

[2018-05-21 09:30] Kmohamed commented on #244
I wanna inform you that I am still on it and will keep you updated once I fix it.
Thanks @LFabien

[2018-05-23 01:39] nealyoung opened #253 "Visual bug during navigation controller transitions while using repro step tracking"
### Steps to Reproduce the Problem
1. Start Instabug in your app with an account using user steps tracking.
2. Create a navigation controller with a root view controller containing an input view.
3. While the keyboard is visible, push another view controller with an input view that becomes first responder on `viewDidLoad`.
4. Observe that the pushed view controller appears as a black view during t

[2018-05-23 01:42] Kmohamed commented on #253
@nealyoung Thanks a lot for your these clear steps I will check and get back to you very soon.

[2018-05-23 02:31] Kmohamed commented on #253
Thanks again for the detailed bug report
Here is a custom build with the fix and I will make sure to notify once we release the fix
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-blackscreen-navigation'

[2018-05-23 09:01] Kmohamed commented on #253
@nealyoung did you manage to check the custom build ?

[2018-05-23 12:55] lovluv opened #254 "###"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Type

[2018-05-23 12:56] lovluv commented on #254
How remove app token?

[2018-05-23 13:29] Kmohamed commented on #254
@lovluv could you provide more details ?

[2018-05-23 13:29] #254 closed

[2018-05-23 18:16] nealyoung commented on #253
@Kmohamed It looks like it's working, thanks for the quick response!

[2018-05-23 18:17] Kmohamed commented on #253
@nealyoung anytime and thanks for detailed bug report it makes my life easy 🙏

[2018-05-23 20:56] kastiglione commented on #249
@HeshamMegid I don't know if there are resources that talk about it. Here's an overview.

The two main kinds of binary files in scope:

1. Intermediate build files (object files, static libraries)
2. Product binaries (executables, dynamic frameworks, dynamic libraries)

Source files are compiled into intermediate build files, and those intermediates are in turn linked into binaries that can be loa

[2018-05-24 12:00] HeshamMegid commented on #249
@kastiglione thank you so much for taking the time to write this up! We'll give it a try as soon as we change our build scripts to produce a static framework.

[2018-05-26 18:09] txaiwieser opened #256 "Problem with tintColor and UIAppearance"
### Steps to Reproduce the Problem
Configure instabug:
        Instabug.setColorTheme(.light)
        Instabug.setPrimaryColor(.colorBlack)

Activate floating button
### Expected Behavior
Navigation tintColot being the same as set on the PrimaryColor

### Actual Behavior
![simulator_screen_shot_-_iphone_x_-_2018-05-26_at_15_04_04](https://user-images.githubusercontent.com/2997313/40579117-106342d0

[2018-05-26 19:50] Kmohamed commented on #256
Let me check it and get back to you

[2018-05-27 08:08] Kmohamed commented on #256
@txaiwieser are you setting a tint color for navigation bar using UIAppearance ?

[2018-05-27 17:04] txaiwieser commented on #256
@Kmohamed Yes, our app has global navigation bar tintColor set to white. But instabug shouldn't follow this, right?

You can do something like this to avoid using app appearance:
`UINavigationBar.appearance(whenContainedInInstancesOf: [InstabugViewController.self]).tintColor = nil`

[2018-05-27 17:05] Kmohamed commented on #256
Yes, you’re right we are working on a fix for this bug 🐛

[2018-05-28 02:35] GocePetrovski commented on #57
This issue is back in 7.13. We had to go back 7.12.7
The call to  `[Instabug setEnabledAttachmentTypes:IBGAttachmentTypeExtraScreenShot |  IBGAttachmentTypeGalleryImage | IBGAttachmentTypeScreenRecording];` is totally ignored and the Feedback starts with screenshot.

[2018-05-28 02:45] lovluv commented on #256
[https://mailguru.s3.amazonaws.com/images/spark/qr.v2/845098b9bd69458ab9234fb1467b3ce1.png]

Lydia Ugarte está de acuerdo.

Spark by Readdle<https://sparkmailapp.com/appstore>

[2018-05-28 08:04] yousefhamza commented on #256
Hi @txaiwieser,
I couldn't reproduce this with `UINavigationBar.appearance().tintColor = .white`, however I did reproduce it with `UIBarButtonItem.appearance().tintColor = .white`

Can you please verify that this is actually the issue your having not the `UINavigationBar`?

[2018-05-28 09:58] #253 closed

[2018-05-28 10:54] Korazy commented on #246
Hey @manderson420

Was the issue resolved for you?

[2018-05-28 12:15] yousefhamza commented on #256
Hi again,
I made this custom build for you to verify that it fixes your problem
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/nav_bar_appearance'`

[2018-05-28 13:04] txaiwieser commented on #256
It didn't work :(
Just debug further and the exactly line of UIAppearance that is causing the bug its this one:
`UIButton.appearance(whenContainedInInstancesOf: [UINavigationBar.self]).tintColor = .white`

[2018-05-29 08:10] yousefhamza commented on #256
Will check it again with your new input and get back to you.

[2018-05-29 12:58] yousefhamza commented on #256
I pushed a fix for you on the same branch, re-run pod install with the same pod to get it.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/nav_bar_appearance'`

[2018-05-30 00:05] txaiwieser commented on #256
Still having the same problem. It now starts the write color but it changes back.

https://www.dropbox.com/s/zua577d9qvy1tud/instabugbug.mov?dl=0

[2018-05-30 01:07] manderson420 commented on #246
@Korazy Sorry for the delayed response. We are bumping the version number and will be able to test and verify with you in the next few days.

[2018-05-30 01:55] psineur opened #257 "Framework size too big? 7.12.6"
### Steps to Reproduce the Problem
1. Edit podfile to add InstaBug
2. run pod install
3. clean build folder, archive
4. check appname.app bundle size increase (organizer->archives->ShowInFinder->Show Package Contents) = it's around 50MB

### Expected Behavior
App increase around 1MB, as stated in FAQ https://instabug.com/faq

### Actual Behavior
Almost 50MB in InstaBug & InstaBugCore frameworks
![

[2018-05-30 09:12] Kmohamed commented on #257
@psineur let me check it and get back to you

[2018-05-30 11:09] yousefhamza commented on #256
Please make sure that you have updated your pods, I have also uploaded a sample app for you (you will find it in the Sample directory) that has the code you provided so far and that it works too. let us know If there's appearance code that caused the issue so we can better help you.

https://www.dropbox.com/s/f8oze5znumck3ni/Sample.zip?dl=0

[2018-05-30 16:33] dafurman opened #258 "Console polluted with "Saved IBGLog IBGLog""
### Steps to Reproduce the Problem

In my app delegate startup:
[code]
Call

### Expected Behavior
I would expect Instabug.setIBGLogPrintsToConsole(false) to not show any indication of logging in the console.
Two logs are demonstrated:

✳️ NotificationCenterExtensions.swift:  postAndLog(name:object:): 13 - serverUserLocationUpdateDidSucceed (**This line is my own printed log using print()**)
✳️ Ma

[2018-05-30 16:50] Kmohamed commented on #258
Actually this not the functionality of printing instabug log to console
It’s verbose logging which it’s enable by default in debugging mode
You can disbale it by setSDKDebuglevel to none

[2018-05-30 16:59] dafurman commented on #258
Oh I see, upon rereading the documentation "used to debug the Instabug SDK itself", that seems clear now. Still, just to make sure, this won't affect that actual logging that's being done, just the debugging of IB logging itself, so I'll still be able to see logs for a user in production, even if setSDKDebugLevel is set to .none?

I had

set for production and

set for non production, but I can sa

[2018-05-30 17:08] #258 closed

[2018-05-31 16:42] manderson420 commented on #246
@Korazy @yousefhamza We updated to 7.12.7 (which I assume also contains the same bugfix) and are not experiencing the crash. However, 7.13.0 seems to crash again for us, but the stack trace looks different. For now we will ship with 7.12.7 and if we still experience the crash with 7.13.0 will file a separate bug report.

[2018-06-01 01:35] Kmohamed commented on #257
@psineur Sorry for being late I would like to correct something that this is not the framework size it's the fat binary size which contains all architecture slices.
But you can find Instabug download size and Install size using ItunesConnect
![screen shot 2018-06-01 at 3 02 53 am](https://user-images.githubusercontent.com/1115748/40816380-dff2f988-654c-11e8-904a-d00c991aeb78.png)

[2018-06-01 01:38] Kmohamed commented on #257
I just upload application with and without Instabug and here are the result
![screen shot 2018-06-01 at 3 36 21 am](https://user-images.githubusercontent.com/1115748/40816430-31a1c232-654d-11e8-8cc9-3f047e293fb4.png)
![screen shot 2018-06-01 at 3 36 26 am](https://user-images.githubusercontent.com/1115748/40816431-320567f6-654d-11e8-85a2-e73a58abd107.png)

[2018-06-01 01:38] Kmohamed commented on #257
average 4.5MB download size and 7.5MB Install size

[2018-06-01 01:39] #257 closed

[2018-06-02 10:48] jlichti commented on #57
Having the same issue as @GocePetrovski. Will revert back.

[2018-06-02 10:50] Kmohamed commented on #57
We will release fix very soon

[2018-06-04 12:36] Kmohamed commented on #256
@txaiwieser did you manage to check youssef sample app ?

[2018-06-04 17:26] Kmohamed commented on #244
Btw are you watching WWDC ? 😅

[2018-06-04 17:27] LFabien commented on #244
Haha yes I am :)

[2018-06-04 22:24] LFabien commented on #244
I have received a few more reports of users saying that our app crashes after ~20 seconds. Are you aware that this issue is still happening and is it going to be fixed in the next release?

FYI We're using`v7.13` and the users don't have this issue with a build without Instabug.

Suggestion: when releasing a new version, it would be great if you could add the closed Github issues in your release n

[2018-06-04 22:46] Kmohamed commented on #244
@LFabien I don’t understand you are you talking about the same stack trace in this issue or another crash ?
totally agree about issues number will do. 👍

[2018-06-04 22:57] LFabien commented on #244
@Kmohamed I'm not sure if it's related because I don't have any stack trace for this issue.
It seems to be similar to the crash with `InstabugDataModel.sqlite` which was supposed to be fixed. I can open a new issue if you want.

[2018-06-05 06:21] Kmohamed commented on #244
@LFabien Yes please and I will investigate again in this issue.

[2018-06-05 12:17] Kmohamed commented on #249
@keith I face some problems with cocoapods and static library I hope that you can help me to fix it
I wanna using development pods inside static library target but for some reason the static target can not find the development pods. I tried to remove `use_frameworks` but it did not work.
any suggestions ?

[2018-06-06 00:41] LFabien opened #259 "Crash after a few minutes"
### Description

A few users are complaining that the app is crashing after a few minutes. I can confirm that it is from Instabug because they don't have this issue when disabling the SDK.

It seems to be similar to the issue on `v7.12.5` with `InstabugDataModel.sqlite`  which was growing very quickly until taking all memory and crash the app. Unfortunately, I don't see any crash reports on Crashl

[2018-06-06 00:55] Kmohamed commented on #259
Actually I didn’t receive any similar issue but we add a lot of enhancements on coreData in the latest release
Could you give it a try ?

[2018-06-06 01:12] LFabien commented on #259
Sounds good. I'm planning to send a new update by the end of the week. I'll let you know if I receive more reports. Thanks.

[2018-06-06 17:59] kastiglione commented on #249
@Kmohamed heads up that Keith may not be able to reply until early next week.

[2018-06-06 20:36] Vadimkomis opened #260 "Beta Welcome Message appears even when disabled together with surveys"
### Steps to Reproduce the Problem
First launch app, when welcome message disabled

Instabug.setWelcomeMessageMode(IBGWelcomeMessageMode.disabled)
### Expected Behavior
Not to show welcome message and not not show surveys, unless they get triggered
### Actual Behavior
Welcome message appears, and right after that we see surveys, without triggering either of them.
![img_6114](https://user-images.gi

[2018-06-06 22:22] aarona-wm opened #261 "App Rejection - Private API Usage"
### Steps to Reproduce the Problem
Link via Carthage Instabug.framework v 7.12.5 and submit to AppStore/iTunes Connect. App rejected for private api use.

### Expected Behavior
App is not rejected.

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*
n/a

### SDK Version
7.12.5

### iOS Version
10/11

### Device Type
iOS

// Appstore Error
Non-public API usage:

[2018-06-07 08:35] alyakan commented on #260
I believe what you're trying to achieve is to disable the survey's welcome message, if so, then the API you want is `Instabug.setShouldShowSurveysWelcomeScreen(false)`. Let me know if that helps @Vadimkomis

[2018-06-07 08:49] yousefhamza commented on #260
Hi @Vadimkomis
The problem is you try are calling the API to disable welcome message **before** `Instabug.start(withToken: config.instabug_DEMO, invocationEvent: .shake)`

Any configuration to Instabug should be done after `Instabug.start(withToken:invocationEvent:)`

[2018-06-07 08:54] yousefhamza commented on #260
Also I want to point out that `Instabug.setWelcomeMessageMode(IBGWelcomeMessageMode.disabled)` isn't related to surveys.

To get your expected surveys behavior call `Instabug.setAutoShowingSurveysEnabled(false)`

[2018-06-07 12:45] Kmohamed commented on #261
@aarona-wm I think it's a bug from iTunesConnect `setLabelText:` and `showWithCompletionHandler:` is not a private API it's Instabug method.
Feel free to open it again if you face a similar issue.

[2018-06-07 12:45] #261 closed

[2018-06-07 12:45] Kmohamed commented on #259
@LFabien I will close it now and feel free to open it again if you face a similar problem.

[2018-06-07 12:45] #259 closed

[2018-06-07 12:46] Kmohamed commented on #249
@kastiglione Thanks

[2018-06-07 13:55] Vadimkomis commented on #260
@yousefhamza this solved our issue. Thanks!

[2018-06-07 13:55] #260 closed

[2018-06-09 14:30] keith commented on #249
@Kmohamed can you elaborate on the structure you're trying to make work?

[2018-06-09 14:37] Kmohamed commented on #249
@keith As you know we split Instabug into two frameworks (Instabug and InstabugCore)
so internally we have two projects (Instabug and InstabugCore). Instabug is using a lot of classes from InstabugCore so in order to build Instabug framework we add InstabugCore as development pod so Instabug can see InstabugCore classes. this works fine because Instabug target is dynamic framework and cocoapods ge

[2018-06-09 20:31] keith commented on #249
So you're vendoring InstabugCore as a development pod and as a precompiled static framework? Or you have a separate internal podspec with the sources?

[2018-06-09 20:53] Kmohamed commented on #249
Yes, We have a separate internal pod spec using sources

[2018-06-09 21:50] Kmohamed commented on #249
Thanks a lot 🙏 🙏🙏
I will check it and get back to you

[2018-06-10 14:02] Kmohamed commented on #244
@LFabien This crash is fixed in [7.14.3](https://github.com/Instabug/Instabug-iOS/releases/tag/7.14.3)
Thanks a lot 🙏🙏

[2018-06-10 14:02] #244 closed

[2018-06-10 14:18] Kmohamed commented on #256
@txaiwieser any updates regarding this issue ?

[2018-06-11 02:30] txaiwieser commented on #256
Sorry, we're at WWDC, so busy week. Going to take a look a soon as possible 👍

[2018-06-11 07:45] Kmohamed commented on #256
@txaiwieser  no problem, did you enjoy it ?

[2018-06-11 19:31] manderson420 commented on #246
We are still seeing the exact same crash in version 7.14.2. We are using Carthage. Anything we're missing here?

In our Cartfile: `binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Instabug.json" == 7.14.2
binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/InstabugCore.json" == 7.14.2`

Our setup code: `Instabug.start(withToken: self.apiKey, in

[2018-06-13 09:06] Kmohamed commented on #246
@manderson420 could you share with us the latest stack trace I would prefer a shareable link

[2018-06-14 11:27] michaeleustace opened #264 "Method has been deprecated but no actual replacement"
### Steps to Reproduce the Problem
When setting up Instabug, I had the following option set (in version 7.12.5):
`[Instabug setCommentFieldRequired:NO];`

Having updated to version 7.14.3 I now get a `'setCommentFieldRequired:' is deprecated: Use setEmailFieldRequired:forAction: instead` warning.

It seems that this deprecation warning is directing me to set the email field requirement (when I wan

[2018-06-14 11:37] alyakan commented on #264
@michaeleustace It appears that this is a mistake on our end, as you said, this method `setCommentFieldRequired` should not be deprecated. There will be a release with the fix very soon.

[2018-06-15 23:25] hjo opened #265 "Can't move cursor properly in problem description field"
### Steps to Reproduce the Problem
Open app
Report a problem
Enter an email
Enter a few words in the problem description field
Attempt to tap down in order to move cursor within the problem description field and the cursor sticks to the top left of the screen instead

### Expected Behavior
Moving the cursor works as expected in the email field but not in the problem description field. It should wo

[2018-06-16 04:44] gilroykilroy opened #266 "Deleting device logs hangs app"
### Steps to Reproduce the Problem

1) Use Xcode to view device logs
2) Select all logs and delete
3) Launch an app with Instabug
4) Put app in background
5) Bring it to foreground

### Expected Behavior

App should not hang

### Actual Behavior

App hangs

### SDK Version

7.14.4

### iOS Version

11.4

### Device Type

iPhone X

My guess is you are looking for a log file that doesn't exist and y

[2018-06-16 06:35] Kmohamed commented on #266
@gilroykilroy what do you mean by device logs ? do you mean Instabug log files ?

[2018-06-16 07:12] Kmohamed commented on #265
@hjo The bug is Fixed. are you interested in a custom build using cocoapods ?

[2018-06-16 08:40] Kmohamed commented on #264
@michaeleustace fixed in the latest release 7.14.4

[2018-06-16 08:40] #264 closed

[2018-06-16 18:13] gilroykilroy commented on #266
1) Plug your device into Xcode
2) Window -> Devices and Simulators
3) Select connected device on left
4) Tap the View Device Logs button (top section, middle button)
5) Tap on This Device at top of left pane
6) Tap on any log in the left pane
7) Select All (Cmd-A)
8) Delete

[2018-06-16 18:14] gilroykilroy commented on #266
It happens consistently on second launch.

[2018-06-16 18:20] Kmohamed commented on #266
@gilroykilroy I can not reproduce on my side but I think this custom build should fix this issue. could you give it a try ?
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/2108427/Instabug.zip)
[InstabugCore.zip](https://github.com/Instabug/Instabug-iOS/files/2108428/InstabugCore.zip)

[2018-06-16 18:28] Kmohamed commented on #266
🎊  🎉  🎉 will be release soon

[2018-06-16 20:09] txaiwieser commented on #256
@Kmohamed It was awesome! Had a really great time there!

I just did some some more testing with the latest build from your branch and it seems to be working fine!

Didn't experience any glitches on the nav bar tintColor

👍

[2018-06-16 20:09] #256 closed

[2018-06-16 20:11] Kmohamed commented on #256
Great 👍 i will update you once released

[2018-06-17 09:38] Kmohamed commented on #265
@hjo fix released in SDK version 7.15.4

[2018-06-17 09:38] #265 closed

[2018-06-17 09:38] Kmohamed commented on #266
@gilroykilroy fix released in SDK version 7.15.4

[2018-06-17 09:38] #266 closed

[2018-06-17 09:39] Kmohamed commented on #246
@manderson420 did you manage to check my latest comment ?

[2018-06-18 07:29] Kmohamed commented on #265
Anytime 💪💪

[2018-06-18 08:13] Kmohamed commented on #57
@GocePetrovski @jlichti this is issue is fixed please update to the latest.

[2018-06-20 23:21] bdolman opened #267 "substringWithRange warning printed in console when appending certain tags"
### Steps to Reproduce the Problem

1. Instabug.appendTags(["org:Hello-World"])

The problem seems to be when you have a tag that contains a colon ":" followed later by a dash "-". If you only have one of them it's not a problem and if their order is reversed it's also not a problem.

For example:

"org:HelloWorld" - No problem
"org-Hello:World" - No problem
"org-HelloWorld" - No problem
"org:Hell

[2018-06-21 12:13] Kmohamed commented on #267
@bdolman a very strange bug let me check it and get back to you.

[2018-06-21 21:51] Kmohamed commented on #267
@bdolman Yes I can confirm it's a bug and I will release it very soon.

[2018-06-24 14:30] Kmohamed commented on #267
@bdolman I am sorry for being late here is a custom build for the issue and we will release it very soon.

The root cause was we are doing some string manipulation before we use this tag.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-append-tags'`

[2018-06-26 01:11] manderson420 commented on #246
Hi @Kmohamed we haven't been able to reproduce the issue now so I'll close the issue. Next time we are release testing I will open a separate issue if we are able to get a helpful stack trace for you. Sorry for the inconvenience.

[2018-06-26 01:11] #246 closed

[2018-06-28 23:11] keith commented on #249
I noticed one thing that you'll likely have to handle before shipping static binaries, it looks like both Instabug and InstabugCore have these duplicate symbols:

[code]

I assume it will be easy enough for you to either make the static, or reference them from InstabugCore in Instabug, just FYI

[2018-06-29 20:28] Kmohamed commented on #249
Sure, will do.

[2018-06-29 22:03] keith commented on #249
Found another issue, it looks like some of the object files here were built with a minimum deployment target of 11.4, instead of something lower:

[code]

[2018-06-30 12:07] Kmohamed commented on #249
btw @keith you need to add `-ObjC` in Other linker flag and add `libz`

[2018-07-02 05:41] keith commented on #249
I think this is expected for static frameworks for those including manually. For those including with CocoaPods or something, they won't notice this.

Yep! No problem, we were already using those, it appears to work correctly now!

[2018-07-02 08:54] Kmohamed commented on #249
Great 🎉

[2018-07-03 18:36] keith commented on #249
Do you plan to make an official release with this soon?

[2018-07-03 18:37] Kmohamed commented on #249
Do you mean using cocoapods ?

[2018-07-03 18:39] keith commented on #249
Or just on your release page

[2018-07-03 18:41] Kmohamed commented on #249
Yeah sure,
We will provide a custom build from each release to you until we officially support static library.

[2018-07-03 18:43] keith commented on #249
We haven't integrated this yet (besides my testing) just because it'd be nice to do it through the official release channels

[2018-07-03 23:32] marcelofabri opened #268 "How to identify users on Instabug 8.0.x"
### Steps to Reproduce the Problem

- Update Instabug to 8.0.x
- Try to use `Instabug.setUserAttribute` and get a deprecation warning
- Look at the [migration guide](https://docs.instabug.com/v1.0/docs/ios-migration-guide) and don't find anything about user identification being deprecated
- Look at https://docs.instabug.com/v1.0/docs/ios-identify-user and see that `Instabug.setUserAttribute` is st

[2018-07-04 10:47] zierka commented on #268
I'm having this issue as well. Maybe they deprecated it by mistake.

A possible way of doing it is to set the `Instabug.willSendReportHandler` closure and configure the `IBGReport` instance that's going to be sent. The `IBGReport` has a `setUserAttribute(_ userAttribute: String, withKey: String)` method.

[2018-07-04 10:48] Kmohamed commented on #268
@marcelofabri @zierka Yes it is deprecated by mistake and we are working on a new release now.
We are so sorry for that.

[2018-07-04 10:55] zierka commented on #268
@Kmohamed alright, thanks for the fast turnaround!

[2018-07-05 17:52] marcelofabri commented on #268
@Kmohamed Thanks! 🎉

[2018-07-05 20:51] Kmohamed commented on #236
@yan-zaitsev any updates ?

[2018-07-08 08:31] Kmohamed commented on #236
I will close this issue due to lack of interactions.
@yan-zaitsev feel free to open it again anytime.

[2018-07-08 08:31] #236 closed

[2018-07-08 08:37] Kmohamed commented on #232
Hello @keith,
did you see any hidden symbols from Instabug in the latest versions ?

[2018-07-08 08:37] Kmohamed commented on #267
@bdolman Did the custom build fix the issue ?

[2018-07-08 23:55] keith commented on #232
Yep, still see it with 8.0.2. You can see this yourself with a few steps:

[code]

[2018-07-09 19:46] Kmohamed commented on #240
Hello @txaiwieser ,
I am sorry to tell you that we release a new version of SDK that contains only Instabug.framework
and removing InstabugCore.framework so please check the [docs](https://docs.instabug.com/docs/ios-integration#section-carthage).

[2018-07-09 22:14] txaiwieser commented on #240
Thanks for the warning! 👍
Will update asap! :)

[2018-07-09 22:28] gilroykilroy opened #270 "Carthage build not working"
With the latest 8.0.3 change the Carthage install is not matching the current framework (i.e. the Instabug.h file refers to InstabugCore which is now gone.)

Edit: Looks like the /Instabug.json file may not have gotten updated

[2018-07-09 23:03] chuganzy commented on #270
I also faced to this issue - they changed the JSON file location.
Also I noticed that they get rid of `InstabugCore`. Does it mean you combined them so we no longer need it?

[2018-07-10 03:43] Kmohamed commented on #270
@gilroykilroy @chuganzy Sorry for that updated now.

[2018-07-10 03:43] #270 closed

[2018-07-10 04:03] chuganzy commented on #270
@Kmohamed We no longer need `InstabugCore`, correct?

[2018-07-10 04:08] Kmohamed commented on #270
Exactly

[2018-07-10 07:22] chuganzy commented on #270
BTW, it would be pretty helpful if you could keep the backward compatibility AFAP.
Since https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/InstabugCore.json was removed, Carthage now fails to run `bootstrap` so I had to upgrade Instabug to the latest..

[2018-07-10 07:42] Kmohamed commented on #270
@chuganzy I am totally agree with you but If keep InstabugCore with Instabug it will make the project failed due to duplicate symbols. If you can help me to keep the backward compatibility I will be thankful

[2018-07-10 16:22] Kmohamed commented on #249
Next release will include static library on the Github releases.
 is it ok for you to be on Github releases ?

[2018-07-10 16:26] gilroykilroy opened #271 "Carthage broken again 8.0.4"
A shell task (/usr/bin/env unzip -uo -qq -d /var/folders/mt/5c87hjvx1db1xxlhtr0h1trh0000gn/T/carthage-archive.hzyGjX /Users/a/Library/Caches/org.carthage.CarthageKit/binaries/Instabug/8.0.4/Instabug.zip) failed with exit code 9:
[/Users/a/Library/Caches/org.carthage.CarthageKit/binaries/Instabug/8.0.4/Instabug.zip]
  End-of-central-directory signature not found.  Either this file is not
  a zipfil

[2018-07-10 16:28] keith commented on #249
Awesome! Sounds great!

--
Keith Smiley

[2018-07-10 16:34] Kmohamed commented on #271
@gilroykilroy I think you tried it in a middle of the release could you give it another try ?

[2018-07-10 16:37] gilroykilroy commented on #271
OK, I had to remove the /Users/a/Library/Caches/org.carthage.CarthageKit/binaries/Instabug* folder and it worked.

[2018-07-10 16:38] Kmohamed commented on #271
Great 👍

[2018-07-10 16:38] #271 closed

[2018-07-11 12:38] TewWe commented on #236
Hi Everyone, we have picked up the thread where @yan-zaitsev left off and added all the Hungarian texts to the zip file (we have used informal addressing, as it generally results in shorter texts, and may fit better to the target audience ):
[Localizable.zip](https://github.com/Instabug/Instabug-iOS/files/2184418/Localizable.zip)
@Kmohamed, could you please check if this fits you?

[2018-07-11 13:07] Kmohamed commented on #236
Thanks a lot @TewWe  I will check it and get back to you

[2018-07-11 13:11] yan-zaitsev commented on #236
I am sorry, our translations were lost in our company translating processes :(

[2018-07-11 13:18] Kmohamed commented on #236
@yan-zaitsev no worries 👍

[2018-07-12 11:55] RiverbayChris opened #272 "Console network spam"
### Steps to Reproduce the Problem
Run app with Instabug on hardware (I'm testing on iPod Touch).

### Expected Behavior
No spam

### Actual Behavior
I get "Could not successfully update network info during initialization" spammed to the Xcode console

### SDK Version
8.0.4

### iOS Version
11.4

### Device Type
iPod Touch (latest gen)

[2018-07-12 12:06] Kmohamed commented on #272
@RiverbayChris so If you remove Instabug the console log disappear ?

[2018-07-12 13:05] Kmohamed commented on #272
this was because a different reason because we were trying to fetch connection type of a simulator and it's fixed let me check it

[2018-07-12 13:54] Kmohamed commented on #272
I just tried it and did not print anything in the console could you send me your Instabug code (The APIs that you use)?

[2018-07-12 18:47] manderson420 commented on #240
So just to confirm, if we were previously targeting 7.14.2 for example, we are forced to update to 8.x and remove binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/InstabugCore.json" == 7.14.2
?

[2018-07-12 18:51] Kmohamed commented on #240
Yes you need to remove "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/InstabugCore.json" from the cartfile if you upgrade to 8.0.3 or higher.

[2018-07-12 18:56] manderson420 commented on #240
I was trying to avoid updating just yet to 8.x. Currently I get the error described by @txaiwieser when trying to rebuild the Carthage dependencies while still targeting the 7.14.2 release. So it looks like I am forced to do the update.

[2018-07-12 19:00] Kmohamed commented on #240
Could you try remove binaries folder ?
Like this one
https://github.com/Instabug/Instabug-iOS/issues/271

[2018-07-13 09:29] scalbatty opened #273 "NetworkLogger.enabled fires an Unrecognized Selector crash"
### Steps to Reproduce the Problem

Call `NetworkLogger.enabled = false` in swift code

### Expected Behavior

Network logging is disabled

### Actual Behavior

Application crashes with error:
[code]

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

3.0.4, integrated through Carthage

### iOS Version

10.3.3 & 12.0 (16A5318d)

### Device Type

iPhone 6 plus & i

[2018-07-13 09:31] scalbatty opened #274 "Unrecognized Selector crash after report"
### Steps to Reproduce the Problem

Send a crash report

### Expected Behavior

Crash report is sent

### Actual Behavior

Application crashes with log:

[code]

### SDK Version

3.0.4 integrated through Carthage

### iOS Version

10.3.3 & 12.0 (16A5318d)

### Device Type

iPhone 6 plus & iPhone X

[2018-07-13 09:37] Kmohamed commented on #273
I just tried `NetworkLogger.enabled = false` and it works fine are you sure you are on 8.0.4 ?

[2018-07-13 09:37] Kmohamed commented on #274
how do you send crash report ?

[2018-07-13 09:42] scalbatty commented on #273
OK sorry for the report, I've found the issue and the fix.

We had updated to 8.0.4 from a 7.x version integration and we were still linking `InstabugCore` into the app. Removing it from the app frameworks fixes this issue and #274  as well.

Thank you.

[2018-07-13 09:42] #273 closed

[2018-07-13 09:42] #274 closed

[2018-07-13 09:43] Kmohamed commented on #273
No worries If you face anything in migration form 7.x to 8.x do not hesitate to ping me

[2018-07-13 15:35] RiverbayChris commented on #272
I have only a single line of Instabug code in my AppDelegate didFinishLaunching method:

Instabug.start(withToken: "xxx", invocationEvents: .shake)

[2018-07-13 15:52] RiverbayChris commented on #272
For what it's worth, this message does not occur when I run in simulator.

[2018-07-13 20:32] Kmohamed commented on #270
If you are using old versions it will work fine
But if you upgrade and download InstabugCore with the new framework it will cause a lot of crashes so the best solution is to break the build to prevent any crashes

[2018-07-13 20:33] joelkraut commented on #270
It actually doesn't work fine even using an old version, because the JSON resource listed in my Cartfile is no longer there. This is a problem with keeping that specification in the same repo as your code, I suppose--you can't move it.

[2018-07-13 20:33] Kmohamed commented on #270
If you can suggest a solution it will be great

[2018-07-13 20:35] joelkraut commented on #270
Restore this file: https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/InstabugCore/InstabugCore.json. That's all that's needed.

[2018-07-13 20:36] Kmohamed commented on #270
Do you think this will cause a problem for people using sdk versions above 8.x ?

[2018-07-13 20:39] joelkraut commented on #270
If they're successfully building today with a higher version, then they're not linking against InstabugCore anymore, or else their Carthage installs would be failing like mine. So I think it would be ok. But of course the best thing to do would be to test it!

[2018-07-14 07:43] Kmohamed commented on #272
I will try to reproduce it and get back to you.

[2018-07-14 07:44] Kmohamed commented on #270
I did not understand you could you elaborate more please 🙏

[2018-07-15 08:58] Kmohamed commented on #272
@RiverbayChris are you using Facebook SDK is so could you try to remove it from appDelegate ?

[2018-07-16 01:40] Kmohamed commented on #272
@RiverbayChris could you give this custom build a try it should fix it.
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'simcard-check'

[2018-07-16 12:01] RiverbayChris commented on #272
I’m using Carthage, but can’t get that “simcard-check' branch to build.

*** Checking out Instabug-iOS at "77601df541308b7cf55f739580861a79d6087b88"
*** xcodebuild output can be found in /var/folders/sg/y_rv5vz17pz652mx032cs0k40000gn/T/carthage-xcodebuild.hEdo3Z.log
*** Skipped building Instabug-iOS due to the error:
Dependency "Instabug-iOS" has no shared framework schemes

[2018-07-16 12:18] Kmohamed commented on #272
@RiverbayChris could you try to install it manual ?

[2018-07-16 15:30] joelkraut commented on #270
The missing InstabugCore.json file is only a problem if the Cartfile includes InstabugCore, and the Xcode project links against InstabugCore. You said [here](https://github.com/Instabug/Instabug-iOS/issues/270#issuecomment-404945790) that including InstabugCore on new versions will cause build failures. Therefore anyone who is using a new SDK version is either seeing issues already, or is not link

[2018-07-17 11:19] Kmohamed commented on #270
@joelkraut could you check these crashes https://github.com/Instabug/Instabug-iOS/issues/274 , https://github.com/Instabug/Instabug-iOS/issues/273
If these crashes does not happened local someone will release with it.

[2018-07-17 11:21] Kmohamed commented on #270
Also this change will not happened again so If you migrate to use SDK 8.x it will not be broken again
also if you have any problems with migration I can help you also we have link to assist devs in [migration](https://docs.instabug.com/docs/ios-migration-guide)

[2018-07-17 13:20] joelkraut commented on #270
I don't know what you're asking me to do. But I think I've given you everything you need; at this point you'll have to take on the QA effort yourself. If you're comfortable with having released a breaking change unnecessarily, so be it.

[2018-07-19 09:06] Kmohamed commented on #249
Hello @keith
I wanna ask you a question. I don't know if it possible or not but I wanna link static library to a specific target using [XcodeProj](https://github.com/CocoaPods/Xcodeproj)
I manage to link dynamic framework only :(

[2018-07-19 09:44] clementprem opened #276 "Binary for 8.0.5 not found [Carthage]"
### Steps to Reproduce the Problem
Run carthage

### Expected Behavior
The binary should be downloaded

### Actual Behavior
[code]

It seems the zip file does not exist here [https://github.com/Instabug/Instabug-iOS/releases/download/8.0.5/Instabug.zip](https://github.com/Instabug/Instabug-iOS/releases/download/8.0.5/Instabug.zip)

### SDK Version
8.0.5

[2018-07-19 09:55] yousefhamza commented on #276
We experienced a hiccup with our release process, it's being fixed now, will be available any minute now and will notify then 👍

[2018-07-19 10:05] Kmohamed commented on #249
I succeed to make it thanks 🙏

[2018-07-19 10:12] yousefhamza commented on #276
Fixed, please try again now.

[2018-07-19 13:14] clementprem commented on #276
Works now 👍

[2018-07-19 13:14] #276 closed

[2018-07-23 12:32] ramiimagdi commented on #272
@RiverbayChris
Were you able to manually install it? We'll be looking forward to hearing back from you.

[2018-07-26 19:17] ramiimagdi commented on #272
@RiverbayChris Allow me to close this ticket here, and please feel free to get back to us if you have any questions at all. Have a great day.

[2018-07-26 19:17] #272 closed

[2018-07-28 16:02] cvinson830 commented on #140
Still seeing this happening on v8.5.62.0
"PrepareDB Exception: SQLite3 Error 11: database disk image is malformed [File Size: 16384]."

Stack trace:
[code]
stack dump:
[code]

[2018-07-28 16:05] Kmohamed commented on #140
I can’t see Instabug in stacktrace
Could share with me a complete stacktrace?

[2018-07-30 14:50] keith commented on #249
Thanks!

--
Keith Smiley

[2018-07-30 17:33] keith commented on #249
FYI, probably not an issue, but it looks like this object file:

[code]

[2018-07-30 17:34] keith commented on #249
There are also some other files with no symbols:

[code]

[2018-07-30 17:39] Kmohamed commented on #249
Actually `UINavigationItem+Subtitle` is duplicate inside the target we will fix it
But `NSData+Additions` is already added could you double check that you already add `-ObjC` to Other linker ?

[2018-07-30 17:55] Kmohamed commented on #249
Is this a build time error ?

[2018-07-30 17:57] keith commented on #249
This isn't an error, I just noticed this in the binary right after download, not related to our project

[2018-07-30 18:02] Kmohamed commented on #249
Does all Instabug categories have symbols expecpt these files ?

[2018-07-30 18:06] keith commented on #249
Looks like there are quite a few others that don't as well. You can see this with `nm -arch arm64 InstabugStatic.framework/InstabugStatic` maybe all these files have compiler conditionals that result in no symbols for this architecture or public builds?

[2018-07-30 18:08] Kmohamed commented on #249
Thanks a lot i will check it and get back to you

[2018-07-31 15:43] Kmohamed commented on #249
![screen shot 2018-07-31 at 5 40 21 pm](https://user-images.githubusercontent.com/1115748/43470501-033dac1e-94e9-11e8-88bc-5aba8625fbaf.png)
@keith is this what you mean by there is no symbol ? `_OBJC_CLASS_$_NSJSONSerialization`

[2018-07-31 16:48] keith commented on #249
Ah sorry, I was filtering symbols such that undefined and local symbols were hidden. False alarm!

[2018-07-31 16:51] Kmohamed commented on #249
No worries 😉

[2018-08-01 22:32] keith opened #277 "Deprecated APIs warning"
### Steps to Reproduce the Problem

Call `+[Instabug startWithToken:invocationEvent:]`

### Expected Behavior

No logs

### Actual Behavior

[code]

### Instabug integration code

[code]

### SDK Version

8.0.6

### iOS Version

11.4.1

### Device Type

Simulator

### Other

It looks like calling the deprecated version (`invocationEvent` without the `s`) causes this log, and the new implementation

[2018-08-01 22:42] Kmohamed commented on #277
Hello @keith
Actually we rewrote all Instabug apis so if you call any deprecated api it will print the same message so could you double check all deprecated apis not just startWithToken

[2018-08-01 22:45] keith commented on #277
Shouldn't this only print this message if there we are actually using APIs that are deprecated?

Alternatively I think this can be removed all together since you also truly marked them as deprecated so they already have warnings with this URL 😄

[2018-08-01 22:49] Kmohamed commented on #277
I am totally agree with you but whenever we want to remove an api we check the analytics about the usage of this api we found that people still you this api however it’s deprecated. So we need to push developers to use the new api in order to remove it. And Unfortunately not all people turns warning into error 😞

[2018-08-01 22:50] keith commented on #277
I think if people are ignoring warnings added by your SDK, and then you drop the APIs that you were warning about, it's on them 😄

[2018-08-01 22:50] keith commented on #277
If this isn't going to be fixed can you please add some configuration to never log to the console?

[2018-08-01 22:51] Kmohamed commented on #277
This means you are gone use deprecated apis 😅😅

[2018-08-01 22:53] keith commented on #277
We have warnings as errors ¯\\_(ツ)_/¯

[2018-08-01 22:56] Kmohamed commented on #277
One more thing if you’re using un deprecated apis you should not see this message if you see it so it’s a bug

[2018-08-01 22:58] keith commented on #277
We aren't using deprecated APIs, but you're calling the deprecated version of `start` from the new one 😄

[2018-08-01 22:59] Kmohamed commented on #277
You need to use statWithToken:invocationEvents (without s)

[2018-08-01 23:02] keith commented on #277
We are calling the version with the `s`. According to hopper, the implementation of that method calls the deprecated one, which ends up printing this log:

[code]

[2018-08-02 01:35] Kmohamed commented on #277
@keith Since you are only using the static version of Instabug I update the latest release with the fix and will be included in the next release. sorry for misunderstanding

[2018-08-02 01:37] keith commented on #277
You changed the binary that's being hosted on that release?

[2018-08-02 01:37] Kmohamed commented on #277
Yes

[2018-08-02 01:41] keith commented on #277
For future reference I wouldn't do that if I were you. Most good dependency management systems verify that the binary being download is the same sha as it was last time, to combat this exact problem of the binary changing out from under you. Ours does this as well, but luckily we re-host this binary internally. We'll wait for the next release for the fix.

[2018-08-02 01:48] Kmohamed commented on #277
make sense

[2018-08-02 01:49] keith commented on #277
Thanks for fixing though!

[2018-08-02 01:49] #277 closed

[2018-08-02 02:31] keith opened #278 "Warning when linking static version"
### Steps to Reproduce the Problem

Archive an app that links the static instabug version and generates dsyms

### Expected Behavior

No warnings

### Actual Behavior

You get this warning:

[code]

### SDK Version

8.0.6 static (before replacement)

### iOS Version

iOS 10 deployment target

[2018-08-02 10:49] ankushgupta1393 commented on #147
@msoliman Hi, I'm also getting the same error for my app what @keith has reported in his comment on Apr 19 2017. Can you please share how can I fix it?

[2018-08-02 11:09] HeshamMegid commented on #147
@ankushgupta1393 which version of the SDK are you getting this crash on?

[2018-08-02 11:11] Kmohamed commented on #277
@keith we released a hot fix for this bug https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.7
feel free to reopen it again if you face it.

[2018-08-02 11:12] Kmohamed commented on #278
We fix it in the latest release could you [check](https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.7) it

[2018-08-02 11:25] ankushgupta1393 commented on #147
Just wanted to let you know that I'm getting the same error for another app I'm working on, not Instabug-iOS

[2018-08-02 12:08] HeshamMegid commented on #147
That was more than a year ago, so we don't remember what the issue or the fix was 😅

[2018-08-02 16:37] keith commented on #277
This is fixed thanks!

[2018-08-02 16:37] keith commented on #278
This is fixed thanks!

[2018-08-02 16:37] #278 closed

[2018-08-02 16:38] Kmohamed commented on #278
Thanks a lot keith for your support 🙏🙏🙏

[2018-08-02 16:39] keith opened #279 "Calling +[UIImage imageNamed:] with nil name"
### Steps to Reproduce the Problem

Trigger showing Instabug

### Expected Behavior

No logs

### Actual Behavior

You see these logs in the console:

[code]

This appears to be caused by calling `+[UIImage imageNamed:]` with a nil string. You can catch Instabug doing this by setting the breakpoint outlined here: https://stackoverflow.com/a/30071894/902968

Here's the stacktrace causing this:

![i

[2018-08-02 16:41] Kmohamed commented on #279
Are you adding Instabug bundle to the project directory ?

[2018-08-02 16:43] keith commented on #279
Yep, the bundle is in `Foo.app/InstabugResources.bundle`. Also Instabug shows many images in the UI:

![image](https://user-images.githubusercontent.com/283886/43597973-7482ca08-9638-11e8-9bac-53be8ba60f9e.png)

Note: this is a nil *image name* not a nil image. So I think this is before the bundle loading part.

[2018-08-02 16:44] Kmohamed commented on #279
Ahhh let me check it

[2018-08-02 17:30] Kmohamed commented on #279
I am kidding 😅 but your support for Instabug is amazing Thanks a lot @keith  🙏

[2018-08-02 17:31] keith commented on #279
Happy to help!

[2018-08-02 19:02] Reflejo commented on #279
@Kmohamed You can send him a bunch of pies to Lyft's HQ as a thank you gift anytime. Thought you should know 😉.

[2018-08-02 19:04] Kmohamed commented on #279
Sure I will 😂😂

[2018-08-02 20:26] keith commented on #279
hahaha

[2018-08-02 20:45] keith commented on #279
![2018-08-02 13 39 04](https://user-images.githubusercontent.com/283886/43610109-41515c40-965a-11e8-836b-9cbd598e0ddb.jpg)

Great success! Thanks @Kmohamed! Will submit issues for donuts

[2018-08-02 20:47] rebello95 commented on #279
Can confirm, donuts were delicious 💯 🍩

[2018-08-02 20:54] Kmohamed commented on #279
Glad that you guys like it 😄 Thanks again :🙏

[2018-08-03 18:58] keith commented on #249
@Kmohamed looks like https://github.com/Instabug/Instabug-iOS/issues/249#issuecomment-408948314 isn't fixed in the new release

[2018-08-03 19:14] Kmohamed commented on #249
Yes it’s PR didn’t merge yet. I will make sure to release it soon

[2018-08-04 23:48] keith opened #280 "Build error with Xcode 10 beta 5"
### Steps to Reproduce the Problem

Build an app with InstabugStatic.framework for multiple architectures in Xcode 10 beta 5 (there are some other conditions to this that I haven't been able to figure out yet).

[code]

Related issue with crashlytics https://stackoverflow.com/questions/51602785/xcode-10b5-duplicate-symbol-linker-error-cant-compile-with-crashlytics https://openradar.appspot.com/427

[2018-08-05 07:45] Kmohamed commented on #280
I think you are right PLCrashReporter build with old version of Xcode let me try it

[2018-08-07 01:36] Kmohamed commented on #280
@keith I already build PLCrashReporter with a new version of Xcode and works fine on Xcode 10 beta 5
but I checked Instabug version 8.0.7 and also works fine on Xcode 10 beta 5. do you make any custom configuration ? I wanna reproduce it in order to be sure that I fix the issue.

[2018-08-07 01:36] keith commented on #280
I couldn't reproduce with a bit of work in a sample project, if you want to upload a binary that should be fixed here I can test it

[2018-08-07 11:45] Kmohamed commented on #280
Sure here is the [binary](https://www.dropbox.com/s/b0qrddt29mwgmvg/InstabugStatic.framework.zip?dl=0)

[2018-08-07 12:52] nab0y4enko opened #281 "[IBGDeviceStateLogger getWifiSSID] crashed app"
### Steps to Reproduce the Problem
1) Open the app
2) Working with the app

### Expected Behavior
The application does not crashes

### Actual Behavior
Crash detected

### Instabug integration code
?

### SDK Version
8.0.4

### iOS Version
11.4.1 (15G77)

### Device Type
iPhone X

[com.dartfleet.mobile_issue_53_crash_42d9fe4de7534833b40f91d28170b00c_DNE_0_v2.txt](https://github.com/Instabug/Instab

[2018-08-07 12:54] Kmohamed commented on #281
Is this occurs consistent?

[2018-08-07 16:14] keith commented on #280
Confirmed that it is fixed with this binary

[2018-08-07 21:01] brianbrantner opened #282 "Still get "Could not successfully update network info during initialization." spam in SDK 8.0.7"
### Steps to Reproduce the Problem
Integrate Instabug framework 8.0.7 into project.
Run on device (iPadPro 9.7)
Start Instabug with:
[Instabug startWithToken:@"mytoken" invocationEvents:IBGInvocationEventNone];

### Expected Behavior
No "Could not successfully update network info during initialization." spam in console

### Actual Behavior
Continuous ""Could not successfully update network info du

[2018-08-07 21:25] brianbrantner commented on #282
When I comment out:
//[Instabug startWithToken:@"myToken" invocationEvents:IBGInvocationEventNone];

the "Could not successfully update network info during initialization." spamming stops, so I don't think it is the Facebook SDK

[2018-08-07 21:31] Kmohamed commented on #282
We are very sorry for facing this issue again I will check it and get back to you again.

[2018-08-08 11:15] Kmohamed commented on #282
@brianbrantner we just released a hot fix for this issue could you check it please.

[2018-08-08 11:15] Kmohamed commented on #280
Fix released in SDK version 8.0.8

[2018-08-08 11:17] Kmohamed commented on #279
@keith we just release a fix for this issue in SDK version 8.0.8

[2018-08-08 12:49] rdiaa commented on #282
@brianbrantner

The problem is fixed in V. 8.0.8, can you please update it the SDK and tell me if you are still facing the same problem.

[2018-08-08 15:09] keith commented on #279
Thanks!

[2018-08-08 15:09] #279 closed

[2018-08-08 15:09] keith commented on #280
Thanks!

[2018-08-08 15:09] #280 closed

[2018-08-09 22:03] rdiaa commented on #282
@brianbrantner,

glad to hear that, we are always available if you need anything

[2018-08-09 22:03] #282 closed

[2018-08-14 17:01] croesus opened #283 "Crash in [IBGUserStepsLogger purgeUserSteps]"
We've had a handful of crashes (low % of sessions) recently with Instabug 7.14.2 These happen even though we have `setUserStepsEnabled=NO` (this as a result of `IBGMethodSwizzler` crashes similar to #21 )

We've just upgraded to 8.0.8 but don't have a build in the wild for it, so not sure whether it fixes the problem.

### Steps to Reproduce the Problem
Unclear - the crashes happen at various poin

[2018-08-15 08:27] Korazy commented on #283
Hey @croesus

Thanks for reaching out. This is fixed as of version 8.0.0 so you shouldn't encounter it on 8.0.8 :)

[2018-08-16 13:02] nab0y4enko commented on #281
Hello @Kmohamed! Yes, today reports on crashes were sent again.

[2018-08-16 15:57] Kmohamed commented on #281
let me check it and get back to you.

[2018-08-18 11:03] amitkumar3968 opened #284 "error while archiving the project"
I am not able to archive using latest binary.
after adding new libararies, project is running fine on device,
but when i go to archive , it shows linker warnings and error in run script phase.

[2018-08-18 11:13] Kmohamed commented on #284
Could you share with me the script in build phase ?

[2018-08-22 18:25] kennygoff opened #313 "Poor UI performance during screen recording"
UI thread performance drops significantly in screen record mode. Starting screen recording in an app makes the UI framerate drop from 60fps to ~30fps immediately, and down to below 10fps if you start scrolling or interacting with the app, even in sections that aren't doing any data loading or heavy calculations, as the JS thread stays performant. It's certainly usable, just not smooth.

Based on [

[2018-08-30 11:32] nab0y4enko commented on #281
Hello @Kmohamed! Any updates?

[2018-08-30 16:14] nizarjak opened #285 "Crash after setting IBGLog.printsToConsole to false"
### Steps to Reproduce the Problem

`IBGLog.printsToConsole = false`

### Expected Behavior

App should run without problem and not crash at start.

### Actual Behavior

App crashes at start because of:

[code]

I'm not using objective c, just Swift 4.

### Instabug integration code

[code]

### SDK Version

8.0.9

### iOS Version

Device version: 11.4.1
Base SDK: iOS SDK 11.4

### Device Model

i

[2018-08-30 17:00] nizarjak commented on #285
Its not crashing now, thank you so much 👏 .
I would specify that step in migrating docs to ensure me being the last one asked.

Have a nice day

[2018-08-30 17:00] #285 closed

[2018-08-30 17:17] Kmohamed commented on #285
Sure I will

[2018-09-01 11:23] 0xacdc opened #286 "Present Conversation Controller"
I'm trying to present separately conversation, Send an improvement and bug report controllers:

[code]

 .feedback and .bug option works perfectly, but the .chat option is presenting bug reporting controller

[2018-09-01 11:38] Kmohamed commented on #286
@0xacdc I just tried it and it works fine are you sure that you did not override it in any other place ?

[2018-09-01 11:43] 0xacdc commented on #286
Here is is my code, it's pretty simple:
[code]
[code]
what could be wrong?
Thanks

[2018-09-01 11:49] Kmohamed commented on #286
@0xacdc I tried your code and it also works fine.
possibilities that this may not work fine
1- chat button are connected to two methods for example are connected to `bug` and `chat`
2- your are not on plan that contains in-App messaging (but I doubt)

could you check the first one ?

[2018-09-01 12:01] 0xacdc commented on #286
My Bad! You're absolutely right ! Thanks

[2018-09-01 12:01] #286 closed

[2018-09-01 12:03] Kmohamed commented on #286
Anytime 😊

[2018-09-04 11:58] 0xacdc opened #287 "Can I use BugReporting as regular UIViewController to push it using a UINavigtionController"
It would be great if there is a way to present BugReporting as a usual ViewController without creating it's own window calling BugReporting.invoke()

is it possible ?
Thanks

[2018-09-04 12:01] Kmohamed commented on #287
@0xacdc for now it's not possible but can you provide us with more details about your use-case why you want it as a `viewController`?

[2018-09-04 12:09] 0xacdc commented on #287
I want to allow user to "send a suggestion" and "report a bug" from a settings TableViewController  from where the BugReporting will be pushed like all others cells

[2018-09-06 09:59] 0xacdc opened #288 "ChatList hide new chat button"
Is it possible to restrict users to not create new chat from ChatListVC? hide the button or something like this ?

I'd like to allow users to ask their questions trough sending bugs or suggestions, and use ChatListVC just to monitor all conversations

Thanks

[2018-09-06 10:08] Korazy commented on #284
@amitkumar3968 would you be able to share with us the script in the build phase?

[2018-09-06 10:12] 0xacdc commented on #287
One more thing, in App extensions creation of Windows is impossible, so I can't use your SDK in iOS12 password extension.

Can you make public access to View-controllers directly ? or provide me other solution
Thanks

[2018-09-06 11:57] amitkumar3968 commented on #284
ya sure, give me sometime, currently busy on other project.
if you want , can close the issue .

[2018-09-06 11:58] #284 closed

[2018-09-07 12:19] Csejky commented on #236
Hi, @Kmohamed
progress has been made on the matter? Hungarian localizable.zip

[2018-09-10 09:58] Korazy commented on #288
Hi @0xacdc

Thanks for reaching out with this. That's not possible at the moment but i'll make sure to discuss with the team internally and update you if it is released :)

[2018-09-10 09:58] #288 closed

[2018-09-10 10:00] Korazy commented on #287
@0xacdc at the moment, Instabug isnt designed to work in app extensions. Allowing public access or any similar solution at the moment is also quite difficult at the moment.

[2018-09-10 10:02] Korazy commented on #236
Hey @Csejky

There is currently some missing translations excluding the ones sent above. Would you be able to translate those?
[Archive.zip](https://github.com/Instabug/Instabug-iOS/files/2366111/Archive.zip)

[2018-09-11 08:37] #287 closed

[2018-09-14 16:12] goa opened #289 "Cannot disable welcome message"
### Steps to Reproduce the Problem

### Expected Behavior

Welcome screen **should not appear**.

### Actual Behavior

Welcome screen **does appear** on first launch.

### Instabug integration code
[code]

### SDK Version
8.0.12

### iOS Version
12.0 and 11.3

### Device Model
iPhone 7, iPhone 5s

### [Optional] Project That Reproduces the Issue

[2018-09-15 08:45] Kmohamed commented on #289
@goa could you add it after `startWithToken:` ?

[2018-09-15 08:45] goa commented on #289
Tried it there as well, but the result was the same.

On Sat, Sep 15, 2018 at 11:45 AM khaled el morabea <notifications@github.com>
wrote:

[2018-09-15 09:00] Kmohamed commented on #289
I just tried it and it works fine. if you disable welcome message it will not be shown after 30 sec from the first launch of the app but if you call `showWelcomeMessageWithMode` it will works

[2018-09-17 10:18] Csejky commented on #236
Hey @Kmohamed
I've attached the extended version

[Localizable_hu.zip](https://github.com/Instabug/Instabug-iOS/files/2388146/Localizable_hu.zip)

[2018-09-17 10:59] goa commented on #289
I think I found out what was happening... not sure...

I had an asynchronous call to `Instabug.setUserAttribute` which took place before `Instabug.welcomeMessageMode = .disabled`.

Now that I've removed the `Instabug.setUserAttribute` call, the welcome screen does not appear anymore... not sure if that is expected behaviour.

[2018-09-26 12:37] steven851007 opened #290 "Network logging with AFImageDownloader doesn't work"
### Steps to Reproduce the Problem
1. Import AFNetworking
2. Download an image with the AFImageDownloader class like this:
[code]
3. Send Instabug feedback

### Expected Behavior

The image download request is visible in the network logs

### Actual Behavior

The image download request is missing from the network logs

### Instabug integration code
[code]
### SDK Version

AFNetworking (3.2.1)
Inst

[2018-09-26 13:01] Korazy commented on #290
Hey @steven851007

Thanks for reaching out! At the moment we don't support image download requests in the network logs we capture, but it's a good idea that I will make sure to share with the product team :)

[2018-09-28 12:35] seropusha commented on #238
same problem with `8.0.14`
![image](https://user-images.githubusercontent.com/11017806/46207729-09cc5500-c331-11e8-8b6e-e430093b839a.png)

code called in `didFinishLaunchingWithOptions`
[code]

[2018-09-28 12:40] seropusha commented on #238
same problem with `8.0.14`
![screen shot 2018-09-28 at 15 38 24](https://user-images.githubusercontent.com/11017806/46208847-bb20ba00-c334-11e8-9c98-8de29e1fa7e9.png)

code called in `didFinishLaunchingWithOptions`
[code]

[2018-09-29 09:52] Korazy commented on #238
Hey @seropusha,

If this is on iOS 12, it’s a known bug that was fixed in 12.1. We’re also working on releasing a fix for it soon.

[2018-09-29 15:59] HeshamMegid commented on #238
@seropusha on a side note, all the Instabug method calls should happen after the `start(withToken:invocationEvents:)` call. Anything called before that will have no effect.

[2018-10-02 08:44] seropusha commented on #238
Thanks guys! Have tested on iOS 11 && 12 in Xcode 10. Works fine, sorry for worries.

[code]

[2018-10-03 13:43] steven851007 opened #291 "Instabug logging doesn't work for multipart/form-data image upload"
### Steps to Reproduce the Problem

1: Have `sessionConfiguration` set up the following way where Instabug enable logging is called for the configuration:
[code]

2: Use the session configuration to make a multi part image uploading request (we use AFNetworking):

[code]

### Expected Behavior
The upload is successful and the data is not compromised

Successful log of an upload request when `enabl

[2018-10-03 14:37] FadyDerias commented on #291
Hello @steven851007
Thanks for reaching out.

If you're executing your image upload requests via AFNetworking, can you please share with us a sample of the code you're using?

If relying on a dedicated `NSURLSessionTask` instance, can you share with us how do you execute the upload image request?  There are many ways to do that in this case. For instance, you might be using any of the `NSURLSessio

[2018-10-04 06:05] steven851007 commented on #291
Hello @FadyDerias,

Sure, we use `AFNetworking` and I've updated the ticket with the sample code. Let me know if you need anything else!

Thanks!

[2018-10-04 09:02] FadyDerias commented on #291
@steven851007 Thank you for the updates.

I did test uploading a `PNG` image via a multipart/form-data POST request and did enable Instabug network logging with an `NSURLSessionConfiguration ` instance equivalent to the one you're using and everything seemed to be operating quite well.

I used the following [StackOverflow thread](https://bit.ly/2P70lzj) to construct a multipart/form-data image pos

[2018-10-05 09:17] steven851007 commented on #291
Hi @FadyDerias,

It turned the problem was in our network logger class, that was somehow conflicting with Instabug's network logger (both reading the request's `HTTPBodyStream`). I managed to fix it on our side, thank you for the help!
Cheers 🍻

[2018-10-05 09:17] #291 closed

[2018-10-05 13:52] leximester opened #292 "Rare IBGNavigationController crash"
### Steps to Reproduce the Problem
I could not reproduce this crash. But I have some stacktrace.

 Cause: -[IBGNavigationController navigateToPurchaseScreen]: unrecognized selector sent to instance 0x16509400
 Reported at: 2018-10-03 13:18:26 UTC
Thread 0 [Crashed]:
0 CoreFoundation 0x1b267b3d __exceptionPreprocess + 129
1 libobjc.A.dylib 0x1a4ef067 objc_exception_throw + 39
2 CoreFoundation 0x1b2

[2018-10-06 09:52] Kmohamed commented on #292
@leximester Could you give me more context how do you present this `viewController` are you trying to get the `keyWindow` then `rootViewController` ?

[2018-10-06 10:29] Kmohamed commented on #292
@leximester I think for some reason instead of accessing you app `window` you access `Instabug` `window` and this what cause a crash ?

[2018-10-06 10:43] leximester commented on #292
I can't reproduce, so its rare, weird case. Do you have any idea how can it happen? Here are some more details.
This is full self.window logic :
`self.window = [UIApplication sharedApplication].keyWindow;
    if (!_window)
    {
        _window = [UIApplication sharedApplication].windows[0];
    }`

The crash only happens in two cases of navigation:

`- (void)navigateToPurchaseScreen
{
    Purchas

[2018-10-06 10:51] Kmohamed commented on #292
are you presenting `viewController` after a delay ?

[2018-10-06 10:55] leximester commented on #292
Some cases I presenting the PurchaseScreen in the Dashboard's viewDidAppear, but there is no delay in the code. But in the other case, the showAddMoreEffectScreen can be delayed because it navigates when a heavy task finishes.

[2018-10-06 10:59] Kmohamed commented on #292
@leximester Yes I think this is the case when showing a `viewController` is delayed and user show Instabug View then you get the wrong `NavigationViewController`.
I think it's more safe to get your `rootViewController` from `storyBoard` using identifier

[2018-10-06 11:07] leximester commented on #292
I'm not using storyboards, but this info is enough. I can solve this issue. Thank you for your help.

[2018-10-06 11:16] Kmohamed commented on #292
@leximester anytime :) and If you need more help I am here.

[2018-10-06 11:16] #292 closed

[2018-10-08 12:16] ramiimagdi commented on #289
Hey @goa,
My apologies for the late reply here. I'm glad that everything is working fine now at your end. Please don't hesitate to reach out to us again if you need help with anything at all.

[2018-10-08 12:16] #289 closed

[2018-10-09 07:58] Kmohamed commented on #236
@Csejky SDK `v8.0.15` supports Hungarian Thanks for your help 🙏.

[2018-10-09 14:20] vishalgspaceo opened #293 "InputAccessoryView Displays When We dismiss Instabug"
Steps
1. If you use input accessory view for any controller lets say A
2. Present another controller B on controller A
3. Shake device will open instabug dialogue
4. Dismiss instabug dialogue with click on anywhere in screen
5. It will display input accessory view on controller B.

### Steps to Reproduce the Problem
Step 1
![img_0364](https://user-images.githubusercontent.com/28976977/46675170-708

[2018-10-09 14:40] ramiimagdi commented on #293
Hey @vishalgspaceo, thank you do reaching out to us. We'll be investigating the case here and get back to you as fast as possible.

[2018-10-10 20:59] bennichols opened #294 "When using carthage, can't use debugger due to "error: Couldn't IRGen expression, no additional error""
### Steps to Reproduce the Problem

Use Instabug framework via Carthage
Add a breakpoint and stop execution of the app
Try to print out the value of a variable

### Expected Behavior

I'd see the value of the variable.

### Actual Behavior

I get the error "error: Couldn't IRGen expression, no additional error"

This looks like it may be an issue with using pre-compiled binaries. https://stackover

[2018-10-10 23:51] Kmohamed commented on #294
@bennichols I can not understand how `Carthage` will build a framework like `Instabug` since Instabug is not `open source` framework.

[2018-10-10 23:52] Kmohamed commented on #281
@nab0y4enko any updates ?

[2018-10-11 15:51] bennichols commented on #294
Ok, that's unfortunate. Is your build system up to date? Maybe a solution is to have the build system use the current version of Xcode.

[2018-10-11 18:03] Kmohamed commented on #294
I will send you a custom build and give it a try if it works fine.

[2018-10-12 20:27] romk1n opened #295 "warning from GitHub regarding storage file"
### Steps to Reproduce the Problem

update to latest instabug using cocoapods and submit to the GitHub repo.

### Expected Behavior

no warnings or issues

### Actual Behavior

GitHub gives a following warnings
`remote: warning: File Pods/Instabug/Instabug.framework/Instabug is 59.46 MB; this is larger than GitHub's recommended maximum file size of 50.00 MB`

### Instabug integration code
*Make su

[2018-10-14 18:09] yousefhamza commented on #293
Hi @vishalgspaceo , I need more info here to reproduce and fix your issue

* In your screenshots I see the same viewcontroller I assume A not B?
* Also which view is the the `firstResponser` in the controller? and which is the input accessory view?

[2018-10-16 09:14] ramiimagdi commented on #293
Hello again @vishalgspaceo,
Please check the custom build we attached its URL here: https://www.dropbox.com/s/d7julf9alpi1q1v/InstabugSample.zip?dl=0
And please, tell us what you do differently.

[2018-10-17 09:36] Kmohamed commented on #295
Hello @romk1n
I am sorry for that. Also we are working hard to decrease our framework size

[2018-10-18 06:05] Kmohamed commented on #294
@bennichols could you give this [version](https://www.dropbox.com/s/2t9mj6mga6j1518/Instabug-SDK.zip?dl=0) a try ?

[2018-10-19 17:16] ramiimagdi commented on #293
Hello again @vishalgspaceo, I was wondering if you had a chance to check the previous sample app I shared with you.

Please let me know if I can help you with anything at all :)

[2018-10-20 10:19] vishalgspaceo commented on #293
@ramiimagdi  sorry for late reply . I really appreciate quick reply from you guys .
I made changes in demo given by you and regenerate issue . you can refer attached video for same.

Updated Code - https://www.dropbox.com/s/2zkt8gvpdv1a3lz/InstabugSample_UpdateByVishal.zip?dl=0

[InstabugIssue.mov.zip](https://github.com/Instabug/Instabug-iOS/files/2498018/InstabugIssue.mov.zip)

Thank you guys fo

[2018-10-22 17:06] bennichols commented on #294
That worked, thanks!

[2018-10-23 09:21] vishalgspaceo commented on #293
Hello @ramiimagdi

Are you able to regenerate issue by the given sample app ?
Let me know if you need anything from my end .

[2018-10-23 16:36] ramiimagdi commented on #293
Hello again @vishalgspaceo, thank you so much for your kind words, we do really appreciate it!

The sample application you shared with us is really more than helpful. We're currently on investigating the case, and I'll make sure I get back to you as fast as possible 😊

[2018-10-24 22:46] Majed1224 opened #296 "."
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2018-10-24 22:47] Majed1224 commented on #296
.

[2018-10-24 23:28] ramiimagdi commented on #296
Hey @Majed1224, thank you for reaching out!
However, it seems here that the issue you have open is missing data, can you please fill these data so that we can investigate on our side?

[2018-10-25 05:54] vishalgspaceo commented on #293
Hi @ramiimagdi
This solution worked . Thank you so much for your kind support 👍

[2018-10-25 05:54] #293 closed

[2018-10-25 14:20] olejnjak commented on #294
@bennichols could I please ask what changed in the binary? I've got a similar problem on my libraries so it would be nice to be able to solve it. Thanks

[2018-10-25 16:58] ariofrio commented on #189
This seems to be a problem again. Instabug.framework/Instabug is over 50 MB, and if it is included in a Git repository, GitHub actually rejects the commit.

Is there a way to use Instabug without such a large file in version control that GitHub rejects it?

[2018-10-26 10:59] ramiimagdi commented on #296
Hello again @Majed1224,

I was wondering if you had a chance to catch my previous message, please feel free to reopen the issue again, as soon as you fill the missing data.

Thank you!

[2018-10-26 10:59] #296 closed

[2018-11-05 05:47] somparkash2835 opened #297 "Getting random crash in IBGCache.m file"
Fatal Exception: NSGenericException
*** Collection <__NSArrayM: 0x2803b4660> was mutated while being enumerated

CoreFoundation | __exceptionPreprocess
Foundation | +[NSKeyedArchiver archivedDataWithRootObject:]
InstabugCore | IBGCache.m line 181-[IBGCache writeModels:toPath:]
InstabugCore | IBGCache.m line 104__22-[IBGCache persistAll]_block_invoke_2
libdispatch.dylib | _dispatch_call_block_and_r

[2018-11-05 05:49] Kmohamed commented on #297
@somparkash2835 We are sorry for experience this crash But could you provide us with SDK version because we already fixed this crash from a while.

[2018-11-05 05:59] somparkash2835 commented on #297
@Kmohamed we are using "Bundle versions 7.6"

[2018-11-05 06:00] Kmohamed commented on #297
@somparkash2835 Could you please update to the latest version ?

[2018-11-05 06:01] somparkash2835 commented on #297
Sure. let me check with lates version :) @Kmohamed Thanks

[2018-11-05 06:06] Kmohamed commented on #297
@somparkash2835 Anytime :) I will close it and if you still experience this crash please feel free to open it again.

[2018-11-05 06:06] #297 closed

[2018-11-12 11:40] somparkash2835 commented on #59
Hey guys, can you please help me how to enable/disable instabug at runtime in iOS

[2018-11-12 12:15] somparkash2835 commented on #59
Thank you so much @Kmohamed

[2018-11-12 15:58] bill350 opened #298 "[CoreMotion] UI API called on a background thread"
### Steps to Reproduce the Problem

1- Configure the SDK
2- launch the app

### Expected Behavior

No error / warning on the Xcode console

### Actual Behavior

[code]

### Instabug integration code

[code]

### SDK Version

- `8.0.15`

### iOS Version

- iOS `12.1`

### Device Model

iPhone XS

### [Optional] Project That Reproduces the Issue

[2018-11-12 16:01] Kmohamed commented on #298
@bill350 this only occurs on iOS 12  but we are going to release a new version with a fix very soon.

[2018-11-12 17:32] bkovaly opened #299 "Fatal Exception: NSInvalidArgumentException-[IBGSurvey initWithDictionary:]:"
### Steps to Reproduce the Problem
Ever since updating our app to the latest 8.0.15 iOS SDK, we've started seeing crashes with a callstack that looks like this:

Fatal Exception: NSInvalidArgumentException-[IBGSurvey initWithDictionary:]: unrecognized selector sent to instance 0x28046a4c0 Raw Text
--
0 | CoreFoundation | __exceptionPreprocess
4 | CoreFoundation | _CF_forwarding_prep_0
5 | Instabug

[2018-11-12 18:58] yousefhamza commented on #299
Can you give us the last version you u were on?

[2018-11-12 20:53] bkovaly commented on #299
7.14.5

[2018-11-13 10:11] yousefhamza commented on #299
Hi @bkovaly

Upgrading to 8.0.15 and downgrading shouldn't cause any crash as we handle both with a migration, but migrations process can be broken If you are clearing the `NSUserDefaults`, Is this your case?

[2018-11-13 18:09] bkovaly commented on #299
Yeah, we're definitely clearing user defaults in some cases. Is everything instabug stores in a specific key? Perhaps we can exempt instabug stuff from getting cleared.

[2018-11-14 08:34] yousefhamza commented on #299
That's why, we will investigate how to improve this on our end.

Answering your questions, our keys are prefixed with `IBG`.

[2018-11-18 10:11] yousefhamza commented on #299
@bkovaly We will implement a fix for this that will prevent this from happening again soon, will notify you then.

[2018-11-18 10:11] #299 closed

[2018-11-30 10:33] dosaSpace opened #300 "Exception '-[NSNull length]: unrecognized selector sent to instance 0x1e6c059b0' was thrown..."
I get this error few seconds after the app is loaded (but not always sometimes after few minutes or few downloads). I need to solve this issue.
if more details are needed and/or editing - please tell me and I'll make them.

Exception '-[NSNull length]: unrecognized selector sent to instance 0x1e6c059b0' was thrown while invoking multiSet on target AsyncLocalStorage with params (
        (

[2018-11-30 11:04] vladasdrejeris opened #301 "File protection issue"
Hello,

We have encountered a problem with Instabug iOS SDK when using file protection type URLFileProtection.complete.

We are developing a fintech app and our security guys requested us to use URLFileProtection.complete file protection class for all app files, that includes Instabug sqlite database too. And now we are getting quite a lot of crashes from Instabug, because it is unable to access d

[2018-11-30 11:42] Kmohamed commented on #301
Yes, we are saving all Data in background tasks.

[2018-11-30 11:49] vladasdrejeris commented on #301
Do you have any ideas how we could fix this?

[2018-12-01 06:42] Kmohamed commented on #301
@vladasdrejeris could you give this [build](https://www.dropbox.com/s/nsdxaekx56xwwja/Instabug-SDK.zip?dl=0) a try ?

[2018-12-01 15:34] connorpower commented on #188
The issue does indeed seem to be caused by 32-bit symbols being included. We resolved this issue by forcing only 64-bit architectures in our `Podfile`:

[code]

`ARCHS_STANDARD_64_BIT` is a standard Xcode environment variable, so I assume this solution is somewhat future-proof.

[2018-12-02 08:02] HeshamMegid commented on #300
This error doesn't seem related to Instabug as I can't see Instabug anywhere in the stack trace.

Please feel free to reopen with more details if it is indeed caused by Instabug.

[2018-12-02 08:02] #300 closed

[2018-12-02 09:50] Kmohamed commented on #298
@Gazzini issue fixed on SDK version 8.0.17 Sorry for being later 😬.

[2018-12-02 09:50] #298 closed

[2018-12-02 09:50] Kmohamed commented on #294
@olejnjak issue fixed on SDK version `8.0.17`.

[2018-12-02 09:50] #294 closed

[2018-12-03 07:44] vladasdrejeris commented on #301
Hi,

It is very hard to reproduce this crash manually, therefore we decided to release a new app version with your modified SDK build and check if it solves the issue. I will let you know the results of our test later on.

[2018-12-03 07:59] Kmohamed commented on #301
@vladasdrejeris Thanks a lot 🙏

[2018-12-04 11:37] Kmohamed commented on #298
@martyhoogendam are you sure that you are on 8.0.17
It would be very helpful if you share with me stacktrace

[2018-12-04 12:30] Kmohamed commented on #298
Could you write bt all in lldb when the xcode found mainThread issue ?

[2018-12-04 13:05] martyhoogendam commented on #298
@Kmohamed here you go.
[code]

[2018-12-04 13:16] Kmohamed commented on #298
Thanks a lot @martyhoogendam I think it's bug in iOS 12.1 on iPhone XS only
try to disable Instabug and add this line anywhere
`CMMotionManager *manager = [[CMMotionManager alloc] init];`

[2018-12-04 13:19] Kmohamed commented on #298
Just confirm with me that scenario on your device and I will make a radar for it.

[2018-12-04 13:47] martyhoogendam commented on #298
Confirmed. Merely initializing a CMMotionManager in AppDelegate causes this crash.

[2018-12-04 14:02] Kmohamed commented on #298
@martyhoogendam Thanks a lot for your collaboration. I found this [radar](https://openradar.appspot.com/46210367) related to this issue.

[2018-12-04 16:50] pk123hk2003 opened #302 "Options alert not shown after invocation - 'clicking on floatingButton' or 'Shake'"
### Steps to Reproduce the Problem

Tap on Floating action button.

### Expected Behavior

Expect to see pop up options

### Actual Behavior

Floating action button disappear after click and no pop up was shown

### Instabug integration code

          if (self.isRunningLive()) {
            Instabug.start(withToken: "App-Token", invocationEvents: [.shake, .floatingButton])
          } else {

[2018-12-04 17:31] Kmohamed commented on #302
This usually happens if you Enter an invalide token. could you double check the token ?
If the token is correct could you contact the customer happiness in order to send the token.

[2018-12-04 17:48] pk123hk2003 commented on #302
Hi @Kmohamed Thanks for getting back to me. I can confirm the token was correct, I tested it further and I was able to get the pop up (if I am lucky) but most the time nothing happens after invocation.

[2018-12-04 17:54] Kmohamed commented on #302
Could you please contact customer happiness and I will flow up with you

[2018-12-05 17:02] Gazzini commented on #298
I appreciate you guys being diligent about this & filing a dupe radar. It's unfortunate that the thread-checker warning fires.

I'd _like_ to assume it's a false alarm & do something like this:

[code]

So that I can still have the main-thread checker for development, but leave the shake functionality enabled for prod.

In your best judgement, is this a false alarm @Kmohamed ?

[2018-12-06 14:13] Kmohamed commented on #302
@pk123hk2003 I think the issue is fixed now. so I will close it feel free to open it again anytime if you face it.

[2018-12-06 14:13] #302 closed

[2018-12-06 14:14] Kmohamed commented on #298
@Gazzini Good news. Btw it's fixed on iOS 12.1.1

[2018-12-10 07:41] khurram18 opened #303 "Microphone access permission every time app is run on simulator"
![screenshot 2018-12-10 at 12 35 00 pm](https://user-images.githubusercontent.com/7508106/49718071-d126f100-fc7a-11e8-9646-dc5d041ac9e4.png)
Whenever I run app on simulator it asks me for permission to access microphone even though I had granted it multiple times. See attached screenshot

### Expected Behavior
It should not ask me for microhpone access permission every time I run app in simulator