[2014-05-30 10:54] haemi opened #2 "Is it possible to send all the data without showing the feedback-form first?"
I'd like to collect user-data without showing a feedback-form or making a screenshot. Is this possible? Something like `[Instabug sendWithUserData:userData];`

[2014-06-16 13:22] Serlight opened #3 "it there's method to remove Email options, or with a default email to post form"
i want to add default email to post form

[2014-06-18 13:53] SrinivasPeriyasamy opened #4 "Instabug make the app crash when we allow it to share the location info"
If we provide permission to share the location info on "Report a bug", app crashes after tapping on Send button. And I can see the below exception on console.

Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '**\* setObjectForKey: object cannot be nil (key: city)'.

But if we denied the permission of location info(on permission alert or in code), it works perfect.

[2014-06-22 13:37] #2 closed, assigned to nobody

[2014-06-23 05:04] #4 closed, assigned to nobody

[2014-07-03 08:45] #3 closed, assigned to nobody

[2014-08-21 13:24] ghost opened #5 "Cocoapod - Could not load NIB in bundle"
Seem to be having an issue using Instabug through cocoapods where upon shaking the device to open the feedback screen I get.
Could not load NIB in bundle: 'NSBundle <***.app> (loaded)' with name 'IBGActionSheetVC-Landscape-iPad'
-[IBGFeedbackWindow presentViewController:] + 178
-[IBGFeedbackController showPrompt] + 300

iPad 4 (WiFi) / iOS 7.1.2

[2014-08-27 17:21] #5 closed, assigned to nobody

[2014-09-24 10:57] clark0x opened #6 "Crash under ios 8"
After upgrade my iphone to ios 8 and xcode 6, instabug will crash my apps.

[2014-09-24 22:31] ltdowney opened #7 "Instabug Pod Spec Modifies Project Files"
I want to be able to use Instabug via Cocoapods, but this munging of my project files with your dSYM upload script is unacceptable. I appreciate the thought, but I can take care of marshaling my own build artifacts. Our continuous-integration server is completely hosed as a result of this change, and one of my colleagues is in the process of setting up a fork as I type this, which would've been co

[2014-09-27 16:37] Natelegreat1 opened #9 "Invocation Events on iPad w/ iOS 8.0.2"
Love this tool!
I am using library 3.10 for iOS and having some issues with the invocation....
IBGInvocationEventFloatingButton doesn't show anything -- even if I set the background/font colour of the button to wild ones.

IBGInvocationEventTwoFingersSwipeLeft is only working if I swipe DOWN with two fingers in landscape and RIGHT in portrait.

[code]

[2014-10-03 13:08] #6 closed, assigned to nobody

[2014-10-05 18:50] #9 closed, assigned to nobody

[2014-10-12 16:43] #7 closed, assigned to nobody

[2014-11-04 12:13] lauriskr opened #11 "Dsym upload temp dir with multiple users"
Hi,

I would like to use Instabug in the same machine with different users, however this raises permission errors in Instabug_dsym_upload.sh which creates temp dsym zip files under /tmp/Instabug/<app_name> directory. When I try to run Instabug from another user, that user does not have write permissions to the given folder.

It would be great if there would be a unique temp directory/file for each

[2014-11-12 13:27] #11 closed, assigned to nobody

[2015-02-23 16:38] rymir opened #14 "pod install failing when using aggregate targets in xcode"
when having an aggregate target in xcode, in this case the `test` aggregate target, pod install fails with:

[code]

[2015-02-23 19:11] msoliman commented on #14
The way to fix this is to use
[code]
instead of
[code]
in your Podfile.

And in this case you'll have to add this build script manually into your app target:
[code]

[2015-02-23 19:15] #14 closed

[2015-03-02 18:50] dreese opened #15 "Network check in upload script should be done after the platform check"
Checking the internet connection can take up to 10 seconds, and if we are going to skip the upload anyway (because it's a simulator build), then there is no reason to have the delay.

Just need to move this code:
[code]

To be after this code, instead of before it:
[code]

[2015-03-02 19:01] msoliman commented on #15
That makes sense, I'll make sure to fix this in our next release.

[2015-03-02 19:48] dreese commented on #15
Thanks!

[2015-03-09 16:34] msoliman commented on #15
It's now fixed in 0e50224263e81c6363d1787d5f2ea8359863fdf1

[2015-03-09 16:34] #15 closed

[2015-03-30 14:06] Arvkon commented on #14
Thanks a lot =)

[2015-04-15 16:09] dreese opened #17 "Need quotations in upload script"
https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.bundle/Instabug_dsym_upload.sh#L63

Need to change this line:
[code]
to
[code]

When the scheme build type has a space in it, such as "Ad Hoc", this line will cause an error.

[2015-04-16 04:15] msoliman commented on #17
Thanks for pointing this out. I'll make sure that we fix it in our next release.

[2015-04-16 22:05] nvh opened #18 "Dutch translation"
For my current app I would like Dutch translation to be available in the SDK. If I can help providing it, just let me know!

[2015-04-17 05:23] dreese commented on #17
Thanks!

[2015-04-17 07:10] msoliman commented on #18
@nvh Sure we can do that, but we'll need your help with it. Please email contactus@instabug.com and we'll take it from there

[2015-04-21 11:07] msoliman commented on #17
Fixed in 2e7a6e13e3adc7427b944f194e6ed41ff8901f57

[2015-04-21 11:07] #17 closed

[2015-04-22 01:12] dreese commented on #17
Awesome. Thanks!

[2015-05-13 16:39] kylehorn opened #19 "Upload DSYM Script"
The `Instabug_dsym_upload.sh` script is searching for the first occurrence of either `Instabug startWithToken:@\"[0-9a-zA-Z]*\"` or `Instabug.startWithToken:@\"[0-9a-zA-Z]*\"` in the source code.

We are switching between a staging and production environment which means we have to have the same line of code twice and it will still only use the first one. It also doesn't allow us to use a constant

[2015-05-13 16:46] msoliman commented on #19
You can explicitly set the `APP_TOKEN` in the build phase script itself. Just add `APP_TOKEN="{your token}"` right before the line `source "${SCRIPT_SRC}"`.
You can also check your `CONFIGURATION` environment variable to set the token.

Is this what you were looking for?

[2015-05-18 16:00] kylehorn commented on #19
@msoliman yes thank you.

[2015-05-18 16:00] #19 closed

[2015-05-29 21:42] jlmendezbonini opened #20 "Allow a configuration to go straight to "Report a bug" or "Submit feedback""
The SDK currently has `+ invokeBugReporter` and `+ invokeFeedbackSender` to bypass the action sheet, but it would be great if we could have an `SDK Experience Customization` set of methods along the lines of: `+ setDefaultToBugReporter ` and `+setDefaultToSendFeedback` to skip the action sheet.

[2015-05-30 02:48] msoliman commented on #20
@jlmendezbonini Actually you can do that using the method
```[Instabug setDefaultInvocationMode:(IBGInvocationMode)invocationMode];```

It's set by default to `IBGInvocationModeNA` which shows the action sheet, but you can set it to either `IBGInvocationModeBugReporter` or `IBGInvocationModeFeedbackSender` to skip the action sheet.

Is this what you were looking for?

[2015-06-23 22:34] kangaroo5383 opened #21 "IBGMethodSwizzler is one of the top crashes in our app."
This crash is one of the top crashes in our app at the moment, here's the relevant traces.
http://crashes.to/s/af21c41a052

Let me know if there's any information you'd need from us.  Thanks!

[2015-06-24 01:15] msoliman commented on #21
Thanks for sending this over.

Are you able to reproduce it on your device? It'd be great if you can send me the repro steps.

[2015-06-24 01:20] kangaroo5383 commented on #21
I haven't been able to do that, however @casademora was able to earlier today.  Maybe he has some reportable steps.

[2015-06-24 05:01] casademora commented on #21
The basic thing I had done in our app to trigger the failure was to setup the view hierarchy like:

View Controller
- View
  - TableView
    - TableViewCell
     - ContentView
       -Button

In the button, I then added a bill target, thus attempting to send a message up the responder chain, expecting to hit the view controller (eventually). This is where it crashed for me in the simulator. I hope

[2015-06-26 05:34] lauracpierre opened #22 "Unable to install with Cocoapods"
Hi Guys,

I tried to install your SDK with Cocoapods. We are using Swift 1.2 at the moment.
Just did pod 'Instabug' and it installed it correctly.

When I try to import the framework in the AppDelegate, it says "No such module 'Instabug'"

Digging a bit further, in the Pod project, there is no target Instabug like the other pod I'm using.
![image](https://cloud.githubusercontent.com/assets/979311/

[2015-06-26 11:22] msoliman commented on #22
Not seeing it in the targets is probably a cocoapods error, you can just do another `pod install` to get it done.

However, to be able to use our SDK with Swift, you'll need to have a bridging header (because our SDK is written in ObjC).
Here's how to do it:
1. Create a new file, call it “bridging-header.h”. And import Instabug in there:
#import <Instabug/Instabug.h>
2. In your Build Settings, set

[2015-06-26 16:47] lauracpierre commented on #22
Unfortunately I already tried the bridging header, sorry for not mentioning it.
Still the error persists. (and I have done multiple pod install already)

[2015-06-28 14:36] msoliman commented on #22
That's probably a Cocoapods error. Did you manage to fix it already?

If not, can you try to integrate the SDK manually and see if it works?

[2015-06-28 14:57] msoliman commented on #21
@casademora I've tried to reproduce this but unfortunately I couldn't. When I called the `[UIApplication sendAction:]` from within a button's event, it worked as expected.

Just to make sure that this is a problem with our SDK. Can you please disable user steps tracking and try to reproduce this and let me know how it goes?
You can do so by adding this line to your appDelegate
`[Instabug setIsTrac

[2015-06-30 19:42] nassarofficial commented on #22
[Instabug startWithToken:@"8bf991235ff10a1897e63146cccca07b" captureSource:IBGCaptureSourceUIKit invocationEvent:IBGInvocationEventShake]; what does it become in swift?

[2015-06-30 20:15] nassarofficial commented on #22
Instabug.startWithToken("string", captureSource:IBGCaptureSourceUIKit, invocationEvent:IBGInvocationEventShake)
for swift.

[2015-07-03 02:10] littlebobert opened #23 "should Instabug_dsym_upload.sh bail before grep'ing for sim builds?"
Should Instabug_dsym_upload.sh bail early for sim builds before grep'ing the project for the use of an Instabug API key? grep'ing takes much of the scripts time and the script doesn't seem to do anything with the API key when bailing. See the patch here:

https://gist.github.com/littlebobert/319380962a7a78bad707

[2015-07-03 12:48] msoliman commented on #23
That makes sense, I'll make sure that we include this in our next release, planned for next week.

[2015-07-03 12:48] #23 closed

[2015-07-03 12:50] #22 closed

[2015-07-03 12:50] #20 closed

[2015-07-03 12:50] #18 closed

[2015-07-14 03:30] luohui8891 opened #24 "Crash in IBGLog"
Hi guys

I got many crash reports from user in my online app.
The stack like follow, do you guys have any idea?

0   libsystem_kernel.dylib              0x38311df0 __pthread_kill + 8
1   libsystem_c.dylib                   0x382ad909 abort + 77
2   libsystem_malloc.dylib              0x383423af szone_error + 335
3   libsystem_malloc.dylib              0x3833e0e3 free_large + 171
4   CoreFoundation

[2015-07-14 09:05] msoliman commented on #24
Which version of the SDK are you using? Looks like you're using an outdated version.
Can you please update to v4.1.4 and let me know if it's still reproducing?

[2015-07-14 13:51] luohui8891 commented on #24
Thanks, I used 3.24 in my app. It's outdated.
I will upgrade it to the 4.1.4 and include it in out next version.
Will let you know the result when we released the new version to App Stroe few days.

[2015-07-14 13:59] gabro commented on #22
I can reproduce the same issue, after running `pod install` the Instabug framework is not added to the Pods project target. All the other Pods work fine in my project.

Here's a demo project that reproduces this issue: https://github.com/buildo/Instabug-CocoaPods

@msoliman can you please look into this?

[2015-07-14 15:29] msoliman commented on #22
@gabro I've downloaded the project and ran `pod install`. The Instabug pod was added successfully.
However, the build failed because you're not adding a bridging header to import Instabug's SDK into Swift.

Was this the error you were getting?

To fix this, you'll need to [add the bridging header](https://github.com/Instabug/Instabug-iOS/issues/22#issuecomment-115650718), and remove the `import In

[2015-07-14 15:37] gabro commented on #22
Ok, it works when importing it in the bridging header with

[code]

However, by using the `use_frameworks` option, we should be able to use it as a module and do either

[code]

or simply

[code]

without the need for bridging header.

Any idea of why this isn't working as expected?

[2015-07-14 15:41] msoliman commented on #22
@gabro That's true, this is because we support lower versions of iOS (iOS 5 and 6) in the same slice.
However, in our next release, we'll changing this by having a separate slice for iOS 7+ which will allow you to use it with `use_frameworks` option.

This should be out later this month. Is this blocking you at the moment?

[2015-07-14 15:45] gabro commented on #22
Definitely not blocking, I'll simply add a bridging header and call it a day.

If you can update this thread once the update is out, I'd very much appreciate it.

In the meantime, thanks for the prompt support!

[2015-07-16 02:59] luohui8891 commented on #24
Hi @msoliman , bad news, still crash with 4.1.4.
Here is the crash stack:

thread #49: tid = 0x3bee30e, 0x000000011690d068 CoreFoundation`___forwarding___ + 776, queue = 'com.apple.root.default-qos', stop reason = EXC_BREAKPOINT (code=EXC_I386_BPT, subcode=0x0)
frame #0: 0x000000011690d068 CoreFoundation`___forwarding___ + 776
frame #1: 0x000000011690ccd8 CoreFoundation`__forwarding_prep_0___ + 12

[2015-07-16 07:26] msoliman commented on #24
@luohui8891 Thanks for the details. I'll look into it and we'll be fixing it in our next release.
This is happening constantly or intermittently?

[2015-07-16 07:50] luohui8891 commented on #24
Intermittently.

[2015-07-17 12:30] msoliman commented on #24
@luohui8891 we have a pre-release version in which we've fixed this crash. Would you be interested in getting access to it?

[2015-07-18 15:44] luohui8891 commented on #24
@msoliman thanks for working.
We have released the new version with 4.1.4 Yesterday.
Yes, I'd like to release the next beta version with the new pre-release version to our beta group.
Can you help to make the pre-release version supported in pod?

[2015-07-18 16:14] msoliman commented on #24
@luohui8891 ok great. We don't add pre-releases to the pod, so you can download it from [here](https://www.dropbox.com/s/3jnz7s45q1l7wwf/Instabug.zip?dl=0) and manually integrate for now.

Let me know how it goes

[2015-07-20 10:49] msoliman commented on #24
@luohui8891 heads up, we've just updated that pre-release with another fix for IBGLog. You should be able to get it from the same link.

[2015-07-24 03:52] luohui8891 commented on #24
@msoliman OK, we will send the new beta version with the pre-release IBGLog to our user next week.

[2015-07-28 18:26] dalef84 opened #25 "Instabug_dsym_upload.sh can't find APP_TOKEN"
Instabug_dsym_upload.sh looks great, but I was using a constant for the APP_TOKEN and it was failing because of that.

`
    [Instabug startWithToken:kSTEInstabugToken
               captureSource:IBGCaptureSourceUIKit
             invocationEvent:IBGInvocationEventShake];
`

I'd suggest against parsing the project dir source, as it's error prone, and moving this configuration parameters someplace

[2015-07-28 18:32] msoliman commented on #25
@dalef84 that's true, thanks for sending this over.
This already exists, you can just add the line `APP_TOKEN = "your_app_token"` to the top of the build script and this will stop the script from searching in the dir source.

[2015-07-28 19:27] dalef84 commented on #25
Thanks @msoliman !

[2015-08-03 03:35] luohui8891 commented on #21
@kangaroo5383 I have noticed this crash in out APP. Have you tried suggestion from @msoliman to disable tracking user steps? And any result?

[2015-08-03 11:41] msoliman commented on #21
@luohui8891 can you please send me the stack trace that you got? might help us tracing/reproducing this issue.

[2015-08-04 08:42] luohui8891 commented on #21
@msoliman I can't find the report any more. It's occasional.

[2015-08-05 14:44] #25 closed

[2015-08-06 03:35] luohui8891 commented on #24
Hi @msoliman , FYI here is a crash issue in the pre-release version on iPad
`Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </var/mobile/Applications/9CE502B7-3EB7-449B-9D7C-1F446906232E/MyApp.app> (loaded)' with name 'IBGActionSheetVC-iPad''`

[2015-08-06 08:29] msoliman commented on #24
Thanks @luohui8891
This crash isn't related to that IBGLog fix. It seems that the .bundle wasn't added to the Bundle Resources and hence it wasn't able to load the NIB file. You might just need to do a clean build for this to be fixed, and just make sure that you've added the .bundle file.

Let me know how it goes.

[2015-08-06 08:45] luohui8891 commented on #24
@msoliman Oh sorry for it. My workmate forgot adding the bundle in the project. My bad, I misunderstood it's a pre-release issue.

[2015-08-11 19:33] Taarna commented on #21
@msoliman Hello! We also had this crash a couple of times. If you want to check stack traces, they're in Instabug reports 264 and 308 on 3 Kinds of Ice project.

[2015-08-12 13:49] msoliman commented on #21
@Taarna yours are different. In your case, the crash was in the [UIApplication sendAction:to:from:forEvent:]. You will be seeing Instabug's call in the stack trace because we do trace the user steps by hooking our SDK into these methods to log the event and then recall the original implementation in UIApplication. In your case the crash happened in the original implementation, not the logging part

[2015-08-13 11:49] xiaomaogong opened #26 "IBG methods are executed on main thread when scroll in collection view"
<img width="591" alt="screen shot 2015-08-13 at 7 43 51 pm" src="https://cloud.githubusercontent.com/assets/9329201/9249058/0ba83162-41f4-11e5-908a-aa6af0a1ed6d.png">

Our collection view 's scroll performance are considerably impact by the [IBGMethodSwizzier sendEvent:] , any idea how to solve this?

[2015-08-13 11:53] msoliman commented on #26
@xiaomaogong can you please expand this call and resend me a screenshot?
The thing is that we do replace the `[UIApplication sendEvent:]` method with our own `[IBGMethodSwizzler sendEvent:]` which logs the event and then recalls the original implementation of `[UIApplication sendEvent:]`. So that time might be in either our logging code or in the UIApplication's implementation. Does that make sens

[2015-08-13 12:00] xiaomaogong commented on #26
<img width="728" alt="screen shot 2015-08-13 at 7 58 15 pm" src="https://cloud.githubusercontent.com/assets/9329201/9249285/f89bb9e8-41f5-11e5-9ed7-e01992a3f612.png">

[2015-08-13 12:05] msoliman commented on #26
@xiaomaogong ok, so let's disable UserSteps logging and see if this changes. Just add `[Instabug setIsTrackingUserSteps: NO];` to your initialization code. Let me know how it goes.

[2015-08-14 02:55] xiaomaogong commented on #26
It looks like much better now , but any side effect after adding [Instabug setIsTrackingUserSteps: NO];?

[2015-08-14 11:28] msoliman commented on #26
@xiaomaogong yes, this will stop the UserSteps being logged. I can have a workaround for this by disabling the view introspection and send you a custom version of the SDK. In that case you'll be getting the UserSteps without that overhead in performance.
How does this sound for you?

[2015-08-26 09:45] OlegAnghelov opened #27 "iOS 9 support"
Hi guys!

Thanks for the work you are doing.

But are you planning on supporting iOS 9?

So far it gives our errors like this:
http://stackoverflow.com/questions/32096130/unexpected-cfbundleexecutable-key

And even after I implemented the new bundle as suggested in the comments, it worked with Xcode beta 5.
But now, after installing Xcode 7 beta 6, it gives a new error that says that the key `CFBu

[2015-08-26 11:57] msoliman commented on #27
@OlegAnghelov ​Can you try this bundle instead ([here](https://www.dropbox.com/s/zzs7q2eygfa6wms/Instabug.bundle.zip?dl=0))?
Let me know how it goes

[2015-08-26 13:45] OlegAnghelov commented on #27
It went fine, I was able to submit it successfully.

[2015-08-26 13:50] msoliman commented on #27
Sounds good, I'll make sure to update it in our next release.

[2015-08-26 13:50] #27 closed

[2015-08-28 07:59] OlegAnghelov commented on #27
@msoliman
Could you please share your next release date?

[2015-08-28 11:54] msoliman commented on #27
@OlegAnghelov It should be later next month, we're planning a major release that's why it's taking longer.
Is this blocking you?

[2015-08-28 12:08] OlegAnghelov commented on #27
Since we use pods, the CI runs pod install, and gets the Instabug version that is with old bundle, and when we do it for Xcode 7 and ios 9 it fails.
So now we are forced to do a  "drag and drop" Instabug integration, which we would like to revert as soon as possible :)

[2015-08-28 12:20] msoliman commented on #27
Makes sense, I'll make sure that we push a hot-fix for this during the weekend. Should be out by Monday.

[2015-08-30 10:38] msoliman commented on #24
@luohui8891 we've just pushed that pre-release fix to Cocoapods.

[2015-08-30 10:38] #24 closed

[2015-08-30 10:38] msoliman commented on #27
@OlegAnghelov we've just pushed this to Cocoapods.

[2015-08-31 07:28] luohui8891 commented on #24
@msoliman got it.
FYI:
We have monitored the status of latest beta which included the pre-release version of Instabug.
No crash reported to us about the IBGLog.

[2015-08-31 08:45] luohui8891 opened #28 "The action sheet appeared after almost 10 seconds when I shook the simulator."
Hi @msoliman
I have upgraded the Instabug to 4.1.5 via pods.
First I tested on the simulator, I chose Hardware->Shake Gesture to report feedback. But the action sheet appeared ("Report a bug", "Send feedback", "Cancel") after almost 10 seconds.
But it worked fine on the device.

Do you have any idea?

[2015-08-31 08:54] msoliman commented on #28
@luohui8891 That's probably because you've been using this simulator for too long.
The thing is that the iOS simulator caches all the console log on your mac since the first time you’ve installed the iOS simulator, so when Instabug’s SDK tries to grab the console log, it had to look through tons of console logs and that’s why it takes too much. This doesn’t happen on the device because the device

[2015-08-31 09:15] luohui8891 commented on #28
@msoliman that's it. Thank you very much.
But I noticed another flash issue on simulator.
See the following GIF, I have turned on the slow animation. BTW, I can't reproduce it on device.
![2015-08-31 at 5 13](https://cloud.githubusercontent.com/assets/1223339/9575625/af6eb33a-5003-11e5-9512-76a24a9ea923.gif)

[2015-08-31 09:19] msoliman commented on #28
@luohui8891 I believe this has always been there. It should be fixed as part of our next release, as it'll include a new design as well.
Let me know if you were able to reproduce it on device, in that case we'll need to release a hot-fix for it.
How does this sound for you?

[2015-08-31 09:25] luohui8891 commented on #28
@msoliman it's cool. You guys are fast.

[2015-08-31 09:25] #28 closed

[2015-09-17 02:19] kangaroo5383 commented on #21
We are removing it in the next version (2.4.1) and will keep you posted.  Thanks for the suggestion, it's nearly impossible to repro, but we're still seeing it in current version (2.4) - using Instabug at 82056bcc5db4a080d41d9242c089e325bb108299

[2015-09-17 05:29] msoliman commented on #21
Sounds good, let me know how it goes.

Do you mean that you'll be disabling user steps?
`[Instabug setIsTrackingUserSteps: NO];`

[2015-09-17 05:32] kangaroo5383 commented on #21
@msoliman correct. Sorry it was ambiguous in my last message, we shall have an update for you on this by mid Oct at the latest!

[2015-09-19 12:19] fatuhoku opened #29 "Instabug IBGInvocationEventFloatingButton interferes with SVProgressHUD"
https://github.com/TransitApp/SVProgressHUD is a wildly popular HUD solution for iOS.

I love using the Instabug floating button, but when I do, the Instabug floating button overlay causes this sort of thing to happen:

![ios simulator screen shot 19 sep 2015 13 17 12](https://cloud.githubusercontent.com/assets/430233/9976116/c30ffc56-5ed0-11e5-8f58-a9c229643163.png)

They're probably fighting ove

[2015-09-20 15:54] msoliman commented on #29
@fatuhoku I guess we've found and fixed this issue. Can you replace the framework that you have with the one linked below. Let me know how it goes.
https://www.dropbox.com/s/cuhi6kr9plgcifj/Instabug.framework.zip?dl=0

[2015-09-21 07:56] erwinl opened #30 "Bitcode support?"
Hello,

I'm currently using v4.1.6 (https://github.com/Instabug/Instabug-iOS/releases/tag/4.1.6), installed via cocoapods, which says that there's Bitcode support. However when archiving I got this error:

[code]

Am I doing something wrong? Or is it true that Instabug doesn't have support for Bitcode yet?

[2015-09-21 08:37] msoliman commented on #30
@erwinl can you please try this framework instead. Please let me know how it goes.
https://www.dropbox.com/s/fxur386528o9yyx/Instabug.framework.zip?dl=0

[2015-09-21 11:00] erwinl commented on #30
@msoliman, thanks for the fast reply, and sorry for the late reply.

The framework you gave works, any idea why? and are you going to update the cocoapod version ?

[2015-09-21 11:03] msoliman commented on #30
@erwinl yes, looks like it's a problem from our build script. I'll make sure to update the cocoapods version today. I'll let you know.

[2015-09-21 11:04] erwinl commented on #30
Thank you very much @msoliman :+1:

[2015-09-21 16:09] msoliman commented on #30
@erwinl we've just pushed this to master

[2015-09-21 16:09] #30 closed

[2015-09-21 16:09] msoliman commented on #29
@fatuhoku we've just pushed this fix to master. Let me know if you're still seeing this.

[2015-09-21 16:09] #29 closed

[2015-09-21 16:20] erwinl commented on #30
Thank you very much @msoliman

[2015-09-22 09:57] fatuhoku commented on #29
@msoliman Sure. Will do.

[2015-09-24 07:28] SPopenko opened #31 "Please rebuild SDK with Xcode 7 to support BITCODE"
Guys could you push new release please?

[2015-09-24 11:06] Taarna commented on #31
Wasn't Bitcode added in v4.1.6 and fixed in v4.1.7?

[2015-09-24 12:29] SPopenko commented on #31
I don't know but with last sdk my compilation was failed... If you could check than it will be nice.

Sent from my iPhone

[2015-09-24 14:03] Taarna commented on #31
I'm not from Instabug, sorry for the misunderstanding :)

My team is using the latest SDK and we had no problems, except for one person who's still clinging to XCode 6. The compilation was failing for him when he tried to start the app on the simulator, but that's a known issue and not related to Instabug.

[2015-09-25 12:46] kyramckenna opened #32 "Could not load NIB in bundle: 'BundleEx ... with name 'IBGActionSheetVC-iPhone"
Hi
This is what Im getting for iOS9 and Xcode 7

 *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'BundleEx </var/mobile/Containers/Bundle/Application/01D84B49-EC28-45A2-89C0-2B7F979DC294/Lareb.app> (loaded)' with name 'IBGActionSheetVC-iPhone''
*** First throw call stack:
(0x185db8f5c 0x19a9abf80 0x185db8ea4 0x18b7b99ac 0x18

[2015-09-26 20:27] #32 closed

[2015-09-26 20:28] msoliman commented on #31
@Taarna thanks for the reply.

@SPopenko Indeed, Bitcode should be working fine in v4.1.7. Are you having any problem with it?

[2015-10-05 08:35] SPopenko commented on #31
@msoliman thanks, I could confirm that it works from 4.1.7. Thank you!

[2015-10-05 08:35] #31 closed

[2015-10-06 13:39] halilkabaca opened #33 "Instabug Crashes on shake."
Hello,
We have updated our apps to new instabug sdk and right now instabug crashes when we shake the phone. I have tried official version as well as the hotfix mentioned here: https://github.com/Instabug/Instabug-iOS/issues/27
same results.

Please check the log and screenshot for details.

Regards
Halil

log:
2015-10-06 15:33:36.931 voodle[2290:540925] *** Terminating app due to uncaught exceptio

[2015-10-06 13:48] msoliman commented on #33
@halilkabaca can you please send me the crash report that you get?

[2015-10-06 13:53] halilkabaca commented on #33
all the logs before the ones i sent you are about the app and it's the last one. Can i help you in any other way?

[2015-10-06 15:39] msoliman commented on #33
What do you mean by the crashes you sent me?
Can you just send me the exception that happens when you shake the device?

[2015-10-06 16:07] msoliman commented on #33
@halilkabaca ok I found the crash.
So it looks like the .bundle file is missing. Can you double check that you've added both the .framework and the .bundle files?

[2015-10-07 07:30] halilkabaca commented on #33
Hello @msoliman I tried below items but it still doesn't work. Crashes on the same area.

1. I deleted and re-added the frameworks.
![frameworks](https://cloud.githubusercontent.com/assets/536285/10331433/a3ad64c6-6cd5-11e5-9a9d-5387d05d1593.png)

2. I checked if all the necessary frameworks are added to the project
3. I deleted the app from the phone and simulator and rebuild
4. I cleaned the pro

[2015-10-07 08:43] msoliman commented on #33
@halilkabaca Can you double check that the .bundle file has been added to the "Copy Bundle Resources" step
![screen shot 2015-10-07 at 10 40 52 am](https://cloud.githubusercontent.com/assets/2641429/10332820/32489084-6ce0-11e5-956c-5e494c77b0af.png)

[2015-10-07 08:50] halilkabaca commented on #33
@msoliman yes it appears there.

![copybundleresources](https://cloud.githubusercontent.com/assets/536285/10332971/26a91702-6ce1-11e5-9c9b-7f72c1fdfe89.png)

[2015-10-07 08:54] msoliman commented on #33
@halilkabaca are you using Cocoapods or manually integrating the SDK?

[2015-10-07 08:55] halilkabaca commented on #33
@msoliman I integrate it manually. We have three apps instabug integrated. Two of them works fine, this issue happens only on this one.

[2015-10-07 08:57] msoliman commented on #33
@halilkabaca it's probably an Xcode issue. Can you try integrating using Cocoapods?
Also which version of Xcode are you using?

[2015-10-07 09:02] halilkabaca commented on #33
@msoliman My Xcode Version is 7.0.1  I will try with cocoapods then.

[2015-10-07 22:56] msoliman commented on #33
@halilkabaca any update on this. Were you able to get it to work?

[2015-10-13 11:43] mladjan opened #35 "CLANG_CXX_LANGUAGE_STANDARD merge problem with Realm"
When I want to install Instabug and Realm in the same project, I'm getting the warning:
[!] Can't merge user_target_xcconfig for pod targets: ["Instabug", "Realm", "Headers"]. Singular build setting CLANG_CXX_LANGUAGE_STANDARD has different values.

[2015-10-13 11:57] #33 closed

[2015-10-13 11:58] msoliman commented on #35
Thanks @mladjan for reporting this. There's a conflict between both pod specs, we'll be fixing it in our next version. In the meantime, you should be able to use the SDK by manually importing it in your project.

[2015-10-16 15:59] cameronbell commented on #22
I'm having the same issue where cocoapods isn't creating a target for the Instabug cocoapod in the Pods project, except I'm not using swift.

Naturally the  `#import <Instabug/Instabug.h>` call isn't working.

I tried both:
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'no_build_script'`
and
`pod 'Instabug', '~> 4.1'`

Any idea what the problem might be?

[2015-10-16 19:25] msoliman commented on #22
@cameronbell my first guess would be that this might be Cocoapods issue. Which version are you using?

I can help much more if you can reproduce this in a sample app and just send it over to me. And I'll dig deeper into it.

[2015-10-16 19:31] kyramckenna commented on #22
Yes I'm having the same issue. Just deleting everything and trying again

[2015-10-20 06:56] #26 closed

[2015-10-21 07:01] halilkabaca commented on #33
@msoliman sorry for the late reply. At the moment i tried with another project using pod but we get below errors. Not sure what we are doing wrong?

![error1](https://cloud.githubusercontent.com/assets/536285/10629781/26314578-77d2-11e5-85ae-3e6a71d55bd7.png)
![error2](https://cloud.githubusercontent.com/assets/536285/10629789/36e94654-77d2-11e5-8d81-5d3c6202fe25.png)

[2015-10-21 08:05] ollieatkinson opened #36 "Carthage Support"
To support Carthage you can provide a pre built framework

https://github.com/Carthage/Carthage

[2015-10-21 08:38] msoliman commented on #33
Which version are you linking against? This used to reproduce when using an old version of the SDK (4.1.5 and less) with Xcode 7

[2015-10-21 08:38] msoliman commented on #36
@ollieatkinson thanks for the heads up. We do plan to add this soon, we'll get to work on it once we're done with the next version of the SDK

[2015-10-21 08:45] halilkabaca commented on #33
xcode version is 7.0.1 and instabug is from cocoapods. How can i check it's version?

[2015-10-21 08:46] msoliman commented on #33
You should find it at the top of the Instabug.h file. Can you please send me the Instabug line in your podfile

[2015-10-21 08:50] halilkabaca commented on #33
header says 4.1.7 and on pod file it says:
pod 'Instabug'

[2015-10-21 08:53] msoliman commented on #33
That should work fine. Maybe the bundle file is cached by Cocoapods? Can you try to do a clean build?
If you still see this, maybe you can change the podfile to be `pod 'Instabug', '4.1.7'`.

Let me know how it goes.

[2015-10-21 08:54] halilkabaca commented on #33
let me try above line. Thank you for the help.

[2015-10-21 16:23] cameronbell commented on #22
Re-cloning my entire project solved the problem. I couldn't figure out what was causing the headers to not be available.

[2015-11-02 22:46] msoliman opened #37 "This is a sample bug. Reported by Instabug."
**Number:** 	 3

**URL:** 	 https://instabug.com/applications/instabug-ios/issues/3

**Type:** 	 bug

**Status:** 	 New

**Email:** 	 noreply@instabug.com

**Comment:**
[code]

**Location:** 	 San Francisco, USA

**Device:** 	 iPhone 4 / iOS 7.0

**Memory:** 	 Used: 3084.42 MB, Free: 1000.87 MB

**Storage:** 	 Used: 25.15 GB, Free: 5.32 GB

**Connectivity:** 	 Carrier: Verizon, WiFi: Home WiFi

**

[2015-11-02 22:48] #37 closed

[2015-11-03 01:09] vahan-harutyunyan opened #38 "Action-sheet appears behind the keyboard (iPhone, iOS 9)"
When there is a keyboard in a view, the actionsheet would appear behind the keybaord (basically doesn't not appear) and the user can't really interact with it.

[2015-11-03 08:12] msoliman commented on #38
@vahan-harutyunyan thanks for reporting this. We're fixing this in our next release.
Is this blocking you? I can send you a custom build with that fix if you want.

[2015-11-03 22:16] vahan-harutyunyan commented on #38
@msoliman Thanks for getting back on this. I would really appreciate if you could give me an early access to the fix. Currently we can't use instabug on most of the screens. Thank you.

[2015-11-03 22:19] msoliman commented on #38
@vahan-harutyunyan Sure, here's the link to the framework (https://www.dropbox.com/s/tru23cjlaiozk0v/Instabug.framework.zip?dl=0).

You'll need to integrate it manually now, not through Cocoapods. Don't forget to include the .bundle file as well. You can use the one in the current live version.

Let me know how it goes.

[2015-11-03 22:56] vahan-harutyunyan commented on #38
@msoliman Thank you for the link and instractions. Had to add CoreMotion framework too.
 It worked and the actionsheet is visible now. Thanks again.

[2015-11-09 09:32] X140Yu opened #39 "Can you add a callback when user has dismiss the feedback window?"

[2015-11-10 11:30] msoliman commented on #39
@X140Yu what do you plan to use this for?
We already have the `[Instabug setPreSendingBlock:]`, does this fulfill your need?

[2015-11-10 13:22] X140Yu commented on #39
What if user click cancel? Can I get a notification too?

[2015-11-10 13:35] msoliman commented on #39
@X140Yu ok, now I understand what you need.
Well the `setPreSendingBlock` is called only when the report is submitted. But we do plan to add that one in our next release.

Is this currently blocking you?

[2015-11-10 13:46] X140Yu commented on #39
Not that emergency, I can wait for the next release, thanks!

[2015-11-21 23:20] ldiqual opened #40 "Installation via cocoapods 0.39.0 didn't add dSYM build phase"
I had to manually create the script in my pbxproj.
Let me know what you need to debug this.

[2015-11-21 23:24] ldiqual opened #41 "Grepping for APP_TOKEN in Instabug_dsym_upload.sh takes a long time and mostly fails when DerivedData is relative to project path"
Since my DerivedData folder is relative to my iOS project path, grepping for the app token in Instabug_dsym_upload.sh takes a very long time and fails for some files that cannot open

![](https://www.dropbox.com/s/l5jt5nw7ct2e6ce/Screenshot%202015-11-21%2015.25.00.png?raw=1)

A solution would be to not grep the DerivedData folder.

[2015-11-22 04:06] msoliman commented on #41
@ldiqual you can disable this `grep` by adding this to the top of your build script:
[code]

That way, the script won't `grep` for the token.

[2015-11-24 17:52] #41 closed

[2015-11-24 17:53] #21 closed

[2015-11-27 04:49] huragan opened #42 "Dismissing feedback window"
Hi,

is there a way to programmatically dismiss feedback window ?

[2015-11-27 11:07] msoliman commented on #42
@huragan we're adding this in our next release. But in the moment, there's this branch (https://github.com/Instabug/Instabug-iOS/tree/add-dismiss-method) in which we've added this method. Feel free to use it.

[2015-12-03 04:19] minhoryang commented on #36
+1

[2015-12-12 10:39] walsht commented on #36
+1

[2015-12-15 10:44] msoliman commented on #38
Fixed in https://github.com/Instabug/Instabug-iOS/commit/ca78786441ddbcf14ffb6a23a3dec2fce1c2482f

[2015-12-15 10:44] #38 closed

[2015-12-15 10:46] msoliman commented on #40
@ldiqual this has been disabled by Cocoapods. The script now needs to be manually added.

[2015-12-15 10:46] #40 closed

[2015-12-15 10:46] #42 closed

[2015-12-16 00:07] keith commented on #42
@msoliman has this been added to a release?

[2015-12-16 09:40] msoliman commented on #42
Yes, its been added in bc4b46756ecb78e0f1ccfb94f4f25533f37460fc

[2015-12-16 20:57] davecrumbacher opened #43 "Upload script uses ping, which is not always supported"
In your upload script you are using ping to determine if the API is available:

https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.bundle/Instabug_dsym_upload.sh#L46

Ping is not supported on all networks, including mine, so I had to fork the code and use a different approach.  I submitted a pull request that changes this check to use curl instead of ping:

https://github.com/Instabug/I

[2015-12-17 13:32] msoliman commented on #43
@davecrumbacher thanks for the PR, I'll check it and add it in our next release

[2015-12-21 18:18] keith commented on #42
Thanks! Just saw that this was closed before that was pushed.

[2015-12-21 22:34] nirajignited opened #44 "Main thread stalls during initialization of Instabug after launching after a crash"
pod 'Instabug'  (updated to 4.1.10)
iOS Base SDK - 9.2
Target iOS 9.2
After launching app after a crash, the app freezes every time we try to launch it. Please see the attached  screenshots showing backtrace taken by pausing the debugger when the app was frozen. It seems on the main thread it is waiting in [IBGReachability init]  while on the com.IBG.ServerQueue thread it is waiting in [IBGServers

[2015-12-22 18:45] msoliman commented on #44
@nirajignited Are you able to consistently reproduce this?
Can you replace the framework you're using with this one (https://www.dropbox.com/s/572m45jximku2sc/Instabug.framework.zip?dl=0) and let me know how it goes?

[2015-12-23 03:49] nirajignited commented on #44
@msolinman Yes, I am able to consistently reproduce this.
The custom framework worked. Is it good to be used in production?
Thanks!

[2015-12-23 08:14] msoliman commented on #44
@nirajignited yes you can use it. We'll be adding this fix in our next release.

[2015-12-24 04:44] nirajignited commented on #44
that's great. Thanks

[2015-12-24 04:44] #44 closed

[2015-12-27 19:57] a11enwong opened #45 "Why change the status bar color after shacked?"
Please check out the screen shot, any way to configuration it?
![3 pic_hd](https://cloud.githubusercontent.com/assets/2629148/12011776/05a8e124-ad17-11e5-9dc2-85675de5c0a0.jpg)

[2015-12-27 20:34] msoliman commented on #45
@a11enwong it's supposed to follow the same UIStatusBarStyle. What does your view hierarchy looks like? The status bar style is inferred from the VC at the end of the presentation chain of the root VC of the keyWindow. Do you have something different?

[2016-01-04 11:15] YBthebest opened #46 "Instabug invoke from ActionSheet causes crash"
[code]

With this simple code, what happens is that the Instabug menu is displayed above the existing ActionSheet (which doesn't have enough time to dismiss), and whenever I quit instabug (click on cancel or submit a bug for instance), the app crashes. I can use Instabug all I want, but whenever I dismiss it, it crashes.

Any way to prevent this?

[2016-01-04 11:18] YBthebest commented on #46
A temporary fix is to do this:
[code]

But I think another solution must be found!

[2016-01-04 11:20] msoliman commented on #46
@YBthebest maybe you can try to use `[Instabug invokeFeedbackSender]` or `[Instabug invokeBugReporter]` instead?
This won't show the action sheet and will go directly to the reporting screen.

[2016-01-04 11:43] grzesiekko opened #47 "4.1.10 release not available on 'no_build_script' branch"

[2016-01-04 11:45] msoliman commented on #47
@grzesiekko Thanks for the heads up. It should be available now.
But actually we've removed the build script from `master` as well, so you can safely switch to master and avoid this happening again in the future.

[2016-01-04 12:06] YBthebest commented on #46
Same error happening. Have you tried it?

[2016-01-04 12:26] grzesiekko commented on #47
I missed the change on `master`. That's great, thanks!

[2016-01-04 12:26] #47 closed

[2016-01-04 12:29] msoliman commented on #46
@YBthebest That's weird, it's working fine for me. Can you please send me the crash that you get?

[2016-01-04 16:32] YBthebest commented on #46
That's the weird part: I get no crash at all. It just completely freezes my app.

[2016-01-21 13:45] ZedsDead opened #48 "Strange crash with IBGMethodSwizzler"
![crash_log](https://cloud.githubusercontent.com/assets/3908195/12482029/502912a0-c05e-11e5-9c3c-5a98e86ca196.png)
![crash_stats](https://cloud.githubusercontent.com/assets/3908195/12482030/5055e992-c05e-11e5-9934-80a130e51557.png)

[2016-01-21 20:02] msoliman commented on #48
@ZedsDead looks like the crash is in the `[UIApplication sendEvent:]`. You'll find Instabug in the stack trace there because the SDK logs the `sendEvent` method calls to track the user steps. However in the implementation of the `[IBGMethodSwizzler sendEvent:]` it just logs the event then calls the original `[UIApplication sendEvent:]`. As you can see in the stack trace, the crash isn't in the log

[2016-01-22 08:40] ZedsDead commented on #48
@msoliman there is no much information in the internet. But yeah, that has sense..

[2016-01-22 09:12] diystyle commented on #33
after execute clean  then work fine

[2016-01-22 16:44] #48 closed

[2016-02-02 16:47] lypiut opened #49 "Bug in IBGFeedbackWindow presentation when displayed a second time"
Hi,
I found an issue with the IBGFeedbackWindow. When I send feedback or bug report and invoke a second time the feedback view, this one is displayed on top of the view and is unusable. See my screenshot

![img_0380](https://cloud.githubusercontent.com/assets/2501138/12756637/e63972a6-c9d4-11e5-9732-ab6d77392d26.PNG)

[2016-02-02 17:08] msoliman commented on #49
@lypiut thanks for reporting this.
I'll need your help troubleshooting, is there anyway you can reproduce this in a sample project and send it over to me to debug it?

[2016-02-02 17:53] lypiut commented on #49
@msoliman I found the way to reproduce it. I have a custom windows with a windows level set at status bar level, maybe a conflict with your windows. I put a project to reproduce the bug in the following zip.
[Instabug Bug.zip](https://github.com/Instabug/Instabug-iOS/files/114388/Instabug.Bug.zip)

[2016-02-02 20:18] smyrgl opened #50 "Instabug 5.0 SDK is not compiled with Bitcode support"
I assume this was an oversight?  I tried to do an archive with the new SDK and got an error that the Instabug framework was not compiled with Bitcode support.

[2016-02-02 20:19] msoliman commented on #50
@smyrgl I'm pushing a fix as we speak. Will let you know

[2016-02-02 20:28] msoliman commented on #50
@smyrgl Should be fixed in v5.0.1

[2016-02-02 21:03] smyrgl commented on #50
Much appreciated!  I'm turning my Bitcode support back on.

[2016-02-02 21:08] m619 commented on #49
Hi @lypiut. Would you please try this build and see if it fixes your issue? I tested it with the sample app you sent.
[InstabugW:WindowSizeFix.zip](https://github.com/Instabug/Instabug-iOS/files/114680/InstabugW.WindowSizeFix.zip)

[2016-02-02 21:17] smyrgl commented on #50
Ok I've confirmed that 5.0.1 fixes this issue.  Thanks for the quick action!

[2016-02-02 21:17] #50 closed

[2016-02-03 04:55] mpsnp opened #51 "Bug in IBGPushNotificationsManager"
Unfortunately after update to 5.0.x appeared crash on receiving push notification:

[code]

Whats strange, in app delegate `self` is `IBGPushNotificationsManager`.

[2016-02-03 05:00] msoliman commented on #51
@mpsnp thanks for reporting this. I need more info to troubleshoot this though.
Was this notification related to your app or Instabug? Also would you mind sharing your AppDelegate structure? do you implement `application: didReceiveRemoteNotification`?

Can you try disabling Instabug's push notifications and let me know how it goes?
`[Instabug setPushNotificationsEnabled: NO]`

[2016-02-03 08:51] lypiut commented on #49
@m619 The windows display is fixed, but the screenshot taken is the status bar window and not the main window.

![img_0006](https://cloud.githubusercontent.com/assets/2501138/12777211/a2744adc-ca5b-11e5-972d-dea71c32ef9e.PNG)

[2016-02-03 10:41] mpsnp commented on #51
@msoliman, I think bug is related to Instabug, because with v4.x everything works as expected.

**Our** service sending push notifications which i'm handling in `application: didReceiveRemoteNotification:`.

Bug is that `IBGPushNotificationsManager` performs selector `application: didReceiveRemoteNotification:` (of **my** AppDelegate) on itself.
_In other words_, stopping debugger inside of my imp

[2016-02-03 16:51] m619 commented on #49
Thanks for reporting this too. Would you please try the attached build and see if it fixes both issues for you. Thank you for being so patient. =]

[InstabugWindowSizeAndScreenshotFix.zip](https://github.com/Instabug/Instabug-iOS/files/115994/InstabugWindowSizeAndScreenshotFix.zip)

[2016-02-03 16:56] albeebe opened #52 "-[NSNull length]: unrecognized selector sent to instance"
After i submit feedback for the **very first time**, the app crashes with

```*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull length]: unrecognized selector sent to instance 0x1a0c6cea8'```

If i restart the app, it instantly crashes.
If i comment out the Instabug startWithToken and restart the app everything is fine.

Heres my initializer at the very

[2016-02-03 17:28] m619 commented on #51
Hi @mpsnp! Would you please try the attached build and let us know if you're still experiencing this? Thank you!
[InstabugAPNSFix.zip](https://github.com/Instabug/Instabug-iOS/files/116056/InstabugAPNSFix.zip)

[2016-02-03 17:31] lypiut commented on #49
@m619 It's working! Thank for your reactivity!

[2016-02-03 17:35] m619 commented on #49
Great! It will be integerated in our next release. Thank you for reporting those, you have an interesting setup. :D

[2016-02-03 20:58] albeebe commented on #52
Symbolicated crash log http://pastebin.com/CZv907J4

[2016-02-03 21:24] heupel commented on #30
I see this issue with what I pulled from CocoaPods just yesterday (2016-02-02).  Help?  Thanks!

[2016-02-03 21:53] m619 commented on #52
Hi @albeebe! Thanks for the symobolicated crash log, made our lives easier. :D
Would you please try the attached build and see if it fixes your issue?
[InstabugParsingCrashFix.zip](https://github.com/Instabug/Instabug-iOS/files/116471/InstabugParsingCrashFix.zip)

[2016-02-03 22:10] m619 commented on #30
Hi @heupel, can you confirm you're running Instabug 5.0.1 (maybe with `pod outdated`) and that you've cleaned the build folder before trying to build/archive?

[2016-02-04 00:06] albeebe commented on #52
@m619 Excellent, it appears to be fixed!

I got the app into the state where it would instantly crash every time the app was launched. I replaced Instabug with the build you posted. Recompiled, reopened, no crash! Tried a bunch of things to get it to crash again but so far its solid.

Very much appreciate your quickness with this bug. Your product is exactly what we needed and we look forward to d

[2016-02-04 00:06] #52 closed

[2016-02-04 00:21] m619 commented on #52
I'm glad it's all sorted out for you. The fix will be included in the next version.

And thank you, it's our pleasure! Keep squashing bugs!

[2016-02-04 04:17] heupel commented on #30
I had version `5.0.0`.  After updating to `5.0.1` it seems to work.  Thanks!

[2016-02-04 07:24] msoliman commented on #49
Fixed in https://github.com/Instabug/Instabug-iOS/releases/tag/5.0.2

[2016-02-04 07:24] #49 closed

[2016-02-04 07:25] msoliman commented on #46
@YBthebest can you check it in the latest version 5.0.2? Please re-open it if you can still reproduce this.

[2016-02-04 07:25] #46 closed

[2016-02-04 07:25] #43 closed

[2016-02-04 07:26] msoliman commented on #45
@a11enwong This should be fixed in the latest release v5.0.2.
Check it out and please re-open this if you're still able to reproduce.

[2016-02-04 07:26] #45 closed

[2016-02-04 19:32] ljkyser commented on #51
We are experiencing the same issue after the update, no problems before.

[2016-02-04 19:34] m619 commented on #51
@ljkyser Did you try version 5.0.2? You can run `pod outdated` to make sure, if you're using CocoaPods.

[2016-02-04 19:35] ljkyser commented on #51
@m619 don't believe so, I will look in to that now.

[2016-02-04 19:46] ljkyser commented on #51
@m619 We were using 5.0.0, we're updating to 5.0.2. Will let you know if that solves it from our end. Thanks!

[2016-02-09 20:42] Rich86man opened #53 "Crash when Invoking (5.0.2)"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </var/mobile/Containers/Bundle/Application/B405647F-25AF-4CA8-A430-A2FF2EB6448A/Orchestra.app> (loaded)' with name 'IBGActionSheetVC-iPhone''

Installed through cocoapods

[2016-02-09 21:00] msoliman commented on #53
@Rich86man looks like the Instabug.bundle isn't being picked up.
Can you make sure that the Instabug.bundle is included in the "Copy Bundle Resources". If it's already there, can you try manually integrating the SDK to double check.

Please let me know how it goes

[2016-02-09 21:05] Rich86man commented on #53
If I manually add the Instabug.bundle to my project it works. But now I can't rely on cocoapods updating instabug. Is this due to
`	[NSBundle mainBundle];`
vs
`[NSBundle bundleForClass:[self class]];`

[2016-02-09 21:27] msoliman commented on #53
@Rich86man nope, we already handle that. We've been seeing this happening intermittently. Usually Xcode build doesn't act as expected

[2016-02-11 23:47] #53 closed

[2016-02-11 23:48] msoliman commented on #51
@ljkyser are you still getting this bug?

[2016-02-12 00:29] ljkyser commented on #51
@msoliman hey, sorry for not responding sooner. No, we are not getting that bug anymore once we updated to 5.0.2. Thank you!

[2016-02-12 03:26] #51 closed

[2016-02-15 11:06] pnhoang opened #54 "Instabug crashes on the latest version"
It is a crash by integrating Instabug from CocoaPods.

I have these lines in Podfile:

platform :ios, '7.0'
source "https://github.com/CocoaPods/Specs.git"
source "https://github.com/Accengage/CocoaPodsSpecs.git"

pod "Instabug"

After doing $ pod install, I have version 5.1.0

It's in [IBGBaseHUD show] method.

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'N

[2016-02-15 14:26] msoliman commented on #54
@pnhoang how about the bug reporting. Are you able to invoke the SDK and go through the bug reporting process successfully?

[2016-02-15 14:31] pnhoang commented on #54
Instabug itself just crashes and makes the app crash. I use an earlier of the version and it does not crash anymore. Hope you figure out what's the reason. We use Instabug a lot, we do see the crashes from Instabug, but it turned out to be from Instabug library. Somehow the bundle was not copied into the project from the Pod. If we copy the project framework into our project, it works. And it also

[2016-02-15 14:33] msoliman commented on #54
Thanks @pnhoang so you are able to get it to work when you manually add the .bundle in, right?

[2016-02-15 14:33] pnhoang commented on #54
yes it is true.

[2016-02-15 14:35] pnhoang commented on #54
I can easily reproduce the crashes, if you have Skype, I can show it to you via share screen. we have some more dependencies with other Pods.

[2016-02-15 14:46] msoliman commented on #54
It makes sense actually. Once the bundle isn't there, it makes sense that all these crashes happen.
It's just weird that the bundle file isn't included automatically when you do a `pod install`, Does it help to do a clean build or re-run the pod install?

[2016-02-15 14:54] pnhoang commented on #54
it was not included somehow. All of us in the team have the same thing and we already clean the whole project, re-run pod install so many times. It does not have any effect.

[2016-02-15 16:22] wilferrel opened #55 "Latest Version pod install error"
Receiving the following afte your last merge:

`Specs satisfying the `Instabug (from `https://github.com/Instabug/Instabug-iOS`, branch `no_build_script`)` dependency were found, but they required a higher minimum deployment target.`

Podfile has this for platform:  `platform :ios, '8.0'`

[2016-02-15 18:36] msoliman commented on #55
@wilferrel Can you please send me the line that you use to include Instabug into your podfile?
You don't really need to use the branch `no_build_script` anymore. We've removed it from `master` already.

Let me know how it goes.

[2016-02-15 19:30] wilferrel commented on #55
I was using  `pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS', :branch => 'no_build_script'`

but regular pod install works just fine I guess I will use that from now on thanks.

[2016-02-15 22:02] #55 closed

[2016-02-17 14:28] pnhoang commented on #54
any news on this @msoliman @Instabug ? thanks.

[2016-02-17 17:16] msoliman commented on #54
@pnhoang we're still looking into this. Is it currently blocking you or are you able to get it to work by manually adding the .bundle file?

[2016-02-22 20:55] nirajignited commented on #53
@msoliman  I am experiencing this crash on version 5.1.0.

[2016-02-22 20:58] msoliman commented on #53
@nirajignited a workaround for this is to manually add the Instabug.bundle file into your app assets. Can you try this?

[2016-02-22 21:05] nirajignited commented on #53
@msoliman that worked. thanks

[2016-02-24 17:52] vocaro opened #56 "Enums are not Swift-friendly"
The enums in IBGEnums.h are not Swift-friendly. They force you to type out the entire enum, like this:

    Instabug.invokeWithInvocationMode(IBGInvocationModeFeedbackSender)

while in Swift this is normally reduced to:

    Instabug.invokeWithInvocationMode(.FeedbackSender)

You can enable this syntax sugar by adopting the NS_ENUM macro. For example:

    typedef NS_ENUM(NSInteger, IBGInvocationM

[2016-02-24 18:04] msoliman commented on #56
@vocaro Thanks for sending this over. I'll make sure to add this in our next release.

[2016-02-27 17:16] vocaro opened #57 "Screenshot cannot be disabled"
I recently upgraded from Instabug 4.1 to 5.1 and there is now a screenshot embedded in the feedback message. The screenshot is pointless for our use case because, in our app, Instabug's "Suggest an Improvement" dialog is always triggered by an explicit tap of a "Send Feedback" button in our settings screen -- so the screenshot is always the same: our settings screen. I looked in the API for some w

[2016-02-27 17:24] msoliman commented on #57
@vocaro we're adding this in our next version of the SDK, together with the ability to attach another screenshot from the app

[2016-02-28 15:18] bithavoc commented on #36
:+1:

[2016-03-01 04:39] msoliman commented on #56
@vocaro can you check in v5.1.2

[2016-03-01 15:51] timbroder commented on #22
I had this issue and ```pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'no_build_script'``` fixed it for me

Though it did downgrade from 5.1.2 to 5.1.0

[2016-03-01 19:45] msoliman commented on #22
@timbroder interesting, thanks for letting me know. I've updated `no_build_script` so it should be on 5.1.2 now

[2016-03-02 21:26] vocaro commented on #56
Looks good, thanks!

[2016-03-02 21:26] #56 closed

[2016-03-03 15:12] timbroder commented on #22
@msoliman interestingly enough, that broke it
this works
```    pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'no_build_script', :commit => '681d778c76e1d6570501c14bfd11dc8511525cd1'```

these do not

```pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'no_build_script', :commit => 'd04a04f881ce9b4f2f8910dd1ed390fa7219bd1e'```

[2016-03-03 18:44] msoliman commented on #22
@timbroder that's interesting. Can you try re-running pod install again? Also to make sure, this doesn't happen when you integrate the SDK manually, right?

[2016-03-06 22:21] magnett opened #58 "Detect if Instabug's UI is active"
Hi!
I know that the title is kind of weird but let me explain:

I am using [MZFormSheetController](https://github.com/m1entus/MZFormSheetController) for presenting modal views (mainly notification events) that may be triggered at any time. Some times when a popup is presented over Instabug's UI, weird things happen.
I need some kind of method or delegate or bool to let me know when your UI is on t

[2016-03-06 23:02] msoliman commented on #58
@magnett there's no API currently for that. But there's a workaround that you can use. Can you please email contactus@instabug.com and we'll take it from there. Just mention this GitHub issue.

[2016-03-23 20:28] irace commented on #22
@msoliman Is it still not possible to import the Instabug framework without a bridging header?

[2016-03-25 08:01] Aaang opened #59 "Enable and disable Instabug tracking and logging at runtime."
Hi!

This is more like a feature request for the public interface than a bug. We've just started using Instabug in our Apps (it's great!) and came across an API challenge for our simple use case.

_"We want to enable / disable Instabug only for certain users who might change during runtime"_

But you cannot disable the tracking once it was started, so when the users change during runtime they will

[2016-03-25 08:16] msoliman commented on #59
@Aaang that's interesting, thanks for sending this over.
So the `stop`/`start` API will be basically a master switch for the methods `setInvocationEvent(.None)`, `setUserStepsEnabled(false)`, `setCrashReportingEnabled(false)`, `setPushNotificationsEnabled(false)` and `setInAppConversationsEnabled(false)`.

Will this fit your use-case?

[2016-03-25 08:50] Aaang commented on #59
Yes it would basically be a master switch. We're actually doing the suggested approach above right now in code and I was wondering if this could somehow be provided by the API.

Maybe a `setupWithToken`, `start`/`enable` and `stop`/`disable` additional to the existing simple `startWithToken:invocationEvent`?

[2016-03-25 12:29] Aaang opened #60 "Crash: [IBGFeedbackVC submitPressedInScreenshotView:]"
Hi!

We've discovered a crash in version 5.2:

**Steps to reproduce**
1. invoke SDK to show feedback form by shaking the device
2. choose "Suggest an Improvement"
3. tap on the screenshot to show the screenshot view
4. tap on "Done" > Crash

**Sidenotes**
"Report a Problem" works just fine
"Cancel" pressed in screenshot view of "Suggest an Improvement" works just fine

**Instabug Settings**

    s

[2016-03-28 14:25] msoliman commented on #60
@Aaang just released a fix. Please check it and let me know how it goes.

[2016-03-29 07:47] Aaang commented on #60
@msoliman thanks for the fix. Unfortunately I cannot test it, because I get Linker errors now with the newest version 5.2.1, using Cocoapods 0.38.2:

<img width="1439" alt="instabug_linking_error" src="https://cloud.githubusercontent.com/assets/4800021/14101207/2cb58582-f593-11e5-8bd6-a8956529d2b8.png">

[2016-03-29 12:31] msoliman commented on #60
@Aaang this is Xcode7.3, right?
Can you try a clean build?

[2016-03-29 12:46] Aaang commented on #60
Oh sorry, it was conflicting with a cached pod version of Instabug. `pod cache clean --all` fixed it for me. I've tested the new version and it doesn't crash anymore.
@msoliman thanks again for the fix!

[2016-03-29 12:46] #60 closed

[2016-04-02 16:29] KiqueDev commented on #36
+1

[2016-04-04 15:38] VPTeamMobile commented on #36
+1
Really waiting the Carhage support.

[2016-04-06 11:42] vlrebrov opened #61 "Help in investigating our app crash"
Hi there!

Sometimes our app crashes and in our logs we see methods with prefix "IBG", so we suppose that there might be an issue in the included Instabug's library.
If possible, could you please help us to understand why the issue happens and provide us with a solution or any additional info for preventing this crash?

Below is a crash stack trace:

`Fatal Exception: NSInvalidUnarchiveOperationEx

[2016-04-06 17:56] msoliman commented on #61
@vlrebrov this should be fixed already in the latest version of the SDK. Can you verify it on v5.2.2?

[2016-04-07 01:59] msoliman opened #62 "hello"
**Comment:**
[code]

**Number:** 	 2024

**URL:** 	 https://instabug.com/applications/birdy-demo-app/issues/2024

**Type:** 	 bug

**Status:** 	 New

**Email:**

**Reported At:** 	 2016-04-06 19:16:54 UTC

**Location:** 	 San Francisco, United States

**Device:** 	 Simulator / iOS 9.3

**Memory:** 	 13843.76/13915.51 MB

**Storage:** 	 158.84/930.38 GB

**Connectivity:** 	 Carrier: (null), WiFi: S

[2016-04-07 01:59] #62 closed

[2016-04-07 08:12] vlrebrov commented on #61
Hello @msoliman, thanks a lot for the answer. Ok, I'll try to update to the latest version and will check it.

[2016-04-09 14:23] SerDev opened #63 "Crash on device with NSInvalidArgumentException Reason: *** setObjectForKey: object cannot be nil (key: email)"
Hi!

Our app became crashes after update with SDK 5.2.2.
Launch on simulator - OK.

Stack trace below:

UIApplication Exception: Objective-C exception thrown.  Name: NSInvalidArgumentException Reason: *** setObjectForKey: object cannot be nil (key: email)
	Native stack trace:
		0   CoreFoundation                      0x00000001842b4248 <redacted> + 160
		1   libobjc.A.dylib                     0x0

[2016-04-12 20:33] keith opened #64 "Provide a changelog"
Since the instabug framework is closed source, it isn't obvious what changed from release to release. It would be extremely useful if you provided a CHANGELOG ([example](https://github.com/Alamofire/Alamofire/blob/master/CHANGELOG.md)) file that contained the details so we would know what should be fixed/changed in each release.

Thanks!

[2016-04-13 13:28] alliamin commented on #63
Hello SerDev,
I've fixed your issue in this [build](https://www.dropbox.com/s/a6eerwtb9v75had/Instabug%20Fix.zip?dl=0). Please try it and let me know if you have any problem.
Thank you

[2016-04-19 19:44] brandonminch commented on #57
For anyone else facing this issue, for now you can call `Instabug.setWillTakeScreenshot(false)` to at least disable an automatic screenshot from being embedded.

[2016-04-25 15:26] florianschmidt1994 opened #65 "Cannot clone instabug: fatal: unable to access 'https://github.com/Instabug/Instabug-iOS.git/': transfer closed with outstanding read data remaining"
I can't clone this repository "by hand" using git clone (https / git) and therefore pod install also fails

[2016-04-27 17:05] MakeMeBetter commented on #39
Could you clarify when you plan to do this feature ?
Because we detect some weird scenario: [UIWindow makeKeyAndVisible] of previous UIWindow object not called after tapping Cancel Button.
So in our app we see white screen instead of UIWindow content that was before.
And now we can`t find some triggers when you do this magic, so we are suffering now..

[2016-05-03 08:46] maciekish commented on #36
Well?

[2016-05-03 18:54] alliamin commented on #65
Hello @florianschmidt1994
I tried cloning the SDK via git and via cocoapods and both seems to work perfectly.
What happens after you clone via "git clone"? any log/error messages?

[2016-05-03 19:01] msoliman commented on #64
@keith thanks for the suggestion. We currently maintain this in releases: https://github.com/Instabug/Instabug-iOS/releases

Do you still need a CHANGELOG file or do you think this is enough?

[2016-05-03 19:04] florianschmidt1994 commented on #65
This seemd to be a temporary issue, it is now working again. Thanks for your concern!

[2016-05-03 19:04] #65 closed

[2016-05-03 19:21] keith commented on #64
Ah perfect. I overlooked this after not seeing a CHANGELOG or any info in the commit messages. Thanks!

[2016-05-03 19:21] #64 closed

[2016-05-03 19:23] #58 closed

[2016-05-03 19:31] #35 closed

[2016-05-04 15:46] Serchinastico opened #66 "Decide when `showIntroMessage` is called"
Hi Instabug team!

Is there any option to avoid the library from calling `showIntroMessage` automatically? In our case, we want to decide when to show the educating message and show it only once. The fact that the library decides when to show you the popup is not documented anywhere and is kind of surprising IMHO.

We are using Instabug 5.2.2

Thanks for your time!

[2016-05-08 16:02] alliamin commented on #66
Hello @Serchinastico
You can prevent automatic intro message via `[Instabug setIntroMessageEnabled:NO]` and then you can invoke it whenever you want manually via `[Instabug showIntroMessage]`

[2016-05-08 20:47] alliamin commented on #63
Hello @SerDev
Well, after further investigation, I could find out what must be causing this issue. And I've put the fix in new release (Instabug 5.2.3). Please update Instabug to the latest version and let me know how it will work.

[2016-05-10 11:19] zrxq opened #67 "Reported UI buttons are too small for the localized text"
![simulator screen shot may 10 2016 13 03 23](https://cloud.githubusercontent.com/assets/820120/15144728/f4368812-16b9-11e6-8b02-37cb6c6dc8dc.png)

Note the ellipsis.

Instabug 5.2.3 (via Cocoapoda), iOS sim 9.3, any device (5, 6, 6+).

[2016-05-10 15:01] alliamin commented on #67
Hello @zrxq
A fix for this issue will be released next version. It handles text well for 6 and 6+. Can you suggest possible shorter words to fit in 320px screens without truncation.
You can use [this build](https://www.dropbox.com/s/jfy9zbivv1s70xg/Instabug%205.2.3%20Localisation%20Fix.zip?dl=0) until next release.

[2016-05-10 16:06] Serchinastico commented on #66
It seems to work just as expected.

Thanks for your time!

[2016-05-10 16:06] #66 closed

[2016-05-10 18:27] zrxq commented on #67
Hello @alliamin

Much appreciated!

I can't think of a word that's shorter than "Отмена" for "Cancel" ("Назад" is one character shorter but the literal meaning is "Back" and that's not exactly what you have there, I guess). Perhaps you could use an icon, ╳ or something? As for "Send", I think one could get away with "ОК" there, don't you think so?

Anyways, good to know the fix is on it's way, tha

[2016-05-11 19:19] alliamin commented on #67
Thank you @zrxq for help.
Actually we are considering something similar to your suggestion in future releases. [This custom build](https://www.dropbox.com/s/5zrfzjkjav5svr0/Russian%20Instabug.zip?dl=0) uses the word "Улучшение" as you suggest.

[2016-05-12 08:26] benfwirtz commented on #22
I still have the problem but can't get it fixed with the above suggestions.
- I use a bridging header for various other frameworks, and it seems to work, but the Instabug class reference in the AppDelegate's didLaunchWithOptions function doesn't get recognised ("use of unresolved identifier 'Instabug'").
- Neither adding nor removing "import Instabug" makes a difference.

In another thread it was

[2016-05-12 13:35] zrxq opened #68 "Instabug (5.2.3) crashes on iOS7"
[code]

[2016-05-12 14:52] zrxq commented on #67
Thank you very much :-)

[2016-05-13 04:26] ayushgoel opened #69 "Instabug setUserEmail: does not set the email"
[setUserEmail:](https://instabug.com/public/ios-api-reference/Classes/Instabug.html#//api/name/setUserEmail:) does not set the email Instabug interface.

Using it this way:

    Instabug.setUserEmail(account.email)

![simulator screen shot 13-may-2016 9 55 34 am](https://cloud.githubusercontent.com/assets/893050/15237987/d9e7253c-18f0-11e6-9a6c-bbe3d7739ff6.png)

[2016-05-15 17:22] alliamin commented on #69
hay @ayushgoel
Please make sure `account.email` is set to valid email value. otherwise it is treated as nil value.

[2016-05-16 05:00] ayushgoel commented on #69
The value currently is `ayushgoel111@gmail.com`.
I set the email during initialisation of Instabug. The Feedback reporter is presented later in the lifecycle. Can that be an issue?

[2016-05-16 08:59] alliamin commented on #69
Please show me your Instabug initialization code. Also how do you invoke Instabug. using `invoke` or `invokeWithInvocationMode`?

[2016-05-16 09:26] ayushgoel commented on #69
[code]
Invocation
[code]

[2016-05-16 13:13] alliamin commented on #69
Hay @ayushgoel
Still can't reproduce the issue :(
Please send the link of this issue to ***support@instabug.com*** and I'll follow up with you.
Thank you.

[2016-05-16 18:08] alliamin commented on #68
Hay @zrxq
This issue is fixed in 5.2.4 Please update SDK.

[2016-05-19 09:52] zrxq commented on #68
Thanks!

[2016-05-19 09:52] #68 closed

[2016-05-22 12:24] #63 closed

[2016-05-22 12:24] #67 closed

[2016-05-30 11:04] saurabhshrivastava2111 opened #70 "Instabug crashes in Swift throwing an error."
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'NSConcreteMutableAttributedString initWithString:: nil value'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001065d3d85 __exceptionPreprocess + 165
	1   libobjc.A.dylib                     0x0000000106045deb objc_exception_throw + 48
	2   CoreFoundation                      0x0000000106

[2016-05-31 11:20] ayushgoel commented on #69
Sorry, this issue is wrong.
It does set the email (if given). I tested it in my signup flow, where I had coded it wrong, setting it to `nil`.
Closing..

[2016-05-31 11:20] #69 closed

[2016-06-06 09:59] jweihs opened #71 "preSendingBlock IBGLog() and NSLog() not included in report"
In order to get all necessary information, i'm using the `preSendingBlock` to call some IBGLogs and NSLog.
The block get called properly, but the logs are not contained in the relevant report.
A second report contains the logs from the first report (due to the delay), but not from the second one.

[2016-06-07 07:51] pnull commented on #36
+1

[2016-06-07 22:19] alliamin commented on #70
Hello @saurabhshrivastava2111. Sorry for late reply.
Are you sure Instabug.bundle is included in your project?

[2016-06-09 14:15] alliamin commented on #71
Hello @jweihs
I've checked this issue and it is fixed now. It will be available in next release.
Thanks for reporting.

[2016-06-09 14:17] jweihs commented on #71
Thanks @alliamin for the fast support - makes Instabug really valuable!

[2016-06-10 19:39] #70 closed

[2016-06-15 09:31] gilserrap opened #72 "Crash method swizzling only first run"
The first time we run our app from a fresh install on iOS 8.4.1 with Instabug 5.2.5 it crashes when tapping on any random tab of the tab of the tabbar... but then when we launch again the app after the crash it works fine...
I saw that a similar bug was reported previously and it was solved by disabling the tracking of the user steps, but this isn't working for us.

This is the bug report from cra

[2016-06-15 11:32] alliamin commented on #72
Hello @gilserrap please try removing Instabug from you application and check if crash sill happening. I think this crash is not Instabug related.

[2016-06-16 08:56] gilserrap commented on #72
You're absolutely right! It's not the Instabug SDK, sorry for the inconvenience. Thanks for the fast answer.

[2016-06-16 08:57] #72 closed

[2016-06-22 11:28] haaakon opened #73 "Remove legacy withArguments parameter from Instabug.IBGLog(:withArguments:)"
With Swift there is no need for writing the IBGLog method with a parameter that is va_list
`+ (void)IBGLog:(NSString *)format withArguments:(va_list)arguments;`

as you can do the same thing using String interpolation
given
`    let myAge = 28`
this
 `   Instabug.IBGLog("my age: %lu", withArguments: myAge)`

will be the same as

` Instabug.IBGLog("my age: \(myAge)") `

which is much more "Swifty".

[2016-06-22 13:06] Figo0o commented on #73
@haaakon Thanks for the suggestion,

We will make sure to bring this new API next Release, but we have to keep both.

If you have any more questions don't hesitate to let us know!

[2016-06-22 13:09] haaakon commented on #73
Cool, yeah prob a good idea to have the parameter optional, and keep the old one for those that use it.

I had a hard time actually using Swift to create the va_list argument so ended up doing this to make it compile (i just want to print the string which i make with String interpolation):

[code]

[2016-06-22 13:38] Figo0o commented on #73
@haaakon, I see now. But there is an easier way to do so.

 Just Put following function inside you class
[code]
And then use it like this `IBGLog("%@ - %d - %0.1f", "foo", 3, 3.0)`

[2016-06-22 13:40] haaakon commented on #73
Yeah, but i really didn't want to do it that way as it felt wrong in Swift. Just had a hard time getting the method call to acutally compile, since the weird CVAListPointer stuff :)

[2016-06-26 15:18] #71 closed

[2016-06-27 08:16] Anders123fr opened #74 "Add Danish localization"
Hi,
I would be very excited if you could add support for Danish localization.
We are going to use Instabug in a large project in Denmark, but the rest of the app is in Danish so it would be really great if Instabug was too.

I am willing to do the translation as I am a native dane, so you can just post the text to translate here, or send me a message :)

Best Regards

[2016-06-27 09:10] msoliman commented on #74
@Anders123fr Thanks for offering to help :)
Sure, let's do this. Can you email us to communicate over the translation strings that we need?
Here's our email address: contactus@instabug.com

[2016-06-27 09:15] Anders123fr commented on #74
Sure, I just sent you an email

[2016-06-27 10:06] raphaelcruzeiro commented on #21
@msoliman We have deployed our first public build with Intabug on Friday 24th. Today (Monday 27th) our top crash is this one. Any ideas on what might be happening?

This is what I get on Crashlytics:

[code]

Thanks

[2016-06-27 11:47] Kmohamed commented on #21
@raphaelcruzeiro
I am sorry inconvenience.
I would like to ask you about the SDK version and all code for Instabug that you use.

[2016-06-27 12:52] raphaelcruzeiro commented on #21
@Kmohamed No need to apologize here. Instabug is awesome!

 I'm using Instabug (5.2.5). This is the only Istabug code that I have on my project:
[code]

[2016-06-27 13:04] Kmohamed commented on #21
@raphaelcruzeiro
Can you contact us at  contactus@instabug.com and we will follow up with you.
Thanks.

[2016-06-28 10:21] Figo0o commented on #73
hey @haaakon, Please check the new release and tell us your feedback.

if there is anything else please let us know.

[2016-06-28 13:12] #73 closed

[2016-06-29 11:41] alliamin commented on #74
Hello @Anders123fr
Instabug 5.3 is now available with Danish localization support 👍

[2016-06-29 11:53] Anders123fr commented on #74
Yeah i read the release notes, but the locale enum does not contain a value for Danish. Can you find it?

[2016-06-29 11:53] Anders123fr commented on #74
https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.framework/Versions/A/Headers/IBGEnums.h

[2016-07-14 06:26] Azeeshan123 opened #75 "Instabug invoke conversations"
Hi,

I am trying to add the InApp Conversations in my iOS app.

I have added the token in the AppDelegate.m file as below:
[Instabug startWithToken:APP_ID invocationEvent:IBGInvocationEventShake];
[Instabug setInAppConversationsEnabled:NO];

Then on a button tap, I called the "[Instabug invokeConversations];" but nothing happened.

Can you please let me know where I am wrong? Or is this a bug?

Th

[2016-07-14 06:43] Azeeshan123 opened #76 "Instabug invoke conversations not getting called"
Hi,

I am trying to add the InApp Conversations in my iOS app.

I have added the token in the AppDelegate.m file as below:
[code]

Then on a button tap, I called the method `[Instabug invokeConversations];` but nothing happened.

Can you please let me know where I am wrong? Or is this a bug?

Thanks

[2016-07-14 09:28] msoliman commented on #75
@Azeeshan123 you need to keep InAppConversations enabled for the invokeConversations API to work.
Also note that if you didn't report any bug or feedback from this device before, invokeConversations will do nothing.

[2016-07-14 09:32] #76 closed

[2016-07-15 19:10] samsonjs opened #77 "Crash adding image from library in landscape only app, involving [PUUIAlbumListViewController shouldAutorotate]"
I'm working on an app that only supports landscape orientations and when we try to attach images from the photo library Instabug throws an exception, crashing the app with this log:

`Supported orientations has no common orientation with the application, and [PUUIAlbumListViewController shouldAutorotate] is returning YES`

[2016-07-15 19:21] samsonjs commented on #77
While trying to use the pre & post invocation blocks to work around this issue I may have found another bug. The pre & post invocation blocks aren't called when I set the default invocation mode to bug reporter: `[Instabug setDefaultInvocationMode:IBGInvocationModeBugReporter];` ... Should I file a separate issue for that?

[2016-07-15 21:07] Kmohamed commented on #77
Hay @samsonjs
Please report your issue to support@instabug.com and I'll follow up with you.
Thank you.

[2016-07-15 21:09] samsonjs commented on #77
will do!

[2016-07-15 22:16] #77 closed

[2016-07-18 19:59] nekonari commented on #54
I'm seeing exact same issue. I wasted 3 hours on this... Any update on the fix?

[2016-07-19 08:11] pnhoang commented on #54
if you manually copy the bundle to the project, then it will work. this problem does not occur any more with the latest version. double check if you use the latest version from their available pods.

[2016-07-19 13:23] Anders123fr commented on #74
Fixed in release 5.3.1

[2016-07-19 13:23] #74 closed

[2016-08-03 11:38] degterev commented on #36
+1

[2016-08-03 11:38] Quarezz commented on #36
+1

[2016-08-03 17:41] nullfox opened #79 "Swift app crashes with EXC_BAD_ACCESS trying to manually invoke"
I'm working on a Swift app and am seeing EXC_BAD_ACCESS with a stack trace where it recursively asks for supported orientations and eventually crashes, here's a sample of the backtrace (After it repeats this at least 200+ times it crashes):

[code]

[2016-08-03 18:53] Figo0o commented on #79
Hey @nullfox, Please report your crash to support@instabug.com and I will follow up with you.

Thanks,

[2016-08-05 21:41] nullfox commented on #79
Hey @Figo0o I shot support an email 2 days ago, haven't heard anything back yet.

Cheers

[2016-08-06 13:24] Figo0o commented on #79
Hey @nullfox , Sorry for being late. Check it now.

Thanks,

[2016-08-07 22:20] 8masterofpuppets8 opened #80 "Ability to set intro message."
It would be great to have the ability to set the intro message text. I could not find that option in the SDK.

[2016-08-08 21:07] martinc opened #81 "Stop storing data in Documents directory"
The Instabug SDK is storing files in the Documents directory, which is against Apple's iOS Data Storage Guidelines. They specify that only user-generated documents should be in the Documents directory. The files are not large, under 1KB, but they should be moved to /Library as other 3rd-party libraries do.

These files include IBGServers.txt and IBGCache/cachedThreads

[2016-08-09 06:10] alliamin commented on #81
@martinc you are absolutely right. we'll consider fixing this in next version.

[2016-08-09 06:15] alliamin commented on #80
Hello @8masterofpuppets8 this API will be available in next version. stay tuned.

[2016-08-10 03:18] jaredegan opened #82 "preferredStatusBarStyle not called after modal view controller presented"
After integrating Instabug, our UIStatusBar style is no longer updating after modally presenting a view controller. The `preferredStatusBarStyle` is not getting called. Interestingly, after about 10 seconds, it does get called with the following stack trace, but does not affect the status bar style.

![image](https://cloud.githubusercontent.com/assets/303795/17540739/c2acd80e-5e86-11e6-8bad-e40af4

[2016-08-10 05:00] alliamin commented on #82
Hello @jaredegan
Can you tell me what version of Instabug do you use?

[2016-08-10 14:04] jaredegan commented on #82
5.3.2

[2016-08-10 14:19] jaredegan commented on #82
Sorry for the lack of info in the original post. This also only happens when using the `IBGInvocationEventFloatingButton` mode.

[2016-08-12 03:25] victorlin opened #83 "Framework does not include build for x86_64"
Since upgrading to 5.3, all our builds against simulator failed

[code]

Have no time to look into it closely yet, but it seems x86_64 build is missing in your framework. 5.2 works fine for us.

We need to run unit tests on simulator, as Instabug is always there in our app, can you guys please fix x86_64 for us?

Thanks.

[2016-08-13 14:55] Figo0o commented on #83
Hey @victorlin,

Well, I think that you are using swift. If I am right go to your `xxxx-Bridging-Header.h` and remove `#import <Instabug/Instabug.h>`

Please let me know if you still facing issue.
Thank you.

[2016-08-13 17:16] Figo0o commented on #82
Hey @jaredegan,

This will be fixed next Release, But please let me know if this issue is blocking you.

[2016-08-14 02:15] jaredegan commented on #82
No worries, we can survive. Is there a schedule for the next release?

Instabug seems like a great tool from my POV, looking forward to getting
bug reports from users.

On Sat, Aug 13, 2016 at 1:16 PM, Ahmad Farrag <notifications@github.com>
wrote:

[2016-08-15 17:10] Figo0o commented on #82
hey @jaredegan,

please report your issue on support@instabug.com and I will follow up with you.

[2016-08-16 07:14] Figo0o commented on #82
hello @jaredegan,

here is a custom build for you, please try it and tell me if you still facing any issues.

Thank you.
[instabug.zip](https://github.com/Instabug/Instabug-iOS/files/419701/instabug.zip)

[2016-08-16 12:55] zaitsevyan opened #84 "Add Slovak localization"
I cannot update from 4.* to 5.* beacause you have no way to add custom localization.

Thanks for czech localization.

p.s. android sdk has opportunity to add custom language support

[2016-08-16 20:55] paulshapiro commented on #22
I also encountered this issue. I'm concerned by the lack of proper response.

[2016-08-17 08:51] msoliman commented on #22
@irace @benfwirtz @paulshapiro Sorry for the delay in getting back to you.
So we've recently updated our SDK adding module map support. So you won't need to add a bridging header now. Just add `use_framewords!` to your pod file and import Instabug right away into your App Delegate.

Please let me know how it goes.

[2016-08-17 13:06] timbroder commented on #22
Confirming I no longer need this to install Instabug via cocoapods

[code]

This works:

[code]

[code]

[2016-08-17 16:56] #79 closed

[2016-08-25 07:58] alliamin commented on #84
Hey @zaitsevyan
Custom SDK strings for custom localization support will be available next release. stay tuned.

[2016-08-28 10:36] #83 closed

[2016-08-31 20:16] keith opened #85 "Instabug cannot be included with targets including Bitcode and using -ObjC"
Currently if you try to include Instabug in a project with Bitcode enabled, that also has `-ObjC` as part of the target's `OTHER_LDFLAGS` archiving the app fails with this error:

[code]

There isn't much about this online but there is [this post](https://forums.developer.apple.com/thread/11098) which made the issue sound like it was caused by having inline assembly. Of course I didn't expect Inst

[2016-08-31 21:11] msoliman commented on #85
@keith I'll look into this and I'll keep you updated.

In the meantime, we've stripped out PLCrashReporter and created a separate branch: https://github.com/Instabug/Instabug-iOS/tree/without_crash_reporting

[2016-08-31 21:19] keith commented on #85
Thanks for the quick turn around! We'll integrate this one and test it out!

[2016-08-31 22:16] GChearswat commented on #21
I'm also having the same issue

[2016-09-01 06:46] Kmohamed commented on #21
@GChearswat
Hello George,
Can you send me the crash report ?
Thanks.

[2016-09-01 14:59] keith commented on #85
Looks like this branch has the same problem. If you change this in the sample project I attached you'll see the same error.

[2016-09-07 12:41] yellowdps commented on #21
@Kmohamed Hi, seems I've got the same problem in my application.  (SDK version 5.3.2, iOS 9.3.4 iPhone 6, and crash reports bellow). This crash appeared only once (on now) and I can't reproduce it again. Can you please advice me solution?
Thanks!

Crashed: com.apple.main-thread
0  hellyell                      0x10097d6c4 -[IBGMethodSwizzler viewDidAppear:] + 887452
1  hellyell

[2016-09-07 12:47] Kmohamed commented on #21
@yellowdps Thanks A lot for reporting the crash log
I will try to reproduce it.
Once I found a solution I will inform you.

Thanks,

[2016-09-07 12:48] Kmohamed commented on #21
@yellowdps can you send me the code you write in `viewDidAppear ` ?

[2016-09-07 13:15] yellowdps commented on #21
@Kmohamed Thanks for fast reply. I just see this crash in Crashlytics log. It's hard to say which controller was called before it crashed.

[2016-09-07 13:26] Kmohamed commented on #21
@yellowdps you know that the crashes that occurs rarely
can not be catch easily.

so do you swizzle methods in your project ?

[2016-09-07 13:50] yellowdps commented on #21
We work with some third party pods that use swizzling under the hood (Typhoon, ObjectAL for iPhone, RAC)

[2016-09-07 13:57] Kmohamed commented on #21
@yellowdps Thanks a lot.
Once I find a solution I will inform you.

[2016-09-07 18:13] kangaroo5383 commented on #21
FYI the workaround with `setIsTrackingUserSteps:NO` worked for us.  We are no longer seeing the crash mentioned.

[2016-09-07 18:42] msoliman commented on #21
@yellowdps can you send me the order of initialization of the third party pods that you're using in your AppDelegate?

[2016-09-08 01:06] medmonds commented on #21
@msoliman It looks like `[IBGMethodSwizzlerManager getSwizzlerWithSelector:forClass:]` encounters an issue if sendEvent is swizzled to a method whose name doesn't contain `sendEvent`. In the case I have encountered I believe this method is swizzled again after your code has swizzled not before but I could be wrong.

[2016-09-21 14:54] Kmohamed commented on #21
@raphaelcruzeiro
I am still investigating in this issue and I would to ask if you can help me reproduce the crash.
So can you send me any third party library that swizzle and the initialization code for it and our SDK initialization code ?

[2016-09-23 01:50] skooterCodin opened #86 "Crash in reportError"
The following stack trace is being recorded when we upload errors via the ```reportError``` mechanism

[code]

[2016-09-23 02:01] #86 closed

[2016-10-02 03:31] michaelbina opened #87 "Intro dialog showing up in corner of the screen"
I'm not entirely sure when this started, but it might have been when I upgraded to swift 3.0.

Is anyone else seeing this issue?  The other dialogs after someone shows a screenshot are showing up fine.

![img_1216](https://cloud.githubusercontent.com/assets/528845/19018445/057f4ec4-8816-11e6-83dc-7ee1f8d7de8c.PNG)

[2016-10-03 10:29] Figo0o commented on #87
Hey @michaelbina,

Can you provide me with Instabug and iOS version used?

Thanks,

[2016-10-03 18:16] michaelbina commented on #87
V5.3.2 and v5.3.1 and iOS 10 with Swift 3

[2016-10-03 19:06] msoliman commented on #85
This is now fixed on https://github.com/Instabug/Instabug-iOS/tree/dynamic_framework
PS. This support iOS 8+

[2016-10-03 19:06] #85 closed

[2016-10-03 22:19] #82 closed

[2016-10-03 22:45] Figo0o commented on #36
Guys,

We are happy to announce supporting Carthage, add `github "Instabug/Instabug-iOS" "dynamic_framework"` to your Cartfile and enjoy :) ..

Please let us know if there is any feedback.

Thanks,

[2016-10-03 22:45] #36 closed

[2016-10-03 22:47] #54 closed

[2016-10-03 22:50] Figo0o commented on #61
@vlrebrov Please let us know if you still facing the same issue using Instabug's latest version.

[2016-10-03 22:50] #75 closed

[2016-10-03 23:12] Figo0o commented on #87
Hey @michaelbina,

here is a custom build for you, please try it and let me know if you still facing the same issue.

Thanks,
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/507340/Instabug.zip)

[2016-10-03 23:22] michaelbina commented on #87
I'm using pods.  Any way you can just make that another branch and i can point my podfile to it?

[2016-10-04 00:23] michaelbina commented on #87
Or let me know the changes and I can make them in my own form

[2016-10-04 05:40] michaelbina commented on #87
@Figo0o - I tried that custom build and it didn't solve the problem.  Any other ideas?

[2016-10-04 07:29] Figo0o commented on #87
@michaelbina Sorry for inconvenience.

Please try this custom build, this issue should be solved.
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/507849/Instabug.zip)

[2016-10-04 07:56] #61 closed

[2016-10-04 08:45] michaelbina commented on #87
@Figo0o - Yes that fixes it, thanks!  Will the changes be included in the next release?  I'd like to switch back to using it from cocoapods whenever possible.

[2016-10-04 09:01] Figo0o commented on #87
Yeah sure, This issue should be solved in the next release.

[2016-10-04 10:10] vlrebrov commented on #61
Hi @Figo0o

Sorry for the delayed answer. Yes, looks like everything was fixed. Thanks a lot again!

[2016-10-04 12:21] alliamin commented on #39
@X140Yu @MakeMeBetter You can use `setPreInvocationBlock` and `setPostInvocationBlock` that are executed before and after SDK invocation respectively.

[2016-10-04 12:23] #39 closed

[2016-10-04 12:24] alliamin commented on #57
@vocaro @brandonminch Now you can use `setWillTakeScreenshot:`

[2016-10-04 12:31] #57 closed

[2016-10-14 17:31] msoliman opened #89 "Testing 927"
**Comment:**
[code]

**Number:** 	 2066

**URL:** 	 https://instabug.com/applications/birdy-demo-app/beta/issues/2066

**Type:** 	 bug

**Status:** 	 New

**Email:** 	 msoliman3890@gmail.com

**Reported At:** 	 2016-09-27 12:44:23 UTC

**Location:** 	 Cairo, Egypt

**Device:** 	 iPhone 6s Plus / iOS 10.0.2

**Memory:** 	 1557.8/1611.88 MB

**Storage:** 	 19.54/54.94 GB

**Connectivity:** 	 Carrier

[2016-10-14 17:32] #89 closed

[2016-10-17 06:11] Figo0o commented on #81
Hey @martinc, This now should be solved with the new release. Thanks for your feedback.

[2016-10-17 06:11] #81 closed

[2016-10-17 06:12] Figo0o commented on #87
Hey @michaelbina, Check out our new released version. This should be solved for now.

Thanks for your feedback.

[2016-10-17 06:12] #87 closed

[2016-10-17 06:15] Figo0o commented on #84
Hey @zaitsevyan, Please check out our new Release. We now do support Czech and custom strings.

Waiting for your feedback. Thanks.

[2016-10-17 06:15] #84 closed

[2016-10-17 06:17] Figo0o commented on #80
Hey @8masterofpuppets8, Please checkout our new Version. Now you can customize any string you like.

Thanks for your feedback.

[2016-10-17 06:17] #80 closed

[2016-10-18 14:34] arturgrigor opened #90 "Orientation crash"
I'm getting this crash with the latest version of the SDK (6.0.2) because our app only supports the `UIInterfaceOrientationLandscapeLeft` and `UIInterfaceOrientationLandscapeRight` orientation.

2016-10-18 17:26:29.738470 TerritoryManager[4509:2561737] *** Terminating app due to uncaught exception 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation

[2016-10-18 15:05] alliamin commented on #90
@arturgrigor
Apple support mentioned a workaround to solve this
https://devforums.apple.com/message/731764#731764

What Apple says is that we will need to support all orientations in `-application:supportedInterfaceOrientationsForWindow:`

And in ViewControllers, we can override
`-supportedInterfaceOrientations:`

To limit orientation to landscape.

[2016-10-18 15:36] arturgrigor commented on #90
Perfect! Thanks @alliamin!

[2016-10-18 15:36] #90 closed

[2016-10-22 13:34] negativetwelve opened #91 "Add vendored_frameworks to the podspec"
Hi there!

Currently, the podspec for Instabug doesn't include `vendored_frameworks` which (from my understanding) makes it difficult for other pods (not projects) to depend on Instabug as a dependency.

Problem I'm facing right now:
Been hacking on a react-native bridge for Instabug (didn't realize you all were making an official one) and couldn't link this library without specifying the need for

[2016-10-25 21:35] dmur opened #92 "Exclude localizations when installing via Cocoapods?"
Hi there,

When installing the SDK via Cocoapods, all localizations are included. The App Store automatically detects languages upon app submission based on which localization files are present. This means that any app with Instabug installed will be listed in the App Store as supporting all languages which the Instabug SDK supports.

The workaround is currently to go through the Instabug.bundle c

[2016-10-31 09:15] yousefhamza commented on #91
Hi Mark,

Thank you for helping us improving Instabug!

About `vendored_frameworks`, It is actually not needed since we have `s.xcconfig     =  { 'FRAMEWORK_SEARCH_PATHS' => '"$(PODS_ROOT)/Instabug/"' }` which is basically the same thing.

More about this here: https://github.com/CocoaPods/CocoaPods/issues/1993

[2016-10-31 11:10] HeshamMegid commented on #92
Hi @dmur,

Have you been able to verify that this is caused by Instabug? I have submitted several test builds to iTunes Connect with Instabug installed via Cocoapods using different configurations to try to reproduce this issue but I was unable to do so.

What else do you have in your `podfile` if you don't mind sharing.

[2016-11-02 00:21] dmur commented on #92
Hi @HeshamMegid,

Thanks for the prompt reply. I do believe this is caused by Instabug. When submitting our latest build to the App Store, we received this notification upon submission:

<img width="499" alt="screen shot 2016-11-01 at 5 16 25 pm" src="https://cloud.githubusercontent.com/assets/1051674/19912378/411689b2-a057-11e6-8824-0a386add1c3c.png">

I will confirm the languages are updated in

[2016-11-02 08:01] HeshamMegid commented on #92
@dmur, this issue is caused by `FormatterKit` since its .lproj files are not added to a separate bundle. Check this issue: https://github.com/mattt/FormatterKit/issues/88

By the way, you can check the build languages in iTunes Connect before it has been accepted into the App Store. Check Store Information under the Activity tab.

[2016-11-02 10:02] negativetwelve commented on #91
thanks for the response @yousefhamza!

Makes sense, I haven't had too much time to look into it, but I'll see if there's something else that's off (on my end).

Just curious, how come you aren't bundling a podspec with https://github.com/Instabug/instabug-reactnative ?

[2016-11-02 16:57] rudolfchengsc opened #94 "`Copy Pods Resources` Build Phase Failed in Enterprise Build"
When building an enterprise build with `fastlane`, `Copy Pods Resources` build phase fails when I use the latest version of Instabug, while v5.3 succeeds.  Am I doing something wrong or it warrants some investigation?

[2016-11-04 14:01] deyil opened #95 ""Instabug.setString" crashes app when used with key ".thankYouText""
`Instabug.setString(string, toKey:.thankYouText)` crashes my app. This only happens with key ".thankYouText"

[2016-11-04 14:17] Kmohamed commented on #95
Hey @deyil
Sorry for inconvenience, we will fix it in the next release

[2016-11-05 21:01] Figo0o commented on #94
Hey @rudolfchengsc, Let me check this for you and get back to you.

[2016-11-06 16:12] rudolfchengsc commented on #94
Thx!  FYI, I'm using cocoapods v3.8.2 and ruby 2.0.0.  Don't ask... LOL

[2016-11-08 07:14] #92 closed

[2016-11-08 08:41] yousefhamza commented on #91
We are referencing the framework in the host app instead, we will look into the podspec way for doing that in the future and compare.
The documentation of react-native in that area (native module with dependencies) really comes short and left a lot the imagination and experimentation.

[2016-11-08 08:41] #91 closed

[2016-11-08 20:17] negativetwelve commented on #91
sure thing, sounds good I'll keep watch on that repo!

[2016-11-10 11:14] HeshamMegid commented on #94
Hi @rudolfchengsc. Unfortunately, I have been unable to reproduce this issue.

Would you please make sure you are on the latest version of both Cocoapods and fastlane and let me know if this still fails? If it does, please share more info about your fastlane setup and which lanes you use.

[2016-11-14 13:17] Kmohamed commented on #95
Hey @deyil ,
I would like to inform you that we just release a new version of Instabug contains the Fix [Instabug](https://github.com/Instabug/Instabug-iOS).

[2016-11-14 13:17] #95 closed

[2016-11-26 14:52] walsht commented on #94
I am having the same issue.  I am using cocoapods-1.1.1 and just running cocopods update, I get Installing Instabug (6.1)
I get this exception when building to Release scheme, Debug works fine.
`Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_Instabug", referenced from:
      objc-class-ref in WiTSettingsViewController.o
      objc-class-ref in WiTCommonAppDelegate.o
ld: symbol(s) not f

[2016-11-26 14:58] walsht commented on #94
This resolved my issue.
https://github.com/Instabug/Instabug-iOS/issues/14

[2016-11-28 11:56] HeshamMegid commented on #94
@walsht, the issue you're having has been fixed in 6.1.1. Please update and let me know if you're still experiencing the same problem.

[2016-11-29 15:17] msoliman opened #96 "I cant use the app. Please help"
**Title:** 	 I cant use the app. Please help

**Number:** 	 2104

**URL:** 	 https://instabug.com/applications/birdy-demo-app/beta/bugs/2104

**Status:** 	 Closed

**Email:** 	 msoliman3890@gmail.com

**Reported At:** 	 2016-11-25 17:53:38 UTC

**Location:** 	 , Egypt

**Device:** 	 iPhone 7 Plus, iOS 10.1.1

**Memory:** 	 2452.0/2690.0 MB

**Storage:** 	 12.997/116.122 GB

**Connectivity:** 	 Car

[2016-12-01 15:41] fannt opened #97 "UIWindow disappears after Instabug feedback invocation"
We have floating UIWindow in the app for the audio player. After Instabug feedback widow hides, our window disappears too. It's still in memory, not hidden, alpha == 1...
Could that be directly related to the SDK code? Some method swizzling?

[2016-12-02 15:26] fannt commented on #97
switching color to black for the main view on that Window helped bring it back. Any ideas?

[2016-12-06 19:51] Drewpom opened #98 "EXC_BAD_ACCESS crash when cancelling"
I recently upgrade my Instabug SDK after having some issues with the old `addTags` func, but we're now seeing crashes if you try to cancel the Instabug feedback screen. While the crash doesn't always happen, it is nearly guaranteed if you quickly try to back out.

I even made a completely new, empty project, and the crashes are still frequent. If there's anything I can try or provide, please let m

[2016-12-06 20:33] #96 closed

[2016-12-06 20:42] msoliman opened #99 "Testing integration"

[2016-12-06 20:42] #99 closed

[2016-12-06 20:57] Kmohamed commented on #98
Hello @Drewpom ,
we are very sorry for convenience.
I just trying to reproduce the crash on the current SDK version but unfortunately no luck.
Could you provide me with Instabug code and your iOS version.
Best,

[2016-12-06 21:07] Drewpom commented on #98
Here's my test app code, we're currently stuck on Swift 2.2 / Xcode 7.3.2.

[TestApp.zip](https://github.com/Instabug/Instabug-iOS/files/635028/TestApp.zip)

[2016-12-06 22:24] Kmohamed commented on #98
Hello @Drewpom ,
We are very sorry for inconvenience.
Here is a custom build that fixes the crash.
[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/635209/Instabug.zip)
This fix will be in the next release.

[2016-12-07 08:57] HeshamMegid commented on #97
@fannt, let me look into that issue and get back to you.

[2016-12-07 14:15] Drewpom commented on #98
@Kmohamed thank you so much! Works great.

[2016-12-07 14:15] #98 closed

[2016-12-07 15:20] HeshamMegid commented on #97
Unfortunately, I haven't been unable to reproduce this issue. Could you please tell me more about your environment? Like which version of iOS you're experiencing this problem on and which version of the Instabug SDK you have installed.

Also, if you're able to reproduce the issue in a sample project, that would help greatly.

[2016-12-08 09:58] fannt commented on #97
@HeshamMegid no problem

here is the project https://github.com/fannt/InstabugBug

steps:
- show window
- toggle instabug with shake
- cancel or do smth
- observe blue window vanished

[2016-12-13 12:06] HeshamMegid commented on #97
@fannt thanks for the sample project, that was helpful!

Here's a build of the SDK that fixes this issue. Please give it a try and let me know if that issue still happens.

This fix will be available in our next release.

[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/648857/Instabug.zip)

[2016-12-13 20:41] rvi opened #100 "can't retrieve the logs from file"
Hey,

I try to send the logs while sending an Instabug, and I can't see any log in my dashboard...

For writing and saving logs we use [SwiftyBeaver](http://swiftybeaver.com/). (see the class FileDestination).

Here's my code:

[code]

What am I doing wrong?

[2016-12-13 22:52] Kmohamed commented on #100
@rvi
I would like to clarify something that attached files will not shown in log field but will be shown as attachment "file attachment".
are you unable to find your attached file ?

[2016-12-13 22:59] rvi commented on #100
Thanks @Kmohamed.

I found it, yes, but I always have an empty file named `d10d7d0721904cfaff23dc0074e0402b_original`.

[2016-12-13 23:04] Kmohamed commented on #100
@rvi
are you sure that you upload a valid file ?

[2016-12-13 23:04] rvi commented on #100
Well, I don't know what's SwiftyBeeaver does with it, maybe it's empty at the begining?

[2016-12-13 23:05] rvi commented on #100
Anyway, I used `IBGLog()`, and it's fine now. Thanks for your help.

[2016-12-13 23:05] #100 closed

[2016-12-13 23:07] Kmohamed commented on #100
@rvi
I think this is the point.
once you use this API `Instabug.setFileAttachment` we copy your file into a private path.
so it's changed later will not be uploaded.

[2016-12-14 06:37] #94 closed

[2016-12-19 18:53] fannt commented on #97
6.1.3 works well for me, cheers

[2016-12-21 11:49] fannt commented on #97
oh, sorry, it doesn't work.
 6.2 works on cancelling but doesn't work after submitting the bug

[2016-12-21 11:54] HeshamMegid commented on #97
@fannt oh, sorry about that. Let me look into it.

[2016-12-22 10:35] HeshamMegid commented on #97
@fannt We've fixed this issue on 6.2.1.

[2016-12-25 08:37] #97 closed

[2016-12-29 01:59] mikewlange opened #101 "-[IBGTextView removeObserver:]: unrecognized selector sent to instance 0x7fbca7845600"
Everything works great until you submit a bug. The bug even shows up in the instabug dash. However, since  Version: 6.1 post submission crashed the app. This crash happens lazily too, the view that you submitted the bug on shows for a sec then this breaks it. Can't test because instabug is closed. Any thoughts? Thanks so much!!

Here is the stack starting/ending with instabug work

2016-12-28 20:4

[2016-12-29 08:30] HeshamMegid commented on #101
Hi @mikewlange, let me look into this and get back to you.

[2016-12-29 10:09] HeshamMegid commented on #101
@mikewlange, unfortunately I haven't been able to reproduce that issue. Would you mind sharing more details about your environment to help us reproduce it, like which version of iOS you're running, whether that crash happens on iPhones or iPads, and which version of the SDK you're on.

Also, it would be great if you could share the code you use to initialize the SDK, as well as any customizations

[2017-01-07 21:06] leojkwan opened #102 "Setting email required/ and default email not working"
I want to remove the optional email field in the feedback section.

in appdelegate I am calling
[code]
but the feedback modal still shows the 'enter your email' field.

[2017-01-07 22:28] Kmohamed commented on #102
Hi @leojkwan,
Can you tell me your SDK version ?

[2017-01-07 22:36] leojkwan commented on #102
version 9? bundle version 6.3

[2017-01-07 22:45] Kmohamed commented on #102
I tried to reproduce the bug but unfortunately I fail.
Could you provide me with more details about Instabug intilizaion code ?

[2017-01-07 22:51] leojkwan commented on #102
Sure thing, I'm calling this in the app delegate.
[code]

[2017-01-07 22:55] leojkwan commented on #102
Very strange, on my 7+ it wasn't working, but on another device the email field is gone. Is the framework caching the properties? Hmm I will investigate more, but thanks @Kmohamed !

[2017-01-07 22:57] Kmohamed commented on #102
@leojkwan
This very strange !!!
I will investigate anyway also keep me updated.

[2017-01-07 23:13] leojkwan opened #103 "Add Device Family to Instabug info.plist"
This is a one off case with my CI service Buddybuild. Ever since I've added instabug's dependency, my builds have been failing. In my failure logs, I got.

<img width="1202" alt="screen shot 2017-01-07 at 5 43 01 pm" src="https://cloud.githubusercontent.com/assets/10264891/21745949/5322489e-d504-11e6-833b-d21b7a692ea0.png">

I am certain that it's Instabug's framework, because after looking at a s

[2017-01-07 23:14] Kmohamed commented on #102
@leojkwan
I just realized what happened ?
If the email is not correct the email field will not disappear.
Could you try a valid email ?

[2017-01-07 23:26] Kmohamed commented on #103
@leojkwan
Hello again, let me look into this and get back to you.

[2017-01-08 05:02] leojkwan commented on #102
Correct you are! That works thank you!

[2017-01-08 06:24] #102 closed

[2017-01-08 11:54] HeshamMegid commented on #103
Hi @leojkwan. Thanks for reporting this.

We've just fixed this issue, so please update to v6.3.1 of the SDK.

[2017-01-08 11:54] #103 closed

[2017-01-08 21:32] leojkwan commented on #103
awesome, thank you!

[2017-01-09 15:20] sherm4n90 opened #105 "Versions >= 6.3 brokes UIWebView navigation"
Previously had version 5.3.2 and my UIWebVIew navigation was ok(Login with Instagram). The updated to the 6.3 version or 6.3.1 and it brokes the WebView navigation. I thinsk is related with the new Network logs feature of the SDK.

[2017-01-09 15:58] HeshamMegid commented on #105
@sherm4n90 let me look into this and get back to you.

[2017-01-09 16:42] sherm4n90 commented on #105
@HeshamMegid thanks!

[2017-01-09 17:08] HeshamMegid commented on #105
@sherm4n90 this is indeed related to network logs. As a temporary workaround while we look into this, you can disable network logs for certain URLs using `setNetworkLoggingFilterPredicate:` or disable it altogether using `setNetworkLoggingEnabled`.

[2017-01-09 17:20] sherm4n90 commented on #105
@HeshamMegid Thanks for the fast response. I will try this soon.

[2017-01-09 17:37] andrei-sadagurschi opened #106 "ld: framework not found Instabug"
After updating to Instabug 6.3.1 (from 6.0.2) I am getting a build error:

`ld: framework not found Instabug`
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`

I've updated the Instabug framework through `pod update`.
I've already tried to completely reinstall all the pods from the project.
The cocoapods version that I am using is 1.1.1.
Any help is much appreciate

[2017-01-09 17:46] Figo0o commented on #106
Hey @andrei-sadagurschi, let me check that and get back to you.

[2017-01-09 18:45] mcocaro commented on #106
same here

[2017-01-09 19:48] Figo0o commented on #106
@andrei-sadagurschi, can you share with us a screenshot of 'Framework Search Paths' from your project directory ?

[2017-01-09 20:07] andrei-sadagurschi commented on #106
![screen shot 2017-01-09 at 10 04 24 pm](https://cloud.githubusercontent.com/assets/2855014/21781419/e7c21a9c-d6b7-11e6-9b13-b845db3da605.png)
Here it is. I hid part of the path for security reasons. Thank you!

[2017-01-09 20:51] Figo0o commented on #106
I've tried to reproduce this issue with the same scenario (updating from 6.0.3 to 6.3.1) but I failed, every thing works correctly. I believe it cocoaPods issue.

try to remove cocoaPods and re-install it again. Hopping this solves the problem.
cc @andrei-sadagurschi

[2017-01-09 23:39] andrei-sadagurschi commented on #106
@Figo0o, I've already tried that. It doesn't fix the issue. Any other suggestions?

[2017-01-09 23:43] andrei-sadagurschi commented on #106
It seems to be something related to the new framework added to the pod. That framework doesn't seem to get linked to the main project. The bundle folder (which is added in a similar way) gets linked properly.

[2017-01-10 09:28] Figo0o commented on #106
@andrei-sadagurschi, Could you verify that the framework binary actually exists locally on your machine? You can do that by navigating to the Pods directory in Finder, then selecting Instabug > Instabug.framework and checking that the Instabug binary is there.

[2017-01-10 09:37] andrei-sadagurschi commented on #106
@Figo0o, the binary is there.

[2017-01-10 09:54] Figo0o commented on #106
@andrei-sadagurschi, Okay, Then what happened when removing Instabug from `podfile`, is this issue fixed or still remaining with other frameworks?

[2017-01-10 10:04] Figo0o commented on #106
@mcocaro any updates ?

[2017-01-10 11:20] andrei-sadagurschi commented on #106
@Figo0o, I've removed the pod and manually installed the library (instructions from here: https://instabug.com/developers). Now the build succeeded, but the library is not loaded:

`dyld: Library not loaded: @rpath/Instabug.framework/Instabug`
`  Referenced from: /Users/myuser/Library/Developer/CoreSimulator/Devices/73CBA6CC-158D-467B-8549-C6F431CF4BFC/data/Containers/Bundle/Application/48189CA1-7

[2017-01-10 11:34] Figo0o commented on #106
@andrei-sadagurschi, Please make user that Instabug.framework found in your project's "Embedded Binaries" section under the "General" tab. this should solves the problem.

[2017-01-10 12:52] andrei-sadagurschi commented on #106
@Figo0o, this solves the manual installation. The cocoapods installation is still broken from my point of view.

[2017-01-10 13:19] mcocaro commented on #106
I've had this issue since a few weeks now, I managed to resolve it but pulling the Pod from the Git repo directly as opposed to the CocoaPods version. Yesterday I decided to revert back to the CocoaPods version, did a `pod install` and the same error popped up again. It seems that version 6.2.1 has the problem, I can see that there is a Typechange for the framework when I do the pod install of tha

[2017-01-10 13:38] Figo0o commented on #106
@andrei-sadagurschi, Thats good for now, I am still digging deep into that to figure out what causes this issue. and will get back as soon as possible.

[2017-01-10 13:45] HeshamMegid commented on #106
@mcocaro out of curiosity, do you commit your Pods directory to your repo?

We've ran into similar issues when the Pod directory is in the repo while using a Git client that doesn't play well with typechange (like SourceTree).

[2017-01-10 13:52] mcocaro commented on #106
yes, and yes - do use Sourcetree and did find out that the typechange was
not recognized by it

--
Martin

On Tue, Jan 10, 2017 at 10:45 AM, Hesham Abd-Elmegid <
notifications@github.com> wrote:

[2017-01-10 14:40] andrei-sadagurschi commented on #106
You are right. The Pods directory is committed to the repo and I am using SourceTree.

[2017-01-11 08:37] HeshamMegid commented on #106
@andrei-sadagurschi would you please try what @mcocaro suggested and let us know if that solves the issue for you?

[2017-01-11 08:41] andrei-sadagurschi commented on #106
@HeshamMegid, I've already tried that. It does not fix the problem. I've also tried removing the whole Pods directory and installing them again.

[2017-01-11 08:44] HeshamMegid commented on #106
@andrei-sadagurschi this is most likely a Cocoapods issue. Is it okay for you to use the framework without Cocoapods for now while we look more into this, or that would be an issue?

[2017-01-11 08:50] andrei-sadagurschi commented on #106
@HeshamMegid, I've already switched to manual installation for now. Please let me know if you find a fix for the Cocoapods install. Thank you!

[2017-01-11 13:52] HeshamMegid commented on #105
@sherm4n90 We've been digging into this over the past couple of days we have a fix that we wanted to verify with you. Would you please give this build a try and let us know if it fixes your issue?

[Instabug.zip](https://github.com/Instabug/Instabug-iOS/files/698980/Instabug.zip)

[2017-01-12 09:38] steeve opened #107 "Garbage in release zip"
6.3.1 has garbage in the release zip:
[code]

[2017-01-12 10:27] HeshamMegid commented on #107
Oops, sorry about that. Here's an updated zip: https://github.com/Instabug/Instabug-iOS/releases/download/6.3.1/Instabug.zip

[2017-01-12 10:27] #107 closed

[2017-01-12 14:54] sherm4n90 commented on #105
@HeshamMegid The build worked. Thanks a lot. Would I wait for the update then?

[2017-01-12 20:53] soffes opened #108 "Carthage support"
It would be really great if [Carthage](https://github.com/Carthage/Carthage) support was added :heart:

[2017-01-13 06:31] PointerFLY opened #109 "crash"
Crash at position:

plcrash::IBG::async::dwarf_cfa_state_iterator<unsigned long long, long long>::next(unsigned int*, plcrash::IBG::async::plcrash_dwarf_cfa_reg_rule_t*, unsigned long long*)

[2017-01-13 06:34] #109 closed

[2017-01-13 06:58] HeshamMegid commented on #108
Hi Sam! We've considered adding Carthage support but we thought it wouldn't add any value since we're closed source, so essentially all Carthage would be doing is downloading the framework for you, so I'm curious to know why you think Carthage would make getting the framework easier.

[2017-01-13 17:12] soffes commented on #108
@HeshamMegid for my app, all of my dependencies are from Carthage. I don't want to add CocoaPods just for this one dependency. Having to use a workspace and now explaining to new team members that they have to use both dependency managers isn't ideal.

[2017-01-15 12:44] HeshamMegid commented on #105
@sherm4n90  Yes, we will be releasing an update that has the fix shortly. Will let you know once it's out.

[2017-01-16 08:22] HeshamMegid commented on #108
@soffes To make sure I fully understand the benefit of using Carthage in this scenario, how does using it with Instabug differ from downloading the framework and adding it directly to your project without a dependency manager (since Instabug is distributed as a precompiled dynamic framework). I assume you want to keep 3rd party dependencies off your repo, maybe?

[2017-01-16 08:27] Aaang opened #110 "Crashes are being reported even though reporting is turned off"
Hi!

We're currently experiencing issues with the Instabug integration in our apps, as the framework is reporting crashes even though it's specifically disabled by calling `Instabug.setCrashReportingEnabled(false)`.

Instabug version: **6.1.3**
_Unfortunately we can't use the latest dynamic frameworks version yet_

We're still using HockeyApp and New Relic for crash reporting and can't switch to I

[2017-01-16 08:29] Kmohamed commented on #110
Hello @Aaang,
Let me check and get back to you.

[2017-01-16 08:42] Aaang commented on #110
Thanks!

Sorry, I've just realized that we were using a different Instabug version when the issue occurred.

Instabug version: **5.3**

I'll re-test if it also happens with the version 6.1.3.

[2017-01-16 08:43] Kmohamed commented on #110
@Aaang
Sure, let me know If you find the same issue.

[2017-01-16 14:56] soffes commented on #108
@HeshamMegid this provides a consistent automated way to do this. I mean you could say the same for CocoaPods. You could do the whole things with shell scripts :)

[2017-01-16 14:59] HeshamMegid commented on #108
@soffes makes sense.

We'll be adding it in a future release. Will ping you once it's ready.

[2017-01-16 15:00] soffes commented on #108
Thanks so much!

[2017-01-17 15:04] HeshamMegid commented on #105
@sherm4n90 the fix is included in [v6.4](https://github.com/Instabug/Instabug-iOS/releases/tag/6.4).

[2017-01-17 15:04] #105 closed

[2017-01-17 15:05] #101 closed

[2017-01-17 15:05] sherm4n90 commented on #105
@HeshamMegid Awesome! Thanks for the quick actions.

[2017-01-17 15:59] Aaang commented on #110
@Kmohamed sorry for the confusion, looks like it's fixed in 6.1.3.

[2017-01-17 16:19] Kmohamed commented on #110
Great 👍

[2017-01-17 16:19] #110 closed

[2017-01-18 13:41] txaiwieser commented on #108
Please, Carthage support would be great!

[2017-01-18 13:47] txaiwieser commented on #36
Can't this be merged to the master repo?

[2017-01-18 16:29] zrxq commented on #22
Had the same issue, deleted Pods and Podfile.lock, reinstalled, worked.

This is what's changed:

[code]

`¯\_(ツ)_/¯`

[2017-01-19 14:20] txaiwieser opened #111 "StatusBar tintColor problems"
We just implemented the instabug framework in our App. But we are experiencing a lot of bugs related to the StatusBar color, we made a lot of tests and its definitely Instabug's fault.

We use a ViewController based StatusBar configuration, and most view controllers have a white StatusBar. And even without accessing the instabug button, the status bar turn black in some app VCS.

One small case is

[2017-01-19 14:40] Kmohamed commented on #111
@txaiwieser
Let me check and get back to you.

[2017-01-19 15:08] Kmohamed commented on #111
@txaiwieser
I success on reproduce the bug
I would like to ask If you are using floating button or not.

[2017-01-19 15:41] txaiwieser commented on #111
@Kmohamed Yes, we are using the floating button. But this issue happens even when the button wasn't pressed.

[2017-01-20 12:36] klaaspieter commented on #108
I noticed that the [releases][] already have an attached .zip including the framework. Renaming the attached zip from `Instabug.zip` to [`Instabug.framework.zip`](https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file) should make Carthage work as expected.

[releases]: https://github.com/Instabug/Instabug-iOS/releases

[2017-01-20 14:34] Kmohamed commented on #111
@txaiwieser
Sorry for inconvenience.
Here is a custom build with a fix. and we are going to release the fix soon.
[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/719572/Instabug.framework.zip)

[2017-01-20 19:04] txaiwieser commented on #111
Thanks you for the quick fix! Gladly appreciated!

😄👍

[2017-01-20 19:06] Kmohamed commented on #111
Anytime :)

[2017-01-24 11:50] ink-spot opened #112 "showIntroMessage doesn't work"
The `showIntroMessage` doesn't seem to work anymore since the 6.4.1 update.
I set the invocation event to shake (same result with other events), and when calling the `showIntroMessage`, nothing happen.

[code]

This worked well with the 6.3 version.

[2017-01-24 12:04] Figo0o commented on #112
Hey,

Can you please make sure that you haven't called `[Instabug setIntroMessageEnabled:NO];` in your code.

One more thing, if Instabug is presented the message won't appear.

If that doesn't work can you share Instabug code used ? so we can reproduce it.

Thanks!

[2017-01-24 15:10] ink-spot commented on #112
Hey,
good catch, I was actually calling `[Instabug setIntroMessageEnabled:NO];` earlier to prevent the info message to pop at a random time (I need to be able to show it manually).
With 6.4.1, if I don't disable the intro message, will it pop randomly once like in the previous version?

[2017-01-24 15:41] Figo0o commented on #112
This should be fixed in the next release. I can send a custom build for you if this issue is blocking you.

Please Let me know.

Thanks,

[2017-01-24 15:47] ink-spot commented on #112
No don't worry, for now I just enable the intro message right before showing it, and disable it again right after, and everything seems to work fine.
I'll stick with that solution for now, and I'll check the next release when it'll be live.
Thanks a lot for your answers!

[2017-01-24 15:47] #112 closed

[2017-01-31 00:20] itsalan opened #113 "core data multithreading violation"
Instabug 6.4.1, ios 10, swift.  Instabug.start causes a core data multithreading violation with the multi-threading assertions enabled.

[2017-01-31 07:21] HeshamMegid commented on #113
Hi @itsalan, we're looking into this issue.

[2017-02-02 14:47] HeshamMegid commented on #113
@itsalan, just letting you know that we have a fix for this issue that we're including in the next release, which will be out soon.

[2017-02-02 18:17] HeshamMegid commented on #113
@itsalan Please check version 7.0 of the SDK and let me know if you're still experiencing this issue.

[2017-02-02 19:04] itsalan commented on #113
@HeshamMegid, It's still happening with 7.0.

[2017-02-02 19:24] HeshamMegid commented on #113
Oh, let us check again then and get back to you.

[2017-02-02 22:52] manderson420 opened #114 "Tap already selected Annotation tool results in deadlock"
The most recent releases (both Instabug version 6.4.1 and 7.0) have a pretty major bug that results in a deadlock:

1. From the Instabug dialog choose "Report a Problem" with annotation view enabled
2. The pencil/annotation tool is selected by default (bottom left on the toolbar). Tap that icon while its already selected.

Expected: Nothing happens, user can continue interacting with the Instabug

[2017-02-02 23:04] Kmohamed commented on #114
Let me check and get back to you.

[2017-02-03 08:26] Kmohamed commented on #114
@manderson420
We succeed  in reproducing the bug and we fixed it.
It will be released soon today.

[2017-02-03 16:02] TaimurAyaz commented on #59
Hi Guys. Any update on this?

[2017-02-03 23:50] Avtolic opened #115 "Disable/remove "IBGLog will now print to Xcode's console when debugger is attached." feature"
Hello,
Thank you for improving Instabug.

How could I disable "IBGLog will now print to Xcode's console when debugger is attached." feature? I do not need it since we already use a custom logging manager. I also do not like how NSLog formats messages. We have some conflicts with a logging mechanism we use and would like to have this feature as optional, not mandatory.

Thank you

[2017-02-04 00:29] Avtolic opened #116 "Network logging does not work"
Hello,
I can not make network logging work.
My code in AppDelegate:
[code]
In network layer class (I am using Alamofire):
[code]
Then I use let `manager` to send GET and POST requests. I have found in docs that there is some issue with POST requests but logging does not work with GET requests either.

Could you help me please?
Thank you

[2017-02-04 10:15] Figo0o commented on #116
Hey @Avtolic, Let me look into this for you and get back ASAP.

[2017-02-04 10:19] Kmohamed commented on #115
@Avtolic
You can disable it using `[Instabug setSDKDebugLogsLevel:IBGSDKDebugLogsLevelNone];`
Also it make sense to filtering it from Console log.

[2017-02-04 10:43] HeshamMegid commented on #115
Hi @Avtolic, sorry about the confusion, this is not related to the method @Kmohamed has mentioned.

Are you seeing the duplication only for reports you do when you're debugging? Or do all reports have the duplicates?

[2017-02-04 12:07] HeshamMegid commented on #59
@Aaang and @TaimurAyaz, just to make sure we fully understand how you'd be using this API, could you give us an example of when/why you need to stop tracking after it has started?

[2017-02-04 13:20] Figo0o commented on #116
@Avtolic,

I need to know Is all your requests before invoking Instabug failed to be logged ? when your requests done?

And please be sure that `Instabug.enableLogging(for: configuration)` in your network layer is called away after Instabug initialization.

Thanks!

[2017-02-04 23:41] Avtolic commented on #115
Hello @HeshamMegid , sorry, it seems I have to clarify my issue.

We have a custom logging class based on https://github.com/SwiftyBeaver/SwiftyBeaver lib. It allows us to use custom log levels, custom formatters, log synchronously for better debugging or asynchronously for better performance, simply manage which classes/functions should be able to log something and so on. This lib is very good.

[2017-02-05 23:02] xiaosongshu opened #117 "Email - placeholder text"
Is there a way to adjust the email placeholder text?

From an UX perspective, would be good to let users know the email address is optional.

Or...is there a clever default email address that can be used for this purpose? I'm using "your.email.if.response.required@domain.com" / "optional.email@domain.com" but the user might get confused at what that is...and seeing "Enter Your Email" placeholder t

[2017-02-06 07:25] HeshamMegid commented on #117
Hi @xiaosongshu,

You could adjust the email placeholder using `[Instabug setValue:@"Custom email placeholder" forStringWithKey:kIBGEmailFieldPlaceholderStringName];`.

Check `IBGTypes` to see all the other customizable strings in the SDK.

[2017-02-06 07:25] #117 closed

[2017-02-06 07:29] HeshamMegid commented on #115
@Avtolic thanks for the detailed explanation! Your use case is clear now.

Let me discuss this with the team and get back to you.

[2017-02-06 14:43] Kmohamed commented on #114
@manderson420 Kindly check SDK v7.0.1 it should fix your issue.

[2017-02-06 14:43] #114 closed

[2017-02-06 14:44] HeshamMegid commented on #113
@itsalan, would you please check version 7.0.1 of the SDK and confirm that it solves this issue?

[2017-02-06 17:47] itsalan commented on #113
@HeshamMegid 7.0.1 fixes the issue.  Thanks!

[2017-02-06 17:48] #113 closed

[2017-02-06 18:26] xiaosongshu commented on #117
Thanks @HeshamMegid! Super useful. One other quick question - is it possible to customize the color of the navbar title (`Report a problem` / `Suggest an improvement`)? I've set the `primaryColor` to a white color but the navbar title still shows up as black.

It looks like a previous version of Instabug let you customize individual components of the UI (https://twitter.com/instabug/status/4748980

[2017-02-06 19:11] mcocaro opened #118 "Crash while opening App"
Here's the stack trace:

Crashed: NSOperationQueue 0x13826ba30 :: NSOperation 0x1384ec0c0 (QOS: LEGACY)
0  libsystem_platform.dylib       0x181cb97d0 _os_lock_corruption_abort + 162
1  libsystem_platform.dylib       0x181cb97d0 _os_lock_corruption_abort + 162
2  CFNetwork                      0x18263b308 CFURLProtocol_NS::forgetProtocolClient() + 36
3  Instabug                       0x1031f15e8 __

[2017-02-06 19:50] yousefhamza commented on #118
He @mcocaro, Can you provide more info?

1. Like Is it happening consistently?
2. What Instabug version are you using?
3. If there's a specific setup or sample project that reproduce this issue.

Thanks for your feedback and helping us making Instabug better.

[2017-02-07 00:38] Avtolic commented on #116
@Figo0o ,

Yes, `Instabug.enableLogging(for: configuration)` is called after Instabug initialisation.

Not sure I understand your question correctly. I am sending request the following way:

[code]

`manager` is the same `SessionManager` I have mentioned in the initial post. No requests are logged.

[2017-02-07 07:46] Figo0o commented on #116
@Avtolic, Please make sure you're using latest Instabug version (7.0.1)

I was asking if all your requests on your app startup or what ?

[2017-02-08 04:39] valiantv7 opened #119 "License"
Please add a LICENSE file with the relevant license info

[2017-02-08 08:33] HeshamMegid commented on #117
Yes, that's currently not possible. As you mentioned, you can use `setPrimaryColor:` to only set the colors of tappable items. You can also use `setColorTheme:` to switch between dark and light themes.

[2017-02-08 12:45] HeshamMegid commented on #119
Hi @valiantv7, we previously had our license embedded directly in the podfile. Now it's in a separate [LICENSE.md](https://github.com/Instabug/Instabug-iOS/blob/master/LICENSE.md) file.

[2017-02-08 16:18] Avtolic commented on #116
@Figo0o
Some of requests are made on startup, some - later.
I have used Instabug 7.0. I will test the app with a newest version and will post results here.

[2017-02-08 18:03] Figo0o commented on #116
@Avtolic, We are working in a hot fix that's going to be released soon. I will notify you after releasing.

Thanks for reporting that.

[2017-02-08 23:57] valiantv7 commented on #119
Hi @HeshamMegid, thank you for adding the license. We have created a Xamarin binding for the Instabug iOS framework, which wraps the framework (without modifying it) into a NuGet package, and we would like to make the NuGet package publicly available on https://www.nuget.org/, as well as making the binding configuration open source on github. Would this be allowed under the current license, and if

[2017-02-09 03:43] HHK1 opened #120 "App is not terminated properly with Instabug version 7.0.1"
I tried integrating the crash report tool with Instabug today.

**What I did:**

I upgraded Instabug to 7.0.1
I added `[][1]` when clicking on a button inside my app.
I built my app in a debug configuration, stopped the debugger, relaunched the app and clicked on the button supposed to trigger the crash.

**What I expected:**

I expected the app to crash, and the crash report to be seen in Instabu

[2017-02-09 05:20] Figo0o commented on #120
Hello @HHK1,

Thanks for Reporting that out. We have a fix that will be releasing very soon.

Let me notify you when do.

[2017-02-09 12:17] #119 closed

[2017-02-10 15:19] arturgrigor opened #121 "The capture button from the IBGScreenshotCaptureWindow window is not visible under certain conditions"
## Summary:
The capture button is not visible on iPad if the app supports only the `Landscape (left home button)` and `Landscape (right home button)` interface orientations.

## Steps to Reproduce:
- Create a new project
- Integrate Instabug
- Update the value for the `UISupportedInterfaceOrientations~ipad` Info.plist key to:
[code]
- Run the app
- Report a problem
- Add an additional image using

[2017-02-10 19:58] Figo0o commented on #121
Hello @arturgrigor, Thank you so muck for the details .. Let me have a look into this.

[2017-02-10 21:20] Figo0o commented on #121
Hello Again,

Here is a custom build for you that fixes this problem.

Please try It and let me know if you're still facing any issues.

[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/767765/Instabug.framework.zip)

[2017-02-11 00:22] Figo0o commented on #120
@HHK1, Instabug v 7.0.2 is out. it has a fix to this issue. Please update and let me know if you're still facing any other issues

Thanks!

[2017-02-11 10:50] arturgrigor commented on #121
Hey @Figo0o,

This new build seems to work. Can you please release a new pod version with this build?

Thanks!

[2017-02-11 18:12] Figo0o commented on #121
Hello @arturgrigor,

We are going to release that very soon. Let me notify you when we do.

Thanks!

[2017-02-16 00:29] manderson420 commented on #114
Thanks @Kmohamed we haven't been brave enough to update our cocoapods and test but will keep you posted in the future when we verify.

[2017-02-16 01:07] whitepixelstudios opened #122 "Disabling auto dismissing of the prompt option dialog"
We're working on an implementation that manually invokes instabug and are hoping to change the autodismissal behaviour.

Currently the "how can we help you dialog" closes after a few seconds of inactivity. Would it be possible to add a variable such as 'autoDismissAfter', with a value of zero disabling automatic dismissal?

Thanks!

[2017-02-16 08:24] HeshamMegid commented on #122
Hi @whitepixelstudios,

Currently the dialog auto-dismisses after 10 seconds. Just to fully understand what you're trying to do, why do you need the dialog to remain open after more than 10 seconds of inactivity?

[2017-02-16 10:00] whitepixelstudios commented on #122
Hi Hesham,

When instabug is manually invoked by a button press we've found it's somewhat unexpected behaviour when the dialog then closes itself. Granted it is an unusual use case that the user would remain on the screen for ten seconds without progressing. Would be great to simply have a variable that stops that auto-dismiss

Thanks

Sent from my iPhone

[2017-02-16 19:34] lokae0 opened #123 "setPrimaryColor not working as expected"
Version 7.0.2:

If you call `Instabug.start` with .floatingButton, setPrimaryColor does not take effect until either:

* you background and reopen the app
* you call setInvocationEvent(.floatingButton) alongside setPrimaryColor

[2017-02-17 09:18] HeshamMegid commented on #123
Hi @lokae0, sure sounds like a bug, sorry about that! Will look into it and let you know as soon as we have a fix.

[2017-02-17 09:46] saiday commented on #106
Any updates?
Integrate Instabug `7.0.2` on CocoaPods have the same issue, `6.1.3` have no problem.

[2017-02-17 11:41] andrei-sadagurschi commented on #106
@saiday The problem seems to be fixed when using cocoapods `1.2.0` and Instabug `7.0.2`. I think we can close this one. Thank you!

[2017-02-17 14:02] HeshamMegid commented on #106
Actually, we've done no changes from our side regrading this, so it's the CocoaPods update that did the trick.

Thanks for reporting that @andrei-sadagurschi!

[2017-02-17 14:02] #106 closed

[2017-02-17 21:14] #120 closed

[2017-02-18 08:13] saiday commented on #106
Hi, @HeshamMegid @andrei-sadagurschi

Tried CocoaPods `1.2.0`, still have no luck with Instabug `7.0.2`.
Clean installed `cocoapods` gem, clean installed `Pods` with cocoapods 1.2.0, got same error on app launched.

[code]

[2017-02-18 18:48] alaeddineG opened #124 ""No applicable devices found" When exporting to ipa using xcodebuild because of a missing UIDeviceFamily in Instabug plist"
Our app is currently using Instabug (6.2.1)
What happen is when we try to export the app with the following command in out build server
`xcodebuild -exportArchive -exportPath  the_app.ipa -archivePath the_app_archive.xcarchive -exportOptionsPlist export_options_adhoc.plist`

We face this error :
`Error Domain=IDEDistributionErrorDomain Code=14 "No applicable devices found." UserInfo={NSLocalizedDe

[2017-02-18 19:39] Figo0o commented on #124
Hello @alaeddineG, Thanks for reporting that out.

Can you please update to the latest Instabug Version. This issue was fixed. (starting from **v6.3.1**)

Thanks!

[2017-02-18 19:41] alaeddineG commented on #124
Oh ! my bad ! Thank you !
I've updated to 7 lately (2 weeks ago) but I had some freezing issues. I hope those have been fixed.

[2017-02-18 19:44] Figo0o commented on #124
No Worriers!

Yes :( .. We are so sorry for that. We are releasing V7.0.3 very soon. Let me notify you then.

[2017-02-18 19:53] alaeddineG commented on #124
It's was 7.0.0 (and 6.4.1) I had problem with actually (in development fortunately). I didn't had time to test 7.0.2. I'am doing it right now.
Is the freezing issue when attaching a file with the report when the app is not debugging is fixed?. I've repported this issue to the support 1 week ago. I've been told that this have been fixed in 7.0.1 !  So I don't have to wait until 7.0.3. If yes when 7

[2017-02-18 20:45] Figo0o commented on #124
Yes Please wait for 7.0.3 release because it's the most stable version. Hopefully one more day to finish.

And you are mostly Welcome. :)

[2017-02-18 21:18] alaeddineG commented on #124
Thanks again ! Please close this ticket then, i;ve tested with 7.0.2 and the app is exporting successfully.

[2017-02-19 09:15] #124 closed

[2017-02-20 05:16] philgrida commented on #115
I'm also interested in disabling Instabug logging l in the Xcode Console as well. Is there any update on this ?

[2017-02-20 07:04] saiday commented on #106
Hi, Instabug versions > `6.2` had `dyld: Library not loaded: @rpath/Instabug.framework/Instabug` issue.

Noticed that https://github.com/Instabug/Instabug-iOS/blob/master/Instabug.podspec changes (`sources_files`, `preserve_paths`, `frameworks`, `vendored_frameworks`, `resource`) on 6.2 release, is this a possible cause?

[2017-02-20 08:18] HeshamMegid commented on #106
@saiday version >= 6.2 has switched to distributing the SDK as a dynamic framework instead of a static one.

So far we have found that the solution that works in most cases is removing Instabug from your podfile, doing a `pod install`, adding Instabug again, and finally doing another `pod install`. Have you tried that?

[2017-02-20 08:20] HeshamMegid commented on #122
I get your point now. We will be adding this in a future version of the SDK.

Thanks!

[2017-02-20 08:21] saiday commented on #106
@HeshamMegid I tried, it doesn't fix.

[2017-02-20 11:25] HeshamMegid commented on #115
@philgrida @Avtolic, we will be adding an API for this in an upcoming release. Will let you know once it's ready.

[2017-02-20 15:21] michaeleustace opened #125 "Deadlock when logging"
I am consistently experiencing a deadlock at the same point in my code as follows:

There are the only 3 threads doing anything, each of which is waiting for semaphore.
The main thread is observing the operationCount of a NSOperationQueue.
Another is writing the IBLog.
Another is saving a NSManagedObjectContext.

This code was working when we were using Instabug v6.0.3.  But now we have upgraded t

[2017-02-20 15:40] Figo0o commented on #125
Hello @michaeleustace,

We are so sorry for inconvenience. Let me have a look into this and get back ASAP.

Thanks!

[2017-02-21 18:26] HeshamMegid commented on #123
@lokae0, we just released v7.0.3 of the SDK that has a fix for this.

[2017-02-21 18:26] #123 closed

[2017-02-21 18:27] HeshamMegid commented on #121
@arturgrigor, please check v7.0.3 of the SDK. It has a fix for this issue.

[2017-02-21 18:27] #121 closed

[2017-02-21 18:27] lokae0 commented on #123
Awesome. Thank you!

[2017-02-21 18:28] HeshamMegid commented on #116
@Avtolic, please check v7.0.3 of the SDK and let us know if you're still experiencing this issue.

[2017-02-21 18:28] #116 closed

[2017-02-21 18:30] HeshamMegid commented on #118
@mcocaro, closing this for now. Please feel free to reopen if you have any details that could help us reproduce it on our side.

[2017-02-21 18:30] #118 closed

[2017-02-21 19:16] arturgrigor commented on #121
Hey @HeshamMegid, the v7.0.3 fixes my problem. Thank you!

[2017-02-22 08:36] Figo0o commented on #125
Hello @michaeleustace,

I would like to thank you for the shared sample code, it was so helpful reproducing the issue. We are still investigating into this but unfortunately don't know why this happening.

But for now, From this sample code I've noticed that you've added a KVO on an operationQueue, If i'm right can you please use the `change` parameter on checking the operation count rather than t

[2017-02-22 12:12] michaeleustace commented on #125
@Figo0o Thanks.  You're suggestion did indeed resolve the deadlock.

[2017-02-24 00:57] xiaosongshu opened #126 "Manual Report Bug (reportError)"
Is there an example of how to report a bug manually based on an event (without the GUI, just via code), while also giving the bug a tag and user data?

I see ` (void)reportError:(NSError *)error` in the docs but am unsure how I would go about manually sending a custom bug, with a tag and user data on it.

ie.

Bug 1
Tag: "unique-tag-1"
User Data: {"user_1: ABC, "user_2": XYZ}

[2017-02-24 06:11] JuandreBarnard opened #127 "Network Logging causes my http calls to fail"
I am using Moya which needs a custom manager; as soon as i add Instabug.enableLogging(for: configuration) to the custom Manager function,  my https calls do not respond. I dont know if this relate to the fact that i am getting no response but i am getting this error as well NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9802).

[2017-02-24 07:57] JuandreBarnard commented on #127
I have updated my version of instabug to 7.0.3, i saw it was on 7.0.2. Now my http calls are not empty any more but i am getting this message now, [Instabug] Failed to save network logs - Error (null) - (null).

[2017-02-24 13:32] Figo0o commented on #125
@michaeleustace, That's great news to hear.

Please let me know if you're still facing any issues.

Thanks!

[2017-02-24 13:32] #125 closed

[2017-02-24 13:39] Figo0o commented on #127
Hello @JuandreBarnard,

Thanks for reporting that out. Actually what you've mentioning is a logging issue that should be fixed in the next release, and glad to hear that your network logging is not empty anymore.

Please let me know if there is anything else I can help with.

Thanks!

[2017-02-25 05:58] mrh-is opened #128 "Possible Instabug crash"
I'm getting a crash that _might_ be caused by Instabug. The only thing in this trace that isn't system stuff is `-[IBGURLProtocol startLoading]` on line 10, so I thought I'd run it by the Instabug team. Is this something you've seen before?

[code]

[2017-02-25 08:02] Kmohamed commented on #128
Hi @mrh-is
This is first time we see something like this.
But you can check if this crash related to Instabug or not by disabling Network logging `[Instabug setNetworkLoggingEnabled:]`

[2017-02-26 06:44] HeshamMegid commented on #126
Hi @xiaosongshu,

We don't currently support sending bugs manually.

Just to make sure I completely understand what you want to do, what's the use case that would require sending a bug report, instead of an `NSError`?

[2017-02-27 18:10] mrh-is commented on #128
Thanks, I will turn that option on and be on the lookout for new errors. I'm using v7.0.3.

[2017-02-27 18:53] Kmohamed commented on #128
No turn it off not on
To disable network logging

[2017-02-27 19:47] keith opened #129 "Cannot disable Instabug crash reporting"
Currently in our app our instabug configuration is setup like this:

[code]

Yet on our Instabug dashboard we're still seeing crash reports. Is there a chance `setCrashReportingEnabled(false)` isn't working as expected? It seems like the other configuration here does work as the modal has the titles we're setting below. This is with Instabug 7.0

[2017-02-27 19:48] keith commented on #129
Ah, it appears this may have been fixed somewhere between 7.0 and 7.0.3. But I don't see it in the [release notes](https://github.com/Instabug/Instabug-iOS/releases)

[2017-02-27 19:48] keith commented on #129
Is that expected?

[2017-02-27 19:58] HeshamMegid commented on #129
Hi @keith, that issue has indeed been fixed in 7.0.3. We haven't added the specifics to the release notes, but 7.0.3 has various other fixes in addition to that one.

[2017-02-27 19:58] #129 closed

[2017-02-27 20:10] keith commented on #129
Is there any way you could provide a subspec for this in the future? It would be nice to exclude this logic that we don't need from the SDK, and that would also solve the fact that crashes caught by Instabug weren't getting sent to the crash reporting system we were actually using, so we were silently missing crashes!

[2017-02-27 21:02] mrh-is commented on #128
Ah, oops! Got it, will turn it _off_ and see what bug reports I get.

[2017-02-28 07:08] xiaosongshu commented on #126
Hi @HeshamMegid,

I wanted to use it for tracking when a user flags a post (the data I wanted to include would be the "user id" and the "post id").

I didn't realize it, but technically I should be able to just send a custom NSError for this right? If so, would you have an example of best practices for doing so?

[2017-02-28 09:41] HeshamMegid commented on #129
@keith, sorry you've missed crashes because of Instabug 😔

We are actually working on having subspecs for each product we offer, so in the future you'd be able to only import Instabug's bug reporting.

[2017-02-28 11:24] Figo0o commented on #128
Hello @mrh-is,

We are trying to reproduce this crashes but without any luck. Can you reproduce this crash again ? if so do you mind sending a custom build that contains Custom logs  that will be very helpful reproducing and fixing this in the next release.

Thanks for your time.

[2017-02-28 12:26] Anders123fr opened #130 "Crash in view hierarchy feature when submitting an issue/problem"
I am running Instabug v7.0.3 in my Swift 3 app, and Instabug is causing the app to crash when pressing the submit button in the top right corner (see screenshot).

![billede 28-02-2017 13 19 30](https://cloud.githubusercontent.com/assets/1019341/23405085/d4a0f9a6-fdb8-11e6-87c1-027f7c9a6d00.png)

Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Invalid type in JSON

[2017-02-28 12:32] Figo0o commented on #130
Hello @Anders123fr,

We are so sorry for inconvenience, Can you please share the crash stack trace with us it will be very helpful.

Thanks!

[2017-02-28 12:38] Anders123fr commented on #130
The stack trace seems to be redacted, so that's why I didn't post it. How can I change that?

[2017-02-28 12:49] Anders123fr commented on #130
Here it is.
Seems to be an error with some JSON stuff. `FavoriteTVC` is a custom UITableViewCell

[code]

[2017-02-28 13:21] Kmohamed commented on #130
Hello @Anders123fr
Let me check it and get back to you as soon as possible.

[2017-02-28 13:36] Kmohamed commented on #130
Could you give me the properties that you define in `FavoriteTVC ` ?
if it possible.

[2017-02-28 13:52] Kmohamed commented on #130
I think this crash is relate view hierarchy feature.
I prefer to clarify how this feature works in order to help me to understand what causes this crash.
we are looping all `UIViews` and get these properties:
self.class
self.frame
self.center
NSStringFromCGAffineTransform(self.transform)
self.alpha
self.opaque
self.hidden
self.userInteractionEnabled
self.autoresizesSubviews
self.clipsToBounds
self

[2017-02-28 14:07] Anders123fr commented on #130
Yeah it must be because of that feature.
It is happening with 3 different custom cells that I have, so it must be a general issue

[2017-02-28 14:08] Anders123fr commented on #130
I have a property defining the cells Id:
`static let cellID = "FavoriteTVC"`

else it is just a model object and outlets.
So maybe the static property is causing the issue

[2017-02-28 14:15] Anders123fr commented on #130
I am about the release a new production build very soon, so maybe I can just disable the feature with

`Instabug.setViewHierarchyEnabled()`

and that should solve the crash right?

Then I can re-enable it when there is a new fix available

[2017-02-28 14:18] Kmohamed commented on #130
I can send you custom  build to log some data then you have to send it to me.
and I can fix this issue as soon as possible.

[2017-02-28 14:18] Anders123fr commented on #130
Sure, do that

[2017-02-28 14:37] Kmohamed commented on #130
Kindly check the attached custom build.
[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/807089/Instabug.framework.zip)

[2017-02-28 15:36] Anders123fr commented on #130
Here is the log when running with the custom build:

[Log - After pressing submit.txt](https://github.com/Instabug/Instabug-iOS/files/807268/Log.-.After.pressing.submit.txt)
[Log - Before pressing submit.txt](https://github.com/Instabug/Instabug-iOS/files/807269/Log.-.Before.pressing.submit.txt)

[2017-02-28 15:48] Kmohamed commented on #130
let me check them and get back to you

[2017-02-28 16:26] Kmohamed commented on #130
Could you send me screenshot from Xcode view debugger ?

[2017-02-28 16:31] Anders123fr commented on #130
<img width="1054" alt="skaermbillede 2017-02-28 17 31 34" src="https://cloud.githubusercontent.com/assets/1019341/23414314/c7e2b2ae-fddb-11e6-954d-4fa654d120f8.png">

[2017-02-28 16:35] Kmohamed commented on #130
Thanks a lot.

[2017-02-28 18:09] mrh-is commented on #128
Hi @Figo0o, I'm not currently able to reproduce this, the stack trace wasn't very helpful.

This might have been a fleeting bug, and might be outside Instabug. That was just the only interesting thing in the trace for the thread that crashed. If we're unable to reproduce it and you haven't seen it before, then I'm OK with closing this bug (until I find it again).

[2017-02-28 19:38] Kmohamed commented on #130
@Anders123fr
I tried to reproduce the crash but I failed.
Also I go through the logs and I didn't find anything wired
But I guess something that might fix the crash, so could you give this build a try ?
http://www.mediafire.com/file/adkj3w2t4z3t77s/Instabug.framework.zip

[2017-02-28 19:38] Kmohamed commented on #130
sorry for sending a mediafire link because S3 is down and I can not upload any files.

[2017-02-28 22:09] keith opened #131 "Instabug app crash"
We just started seeing this crash from the Instabug SDK.

[code]

Is this a known issue? It seems to be intermittent so it's possible it's related to the AWS outage?

[2017-03-01 07:28] HeshamMegid commented on #131
@keith we're looking into it now. Will get back to you shortly.

[2017-03-01 08:35] HeshamMegid commented on #131
@keith looks like our API was returning unexpected responses because of the AWS outage.

I'll close this for now, but please let us know if you start getting this crash again.

[2017-03-01 08:35] #131 closed

[2017-03-01 09:48] HeshamMegid commented on #126
You could use `reportError:` for that, though I have to admit that this wouldn't be the best use of this API since you'll have to add the user ID and post ID to the error domain.

We will be adding the ability to manually report an issue in a future release of the SDK.

[2017-03-01 11:14] Kmohamed commented on #130
@Anders123fr Follow up.

[2017-03-01 15:28] Anders123fr commented on #130
I have a deadline today, but will try later

[2017-03-01 15:37] Kmohamed commented on #130
no problem waiting for your feedback.

[2017-03-01 15:50] Anders123fr commented on #130
It seems to be working! I tried three different places in the app with different cells, and it didn't crash, and submitted the photos with the bug.

[2017-03-01 15:52] Kmohamed commented on #130
Fantastic :)
we will release this fix very soon.

[2017-03-01 15:52] #130 closed

[2017-03-01 18:50] keith commented on #131
Would it be possible to fix this in the SDK so that the next time this happens our app doesn't crash?

[2017-03-01 18:56] Figo0o commented on #131
Hello @keith,

Sure, This should be fixed in the next release. 👍

[2017-03-01 21:52] bdolman opened #132 "Instabug crash during AWS S3 outage"
Yesterday we had 100 Instabug-caused crashes during the AWS outage. They stopped once AWS came back up. Stack trace is included below. Perhaps your code isn't properly handling network failures?

[code]

[2017-03-01 22:22] Figo0o commented on #132
Apologizes @bdolman for that. This will be fixed in the upcoming release to prevent this crashes happens in future. Thanks for reporting that out.

[2017-03-02 00:27] keith commented on #132
Duplicate of https://github.com/Instabug/Instabug-iOS/issues/131

@Figo0o FWIW I just captured this crash in the debugger as well. AFAIK AWS is back up and running, so there might be another cause here. Should we downgrade the SDK to a previous version to avoid this crash in the meantime?

[2017-03-02 06:59] Figo0o commented on #132
@keith, Can you provide me with the application's token over support@instabug.com? I'm gonna follow up with you.

[2017-03-02 08:40] Figo0o commented on #128
Hello @mrh-is, is there any updates about this crash ?

[2017-03-02 16:20] HeshamMegid commented on #132
@bdolman @keith please update to v7.0.4 of the SDK. During the next AWS outage (😬) the SDK would not crash.

[2017-03-02 16:20] #132 closed

[2017-03-02 18:50] mrh-is commented on #128
No, I haven't seen it since. Sorry to not be able to provide more information!

I'll close this for now, and reopen it if I see this bug again.

[2017-03-02 18:50] #128 closed

[2017-03-03 10:36] robertofrontado opened #133 "Network logs issue"
Hello guys, I found and issue while using the network logs functionality (which is awesome btw)

I'm using Instabug SDK v7.0.4

My setup is the following:
[code]

So since I added `Instabug.enableLogging(for: config)`,  `URLSessionTaskDelegate` stopped working, so this method is not being called anymore:

[code]

Any idea?

[2017-03-03 10:55] HeshamMegid commented on #133
Hi @robertofrontado, that definitely should not be happening. Let me check on what might be causing that and get back to you.

[2017-03-03 22:53] keith opened #134 "Crash on submitting bug report"
We're currently getting this crash when submitting bug reports to instabug:

[code]

This is with 7.0.4

[2017-03-04 08:19] HeshamMegid commented on #134
@keith this issue is fixed in v7.0.5, sorry about that 😬

[2017-03-04 08:19] #134 closed

[2017-03-06 11:30] HeshamMegid commented on #133
@robertofrontado, sorry for the delay in getting back to you about this. We've been looking into it and unfortunately the Foundation class we use to intercept the URL requests made by the app doesn't allow us to do a callback for sending body data (rdar://9226157).

The workaround for this is to set the filter predicate via `+ [Instabug setNetworkLoggingRequestFilterPredicate:responseFilterPredica

[2017-03-06 11:31] #133 closed

[2017-03-08 09:49] JuandreBarnard commented on #127
7.0.4 fixed the issue

Thanks

[2017-03-09 08:44] robertofrontado commented on #127
I updated Instabug SDK from v7.0.4 to v7.0.5 and I started receiving this error 🤔

[2017-03-09 09:06] Figo0o commented on #127
Hello @robertofrontado,

Thanks for reporting that out. it’s just an incorrect log message so nothing to worry about here.  it will be fixed in the next release.

[2017-03-09 09:06] #127 closed

[2017-03-09 09:13] robertofrontado commented on #127
@Figo0o yeah you're right, I'm still seeing the logs in my dashboard 👍

[2017-03-09 11:48] brokenzz opened #135 "UICollectionViewCells are hidden after Reporting Issue via Instabug"
Hello,

I have found that if I report a problem via Instabug when a UICollectionView is on screen, then when the problem is Reported and Instabug overlays disappear, the reusable UICollectionViewCells that are off screen have their `hidden` property set to `YES`.

Which leads to the following situation:

![instabug_bug](https://cloud.githubusercontent.com/assets/10776576/23748878/60960a18-04bd-11e

[2017-03-09 11:51] Kmohamed commented on #135
Hello @brokenzz
Thanks a lot for reporting this issue.
Actually we fixed this issue and it will be in next release.

[2017-03-09 13:26] brokenzz commented on #135
Ah good to know! Thanks! :)

[2017-03-13 14:25] lha-ryq opened #136 "Crash when calling `Instabug.ibgLog`"
Hi,
We encountered crash in our application that is related with Instabug. It happened only one time.
Instabug version: 7.0.3
Environment: Xcode8.2.1/Swift3.0.2

Crash due to signal: SIGSEGV(SEGV_MAPERR) at 00000000
Crashed: topspot.DDInstabugLogger
0  libsystem_platform.dylib       0x18bdb0e50 _platform_memmove + 80
1  CoreFoundation                 0x18cc08bc0 _CFStringCheckAndGetCharacters + 26

[2017-03-13 20:11] lgalabru opened #137 "Leak in the SDK?"
Hello there,

Profiling my app, I'm noticing a bunch of leaks, caused by your SDK...
Is this a known issue?
Best,

Ludovic

![screen shot 2017-03-13 at 16 10 35](https://cloud.githubusercontent.com/assets/87777/23873237/b5e86518-0807-11e7-97e6-95f5d7faaac4.png)

[2017-03-13 20:20] Kmohamed commented on #137
Hello @lgalabru
Thanks a lot for reporting this issue.
we will fix it as soon as possible.
sorry for that.

[2017-03-14 07:57] HeshamMegid commented on #136
Hi @lha-ryq, we're looking into this and we'll get back to you ASAP.

[2017-03-14 13:47] HeshamMegid commented on #137
@lgalabru, which version of the SDK is this happening on?

[2017-03-14 14:22] lgalabru commented on #137
pod 'Instabug', '~> 7.0.2'

[2017-03-14 14:33] HeshamMegid commented on #137
This leak has been fixed in v7.0.5, please update and let us know if you're still having any issues.

[2017-03-14 14:33] #137 closed

[2017-03-16 09:04] alexkent opened #138 "Crash during Instabug networking"
Hi,
We are seeing a crash with Instabug SDK 7.0.5. We see this on a variety of iOS versions 10.0+ and device types. See stack trace below and attached crash report.
Right now this is our no.1 crasher 😥

[code]

[MyApp Instabug crash  2017-03-16, 09-54.crash.zip](https://github.com/Instabug/Instabug-iOS/files/847163/MyApp.Instabug.crash.2017-03-16.09-54.crash.zip)

[2017-03-16 12:11] alexkent opened #139 "Crash when calling `Instabug.logInfo("")`"
Occasionally I have seen this crasher. In this case it was in Xcode, with a unoptimised, debug build.

[code]

[2017-03-16 12:15] yousefhamza commented on #139
Are you doing any KVOs on your `NSOperationQueue`s?

[2017-03-16 14:12] alexkent commented on #138
ah yes, sorry for not sending symbolicated before.

[instabug network crash symbolicated  2017-03-16, 09-54.crash.zip](https://github.com/Instabug/Instabug-iOS/files/847901/instabug.network.crash.symbolicated.2017-03-16.09-54.crash.zip)

[2017-03-16 14:17] alexkent commented on #138
I unfortunately don't have reliable steps to reproduce the crash. I've only managed to reproduce it once, which happened at app startup (as the crash log here shows). However our testers have hit the crash a number of times.

[2017-03-16 14:22] Kmohamed commented on #138
@alexkent
Actually we have this crash in SDK v7.0.5 and we are going to release a new version today with a fix.
sorry for inconvenience

[2017-03-16 14:26] alexkent commented on #139
Elsewhere in the app we have KVO controlled `Operation` subclasses. But in this particular context `BluetoothMonitor` is not wrapped in an `Operation`, it is an NSObject subclass held in a var on a view controller. The `NSOperationQueue` mentions in the in the trace above, are in your code I guess?

[2017-03-16 14:27] alexkent commented on #138
🎉

[2017-03-17 09:08] alexkent commented on #138
Any update on expected release? I see there is are commits labelled 7.1, is that the release version?

[2017-03-17 09:25] HeshamMegid commented on #138
@alexkent we've just pushed v7.1 now.

[2017-03-17 09:25] #138 closed

[2017-03-17 09:28] HeshamMegid commented on #139
@alexkent this has been fixed in v7.1. Please check it out and let us know if you're still experiencing any issues.

[2017-03-17 09:28] #139 closed

[2017-03-17 09:29] HeshamMegid commented on #136
@lha-ryq we have just shipped an update that fixes this issue. Please check v7.1.

[2017-03-17 09:29] #136 closed

[2017-03-17 09:30] HeshamMegid commented on #135
@brokenzz the fix for this issue in include in our 7.1 release. Please check it out.

[2017-03-17 09:30] #135 closed

[2017-03-17 09:36] lha-ryq commented on #136
Great! Thank you for providing the fix!

[2017-03-17 09:36] HeshamMegid commented on #115
@philgrida @Avtolic, please check version 7.1. We've added `setIBGLogPrintsToConsole:` that lets you control this.

[2017-03-17 09:36] #115 closed

[2017-03-17 13:41] klaaspieter commented on #108
While official support would still be appreciated, it _is_ possible to install Instabug with Carthage using the new [binary framework support][Carthage binary framework support].

I created a gist to point to the latest version: https://gist.github.com/klaaspieter/e94c5617bb59a7437fcfa870ffb2edaf and put `binary "https://gist.githubusercontent.com/klaaspieter/e94c5617bb59a7437fcfa870ffb2edaf/raw/8

[2017-03-17 14:00] txaiwieser commented on #108
@klaaspieter: I'm using
```github "Instabug/Instabug-iOS" "dynamic_framework"```
It works, but I think it could be supported in the main branch, in the Carthage official way.

[2017-03-17 14:12] klaaspieter commented on #108
@txaiwieser We were using that, but iirc it was an older version than on master.

[2017-03-17 22:03] elyalvarado commented on #126
Hi @HeshamMegid reporting issues in code is really important. In our case we can detect when an issue happens with a third party library, and we need to capture all the information Instabug provides, and even attach the console logs so that we can debug further.

[2017-03-20 08:03] emirhb commented on #128
Hi I think we have same issue on IBGURLProtocol.m line 62 -[IBGURLProtocol startLoading]. It crashed already twice (2 different users). We are using instabug 7.1.

Crashed: com.apple.CFNetwork.CustomProtocols
0  CFNetwork                      0x1858dd70c HTTPParser::HTTPParser(__CFAllocator const*, HTTPParserClient*, HTTPParser*) + 44
1  CFNetwork                      0x1857eb41c HTTPMessage::comm

[2017-03-20 10:18] HeshamMegid commented on #128
After looking more into this, this crash is probably from Foundation rather than Instabug. We're looking more into it to be sure about that.

[2017-03-20 13:29] HeshamMegid commented on #108
We've added official Carthage support. Thanks for your patience everyone!

Check the instructions on our [readme](https://github.com/Instabug/Instabug-iOS#carthage) file.

[2017-03-20 13:29] #108 closed

[2017-03-20 21:39] bruce-lumo opened #140 "SQLite error code:11, 'database disk image is malformed'"
I'm seeing multiple crash reports with ```SQLite error code:11, 'database disk image is malformed'``` relative to InstabugDataModel.sqlite.

Are there steps to work around this?

Thanks!

[2017-03-20 21:41] Kmohamed commented on #140
Hello @bruce
Could you send to us the stacktrace please ?

[2017-03-20 21:41] bruce-lumo commented on #140
[366b2843af333010be9bad3dd3a1ccf6.log.txt](https://github.com/Instabug/Instabug-iOS/files/856450/366b2843af333010be9bad3dd3a1ccf6.log.txt)

[2017-03-20 21:59] Kmohamed commented on #140
Is it happening consistently ?

[2017-03-20 22:09] bruce-lumo commented on #140
Just twice for the same user two days apart. I haven't been able to reproduce this in the lab.

[2017-03-20 22:21] Kmohamed commented on #140
Let me check it and get back to you.

[2017-03-20 22:25] Kmohamed commented on #140
@bruce some stack frames aren't symbolicated "instabug stack frame" could you provide us these frames symbolicated ?

[2017-03-22 12:42] yupengyang opened #141 "How to disable landscape for instabug pop up view controller?"
for some reason, our app need keep landscape available on target level. But we don't want switch our VCs to landscape mode when user rotate their phone.

But when instabug VC pop up, it can change to landscape mode. when it dismiss, it may introduce some strange UI problems on Navigation, which is not what we want.

Can I disable landscape mode for instabug VC? how?

[2017-03-22 12:46] Kmohamed commented on #141
Hello @yupengyang
Could you provide us with SDK version number ?

[2017-03-22 17:51] txaiwieser commented on #111
This bug has returned!
Now it happens every time I "peak and pop" in a cell, for example

[2017-03-22 19:32] Kmohamed commented on #111
@txaiwieser Could you send me screenshot with the bug ?

[2017-03-22 19:36] txaiwieser commented on #111
The status bar just changes to black after you "peak and pop" in any cell that supports it. (the app I work has white status bar)

[2017-03-22 19:43] Kmohamed commented on #111
I will check it and get back to you as soon as possible

[2017-03-23 02:59] yupengyang commented on #141
@Kmohamed version number is 6.1.3

[2017-03-23 06:10] Kmohamed commented on #141
@yupengyang Could you update to the latest version it should fix your issue.

[2017-03-23 07:40] Kmohamed commented on #111
@txaiwieser I implement Peek and pop in a project using Instabug SDK but it does not change status bar color.
Could you confirm the SDK version runs on that device is greater than 7.0

[2017-03-23 08:19] #141 closed

[2017-03-23 08:19] yupengyang commented on #141
@Kmohamed Thanks！

[2017-03-23 09:34] brokenzz opened #142 "Question about default metadata tracked by Instabug"
Hello,

Currently Instabug very helpfully reports a lot of metadata with each bug + crash report - such as device info, OS info etc.

However, it also reports the name of the WiFi session the user is connected to, as well as their carrier network. Is there a way to disable these from being reported?

Just to clarify, I am talking about these:

![instabug_report](https://cloud.githubusercontent.com

[2017-03-23 09:55] HeshamMegid commented on #142
Hi @brokenzz,

Currently we don't have a way to specify fields to omit from a bug report.

Just to be sure I fully understand, would you please elaborate on why you want to omit those 2 fields?

[2017-03-23 17:25] keith opened #143 "Identify user with name in web UI"
After the 7.0 SDK was released we moved to using the [`identifyUserWithEmail:name`](https://github.com/Instabug/Instabug-iOS/blob/16fb222bb655662e96262b406488d8ba578a4db3/Instabug.framework/Headers/Instabug.h#L284-L290) instabug call. We previously put the user's name in the `userData` instead, so we could see it on the web UI, but we were assuming this would replace that. Currently I don't see th

[2017-03-23 17:38] msoliman commented on #143
@keith yes, that's the expected behavior. You can see the user name in the user profile (you can open it by pressing the user email in the report). You can still use the `userData` API that you were using prior to 7.0, specially if you want to view these details on 3rd party integrations like JIRA.

[2017-03-23 17:40] keith commented on #143
Ah thanks for pointing that out! It might be nice if the username was on the main page for the bug as well. Thanks!

[2017-03-23 17:40] #143 closed

[2017-03-23 19:29] txaiwieser commented on #111
Yes, I using the latest version through Carthage. And the App uses UIViewControllerBasedStatusBarAppearance.

[2017-03-23 19:45] Kmohamed commented on #111
My demo also uses UIViewControllerBasedStatusBarAppearance
Could you send to me a sample app with the bug ?

[2017-03-25 18:55] allenhumphreys opened #144 "Crash when using provided code snippet to redirect NSLog"
SDK version 7.1.0

As provided by your [documentation](http://docs.instabug.com/docs/logging)
[code]

Getting a lot of these crashes:

<img width="1473" alt="screen shot 2017-03-25 at 1 39 19 pm" src="https://cloud.githubusercontent.com/assets/8225090/24325134/eaa68976-1160-11e7-97de-c3170f9bd673.png">

[2017-03-26 08:36] Kmohamed commented on #144
Let me check it and get back to you.

[2017-03-26 12:29] HeshamMegid commented on #144
@allenhumphreys we're seeing hundreds of logs with the same message in that crash. Is that intentional? If it is, then we would appreciate if you create a sample project that has this logging so we could try to reproduce the crash on our side.

[2017-03-26 19:51] allenhumphreys commented on #144
@HeshamMegid I don't think that is intentional and have never seen that happen before during debugging. Is it possible that the log is somehow recursing unintentionally?

[2017-03-26 20:37] allenhumphreys commented on #144
@HeshamMegid Followup, the repeated log messages have nothing to do with it.

In an AppDelegate, you can do this:
[code]

It will crash with a pretty high reliability. The issue seems to be related to possibly out-of-bounds memory access or improper string handling.

<img width="307" alt="screen shot 2017-03-26 at 3 35 21 pm" src="https://cloud.githubusercontent.com/assets/8225090/24334960/e12b7fd

[2017-03-27 05:27] Kmohamed commented on #144
@allenhumphreys Thanks a lot for sending this sample.
It really helps to us to reproduce the issue it will be fixed in next SDK version v7.1.1
Also I can send you a custom builds if you want.

[2017-03-27 05:43] Kmohamed commented on #140
@bruce-lumo Thanks a lot for reporting this to us it will be fixed in the next release SDK v7.1.1

[2017-03-27 05:45] Kmohamed commented on #111
@txaiwieser I would like to ask If you have enough time to send to us a sample project with peek and pop bug.

[2017-03-27 17:43] txaiwieser commented on #111
I did the sample project and it turns out the problem happens only when linking with Carthage (with the new method described in the readme).
[code]
It's not linked with the latest version 7.1 (with has this problem solved)

Sorry for the trouble, can we have this son pointing to the latest version?

Thanks!

[2017-03-28 10:03] #142 closed

[2017-03-28 10:40] HeshamMegid commented on #111
@txaiwieser that's weird. Both CocoaPods and Carthage and currently updated to the latest version. Would you please confirm that the build number of the SDK you get is 7311?

[2017-03-28 20:06] crododile commented on #112
@Figo0o was this issue resolved in 7.0? I do not see anything about it in the  release notes and am having difficulties with showIntroMessage ( it doesn't do anything, even after re-enabling as described here )

[2017-03-29 08:40] Figo0o commented on #112
Hello @crododile, Yes this should be solved. Can you please provide me with invocation event used ?

[2017-04-03 19:31] txaiwieser commented on #111
It seems to be solved in the last version.

[2017-04-05 23:01] bruce-lumo commented on #140
Is this fix in 7.2?

[2017-04-05 23:17] Kmohamed commented on #140
Yes it will fix it.

[2017-04-06 10:16] #140 closed

[2017-04-07 15:42] alexsanderkhitev opened #145 "Pods/Instabug/Instabug.framework/Instabug' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build for architecture armv7"
Hello! When I try to make an archive application, I get such an error.

`Pods/Instabug/Instabug.framework/Instabug' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build for architecture armv7`

[2017-04-07 15:45] HeshamMegid commented on #145
Hi @alexsanderkhitev, we are aware of this issue and we'll be releasing an update very shortly that fixes it.

[2017-04-07 15:47] alexsanderkhitev commented on #145
Hi @HeshamMegid thanks.

[2017-04-07 16:18] HeshamMegid commented on #145
@alexsanderkhitev we just released v7.2.2 that fixes this issue. Please give it a try.

[2017-04-07 16:18] #145 closed

[2017-04-11 14:21] mcany commented on #36
How can we access to a specific version with Carthage ?

[2017-04-11 14:38] HeshamMegid commented on #36
@mcany what do you currently have in your Cartfile?

[2017-04-11 14:42] mcany commented on #36
Hi @HeshamMegid
currently I have: github "Instabug/Instabug-iOS" "dynamic_framework"
but I want to checkout to a specific version, not to master everytime

[2017-04-11 14:50] HeshamMegid commented on #36
Oh, I guess you've missed that we now have better Carthage support.

You should add this to your Cartfile:

`binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Carthage.json" == 7.2.2`.

The currently supported versions are available [here](`https://github.com/Instabug/Instabug-iOS/blob/master/Carthage.json).

[2017-04-11 14:56] mcany commented on #36
@HeshamMegid

CartFile: After some internal framework we have InstaBug:

![screen shot 2017-04-11 at 5 53 57 pm](https://cloud.githubusercontent.com/assets/8954435/24915543/1c796860-1ee0-11e7-9cc3-d4f86949bedd.png)

Error:

<img width="568" alt="screen shot 2017-04-11 at 5 53 32 pm" src="https://cloud.githubusercontent.com/assets/8954435/24915514/07339d0e-1ee0-11e7-801f-70ceaf0005f5.png">

[2017-04-12 11:10] HeshamMegid commented on #36
@mcany let us check on that and get back to you.

[2017-04-14 13:24] edfanhouse opened #146 "Carthage json is incorrect"
Hi,

The latest release (7.2.3) contains an error in the Carthage.json, a comma is missed so installation with Carthage failed.

[2017-04-17 18:53] KaanOzkan opened #147 "IBGCoreDataPersistenceManager"
Our App seems to be crashing at IBGCoreDataPersistenceManager.m line 219. Please take a look. There are many occurences in the past few days.
Here is the fabric message, unfortunately instabug is not giving enough information

<img width="922" alt="screen shot 2017-04-17 at 2 46 44 pm" src="https://cloud.githubusercontent.com/assets/16736048/25100277/7c75f0e8-237d-11e7-9d20-868e75642200.png">

[2017-04-18 03:11] omaralbeik opened #148 "App crashes when adding a screenshot"
We think that the `getDestinationPointInRect` in `IBGFloatingButton` is causing the problem

How to produce the crash
1- shake to bring the instabug feedback view
2- enter email
3- tap on add a screenshot
4- remove the screenshot and tap on the add screenshot button again

We are using Instabug v7.2.3 in Xcode 8.3

here is the full stack

[code]

[2017-04-18 06:57] Kmohamed commented on #148
Hello @omaralbeik
Could you please send to me a symbolicated stack trace ?

[2017-04-18 17:07] omaralbeik commented on #148
@Kmohamed Thank you for your reply
the app is not in the AppStore, could you please advice how to get a symbolicated stack trace

[2017-04-18 18:46] keith commented on #147
Our app is also crashing, with a slightly different core data issue:

[code]

[2017-04-18 18:52] keith commented on #147
Should we revert to a previous version of instabug? Will this failure leave all of our users in a broken state?

[2017-04-18 18:58] msoliman commented on #147
@keith this should be fixed on 7.2.3. Which version are you on?

[2017-04-18 19:01] keith commented on #147
We're on 7.2.2. I can update now. Is this going to be ok for users who have the broken version?

[2017-04-18 19:03] msoliman commented on #147
@keith yes. We're handling it as well in 7.2.3

[2017-04-18 19:04] keith commented on #147
Actually this was on version 7.0.5

[2017-04-18 19:06] msoliman commented on #147
@keith should be fine. Let me know if you encounter any problems on 7.2.3

[2017-04-18 19:50] Kmohamed commented on #148
Did you use our crash reporting or any other crash reporting ?

[2017-04-18 20:10] msoliman commented on #147
@KaanOzkan did you try it out on 7.2.3. It should be fixed there.
Feel free to reopen if you encounter it again on 7.2.3

[2017-04-18 20:10] #147 closed

[2017-04-18 20:11] mattbischoff commented on #148
We’re also running into the same issue.

[2017-04-19 06:42] omaralbeik commented on #148
@Kmohamed the crash appears on Instabug crashes dashboard as
[code]

[2017-04-19 06:47] Kmohamed commented on #148
@omaralbeik Could you send me the Instabug code which you are use ?

[2017-04-19 07:13] klaaspieter commented on #146
I fixed this in #149. Using `https://raw.githubusercontent.com/klaaspieter/Instabug-iOS/fix-carthage/Carthage.json` should work until it's merged.

[2017-04-19 14:37] omaralbeik commented on #148
@Kmohamed Sure, here it is
[code]

Now I'm wondering should we set first arg to true?

[2017-04-19 16:05] HeshamMegid commented on #146
Oops, sorry about that! It's fixed now.

[2017-04-19 16:05] #146 closed

[2017-04-19 16:05] #144 closed

[2017-04-20 12:35] Kmohamed commented on #148
@omaralbeik I attach a custom build with a fix
Could you give it a try ?
[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/942979/Instabug.framework.zip)

[2017-04-21 16:15] omaralbeik commented on #148
@Kmohamed Looks like the bug is gone for now
We added the new Instabug framework, removed the previous cocoa pod and report 7 test bugs with the screenshots, didn't get any crash so far.

[2017-04-21 16:16] Kmohamed commented on #148
Great 👍 we will release the fix very soon
Sorry for inconvenience.

[2017-04-21 16:16] #148 closed

[2017-04-21 16:18] omaralbeik commented on #148
Thank you @Kmohamed !

[2017-04-21 16:18] Kmohamed commented on #148
Thanks for your support

[2017-04-25 08:31] HeshamMegid commented on #126
@elyalvarado you could do exactly what you need using the `reportError:` API. Have you tried using it and something was missing?

[2017-04-30 08:25] booboothefool opened #150 "Random iOS crash?"
Started getting this crash after integrating Instabug. It seems kind of random as I cannot reproduce it consistently, and I am unsure how to actually read this crash report, but it seems Instabug may potentially be linked to it. Any ideas?

![crash](https://cloud.githubusercontent.com/assets/13257645/25561236/6a960ae0-2d35-11e7-9508-7a46b0bbc692.png)

[2017-04-30 08:27] Kmohamed commented on #150
Could you symbolicate a crash please ?

[2017-04-30 19:32] booboothefool commented on #150
@Kmohamed Sorry, I am not sure how. Is this it?

[code]

[2017-04-30 19:47] booboothefool commented on #150
[code]
Incident Identifier: D0FC0116-2F28-4016-9FD5-EA67578EB201
CrashReporter Key:   fa374e29e74f9688500021f9628505d42aa43c23
Hardware Model:      iPhone9,1
Process:             appClient [4538]
Path:                /private/var/containers/Bundle/Application/2E359313-30FB-4CD9-AF8E-0C6348320F65/appClient.app/appClient
Identifier:          com.company.app
Version:             5 (1.5.0)
Code Type:

[2017-04-30 20:31] HeshamMegid commented on #150
Do you use Instabug's crash reporting, or another crash reporter?

[2017-04-30 21:18] booboothefool commented on #150
@HeshamMegid I use Azure Mobile Center for crash reporting (cause React Native), Instabug for user support/bug reports/feedback (but Instabug does give me crash reports too).

[2017-05-01 15:03] robertofrontado opened #151 "Network logs issue v7.2.4"
Hello guys, I just updated Instabug SDK from v7.0.5 to v7.2.4 and Network logs stopped working

[code]

Do I have to do something extra? or its a bug on that version?

[2017-05-01 15:55] Kmohamed commented on #151
@robertofrontado
I just tried it now and it's works fine.
I would like to inform you that we only support these content types  "JSON, XML, HTML, PlainText"
Does your request has one of these content types ?

[2017-05-01 16:07] robertofrontado commented on #151
@Kmohamed Yes, weird is that it is working with v7.0.5

We are using this `Content-Type:  "application/json; charset=utf-8"`

[2017-05-01 16:16] Kmohamed commented on #151
Could you enable SDK Logging throught `setSDKDebugLogsLevel` to Verbose
and send it to me

[2017-05-01 16:20] Kmohamed commented on #151
@robertofrontado If Instabug SDK succeed to capture request you should see something like this in console logs:
[Instabug] Saved network log:"REQUEST_DATA"

[2017-05-01 16:28] robertofrontado commented on #151
Nvm, somehow with the new version:
`Instabug.enableLogging(for: configuration)`
was being called before:
`Instabug.start(withToken: token, invocationEvent: .shake)`

I did some changes and now its working nicely 👍

Thanks @Kmohamed

[2017-05-01 16:28] #151 closed

[2017-05-01 16:33] Kmohamed commented on #151
welcome

[2017-05-01 16:33] robertofrontado commented on #151
@Kmohamed Btw regarding this issue https://github.com/Instabug/Instabug-iOS/issues/133

There's a way to log an `http request/response` manually? but with the same format do you use?

[2017-05-01 16:59] Kmohamed commented on #151
Actually there is no method to log requests and  response manually.
But I am curious to know why do you want something like this ?

[2017-05-01 17:02] robertofrontado commented on #151
Because of [issue #133](https://github.com/Instabug/Instabug-iOS/issues/133), the network logs functionality is messing with this method:

[code]
From `URLSessionTaskDelegate`, its not being called anymore

[2017-05-01 17:11] Kmohamed commented on #151
You are right 👍
We will find solution for this issue.
Maybe we can provide an callback with total bytes sent or
We can provide a way to log requests manually
Anyway I will let you know once we release it.

[2017-05-01 17:34] robertofrontado commented on #151
That would be nice 😄

Thanks @Kmohamed

[2017-05-01 22:36] omaralbeik commented on #148
@Kmohamed We got error shown in the attached image when trying to push the app to the AppStore, any idea why is this happening and how to fix it?
It says that Instabug was not signed with Apple linker
<img width="1307" alt="instabug_crash" src="https://cloud.githubusercontent.com/assets/8127757/25597477/b6301082-2e83-11e7-932f-58ce97746547.png">

[2017-05-01 22:40] Kmohamed commented on #148
@omaralbeik
Sorry for that I think you still use framework which is being build using Xcode 8.3 could you use the cocoapods one "build using xcode 8.2"
I think it's a bug in Xcode 8.3.

Also If you still face this issue please inform me

[2017-05-01 23:39] omaralbeik commented on #148
@Kmohamed Im sorry I didn't understand, do you mean to add Instabug using Cocoapods again instead of the build you sent here, or just archive the app using Xcode 8.2 ?
btw the crashing bug was happening before upgrading to Xcode 8.3 as well

[2017-05-02 04:18] Kmohamed commented on #148
Yes just use the cocoapods one and tell me if it still exist

[2017-05-02 10:55] bp323 commented on #151
@Kmohamed Do you have a timeframe for tackling the issue, has it been taken up for investigation?

[2017-05-02 11:47] Kmohamed commented on #151
@bp323 what about sending custom build untill the next release ?

[2017-05-02 12:55] Kmohamed commented on #151
@bp323 @robertofrontado Here is a custom build until we offically relase it
[Instabug.framework.zip](https://github.com/Instabug/Instabug-iOS/files/970470/Instabug.framework.zip)

[2017-05-02 13:33] robertofrontado commented on #151
@Kmohamed what are the differences between that build and the current release? 😄

[2017-05-02 13:36] Kmohamed commented on #151
@robertofrontado that build contains api to handle requestProgress
Called "setRequestProgresshandlerforRequest:progressHandler:"

[2017-05-02 14:20] robertofrontado commented on #151
@Kmohamed I can't find that method in that build 🤔

[2017-05-02 14:50] Kmohamed commented on #151
@robertofrontado sorry I update method name "setNetworkRequestForRequestURL:progressHandler:"

[2017-05-02 14:51] robertofrontado commented on #151
Can you upload the custom build again? 👍

[2017-05-02 14:53] Kmohamed commented on #151
You did not find it in the previous build ?

[2017-05-02 14:53] robertofrontado commented on #151
Nope

[2017-05-02 14:57] robertofrontado commented on #151
@Kmohamed Forget about it, its there 😄

[2017-05-02 14:58] Kmohamed commented on #151
👍

[2017-05-02 15:24] robertofrontado commented on #151
@Kmohamed Ok I don't know what you did, but there's no need to call the new method:

[code]

Somehow now the method from the delegate is being triggered:

[code]

Actually, the new method does not work, its not being triggered

It might be possible that you fixed it?

[2017-05-02 15:26] Kmohamed commented on #151
I think you still use the predict to prevent SDK from intercepting the requests.

[2017-05-02 15:27] Kmohamed commented on #151
am I right ?

[2017-05-02 15:32] robertofrontado commented on #151
Nvm, you're right,

I forgot to fix an issue with the initialization of `Instabug` on that branch,

I did it and now you're method is the one who's being called 👍

Are you planning on include this for the next release?

[2017-05-02 15:34] Kmohamed commented on #151
Yes, It will be in the next release.

[2017-05-02 15:35] robertofrontado commented on #151
Do you have a release date?

[2017-05-02 15:36] Kmohamed commented on #151
Next week

[2017-05-02 15:40] robertofrontado commented on #151
Sounds good, thanks!!! @Kmohamed 👍

[2017-05-02 15:41] Kmohamed commented on #151
welcome ☺️

[2017-05-02 18:07] Figo0o commented on #150
Hello @booboothefool, Could you please share with us Instabug initialization code ?

[2017-05-02 18:25] Streebor opened #152 "URGENT - Crashing in CoreData -> context nil"
The app would just randomly crash. It looks like it is crashing then it is doing work with core data.

In our production application, we have been experiencing the crash for the **past few weeks** and it is by far #1 app crash in our app. For the past few days app crashed more than 90 times. We will remove Instabug from our app within 48 hours if this issue is not resolved.

Init code:
[code]

[co

[2017-05-02 18:33] Figo0o commented on #152
Hello @Streebor, We are so sorry for the crashes you are facing.

I believe that this was a known issue and fixed on the latest release. Can you please provide me with the Instabug Version used in your application.

Thanks!

[2017-05-02 19:48] booboothefool commented on #150
@Figo0o

[code]

[2017-05-02 20:35] Streebor commented on #152
@Figo0o We are using the latest available pod `Using Instabug (7.2.4)`

[2017-05-02 21:18] Figo0o commented on #152
@Streebor,  I can see that the stack-trace from an older version because it has some methods that does not exist in our latest SDK version.

Thats why you need to be sure that you have uploaded latest instabug version to your producation application. and if so then maybe some users didn't update to the latest app version.

does that make sense?

Again we really do apologize for the crashes you are

[2017-05-02 21:20] eneko opened #153 "Crash on app launch (iOS 9 only) version 7.x"
Application crashes at launch time (iOS kills the app because it takes too long to initialize).

This only happens with version 7.x running on an app built and deployed on a device with iOS 9. There crash happens at launch when tapping on the app icon on the home screen.

Crash does not happen on iOS 10 nor does happen on iOS 9 with Instabug 6.4.x

[2017-05-02 21:47] Figo0o commented on #153
Hello @eneko, We are so sorry for inconvenience. I'm looking into this for you.

Can you reproduce this crash yourself using instabug 7.2.4 while debugger attached? if so it will be so helpful to provide us with more details by enabling Instabug verbose logging.

Just add `[Instabug setSDKDebugLogsLevel:IBGSDKDebugLogsLevelVerbose];` in your instabug initialization code.

[2017-05-03 07:35] HeshamMegid commented on #152
Hi @Streebor, having had another look at this issue, this is indeed still happening on the latest release. We just fixed it and we're releasing a new version now. Will let you know once it's available.

We're very sorry for the confusion!

[2017-05-03 08:47] robertofrontado opened #154 "Instabug crash while network logging"
Hello guys, I got this crash using v7.0.4:

[code]

Since you're mentioning in your changelog some bug fixes regarding the logs

[code]
It's possible that this has been solved on v7.2.4?

[2017-05-03 08:55] HeshamMegid commented on #154
@robertofrontado this has most likely been fixed in 7.2.4. Just to be sure, could you add the exception message?

[2017-05-03 09:54] robertofrontado commented on #154
@HeshamMegid You mean `Crash due to signal: SIGABRT(#0) at 182a53014` ?

[2017-05-03 11:59] HeshamMegid commented on #154
@robertofrontado oh, didn't notice it was already there! We have fixed an issue in the latest release that we suspect is causing this crash, but since we cannot reproduce it locally, we cannot tell for sure. If you're able to reproduce that crash, I would be appreciate if you give the latest release a try and let us know if it still happens.

[2017-05-03 13:09] robertofrontado commented on #154
@HeshamMegid Okk If it pops up again I'll let you now 👍

[2017-05-03 13:09] #154 closed

[2017-05-05 00:37] booboothefool commented on #150
Apologies, it seems my crash in the original post with the screenshot is from React Native "RCTImageLoader crashes when canceling image loads (RN 0.36) #10433". In regards to the two that were copy pasted, I will see if they are from the same thing.

[2017-05-07 07:28] AhmedShammala opened #155 "Attach UIImage in Bug Report Available?"
Hi , i spend some time to figure how to attach Images in Real time with each new Bug Report ,
unfortunately i didn't find answer ,  seem **addFileAttachment** read just from main Bundle ? is attaching images like that supported ?

Thanks

[2017-05-07 08:21] HeshamMegid commented on #155
Hi @AhmedShammala,

Please check `addFileAttachmentWithURL:`. The file need to exist locally on disk by the time the bug gets sent.

Feel free to reopen if you need further help.

[2017-05-07 08:21] #155 closed

[2017-05-11 16:56] Streebor commented on #152
@HeshamMegid thank you for letting me know! Is it fixed in 7.2.6?

[2017-05-15 20:14] eneko commented on #153
The crash does not happen with when running the debug mode, only on archived releases. Using 6.4.x works fine for us, not sure what the difference is.

[2017-05-15 21:12] eneko opened #156 "Free hand annotation without shape detection"
One of my favorite features of Instabug was being able to quickly draw shapes and hand-written text on screen (see the screenshot on your home page).

![landing_page](https://cloud.githubusercontent.com/assets/32922/26079629/42888f1a-3978-11e7-8bcc-e805c7a98b09.png)

Currently this is very hard to do because since version 6.x, Instabug does shape detection and converts the user input into some sha

[2017-05-15 21:27] samsonjs opened #157 "Permission to use Photos is shown on first launch not when it's actually needed"
The readme in this repo states:

However this is not true. Permission to use the photo library is requested immediately on first launch, before setting up Instabug or anything.

[2017-05-16 02:48] yousefhamza commented on #156
Hi this Yousef from Instabug team.

Here's a tip, if you tapped the undo button after shape is detected you will get the original shape again.

Hope this helped.

[2017-05-16 08:11] HeshamMegid commented on #157
Hi @samsonjs, unfortunately we haven't been able to reproduce this issue.

A sample app or a code snippets that reproduces this would be highly appreciated.

[2017-05-16 08:15] HeshamMegid commented on #153
@eneko, would you please grab the crash reports from the device and share them with us?

[2017-05-16 08:31] HeshamMegid commented on #152
@Streebor yes, it's been fixed in 7.2.6.

[2017-05-16 08:31] #152 closed

[2017-05-16 08:37] HeshamMegid commented on #126
Closing this for now. Please free to reopen if you have further comments.

[2017-05-16 08:37] #126 closed

[2017-05-16 08:51] yousefhamza commented on #150
We will release a new version of react native soon that will fix your issue.

[2017-05-16 17:58] samsonjs commented on #157
Ah, yes you're right. Reducing to the simplest test case eliminated the problem so something more complicated is causing it. I'll try to figure out the real issue.

[2017-05-16 18:19] samsonjs commented on #157
This is my mistake. Instabug showed up in the stack but it must have been due to logging or something unrelated. The fault was in our app's code (of course). Sorry for the noise!

[2017-05-16 18:19] #157 closed

[2017-05-17 12:22] HeshamMegid commented on #157
@samsonjs no worries, glad you figured it out 🍻

[2017-05-17 12:25] HeshamMegid commented on #156
@eneko what you're saying makes sense. We're working on adjusting auto-detected shapes to make the experience easier when handwriting text.

[2017-05-18 13:58] jeremiegirault opened #158 "Conflicts with NSLogger"
I want to report that the use of Instabug with https://github.com/fpillet/NSLogger causes an app kill.
Usage of either one of the libs is fine, the crash only happens when using both.

This may be related to a loop where NSLogger sends logs over the network and Instabug logs the network messages. I could not find how to disable network inspection in Instabug.

**Steps to reproduce:**
Use NSLogger

[2017-05-18 14:00] fpillet commented on #158
I'm the author of NSLogger. It intercepts logs, queues them to a pool and sends them over the network to a desktop viewer. I'm not sure if there is special machinery in Instabug to isolate specific connections -- if there is, I can mark NSLogger's connection so as to avoid the problem above.

[2017-05-18 14:11] HeshamMegid commented on #158
As @fpillet pointed out, this happens because Instabug intercepts network requests made by NSLogger, which results in a endless loop.

Please check [our docs](http://docs.instabug.com/docs/network-requests-logging#section-omitting-requests-from-logs) on how to filter out certain requests from being logged. We're also looking into this to see if there's anything we could do from our side.

[2017-05-18 14:15] fpillet commented on #158
@HeshamMegid what's interesting is that NSLogger uses direct TCP connections (no HTTP). It looks over Bonjour to find the viewer (unless you give it a direct IP address) then connects to the one if finds. I don't think your filtering API would work here.

Note that logs are always pushed to the network from a single private thread created by NSLogger. I could set a thread dictionary key on this th

[2017-05-18 14:16] HeshamMegid commented on #158
@fpillet that sounds like something that shouldn't go through our network logger in the first place. Let me look into this more and get back to you.

[2017-05-18 16:28] jeremiegirault commented on #158
@HeshamMegid I tried to use: `Instabug.setNetworkLoggingEnabled(false)` before initializing instable as I don't have a use for this feature but it's still conflicting in some ways.

[2017-05-18 18:05] eneko commented on #153
Here, hope it helps. I couldn't find anything myself, other than the fact that it iOS 9 on a device takes too long to launch when using Instabug 7.x.

Instabug SDK 6.x does not have this issue.

`com.xxxx.develop failed to scene-create after 19.84s (launch took 0.16s of total time limit 20.00s)`

[code]

[2017-05-19 00:26] Kmohamed commented on #158
@jeremiegirault Did you see this message before the app being killed ?
![screen shot 2017-05-19 at 2 24 57 am](https://cloud.githubusercontent.com/assets/1115748/26228489/91cdd840-3c3a-11e7-9e3a-026bbc3ead2c.png)

[2017-05-19 06:36] fpillet commented on #158
@Kmohamed we did some shared screen debugging so I witnessed the session and no, the message didn't appear. The OS simply jettisons the app on locking, with a signal 5.

[2017-05-19 12:55] jeremiegirault commented on #158
I force the bug again and yes, constated this popup when the app is killed

[2017-05-19 20:40] Kmohamed commented on #158
@fpillet I could not find where is the loop also I could not find see the stacktrace it's very weird
@jeremiegirault The app is killed If it's attached to Xcode only am I right ?

[2017-05-20 15:27] jeremiegirault commented on #158
Indeed, the freeze/kill only happens when the debugger is attached. Strange indeed

[2017-05-20 16:59] Figo0o commented on #158
Well, After digging deeper into this I've found where is the problem is. The Instabug Crash Reporting got enabled although the debugger is attached which causes the Freezing.

Somehow our checks for the debugger attached fails because of NSLogger. Does NSLogger do changes to the stderr's files because we can't find them after Integrating. @fpillet any idea ?

@jeremiegirault for now you can disabl

[2017-05-20 17:07] jeremiegirault commented on #158
@Figo0o I tried something like this without success:
[code]

For your info I think NSLogger catches stderr and stdout to show these logs in the app. This link may help you: https://github.com/fpillet/NSLogger/blob/master/Client/iOS/LoggerClient.m#L1226

[2017-05-20 17:09] Figo0o commented on #158
@jeremiegirault You have to disable crash reporting after calling `Instabug.start(withToken: Keys.shared.instabug, invocationEvent: .shake)`. Give it a try and let me know.

Let me check that.

[2017-05-20 17:11] jeremiegirault commented on #158
Workaround ok on my side. Let me know what you find about these std streams.

[2017-05-20 17:40] fpillet commented on #158
@Figo0o yes NSLogger intercepts `stderr` and `stdout` (using `dup2`), captures their output and logs everything that comes out of them.

[2017-05-20 17:41] fpillet commented on #158
@Figo0o relevant code (and interception function) are on line https://github.com/fpillet/NSLogger/blob/master/Client/iOS/LoggerClient.m#L1284 and around

[2017-05-21 07:51] Figo0o commented on #158
@fpillet I'm trying to figure this out. `dup` deletes the source file. maybe thats the problem. am I missing something?

[2017-05-22 08:39] Figo0o commented on #153
Well, Can you please give a try to the Latest Instabug version `7.2.6` and let me know if you still facing this issue?

[2017-05-23 03:35] eneko commented on #153
Hi there. Yep, we tried with the latest 7.x version available a couple of days ago (Thursday or Friday) a it was still having this issue. Will check again tomorrow.

[2017-05-24 15:31] eneko commented on #153
Hello Instabug team,

We have managed to bypass this issue by postponing the Instabug framework initialization, using a `dispatch_async` block to defer the SDK initialization after the `applicationDidLaunch` returns. Seems to work great this way and the app launches faster.

This does not resolve the bug, however, but allows us to use the latest `7.x` version.

Thanks,
Eneko

[2017-05-24 15:50] eneko commented on #156
Would it be possible to add another button to the bottom toolbar for "Free Writing"? This is, when that option is selected, the app will work as it used to do, without trying to recognize any shapes. Then, if the "Shape" option is selected, it would work as it does now.

[2017-05-24 23:56] Kmohamed commented on #153
Hello @eneko
We created a ticket on our support for this issue could you please follow up with us in order to get more detailed about your issue and investigate more.

Thanks,

[2017-05-25 05:05] HeshamMegid commented on #156
@eneko that's a good suggestion. I've added this to our backlog to consider it with the team for a future update.

[2017-05-25 09:08] lha-ryq opened #159 "Crash in IBGMethodSwizzler viewDidAppear"
We encountered a crash in our app and it looks like it is related with Instabug. So far it occurred only once.

Instabug version: 7.2.6
Device: iPhone 6s
iOS version: 10.2.1

[code]