[2018-12-10 07:53] Kmohamed commented on #303
@khurram18 I think this a bug in simulator not in Instabug I can only show alert once if the permission is not granted or canceled. Btw are you on Xcode beta version ?

[2018-12-10 07:54] khurram18 commented on #303
I am using xcode `Version 10.1 (10B61)`

[2018-12-10 07:56] Kmohamed commented on #303
is this happened consistently? after restart the Xcode and clean the build ?
Did you try to this (`Hardware` -> `Erase All content and settings` ) for the simulator ?

[2018-12-10 09:43] khurram18 commented on #303
I had tried erasing all content, re-starting simulator/xcode etc but no luck

[2018-12-10 10:07] Kmohamed commented on #303
I think it's not related to Instabug I am not allowed to show alert every-time

[2018-12-21 14:32] Kmohamed commented on #301
Let me check it and get back to you

[2018-12-21 14:34] vladasdrejeris commented on #301
Thanks.

[2018-12-25 12:12] Kmohamed commented on #301
@vladasdrejeris could you share with me how you protect your files? Also please send to me a shareable link of fabric stack trace?

[2018-12-30 08:42] yousefhamza commented on #303
It seems to be a problem with Xcode 10.1 and MacOS 10.14

This prompt is for `Simulator` app on your mac not for your app on the simulator, If you do not want to allow the Simulator to use the microphone go to:
`System Preferences` > `Security & Privacy` > `Privacy` > `Microphone` > Remove Xcode selection

![screen shot 2018-12-30 at 10 39 41 am](https://user-images.githubusercontent.com/3893067/5

[2019-01-01 11:33] dosaSpace opened #304 "Exception - [NSNull length] unrecognized selector"
I'm new at React Native, I apologize in advance.
Sometimes, but not everytime when the app is loaded for the first time and the main screen is showen, I get this error -
this is the screenshot  -
[https://imgur.com/a/jOggPw1](url)

The function that made the error -
`async componentDidMount() {

     await this.allSongs();

  }

  allSongs = () => {
    console.log("allSongs function begin!");

[2019-01-01 11:45] Kmohamed commented on #304
Hello @dosaSpace,
First, please do not post any questions that do not relate to Instabug.  you can use something like [StackOverflow](https://stackoverflow.com).
Second, you are passing null to the body please remove it and add empty `Dictionary`.

[2019-01-01 11:45] #304 closed

[2019-01-01 11:56] dosaSpace commented on #304
@Kmohamed it's not a null that i'm passing its a json object.

[2019-01-01 12:02] Kmohamed commented on #304
Could you try to pass empty object {}?

[2019-01-01 12:05] dosaSpace commented on #304
@Kmohamed nope, that imposible this is the object im trying to pass -
http://ruppinmobile.tempdomain.co.il/site15/WebService.asmx/SongsList

[2019-01-01 12:07] Kmohamed commented on #304
If you are trying to fetch the content of the file. So why you are using a POST request you should use a GET request.

[2019-01-01 12:35] Kmohamed commented on #304
You should remove the body from the request.

[2019-01-01 12:41] dosaSpace commented on #304
@Kmohamed  o.k it's working good so far. but on the other function which is similar to this one (that I have on other screen) its has the same error.

[2019-01-01 12:45] Kmohamed commented on #304
I think you may need to subscribe to Instabug for this kind of support. 🤔

[2019-01-01 12:47] dosaSpace commented on #304
o.k but it's very complected to explain the bug. it's happening only after I send with another function a new string and then fethc it back...

[2019-01-01 13:15] Kmohamed commented on #304
Let’s move this conversation over email in order not to add unrelated questions on our public repo.
Please email contactus@instabug.com and we could continue the conversation over there.
Happy New Year 💥🎉

[2019-01-01 13:17] dosaSpace commented on #304
@Kmohamed  o.k ill will send an email for you now, thanks

[2019-01-02 01:51] jlichti opened #305 "Background Assertion Kills App"
With the latest version of the Instabug SDK my app is killed when I put in the background (typically after 180 seconds)

I spent several days isolating the problem to this pod upgrade. The app is killed with a background assertion:

[code]

I reverted back version 8.0.8 from my last prod deploy and the app is no longer killed by iOS.

### SDK Version
8.0.17 (Latest)

### iOS Version
12.1.1

### De

[2019-01-02 04:45] Kmohamed commented on #305
Hello @jlichti, I am sorry for this but could you provide me with stack-trace?

[2019-01-02 19:30] jlichti commented on #305
Stack-trace wasn't at all helpful. I finally solved by reverting pods in groups to narrow down the problem.

Rebuilding takes quite a while so I didn't try with any Instabug versions between 8.0.8 and 8.0.17 but if there were any changes to the background processing start there.

[code]

[2019-01-03 04:57] Kmohamed commented on #305
are you start to use background tasks recently?

[2019-01-03 07:49] vladasdrejeris commented on #301
Hi @Kmohamed,

We are setting file protection level to all files in app directory:
[code]

And a link to stack trace: http://crashes.to/s/89376de10eb

[2019-01-03 12:07] jlichti commented on #305
No - this is related to the Instabug pod update. No other changes.
With 8.0.8 my app works fine and with 8.0.17 the app is killed 100% of the time by iOS for a background Assertion.

[2019-01-03 12:16] Kmohamed commented on #305
Could you tell me a specific scenario I tried to put it o background for more than 180 seconds but no luck also can you tell what product you are using from Instabug?

[2019-01-03 12:31] Kmohamed commented on #305
Thanks a lot @jlichti I will investigate deeply in this issue and get back to you soon.

[2019-01-06 10:07] Kmohamed commented on #301
Since you are using `URLFileProtection.complete` so this [custom build](https://www.dropbox.com/s/tamy8ocqvuzr3x2/Instabug_fileProtection.zip?dl=0) should fix this issue.
Could you give it a try and tell me if it works 🙏.

[2019-01-07 01:15] jlichti commented on #305
Still killed in the background with a shared background assertion after exactly 180 seconds.

[2019-01-07 01:35] Kmohamed commented on #305
@jlichti Could you help me more to debug this issue deeply I cannot find Instabug in the stack trace. So I did not know from where should I start? maybe if you symbolicate this stack frame will help me.
7   MyApp                         	0x00000001021f0008 0x102148000 + 688136

[2019-01-07 01:38] Kmohamed commented on #305
@jlichti I think if you enable verbose logging could help me to define this issue?
`[Instabug setSdkDebugLogsLevel:IBGSDKDebugLogsLevelVerbose];`

[2019-01-07 01:48] jlichti commented on #305
Hey Kamel - unfortunately I won't be able to help any more with debugging. I'm ok with using 8.0.8 for now since everything works fine. Feel free to close as unable to reproduce.

[2019-01-07 01:50] jlichti commented on #305
Hey Khaled - unfortunately I won't be able to help any more with debugging. I'm ok with using 8.0.8 for now since everything works fine. Feel free to close as unable to reproduce.

[2019-01-07 06:55] Vladas-Drejeris commented on #301
I will try it.

[2019-01-07 07:40] Kmohamed commented on #305
@jlichti Thanks a lot for your time I highly appreciate your help. we will keep investigating and will keep you updated.

[2019-01-07 07:42] Kmohamed commented on #301
@Vladas-Drejeris Thanks a lot

[2019-01-11 13:00] yousefhamza commented on #303
There's an open radar for this issue, please check it for updates: https://openradar.appspot.com/45938209

[2019-01-11 13:00] #303 closed

[2019-01-14 14:31] tonysung commented on #305
We hit exactly the same issue here (and super annoyed) and we were able to track it down to a possible root cause. Here is the detail:

1. The crash:

[code]

2. Related iOS console log:

[code]

3. As background task leaks are caused by missing call to ```endBackgroundTask()``` after calling ```beginBackgroundTask()```, we subclassed UIApplication, overridden the two methods, and found a call to

[2019-01-14 15:21] Kmohamed commented on #305
@tonysung Thanks a lot for details 🙏, Actually this was the case we already fix it and it's going to be released in the next release.

[2019-01-15 02:58] tonysung commented on #305
@Kmohamed I've tried reverting back to v8.0.8 for the time being, but we've observed a similar but different power assertion error:

Hope that this will have been fixed in the coming release.

[2019-01-15 04:57] Kmohamed commented on #305
@tonysung Yes, I can confirm that it should be in version 8.0.8 and will be released very soon.
And also you can use this custom build
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-backgroundtask'`

[2019-01-15 15:09] miroslavkovac commented on #209
@Kmohamed have you ever found a solution for how to keep track of which session configuration should be used for which request? Could it be that Apple uses some private API for this?

Would be interesting to see how they solved it in `_NSURLHTTPProtocol`, `_NSURLDataProtocol`, `NSAboutURLProtocol` etc.

[2019-01-15 15:25] Kmohamed commented on #209
@miroslavkovac I did not find any solution to keep track of which session configuration should be used for which request. maybe Apple uses some private APIs

[2019-01-17 19:35] HebaAtallah opened #306 "Apple rejected the App because of the custom screenshot"
I've sent an explanation of the custom screenshot to Apple when the App got rejected for the first time, but they have been rejecting it for the second time for the same reason.

<img width="813" alt="screen shot 2019-01-17 at 9 24 01 pm" src="https://user-images.githubusercontent.com/6685615/51343419-0f47d980-1a9f-11e9-9399-6eb5167223a2.png">

[2019-01-17 19:52] Kmohamed commented on #306
Are you invoking Instabug using screenshot?

[2019-01-17 20:14] HebaAtallah commented on #306
Yes, `IBGInvocationEventScreenshot` should I remove that?
If yes, Instabug will be able to take a screenshot when the device gets the shake?

[2019-01-17 20:15] Kmohamed commented on #306
Yes, just replace it with shake and Instabug will continue capturing screenshot

[2019-01-17 20:34] gilroykilroy commented on #306
Good to know this is a reject-able “feature” since that is what I had chosen for my soon to be submitted app. I am switching to two finger left swipe since shake is “undo” which my app has (and may also get rejected for bringing up Instabug since https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/gestures/ says “Avoid using standard gestures to perform nonstandard a

[2019-01-21 13:01] danipralea opened #307 "Instabug: err: script not found"
Hello all. I continuously have issue trying to install Instabug in my project.

### Steps to Reproduce the Problem
just install cocoapods

### Expected Behavior
run the app

### Actual Behavior
error encountered

### SDK Version
8.0.17

### iOS Version
12.1.2

### Device Model
iPhone 6S Plus

### [Optional] Project That Reproduces the Issue

Note: Cocoapods version is 1.5.3
Architectures:
<img wid

[2019-01-21 13:07] Kmohamed commented on #307
@danipralea please remove your integration code?

[2019-01-21 13:07] Kmohamed commented on #307
@danipralea I will check it and get back to you again?

[2019-01-21 13:08] danipralea commented on #307
done @Kmohamed
thank you. your help is very much appreciated. I tried doing so many setups and hacks etc. it just won't work. I am currently disabling the script

[2019-01-21 13:09] Kmohamed commented on #307
@danipralea could you tell me which script that you are using?

[2019-01-21 13:09] danipralea commented on #307
[code]

[2019-01-21 13:10] Kmohamed commented on #307
@danipralea please remove you integration code? 😅

[2019-01-21 13:11] danipralea commented on #307
yeah, I did it afterwards 😄

[2019-01-21 21:11] Kmohamed commented on #307
@danipralea If you are using Xcode 10 please see the related section [here](https://docs.instabug.com/docs/ios-crash-reporting#section-automatically).

[2019-01-22 04:28] FrancoSabadini opened #308 "Shake doesn't work on iPhone 7+"
### Steps to Reproduce the Problem

Start Instabug in iOS with the following code:

[code]

### Expected Behavior

When shaking the device, the Instabug dialog should appear.

### Actual Behavior

When shaking the device, nothing happens.

### Instabug integration code

[code]

I also tried adding `BugReporting.shakingThresholdForiPhone = 10.0` but nothing changed.

### SDK Version

8.0.17

### iO

[2019-01-22 05:12] Kmohamed commented on #308
Could you make sure you entered the correct integration code?

[2019-01-22 05:15] FrancoSabadini commented on #308
@Kmohamed if you mean the token, I checked and it's correct. When I invoke the dialog via code it appears correctly.

[2019-01-22 05:19] Kmohamed commented on #308
@FrancoSabadini could please contact the support maybe you have a problem with the token?

[2019-01-22 13:18] danipralea commented on #307
thank you for your reply @Kmohamed
I did added it, but I am still getting an error.

PS: I am using Xcode 10. Do I need to add it only for the scheme or for both? (in Build Phases + Scheme) ?

[2019-01-22 20:31] FrancoSabadini commented on #308
@Kmohamed as I mentioned, force invoking the dialog works, so wouldn't that fail as well if the token had an issue?

[2019-01-22 20:41] Kmohamed commented on #308
Only 7plus?

[2019-01-22 20:42] FrancoSabadini commented on #308
I contacted support just now.

I only have a 7 plus to test, so can't guarantee whether it works on other devices or not.

[2019-01-22 20:50] FrancoSabadini commented on #308
@Kmohamed setting the threshold to 1 made it work. Seems like I misread the documentation and thought that higher values made it more sensitive, instead of lower ones.

Sorry for the confusion and thanks for the help, you can close the ticket now.

[2019-01-23 08:20] Kmohamed commented on #308
@FrancoSabadini great no worries

[2019-01-23 08:20] #308 closed

[2019-01-23 08:21] Kmohamed commented on #306
@gilroykilroy @HebaAtallah I am sorry to hear that but we will try hard to find different invocation methods.

[2019-01-23 08:21] #306 closed

[2019-01-23 08:23] Kmohamed commented on #307
No, just the scheme but could you share with me the error?

[2019-01-28 08:09] Kmohamed commented on #305
@tonysung within a week.

[2019-01-30 08:15] Kmohamed commented on #305
@tonysung could you give this [custom build](https://www.dropbox.com/s/atj8op42o3eqzk4/Instabug-backgroundAssertion.zip?dl=0) a try and tell me if it works fine with you.

[2019-01-30 08:19] tonysung commented on #305
Is this the same as ```pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-backgroundtask'``` ? I'll need to use a pod.

[2019-01-30 09:55] tonysung commented on #305
@Kmohamed thx. Will live on it for a few days and report back.

[2019-01-31 08:37] tonysung commented on #305
@Kmohamed unfortunately, with the custom pod, we still see Instabug calling ```UIApplication.endBackgroundTask()``` with ```UIBackgroundtaskidentifier.invalid```, and here's the stack trace for the call:

[code]

[2019-01-31 08:59] Kmohamed commented on #305
@tonysung I am really sorry, I think I added the wrong custom build the custom pod is updated now with the correct custom build. Sorry again 😬

[2019-02-01 04:00] tonysung commented on #305
@Kmohamed I can still reproduce the same problem, but with a slightly different stack:
``
0   libswiftCore.dylib            	0x0000000109e8a1a4 0x109c98000 + 2040228
1   libswiftCore.dylib            	0x0000000109e8a1a4 0x109c98000 + 2040228
2   libswiftCore.dylib            	0x0000000109cf1db8 0x109c98000 + 368056
3   OurApp                     	0x0000000102b360f8 MainApplication.logEndBackground

[2019-02-01 06:31] Kmohamed commented on #305
@tonysung no worries tyt

[2019-02-02 12:58] Kmohamed commented on #305
@tonysung is everything works fine?

[2019-02-02 16:31] tonysung commented on #305
Have been testing for 10+ hours without seeing any problems. =)

[2019-02-03 07:30] Kmohamed commented on #305
@tonysung Thanks a lot for your collaboration.

[2019-02-04 08:13] Kmohamed commented on #307
@danipralea could you please share with me script error? 🙏

[2019-02-04 08:31] danipralea commented on #307
And I also think it's because I wasn't checking "Run script only when installing". not sure though, it may have just been the post-build stuff

[2019-02-04 08:33] Kmohamed commented on #307
Great, I happy that is worked fine on Xcode 10 🎉

[2019-02-04 08:33] #307 closed

[2019-02-04 08:34] danipralea commented on #307
yes. many many thanks!
really awesome support!

[2019-02-07 06:59] Kmohamed commented on #301
@Vladas-Drejeris is everything works fine?

[2019-02-07 18:19] Kmohamed commented on #305
@tonysung fixed on SDK version [8.0.18](https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.18)

[2019-02-07 18:19] #305 closed

[2019-02-07 18:19] Kmohamed commented on #281
@nab0y4enko fixed on SDK version [8.0.18](https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.18)

[2019-02-07 18:19] #281 closed

[2019-02-07 18:21] Kmohamed commented on #238
@seropusha @kevinrenskers we just released the first phase of screen recording improvement on SDK version [8.0.18](https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.18)

[2019-02-07 18:21] #238 closed

[2019-02-07 18:22] gilroykilroy commented on #238
I tried it out. Alas is still causes map and list scrolling to be jittery and unacceptable. As I have asked for in the past you need to provide a suspend/resume screen recording mechanism that I can call when my lists/maps start and stop scrolling. I still cannot use it.

Thanks.

[2019-02-07 18:26] Kmohamed commented on #238
@gilroykilroy totally agree with you, It's not the best but we are working on a major improvement It will not be reliable if we can ignore some animation or scrolling, I will keep you updated.

[2019-02-08 13:36] vladasdrejeris commented on #301
Hi @Kmohamed ,

We are still seeing some crashes that happen in background, like these:
http://crashes.to/s/8f2d59cca99
http://crashes.to/s/b7b40e274ad

[2019-02-08 13:44] vladasdrejeris commented on #301
I have looked into symbol map of the last SDK build that you provided and there are methods with associated with background tasks in IBGNetwork and IBGManagedObjectContextController classes, have you disabled all of them? I think the SDK is still using background task somewhere.

[2019-02-08 13:48] Kmohamed commented on #301
Yes, we stop using background task in CoreData but it still exists in network.
We had a bug in the network and it’s no fixed.

[2019-02-08 13:49] Kmohamed commented on #301
Anyway I will check those crashes ana get back to you

[2019-02-08 13:49] vladasdrejeris commented on #301
Ok, thanks.

[2019-02-12 09:01] Kmohamed commented on #301
@Vladas-Drejeris Sorry for being late, After some investigation, we prevented CoreData from writing data to disk in case of `ApplicationProtectedDataDidBecomeAvailable` but we did not prevent it in reads so the change in this custom build that CoreData will not read from disk in case of `ApplicationProtectedDataDidBecomeAvailable` also.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabu

[2019-02-12 09:05] Vladas-Drejeris commented on #301
Hi @Kmohamed ,

Good to hear, we will try the new SDK version.

[2019-02-15 10:08] racer1988 opened #309 "Instabug-iOS SDK v8.0.19 - Disable background screenshots of view controllers with Repro Steps."
## Instabug-iOS SDK v8.0.19

* Disable the auto screen recording API.
* Disable background screenshots of view controllers with Repro Steps.

Hello.
I can see this in the changelog, and in my project instabug ReproSteps with screenshots have stopped working.

Has been set to disabled by default?

The code and web documentation are saying:
"User Steps tracking is enabled by default if it's availabl

[2019-02-15 10:16] racer1988 commented on #309
Additional related question:

### Instabug-iOS SDK v8.0.20

* Disable the view hierarchy.

However the documentation is not updated and there is no warning for:

`Instabug.shouldCaptureViewHierarchy = true`

Should this also get a warning?

[2019-02-15 12:13] Kmohamed commented on #309
@racer1988 You are totally right, and here are more [details](https://instabug.com/blog/updates-to-our-terms-of-service/) about the latest release of SDK.

[2019-02-17 08:25] #309 closed

[2019-02-17 08:26] Kmohamed commented on #301
@Vladas-Drejeris is everything works fine with the custom build?

[2019-02-18 07:15] Vladas-Drejeris commented on #301
Hi @Kmohamed ,

There is no way to reproduce these crashes consistently, therefore it takes some time to see the results of a fix. I will inform you when we see the results.

[2019-02-18 07:20] Kmohamed commented on #301
@Vladas-Drejeris Perfect, I will be waiting for your updates.

[2019-02-18 08:11] #267 closed

[2019-02-18 16:20] yz06276 opened #310 "The Crash associated with IBGFeatures callback block"
### Steps to Reproduce the Problem
The error can not reproduce steadily.
### Expected Behavior
Crash randomly
### Actual Behavior
I found this crash stack in my
### Instabug integration code
[code]
### SDK Version
8.0.17
### iOS Version
iOS 11 or newer
### Device Model
iPhone 6 or newer
### [Optional] Project That Reproduces the Issue

The following is crash stack.
[code]
This Crash will happen ra

[2019-02-18 16:39] Kmohamed commented on #310
Let me check it and get back to you

[2019-02-18 16:41] Kmohamed commented on #310
But are you sure that this crash occurs on sdk 8.0.17 because we merge Instabug and InstabugCore in one binary from a while so I think this crash from an old SDK version.

[2019-02-20 06:26] Kmohamed commented on #310
Did you manage to check the SDK version?

[2019-02-20 06:57] yz06276 commented on #310
There's no version specified in my podfile. I upload a new version to App Store every two weeks, in development progress , pod dependency will be update (pod update). This error had surfaced at least half a year. Maybe it has little to do with the Instabug version.

[2019-02-20 07:00] Kmohamed commented on #310
I am sure that you will not find this crash on the latest versions of SDK,
also can you share with me the number of occurrences?

[2019-02-20 07:14] yz06276 commented on #310
all right , I'll try 😎
The error affected about 150 users, with hundreds of thousands of active users in the past six months.

[2019-02-20 07:27] Kmohamed commented on #310
@yz06276 perfect, I will close it for now and feel free to open it again if you see this crash on the latest versions.

[2019-02-20 07:27] #310 closed

[2019-02-27 09:51] racer1988 opened #311 "enableLoggingForURLSessionConfiguration breaks NSURLCache"
### Steps to Reproduce the Problem

* Activate instabug Network Logging with  `[Instabug enableLoggingForURLSessionConfiguration:configuration];`
* Run the application with Instabug enabled.
* Do a network request with .useProtocolCachePolicy
* Go Offline and do the same network request (offline and cache only request with  `NSURLRequest.CachePolicy.returnCacheDataDontLoad` so the cache is always

[2019-02-27 09:54] Kmohamed commented on #311
@racer1988 Yes we are aware of this bug and it's going to be released very soon.
you can use this custom build.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-custom-session-configuration'`

[2019-02-27 09:58] Kmohamed commented on #311
@racer1988 but we support only single custom session configuration. We will use the latest one only

[2019-02-27 10:08] racer1988 commented on #311
@Kmohamed Thanks for the info and the branch!
Ok will work on the config.

it would be great to log multiple configurations tough ;)

[2019-02-27 10:22] Kmohamed commented on #311
@racer1988 This will be very difficult we can not know from the `NSURLRequest` it's `NSURLSessionConfiguration`.
I will update you once the fix released.

[2019-02-28 10:33] arguiot opened #312 "Taptic Engine support"
Apple introduced Taptic Engine on its phones with the iPhone 7 in 2016. It makes the app "feels" better by vibrating the device in a satisfying way, and it would be great to use it when Instabug is invoked.

For reference, here is a medium article explaining how to use Apple's Taptic Engine API: https://medium.com/@sdrzn/make-your-ios-app-feel-better-a-comprehensive-guide-over-taptic-engine-and-ha

[2019-02-28 10:38] Kmohamed commented on #312
Hi @arguiot, Thanks for suggesting this to us, but why do you think` it would be great to use it when Instabug is invoked.` will be helpful?

[2019-02-28 10:42] arguiot commented on #312
@Kmohamed It just feels "more native" to me. I tried Instabug, but it just doesn't feel right to me and many of my colleagues who are iPhone users like me.

I believe I have this feeling because Apple uses it when you shake the phone for undoing something.

[2019-02-28 10:50] Kmohamed commented on #312
@arguiot I agree with you for shake only but not for all invocations right?

[2019-02-28 11:17] arguiot commented on #312
@Kmohamed yes. And also for primary actions like clicking the record button or the send button.

[2019-02-28 11:19] Kmohamed commented on #312
Thanks a lot 🙏🙏 I will make sure to send this to the product team

[2019-03-01 09:06] Vladas-Drejeris commented on #301
HI,

We are still seeing the crashes.

http://crashes.to/s/89376de10eb
http://crashes.to/s/4580c946fc2

[2019-03-01 09:44] Kmohamed commented on #301
@Vladas-Drejeris are you sure that this crash from app with custom build?

[2019-03-01 09:45] Vladas-Drejeris commented on #301
Yes, it is using lib from pod that you provided:

[2019-03-01 09:59] Kmohamed commented on #301
let me discuss what I am doing maybe you have some ideas about why this crash still occurred.
I listen on `UIApplicationProtectedDataDidBecomeAvailable` then I disable reads and writes and whenever `UIApplicationProtectedDataWillBecomeUnavailable` I allow reads and writes again.

[2019-03-01 10:06] Vladas-Drejeris commented on #301
Shouldn't it be the other way around? Youd should stop DB access when you get
`UIApplicationProtectedDataWillBecomeUnavailable` and resume DB access after
`UIApplicationProtectedDataDidBecomeAvailable`.  Also there is `UIApplication.shared.isProtectedDataAvailable`property to check data protection in place.

[2019-03-01 10:06] Kmohamed commented on #301
could you tell me where do you call `-[InstabugSurveys showSurveyIfAvailable]`?

[2019-03-01 10:10] Kmohamed commented on #301
Yes, you are right this was our mistake. Sorry for that will update the custom build now.

[2019-03-01 10:12] Vladas-Drejeris commented on #301
Ok, great. Looking forward to geting the new build.

[2019-03-01 13:33] Kmohamed commented on #301
@Vladas-Drejeris custom cocoa pods updated. sorry again for misunderstanding.

[2019-03-01 13:34] Vladas-Drejeris commented on #301
@Kmohamed , thanks for quick fix. We will try the new build.

[2019-03-07 07:58] vladasdrejeris commented on #301
Hi @Kmohamed ,

Would it be possible to update the custom build to 8.1 version?

[2019-03-07 08:13] Kmohamed commented on #301
@Vladas-Drejeris sure, working on it.

[2019-03-07 08:15] vladasdrejeris commented on #301
Thanks

[2019-03-07 08:58] Kmohamed commented on #301
@vladasdrejeris updated.

[2019-03-07 14:48] GhaisB commented on #298
I still have the problem on iPhone XS, iOS 12.1.4 !

[2019-03-07 14:54] Kmohamed commented on #298
@GhaisB I can not see on iOS 12.1.4 but you can try to initialize CMMotionManager `CMMotionManager *manager = [[CMMotionManager alloc] init];` and See if the bug still exist. If so you can use another invocation method.

[2019-03-07 14:59] GhaisB commented on #298
The bug still exist ! I will use screenshot invocation instead, thank you very much !

[2019-03-09 23:47] Korazy commented on #288
Hey @0xacdc

I just thought I'd reach out to you to let you know that we've implemented this feature in our latest release of version 8.1.

You can now prevent users from starting new chats while allowing you to start chats with them and for them to view existing chats. You can find all the details regarding this new feature [here](https://docs.instabug.com/docs/ios-chat-workflow).

Please feel fr

[2019-03-12 16:12] Kmohamed commented on #311
Unfortunately No, but will be included in the next release.

[2019-03-21 14:46] HeshamMegid commented on #313
Just transferring the issue to our iOS repo for some housekeeping.

In the meantime, since the API we depend on to capture screenshots is still broken in the latest versions of iOS, please feel free to dupe [this radar](http://openradar.appspot.com/45225596) to get Apple's attention.

[2019-03-22 03:01] LucaConfa commented on #298
I can still see the bug on iOS 12.1.4, on iphoneXR,

`Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 3825, TID: 878828, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-qos.overcommit, QoS: 0
Backtrace:
4   libobjc.A.dylib                     0x00000001af9f3534 <redacted> + 56
5   CoreMotion

[2019-03-26 08:55] MehdiChennoufi commented on #298
Hi there, I'm working on an other project with use Core Motion, **I'm not using Instabug** but it seems that we all encounter same issue, I found this topic on Google but also found this radar : https://openradar.appspot.com/45003816

For information, I'm encounter the same warning with my app on an iPhone XS iOS 12.1.4 but not on an iPhone 8 iOS 12.1.4.

Hope it helps

[2019-03-26 11:00] hiddentao opened #314 "Calling Instabug.show() on iOS in React Native app crashes"
### Steps to Reproduce the Problem

* Add Instabug to React Native app via Cocoapods
* Expose a native-side Swift function to Javascript that internally calls `Instabug.show()`
* Run the app until this function gets called

### Expected Behavior

App shouldn't crash, and the Instabug dialog should show.

### Actual Behavior

The app UI becomes frozen, clicking anywhere crashes it

In logs:

[code]

[2019-03-26 11:05] Kmohamed commented on #314
@hiddentao are you calling` Instabug.show()` from a background thread?

[2019-03-26 11:26] hiddentao commented on #314
@Kmohamed Yep that was the issue, I wasn't aware of how RN did its threads. I've now got it working by adding the following to my bridge `.m` file:

[code]

Further reference:

* https://stackoverflow.com/questions/50773748/difference-requiresmainqueuesetup-and-dispatch-get-main-queue
* https://hackernoon.com/react-native-bridge-for-ios-and-android-43feb9712fcb

[2019-03-26 11:26] #314 closed

[2019-03-26 11:49] Kmohamed commented on #314
Perfect 👍

[2019-03-27 15:44] marko-cancar commented on #298
I tested it on Xcode 10.2 and iOS 12.2 and CMMotionManager was initialized without warning/exception!

[2019-03-28 00:31] seanliu1 opened #315 "8.2 Access UI on background thread"
Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 8138, TID: 1352270, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-qos.overcommit, QoS: 0

shake is registered off main thread.

### Instabug integration code
Instabug.start(withToken: "xx", invocationEvents: [.shake, .screenshot])

### SDK Version
8.2
### iOS Versi

[2019-03-28 07:15] Kmohamed commented on #315
It’s an issue from apple, for more details, please check this issue.
https://github.com/Instabug/Instabug-iOS/issues/298

[2019-03-28 07:15] #315 closed

[2019-03-28 16:00] maurovc opened #316 "8.2 crashes"
### Steps to Reproduce the Problem

Update pod to 8.2

### Expected Behavior

Initialise Instabug after passing an appToken

### Actual Behavior

Crash

### Instabug integration code
[code]

### SDK Version

8.2

### iOS Version

12.1

### Device Model

iPhone XS Max

### Crash trace

<img width="1637" alt="Screenshot 2019-03-28 at 16 59 14" src="https://user-images.githubusercontent.com/10012427/

[2019-03-28 16:10] Kmohamed commented on #316
Could you provide us with an exception name?

[2019-03-28 16:47] maurovc commented on #316
Hey @Kmohamed thanks for the fast reply. Here's the whole stack trace:

<img width="1638" alt="Screenshot 2019-03-28 at 17 45 36" src="https://user-images.githubusercontent.com/10012427/55176457-72ca4380-5181-11e9-9b99-ba9a01097519.png">

This is everything that I can get from Hockeyapp.

Thanks,

Mauro

[2019-03-28 16:49] Kmohamed commented on #316
First are you using cocoapods or not?
And are you able to reproduce it in a sample app?

[2019-03-28 17:17] Kmohamed commented on #316
If you able to reproduce it on sample app. Please send it to me, 🙏

[2019-03-28 17:25] maurovc commented on #316
Hey @Kmohamed we use cocoa pods for this. I'm trying to reproduce it there using the same team key but I can't 😞 . I'll keep trying. Thanks!

[2019-03-28 17:27] Kmohamed commented on #316
Thanks a lot for your collaboration, another question are you able to reproduce it on your app only right?

[2019-03-28 17:43] maurovc commented on #316
Yeah, I can pass you the example project in which I'm not doing anything different to what I do in the main app. Could this be a conflict with any other pod?

[InstabugTest.zip](https://github.com/Instabug/Instabug-iOS/files/3019475/InstabugTest.zip)

Just run `pod install` as I can't include the Pods folder here because of the size.

[2019-03-28 17:46] Kmohamed commented on #316
I will check the sample app. But since you are able to reproduce it on your app I will send you a custom build to give it a try.

[2019-03-28 18:28] Kmohamed commented on #316
Here is custom build could you give it a try?
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/missing_coredata_model'`

[2019-03-28 18:31] maurovc commented on #316
Hey @kmohamed now I’m out of the office. I’ll check in a few hours once I’m back home. Thanks!

[2019-03-28 18:33] Kmohamed commented on #316
Sure thing, and Thanks a lot for your collaboration 🙏

[2019-03-29 00:59] Kmohamed commented on #316
we just released a hotfix to fix this issue so please update to SDK version [8.2.1](https://github.com/Instabug/Instabug-iOS/releases/tag/8.2.1) and feel free to open it again if you face this issue.
And thanks again for your patience.

[2019-03-29 00:59] #316 closed

[2019-03-29 11:46] Kmohamed commented on #316
@maurovc is everything works fine with you?

[2019-03-29 11:48] maurovc commented on #316
hey @Kmohamed I'll check later today and I'll let you know. Yesterday it was impossible for me to check. Thank you for your help!

[2019-03-29 11:48] Kmohamed commented on #316
@maurovc Thanks a lot 🙏

[2019-04-01 09:08] danipralea commented on #298
I am also having the same issue (Xcode 10 + iPhone XS device)

[2019-04-01 09:13] Kmohamed commented on #298
I can see that the radar is still open. but I can not reproduce it on iOS 12.2
https://github.com/Instabug/Instabug-iOS/issues/298

[2019-04-01 16:26] zigfreid5 commented on #298
Seems to be a hardware-specific issue. At least Xs, Xs Max, and Xr.

[2019-04-03 08:33] racer1988 commented on #311
@Kmohamed is this in 8.2.2? Thanks :D

[2019-04-03 08:40] Kmohamed commented on #311
Unfortunately No 🙈
but definitely will be included in the next one

[2019-04-04 07:08] jayarajb1116 opened #317 "Appstore Rejection"
Guideline 4.0 - Design

We noticed that your app offers a custom screenshot-initiated interface when the user takes a screenshot in the app.

[2019-04-04 12:38] msoliman commented on #317
@jayarajb1116 that's weird. Can you please share the SDK initialization code? which invocation gesture are you using?

[2019-04-04 12:55] jayarajb1116 commented on #317
[code]

[2019-04-04 12:59] jayarajb1116 commented on #317
Hi @msoliman

Same issue was posted by an user in the below link
[(https://github.com/Instabug/Instabug-iOS/issues/306)]

[2019-04-04 18:53] msoliman commented on #317
Can you try removing the `.screenshot` from the `invocationEvents`?

While it is mentioned in the guidelines, we rarely encounter rejection cases because of the screenshot invocation gesture. However, in the very few cases that we received, usually changing the invocation event to *two-fingers swipe*, *shake*, or *right edge pan* was enough to pass the review. You can find more details here: https

[2019-04-05 06:37] jayarajb1116 commented on #317
@msoliman
We already uploaded so many builds with screenshot enabled to Appstore. And app was approved before. But not this time.
I've removed .screenshot and uploaded to AppStore and it's waiting for review now.
But we really need that screenshot feature.
Is there any possibility to avoid rejection?

[2019-04-09 23:17] dafurman commented on #298
It's affecting my iPad 5th gen as well. It does seem to be an issue initializing a Core Motion Manager on newer devices, as initializing a CMMotionManager `_ = CMMotionManager()` anywhere, even on the main thread, will cause this issue.

I assume instabug is using CoreMotion for the "Shake to Report" feature.

[2019-04-10 09:11] Kmohamed commented on #298
@dafurman Yes we are using CoreMotion for "shake to report".

[2019-04-10 13:38] MehdiChennoufi commented on #298
Update : Issue still here for me with iOS 12.2 and Xcode 10.2, on my iPhone XS. Still haven't any troubles on my iPhone 8. I'm ok about the idea of a hardware specific issue starting with X-series (or maybe Xcode ?)

[2019-04-15 02:41] jamesatfish commented on #317
Adding our +1 to this same issue thread.

We have been using Instabug with the screenshot invocation for about 9 months, no issues until an otherwise minor dot point update about 2 weeks ago, at which point the app was rejected siting the same Guideline 4.0.

The only way we could have the update approved was to remove the screenshot invocation from our Instabug config.

[2019-04-15 07:21] vladasdrejeris commented on #301
Hello @Kmohamed ,

We are still seeing some crashes with the latest custom build. There are less crashes than before, but some still occurred.
Most of the crashes happen on [IBGDALService writeASync:completionBlock:].
I have attached couple of logs for the most common crashes.

[lt.momo.app_issue_crash_fb34ad25fc3c422aa18c7968fbb7ae2e_DNE_0_v2.txt](https://github.com/Instabug/Instabug-iOS/files/30

[2019-04-15 07:40] dineshflock opened #318 "Feature Request: While showing bug reporting screen allow us to pre-fill the email field"
I want my users to avoid filling up the email if possible. Please expose an api so that we can pre-fill the email address.

[2019-04-15 07:43] BNGriffin commented on #232
😁

[2019-04-15 07:46] Kmohamed commented on #318
@dineshflock we do not have API to fill the email but you can ignore it and also do a lot of customization. check the [docs](https://docs.instabug.com/docs/ios-bug-report-content#section-bug-report-fields), please

[2019-04-15 07:46] #318 closed

[2019-04-15 08:23] dineshflock commented on #318
Ok seems I can use to `BugReporting.bugReportingOptions = [.emailFieldOptional]` hide the email field and set the user email id via `Instabug.identifyUser(withEmail:"user.email.com", name: nil)`.
Will try out this, thanks.

[2019-04-15 08:35] Kmohamed commented on #318
@dineshflock the problem with `Instabug.identifyUser(withEmail:"user.email.com", name: nil).` is we will treat all users that using your app as one user. So If you are using `Chats product` they can see all other user threads.

[2019-04-15 08:38] Kmohamed commented on #301
Hello @vladasdrejeris,
The custom build is updated to the latest SDK version. Relate to the crash let me check and get back to you?

[2019-04-15 08:42] Kmohamed commented on #318
@dineshflock Ohhh I forget to explain it in details this behavior will occur only if you call `Instabug.identifyUser(withEmail:"user.email.com", name: nil)` with static email.

[2019-04-15 08:42] BNGriffin commented on #318
Ok

On Mon, Apr 15, 2019, 4:35 AM khaled el morabea <notifications@github.com>
wrote:

[2019-04-15 08:56] dineshflock commented on #318
Oh, I would not hardcode this email id, it was just to communicate the idea :) Anyways thanks.

[2019-04-15 09:06] Kmohamed commented on #318
@dineshflock Perfect 👍

[2019-04-15 09:23] vladasdrejeris commented on #301
Great. Thanks.

[2019-04-16 07:11] phlippieb opened #319 "IBGLogs missing for some bugs"
### SDK Version

8.2.2

### iOS Version

12.2

### Device Model

iPhone X

Simply put, for some of the bugs on our dashboard, the instabug log (i.e. those logged with `IBGLog.logError`, for example) are completely absent.

Unfortunately, I am not sure what the repro steps here would be, but I suspect it has to do with connectivity and/or volume of instabug logs.

We do log quite a lot, but we make

[2019-04-16 07:24] Kmohamed commented on #319
Hello @phlippieb,
Let me explain how Instabug logs work. We sent only 1K logs from the app in one single request. So If your Instabug logs exceed the 1K we sent only the latest 1K and not based on log level.

[2019-04-16 07:35] Kmohamed commented on #319
@phlippieb is this explains why some logs are not on the dashboard if you do log a lot?

[2019-04-16 08:17] marcelfagadariu commented on #298
Update: Issue still found on my XR - iOS 12.2  physical device.

Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 885, TID: 120982, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-qos.overcommit, QoS: 0

On my 6s is working fine.

[2019-04-16 08:18] Kmohamed commented on #298
Yes, it's device based issue 😞

[2019-04-16 08:47] phlippieb commented on #319
@Kmohamed In these instances, we're not just missing *some* logs; we're missing *all* logs. As in, if I filter by Instabug logs, I see nothing. So I don't think this explains what I'm seeing.

I'm guessing what happened is that the entire 1K upload failed (which could be likely if a user has poor internet). Do you know if there are any retry mechanisms and/or error reporting in place that would pi

[2019-04-16 08:49] Kmohamed commented on #319
@phlippieb absolutely we have retry mechanism. But can you tell me how many bugs did not have logs?

[2019-04-16 08:54] phlippieb commented on #319
Do you mean how many as in as a percentage of all bugs logged, or total? Not sure I can easily tell you.

I can say that we don't see this problem often. We usually use Instabug internally to keep track of bugs, so we (the developers) log them ourselves in the office, on good WiFi, and our client also usually logs them on good WiFi or on a good cellular connection. However, at the moment, our clie

[2019-04-16 09:06] Kmohamed commented on #319
If the case because of a poor internet connection whenever these users have a good internet connection the request will be sent. so don't worry.

[2019-04-16 09:07] phlippieb commented on #319
Ah ok, cool. Thanks!

[2019-04-16 09:07] Kmohamed commented on #319
Anytime.

[2019-04-16 09:07] #319 closed

[2019-04-23 06:25] zackperdue commented on #298
Getting this with vanilla ARKit/SceneKit. Not using Instabug what so ever.

[2019-04-23 06:39] Kmohamed commented on #298
I made an Apple Developer Technical support and this was their answer:

unfortunately nothing new.

[2019-04-23 06:47] bill350 commented on #298
@Kmohamed so there is an issue but it’s ”ok” for Apple? It's a feature? 😅

[2019-04-23 06:51] Kmohamed commented on #298
@bill350 Yes it's a threading feature 😆

[2019-05-02 06:01] vladasdrejeris commented on #301
Hi @Kmohamed ,

Are there any news?

[2019-05-02 07:21] Kmohamed commented on #301
@vladasdrejeris I can not exactly identify the root cause. But in the next release we added some defensive code to our coreData layer.  Also can you send me any other crashes you got and number of occurrences 🙏?
btw the next release will be within three or four days?

[2019-05-02 08:29] vladasdrejeris commented on #301
Some more crashes that happened in the past 30 days:

[Crash 1.txt](https://github.com/Instabug/Instabug-iOS/files/3137213/Crash.1.txt)  - 167 times
[Crash 2.txt](https://github.com/Instabug/Instabug-iOS/files/3137217/Crash.2.txt) - 66 times
[Crash 3.txt](https://github.com/Instabug/Instabug-iOS/files/3137222/Crash.3.txt) - 11 times
[Crash 4.txt](https://github.com/Instabug/Instabug-iOS/files/3137

[2019-05-02 08:32] Kmohamed commented on #301
are these crashes from the custom build?

[2019-05-02 08:35] Kmohamed commented on #301
I mean the from the custom build with file protection fix.

[2019-05-02 09:16] vladasdrejeris commented on #301
Yes, they are from the custom build.

[2019-05-02 11:42] Kmohamed commented on #301
@vladasdrejeris I think this may be caused by a race condition between protecting the coreData file when the app is locked and our code preventing access to coreData. I am not sure
In the next release, we removed background tasks with core data and I think this should fix the issue.

[2019-05-02 13:42] vladasdrejeris commented on #301
Ok then, we will check the new release when it is available.
We should try the main SDK not the custom?

[2019-05-02 14:47] Kmohamed commented on #301
We will release it next Sunday morning. Also, we can provide custom build if this will not work with you.

[2019-05-07 06:26] vladasdrejeris commented on #301
Hi @Kmohamed ,

Should we try v8.2.3 SDK?

[2019-05-07 06:43] Kmohamed commented on #301
Yes please, and tell me if everything works fine

[2019-05-07 06:47] vladasdrejeris commented on #301
Thanks, we will try it.

[2019-05-07 07:42] Kmohamed commented on #311
@racer1988 We released a fix for your issue it's on [v8.2.3](https://github.com/Instabug/Instabug-iOS/releases/tag/8.2.3).
And Sorry for being late

[2019-05-07 07:42] #311 closed

[2019-05-07 07:45] racer1988 commented on #311
Awesome Thanks!

[2019-05-21 09:27] Majed1224 opened #320 "Ma"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2019-05-21 09:28] #320 closed

[2019-05-24 03:01] mgogor opened #321 "Image Picker not showing in BugReporting"
### Steps to Reproduce the Problem
I am trying to invoke the Bug Reporter in Instabug through a button action in a viewcontroller. I have set
`BugReporting.enabledAttachmentTypes = [.galleryImage]`
However, the imagePicker view does not show up in the Bug Reporter form. Any help is appreciated. Thanks!

![Simulator Screen Shot - iPhone Xs - 2019-05-24 at 10 54 52](https://user-images.githubusercon

[2019-05-24 07:32] Kmohamed commented on #321
Are you sure that you are using the correct token?

[2019-05-24 08:58] mgogor commented on #321
Yes, the Bug Report form submitted is correctly shown in the web console. The "gallery button" in the form is however not visible, making attaching images impossible.

[2019-05-24 09:12] Kmohamed commented on #321
Could enable verbose logging and send me the logs but make sure that you remove the token.

[2019-05-24 10:07] mgogor commented on #321
I have added the line `Instabug.sdkDebugLogsLevel = .verbose`
in AppDelegate before `Instabug.start(withToken: APPID, invocationEvents: [.none])
`
Below is the printed log :
[code]

[2019-05-24 16:16] Kmohamed commented on #321
Could you contact the customer happiness on instabug.com and I will follow up with you

[2019-05-25 13:47] Kmohamed commented on #321
@mgogor it seems that you are on a free plan and the trial version is over.

[2019-05-25 13:47] #321 closed

[2019-05-28 20:00] curtismartintransloc opened #322 ""ipatool failed with an exception" when packaging up ipa file"
### Steps to Reproduce the Problem
1. Run xcodebuild to produce an archive of your app with Instabug as a dependency. Example: `xcodebuild "-workspace" "YourApp.xcworkspace" "-scheme" "Your Scheme" "COMPILER_INDEX_STORE_ENABLE=NO" "archive" "-archivePath" "/Users/someperson/YourApp.xcarchive"`
2. Generate a plist file to specify the provisioning profile to use when exporting your archive. In this

[2019-05-28 20:17] yousefhamza commented on #322
Hi @curtismartintransloc

I will investigate this issue and get back to you.

[2019-05-28 20:23] yousefhamza commented on #322
Meanwhile, Can you try with Xcode 10.2?

[2019-05-28 21:45] yousefhamza commented on #322
Can you try this custom build?

`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/bitcode_build'`

[2019-05-29 14:28] curtismartintransloc commented on #322
@yousefhamza I didn't get a chance to try Xcode 10.2, but I did try that custom build and it worked.

[2019-05-29 15:08] yousefhamza commented on #322
Great 🎉

We will include that fix in our next release.

[2019-05-29 15:08] #322 closed

[2019-06-03 08:12] vladasdrejeris commented on #301
Hello,

We are still seeing the crashes while using v.8.3 SDK.
@Kmohamed , could you take a look?

[lt.momo.app_issue_crash_f239f9e0c4b34161acd6ec3305811e42_DNE_4_v2.txt](https://github.com/Instabug/Instabug-iOS/files/3246487/lt.momo.app_issue_crash_f239f9e0c4b34161acd6ec3305811e42_DNE_4_v2.txt)
[lt.momo.app_issue_crash_3c017a9ce3184eff908ba6e44f750497_DNE_0_v2.txt](https://github.com/Instabug/Ins

[2019-06-03 10:08] yousefhamza commented on #301
Hi @vladasdrejeris

Can you tell us whether these crashes have been on foreground or background?

[2019-06-03 10:10] vladasdrejeris commented on #301
Hi @yousefhamza ,

They are happening in background.

[2019-06-03 10:12] yousefhamza commented on #301
Thanks, @vladasdrejeris

I will get back to you on this shortly.

[2019-06-03 12:15] yousefhamza commented on #301
Hi @vladasdrejeris

I added a new custom build for you, this custom build add a data protection flag our coredata's persistent store.

`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix-coreData-protection'`

[2019-06-03 12:17] vladasdrejeris commented on #301
Thanks, we will try it and let you know if it fixed the problem.

[2019-06-12 11:51] timhilgenstoehler opened #323 "No Attachment sent"
Hey Guys,

I have updated to 8.4.0 and everything is working expect the bugs are not sending the attachments (video and images).

Any Ideas why?

Kind Regards,
Tim

[2019-06-12 14:19] yousefhamza commented on #323
Hi @timhilgenstoehler, this is Yousef from iOS team.

We are receiving similar reports related to reporting from iOS 12.3.1 and are investigating them.

Will keep you posted with any updates 👍

[2019-06-17 14:59] timhilgenstoehler commented on #323
I upgraded my RN to Version 0.57.7 (from 0.57.5) and now its working on iOS 12.3.1 again. Maybe It helps you.

[2019-06-17 21:28] manezgz opened #324 "Support AFHTTPSessionManager"
It's possible to support logging for AFHTTPSessionManager?

Regards.

[2019-06-17 21:40] yousefhamza commented on #324
Hi @manezgz

Have you tried this https://docs.instabug.com/docs/ios-logging#section-afnetworking?

[2019-06-19 15:15] manezgz commented on #324
Yes I've tried. But my problem is that I'm using AFHTTPSessionManager instead AFURLSessionManager.
Do u have any idea about how to deal with this class?

Regards.

[2019-06-20 09:05] yousefhamza commented on #324
`AFHTTPSessionManager` is a subclass from `AFURLSessionManager`

http://cocoadocs.org/docsets/AFNetworking/2.0.0/Classes/AFHTTPSessionManager.html

[2019-06-24 09:45] #324 closed

[2019-06-24 09:46] yousefhamza commented on #323
This issue should be solved please re-open If you encountered it again.

[2019-06-24 09:46] #323 closed

[2019-06-27 15:05] SandrikaJanjghava commented on #298
the same error on 4.40 version and iOS 12 models

PID: 3732, TID: 1376881, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-qos.overcommit, QoS: 0
Backtrace:
4   libobjc.A.dylib                     0x000000018108f534 <redacted> + 56
5   CoreMotion                          0x0000000187918040 CoreMotion + 307264
6   CoreMotion                          0x000000018791

[2019-06-27 15:11] yousefhamza commented on #298
@SandrikaJanjghava it's a device related bug from Apple, you can check the rest of the thread for more info.

But anyway please make sure you are using the latest Instabug version (8.4.1) as 4.4 is really old.

[2019-06-30 18:01] SandrikaJanjghava commented on #298
big thanks to you, I will check

On Thu, Jun 27, 2019 at 7:11 PM Yousef Hamza <notifications@github.com>
wrote:

--
[image: logo]
*Sandro Janjghava*
CEO, Co-founder iDevelopers
571 99 26 00 <571992600>  | sandro.janjghava@idevelopers.eu |
Innovation St #7
<https://www.google.ge/maps/place/Tech+Park+Georgia/@41.6878006,44.7683255,17z/data=!4m5!3m4!1s0x0:0x62876d14c29bde36!8m2!3d41.6881125!4d44.7693

[2019-07-05 11:25] kacper1703 opened #325 "XCode warning for integrating in app extensions"
### Steps to Reproduce the Problem
- In Xcode project add a Siri Extension or any other app extension target
- Add Instabug to Cocoapods' `podfile` and run `pod install`

### Expected Behavior
No warnings.

### Actual Behavior
Xcode produces a warning:
[code]

### Instabug integration code
[code]

### SDK Version
8.4

[2019-07-05 11:54] Kmohamed commented on #325
Hello @kacper1703,
Actually, we do not support any app extension or Apple watch. I am sorry for that but could you give me more details about your use case.

[2019-07-05 12:20] kacper1703 commented on #325
I have an embedded framework which I created for networking purposes. Inside, I use the Instabug-provided Alamofire SessionManager to be able to see network activity.

I would like to use the same framework inside the Siri Intents extension since I'll be communicating with same servers.

I just thought, maybe I could just add a pre-processor flag to use Alamofire's or Instabug's session manager de

[2019-07-05 15:26] Kmohamed commented on #325
I think this will not be allowed since we are using APIs should not be used inside extension target

[2019-07-08 08:55] Kmohamed commented on #325
@kacper1703 Our Product team thought that this might be a valid use-case. We will add it to our backlog and tell you once we started working on this feature to get more details from you.

Thanks

[2019-07-12 18:49] lucatorella commented on #298
it seems they fixed it in iOS 13 beta

[2019-07-13 08:26] Kmohamed commented on #301
Hello @vladasdrejeris,
I hope you are doing well. Am I curious to know if the fix works fine with you?

[2019-07-15 08:07] atereshkov commented on #298
Still an issue on iPhone XS

[2019-07-18 15:23] seanliu1 opened #326 "Crash when enable address sanitizer"
### Steps to Reproduce the Problem
1. Enable address sanitizer
2. Cold start app, it will occasionally crash. If it crashes the first time, it will enter a crash loop.

We disabled instabug for a week, we do not encounter this crash anymore

[code]

### Instabug integration code
 Instabug.start(withToken: "xxx", invocationEvents: [.shake])
        Instabug.welcomeMessageMode = .live
        BugRep

[2019-07-18 15:49] yousefhamza commented on #326
Hi @seanliu1
`Address sanitizer` is a debugging tool that checks for memory corruption in development that we enable too for our development app  (along with many other tools) to protect our customers from such corruptions and **we make sure that our releases don't have any Address sanitizer issues**

Please also note that these tools don't affect your apps in production.

About this crash, Can yo

[2019-07-18 15:54] seanliu1 commented on #326
No trace directly contributes to it.Since I filed another issue before regarding
`Instabug.start(withToken: "xxx", invocationEvents: [.shake])
`
which is currently running off main thread due to apple's bug. Not sure if they are related, since as soon as I comment our instabug integration code, everything works fine.

[code]

[2019-07-18 16:52] yousefhamza commented on #326
@seanliu1 Does this stack trace happen at development with the santizer or from a crash in production?

[2019-07-18 17:23] seanliu1 commented on #326
Development

[2019-07-18 18:42] yousefhamza commented on #326
By development I mean when xcode debugger is attached.

Address sanitizer doesn't crash cause crashes it stops execution (like when you use a breakpoint) and it usually shows a message explaining why it's stopped.

In Testflight the crash doesn't occur without instabug just because the stack trace will be different. (Because instabug symbols are no longer there).

[2019-07-18 23:02] seanliu1 commented on #326
It rarely crashed when the debugger is attached. It also never crashed on the simulator (I might be wrong). This is a very strange crash, I used to see what causes the sanitizer to crash from trace. But in this case, it does not show anything related to Instabug or Our App. However when we comment out Instabug, we have not seen crash. Thanks for your help

[2019-08-03 13:28] marcosgriselli opened #327 "macCatalyst support"
Adding this for reference. Are there any plans to add `macCatalyst` support?

[2019-08-03 13:31] Kmohamed commented on #327
Yes, we are currently working on it and will update you very soon.

[2019-08-06 20:44] Vadimkomis opened #329 "Instabug causes crashes"
### Steps to Reproduce the Problem
I just launch the app and try to access the surveys with this code:
[code]
### Expected Behavior
The app is working and not crashing
### Actual Behavior
There is a crash in the app. This is a copy of the stack trace
for key IBGFeaturesLatestFeaturesResponse'
*** First throw call stack:
(
	0   CoreFoundation                      0x0000000107df6b0b __exceptionPrepr

[2019-08-06 21:12] Kmohamed commented on #329
Let me check it and get back to you very soon.

[2019-08-06 22:18] Kmohamed commented on #329
@Vadimkomis could you add the exception name?

[2019-08-06 23:29] Vadimkomis commented on #329
@Kmohamed it's in the stack trace above

[2019-08-06 23:36] Kmohamed commented on #329
I mean the sentence before this
for key IBGFeaturesLatestFeaturesResponse'

[2019-08-07 09:39] vmatsnev commented on #188
Solution that helped me.

Set to all pods deployment target according to deployment target of your project

For example if application for iOS 11 and higher

post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '11.0'
    end
  end
end

[2019-08-07 09:55] Kmohamed commented on #329
@Vadimkomis It will give me more visibility about the exception name.

[2019-08-08 07:22] SaladDays831 commented on #298
Still occurs on iPhone XS, iOS 12.4

[2019-08-08 07:37] lucatorella commented on #298
I think it’s fixed in iOS 13 beta. Can someone else check please?

[2019-08-08 16:22] Vadimkomis commented on #329
@Kmohamed this is the exception:
[code]

[2019-08-08 16:27] Kmohamed commented on #329
are you able to reproduce it?

[2019-08-10 19:34] Vadimkomis commented on #329
@Kmohamed I'm able to reproduce it every time.

[2019-08-10 19:41] Kmohamed commented on #329
Can you contact the happiness team and give them your token please

[2019-08-14 10:48] jacquesdev commented on #181
I'm seeing an issue where it's giving this error on an empty string "" which seems incorrect

[2019-08-16 08:38] Kmohamed commented on #329
@Vadimkomis I got your token thanks a lot but I can reproduce the issue could you please share with me the full stack trace with exception name.
Exception name should be like this

[code]

I need to know what object.

[2019-08-17 06:32] fabstu opened #330 "SPM Support"
Adding this for reference. Is Swift Package Manager support planned already?

[2019-08-17 08:28] Kmohamed commented on #330
Yes, will update you very soon.

[2019-08-18 06:11] #232 closed

[2019-08-19 03:09] francos opened #331 "HTTP requests/responses not added to Instabug logs when using Ktor as HTTP client"
### Steps to Reproduce the Problem

Use Ktor as HTTP client in a Kotlin Multiplatform project that is used from an iOS app that uses Instabug.

### Expected Behavior

HTTP requests and responses processed by Ktor are logged in Instabug when a report is sent by the user.

### Actual Behavior

HTTP requests and responses processed by Ktor are not part of the logs when sending a bug report via Instab

[2019-08-19 08:17] Kmohamed commented on #331
let me check and get back to you very soon.

[2019-08-19 08:30] Kmohamed commented on #331
@FrancoSabadini I checked [Ktor](https://ktor.io/clients/http-client/engines.html#ios) site. To  be honest I am not aware of kotline 😅 but Since they are mentioned that they are using `NSURLSession` so you can use [enableLoggingForURLSessionConfiguration](https://docs.instabug.com/docs/ios-logging#section-requests-not-appearing) to send SessionConfiguration to Instabug in order to log network requ

[2019-08-19 09:17] Kmohamed commented on #329
@Vadimkomis did you manage to catch my previous message?

[2019-08-20 11:18] FrancoSabadini commented on #331
Thanks for the quick response @Kmohamed :).

I tried to do that but I couldn't find a way to add this as seems like Ktor only allows us to add configurations for the requests but not the sessions :/.

I'll add a question on their Github repo to see if they offer some other configuration that I am not finding.

[2019-08-20 11:23] Kmohamed commented on #331
@FrancoSabadini Perfect 👍. Also please tell me if you need any help.

[2019-08-21 01:08] FrancoSabadini commented on #331
Thanks @Kmohamed, I'll update you when I have more info, this is the issue Iraised on the Ktor Github project: https://github.com/ktorio/ktor/issues/1289

[2019-08-21 14:37] Pro2005 opened #332 "Crash Crashed: com.apple.CFNetwork.CustomProtocols Fatal Exception: NSGenericException"
### Steps to Reproduce the Problem
Actually I can't reproduce it. But we see a lot of issues in Fabric and Instabug

### Expected Behavior
No crahes
### Actual Behavior
[code]
### Instabug integration code
[code]
Also we use NetworkLogger, IBGLog
### SDK Version
8.2.2
### iOS Version
12.4.0
### Device Model
iPhone 6s, iPod touch 6G

Could you help us to understand what's wrong

[2019-08-21 14:45] Kmohamed commented on #332
Sorry for facing this crash but Could you please symbolicate these frames in order to debug it?
[code]

[2019-08-21 14:49] Kmohamed commented on #181
@jacquesdev could you provide me with more details please.

[2019-08-22 16:25] Vadimkomis commented on #329
@Kmohamed I just saw this. Will look today

[2019-08-23 07:25] Bhanualopa opened #333 "Dependency "Instabug-iOS" has no shared framework schemes for any of the platforms: iOS"
Am getting following error while updating through Carthage

**Dependency "Instabug-iOS" has no shared framework schemes for any of the platforms: iOS**

Please find the following image for the reference

<img width="591" alt="Screenshot 2019-08-23 at 12 45 18 PM" src="https://user-images.githubusercontent.com/54078824/63574526-94e7b680-c5a5-11e9-9016-69b065bff46b.png">

[2019-08-23 09:21] Kmohamed commented on #332
@Pro2005 did you manage to symbolicate these two lines? do you want some help with that?

[2019-08-23 09:23] Kmohamed commented on #329
@Vadimkomis Thanks 🙏

[2019-08-23 09:23] Kmohamed commented on #331
@FrancoSabadini Thanks 🙏

[2019-08-23 09:26] Kmohamed commented on #333
Hi @Bhanualopa,
I will investigate in this error but could you tell me how do you integrate Instabug. are you following these [integration](https://docs.instabug.com/docs/ios-integration#section-carthage) steps?

[2019-08-23 09:33] Kmohamed commented on #333
Could you share with me how do you integrate Instabug inside your `cartfile`?
make sure to add binary keyword before the path like this:
`binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Instabug.json"`

[2019-08-23 09:36] Kmohamed commented on #301
Hello @vladasdrejeris it's been a long time since your last message. I hope that everything works fine with you now.

[2019-08-23 10:37] Pro2005 commented on #332
Not yet. We're looking for missing dSyms

[2019-08-23 11:17] Kmohamed commented on #332
if this crash is not from Testflight or Appstore I can provide you with DSYMs.

[2019-08-23 11:40] Pro2005 commented on #332
Cool... We have these crashes in Fabric. Here are missing dSyms: https://screencast.com/t/xXoCEWTxRVY

[2019-08-23 11:48] Kmohamed commented on #332
Could you check which SDK version are you using in this App build? Cause SDK version 8.2.2 does not match any of these DSYMs.

[2019-08-23 11:56] Pro2005 commented on #332
We specify it in podfile like
pod 'Instabug', '~> 8.2.2'

[2019-08-23 12:29] Pro2005 commented on #332
I don't have access to Mac which is used for building/uploading build to AppStore.

[2019-08-23 13:18] Kmohamed commented on #332
@Pro2005 Is this crash from app on Appstore?

[2019-08-24 11:09] Pro2005 commented on #332
yes... this crash from appStore. We have 15 crashes for the last 7 days

[2019-08-24 14:15] Kmohamed commented on #332
I am sorry for the crash. Also, we do several enhancements to our network logger so please update to the latest version.

Note: The only way to get DSYMs for the crash from an app downloaded from AppStore is app store connect if you enabled bitcode

[2019-08-26 09:24] Bhanualopa commented on #333
@Kmohamed
this is how I integrated
github "Instabug/Instabug-iOS" "dynamic_framework"

[2019-08-26 09:26] Kmohamed commented on #333
@Bhanualopa could you change it to
`binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Instabug.json"` because we are a compiled framework

[2019-08-26 09:27] Bhanualopa commented on #333
Okay. Will try it out @Kmohamed

[2019-08-27 11:38] Pro2005 commented on #332
Okay thx you. We're going to update appStore version with Instabug latest version

[2019-08-27 11:38] #332 closed

[2019-08-28 10:34] #333 closed

[2019-08-29 09:09] Kmohamed commented on #232
Hello @keith.
it's been a while since your last comment on this issue. I would like to share with you this update on apple docs. Did you come across this before?

https://developer.apple.com/library/archive/technotes/tn2151/_index.html

[2019-09-08 07:28] Kmohamed commented on #331
Hello @FrancoSabadini,  Is everything works fine? If you need anything please let me know.
I am happy to help.

[2019-09-08 07:31] Kmohamed commented on #330
@fabstu I would like to inform you that we will delay the support of SPM for a while after the official release.
Thanks.

[2019-09-08 07:32] Kmohamed commented on #327
@marcosgriselli  I would like to inform you that we will delay the support of macCatalyst for a while after the official release.
Thanks.

[2019-09-08 07:33] Kmohamed commented on #329
@Vadimkomis any updates regarding the crash?

[2019-09-08 07:43] FrancoSabadini commented on #331
Hi @Kmohamed, seems like the Ktor team has enabled the configuration requested on the ticket I shared above, but the version of the library with that feature is not yet live. Once it is I will test it and let you know if it all works well.

[2019-09-08 08:01] Kmohamed commented on #331
@FrancoSabadini Great till me if you need anything.

[2019-09-09 09:20] nickthedude opened #334 "Is Instabug disabled when hooked into the xcode debugger?"
I can't seem to invoke it at all.

[2019-09-09 09:21] nickthedude commented on #334
I'm on iPad 3rd gen 12.9" and iPhone X

[2019-09-09 09:28] yousefhamza commented on #334
Hi @nickthedude,

Can you share with us:
* Your Instabug invocation code
* iOS Version
* SDK Version

[2019-09-09 21:19] pquillere opened #335 "[Core Data][iOS 13] Use of `nil` or insecure `NSValueTransformer` warnings"
### Steps to Reproduce the Problem

Launch an app with Instabug integrated with the debugger attached.

### Expected Behavior

No warnings.

### Actual Behavior

Receive some warnings in the console at app launch.

[code]

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

Instabug 8.6.3

### iOS Version

iOS 13.0 (17A5565b)

### Device Model

Simulator

### [Opt

[2019-09-10 09:45] yousefhamza commented on #335
Hi @pquillere,

Thanks for your report, we are working on a fix for this and will be included in our next release.

[2019-09-10 21:27] pquillere commented on #335
Hi @yousefhamza!

Awesome! I just wanted to make sure this was on your radar as I couldn't find any other entry in the issue tracker regarding this (or maybe I missed it). Would you have a rough estimate for when the next release might land?

[2019-09-10 22:26] Vadimkomis commented on #329
@Kmohamed just got back from vacation yesterday. Will look at this tomorrow.

[2019-09-11 08:55] yousefhamza commented on #334
Please feel free to open it If you still have this problem.

[2019-09-11 08:55] #334 closed

[2019-09-12 05:35] Kmohamed commented on #301
@vladasdrejeris please feel free to open this issue again if you face this issue again

[2019-09-12 05:35] #301 closed

[2019-09-19 15:08] rnapier commented on #335
I'm still seeing this behavior with 8.7.1. Is there a known release this is scheduled for?

[2019-09-20 05:05] yousefhamza commented on #335
Sorry we have been busy with some other stuff for a while, I didn't get the same logs with Xcode GM Seed 1 so far but I found it as a common problem with iOS 13 so I tried the recommended fix and you can try it out using this custom build `pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'fix/coredata_ios13'`

If that didn't work can you please share with us more

[2019-09-23 07:46] yousefhamza commented on #335
@pquillere @rnapier Does it fix your problem?

[2019-09-23 17:13] pquillere commented on #335
@yousefhamza I'll have a look at it today and will let you know how it goes.

As a aside, would you consider adding a shared scheme to the project so it can be built using Carthage?

[2019-09-24 00:16] pquillere commented on #335
@yousefhamza Using `fix/coredata_ios13` branch fixes all the faults and warnings in my original description, but I'm still seeing the following annotations. That's a nice step in the right direction though! 👍

[code]

Any idea how to fix those?

[2019-09-26 13:35] yousefhamza commented on #335
Hi @pquillere.

Thanks for taking the time to test this, I have updated the build on `fix/coredata_ios13`, can you please take a look and see if it fixes these new issues?

[2019-09-27 18:23] pquillere commented on #335
@yousefhamza I'm still seeing the same 3 annotations logged into the console.

[code]

[2019-09-28 00:51] biscottigelato commented on #335
With the `fix/coredata_ios13` branch, I am seeing on iOS 11
[code]

iOS 12
[code]

iOS 13
[code]

[2019-09-28 00:57] yousefhamza commented on #335
@pquillere @biscottigelato, thanks for taking the time to test this.

I'm still having trouble reproducing the issue on my end, I'm using Xcode 11 with Launch argument `-com.apple.CoreData.SQLDebug 1` which shows many core data related logs, not the errors you are showing.

So can you please provide more info about reproducing this? It would be great If you can reproduce it on the sample app on th

[2019-09-28 00:57] yousefhamza commented on #335
@biscottigelato You are right this should be reopened 👍

[2019-10-01 21:57] #329 closed

[2019-10-07 08:55] Kmohamed commented on #335
But this custom build is built using Xcode 11 so it should remove all warnings. Could you make sure that you **clean the build folder** before running your app using this custom build?

[2019-10-10 13:48] abeazam commented on #330
now that it is officially in Xcode 11 any word on when we will get this?

thanks

[2019-10-14 14:44] nburyak opened #336 "Fatal Exception: NSInvalidArgumentException"
I can observe a crash via Crashlitics. It happens due to adding a `nil` object to the array. I have no STR, but it would be helpful to analyse the code of the library and give me a hint, what could I do wrong on my side in order to crash the library.
Meanwhile, I'll update the library to the latest one.

[code]

### Steps to Reproduce the Problem
There are no STR, the crash is tracked via Crashlit

[2019-10-14 14:49] hassaanelgarem commented on #336
This is fixed in the latest release.

[2019-10-14 15:31] #336 closed

[2019-10-17 01:17] FrancoSabadini opened #337 "App crashes because of issue when reading/writing data to DB"
### Steps to Reproduce the Problem

Not sure how to reproduce it because it happened to a user on the wild. I got the crash through Crashlytics.

### Expected Behavior

The app doesn't crash

### Actual Behavior

The app crashes because of an issue either reading or writing to the local SQL DB.

Stack trace:

[code]

### Instabug integration code
*Make sure to remove your app token.*

### SDK Vers

[2019-10-17 10:24] hassaanelgarem commented on #337
@FrancoSabadini Can you please share with us the whole crash report? We need to look at all threads.

[2019-10-17 10:36] hassaanelgarem commented on #330
@abeazam Sadly it looks like Binary dependancies are not yet supported by SPM. SPM currently supports source-only packages. We'll keep an eye out and once binary dependancies support is added we'll release this feature.

[2019-10-17 18:55] jasonzurita opened #338 "Swift Package Manager Support"
Any plans to support Swift Package Manager (SPM)?

[2019-10-17 21:12] FrancoSabadini commented on #337
Sure thing @hassaanelgarem, here are the rest of the stack traces:

[code]

[2019-10-18 11:55] hassaanelgarem commented on #338
@jasonzurita kindly check this open issue #330

[2019-10-18 11:55] #338 closed

[2019-10-21 11:03] hassaanelgarem commented on #337
Hey @FrancoSabadini, does your app use the iOS Data Protection entitlement?

[2019-10-21 14:49] Pro2005 opened #339 "App crashes when shaking"
### Steps to Reproduce the Problem
Run app and perform shaking gesture

### Expected Behavior
No crashes
### Actual Behavior
App crashes when shaking

### Instabug integration code
[code]
### SDK Version
8.7.2

### iOS Version
iOS 13

### Device Model
iPhone X

### Call stack

[code]

[2019-10-21 14:50] Kmohamed commented on #339
@Pro2005 are you using Cocoapods?

[2019-10-21 14:51] Pro2005 commented on #339
yes

[2019-10-21 14:53] Kmohamed commented on #339
could you run
`pod deintegrate` Then `pod update` and give it a try

[2019-10-21 14:53] Kmohamed commented on #339
also, could you tell me your cocopods version?

[2019-10-21 14:58] Pro2005 commented on #339
Done, but I still have the crash

[2019-10-21 15:02] Kmohamed commented on #339
one more thing. could you please clear cocopods cache
`pod cache clean --all`
Then `pod update`

I think it's a caching problem in cocoapods. that fetches wrong bundle.

[2019-10-21 15:08] Kmohamed commented on #339
And Derived data, please 🙏

[2019-10-21 15:38] Kmohamed commented on #339
@Pro2005 did it work fine?

[2019-10-21 16:08] Pro2005 commented on #339
It resolves my crash. But after the second attempts + remove delivery data

[2019-10-21 16:10] Kmohamed commented on #339
So it’s not a cocopods problem it’s a derived data problem. Am I right?

[2019-10-21 16:17] Pro2005 commented on #339
No I don't think so, I tried to remove derived data + pod update. But It didn't help.
So, after
[code]
Update all pods
Updating local specs repositories
Analyzing dependencies
Pre-downloading: `ACAlertController` from `https://github.com/Pro2005/ACAlertController.git`
Pre-downloading: `ACNotifications` from `https://github.com/Pro2005/ACNotifications.git`
Pre-downloading: `NibDesignable` from `htt

[2019-10-21 16:23] Kmohamed commented on #339
Thanks a lot for your help. Will check this issue with cocopods.
Btw did you clear the pods cache?

[2019-10-21 21:44] FrancoSabadini commented on #337
Not that I know of @hassaanelgarem. Would this be set in the plist or somewhere else?

[2019-10-21 22:21] hassaanelgarem commented on #337
@FrancoSabadini No it is set from the project settings, in the 'Signing & Capabilities' section. If it's enabled you should find a capability called 'Data Protection'. You can also look for a file called `{APPNAME}.entitlements` and see if it has an entry for 'Data Protection'.

[2019-10-22 20:19] FrancoSabadini commented on #337
@hassaanelgarem I checked in **Signing & Capabilities** and there was no option for **Data Protection** anywhere there. I also looked inside the **entitlements** file and the only things I have there are **APS environment** and **Keychain Access Groups**.

[2019-10-23 10:44] hassaanelgarem commented on #339
Hey @Pro2005, we want to report this issue to cocoapods, so could you please help us out with something? Could you run `pod env` and share with us the output?
Also, could you tell us what you were trying to do when you first encountered this issue? Were you installing Instabug, or were you updating it? If you were updating it, what version did you use to have?
Thanks in advance 🙏

[2019-10-29 12:22] diederich commented on #335
8.7.3 from a few days ago seems to spew out the same warnings again?

[2019-10-29 13:10] hassaanelgarem commented on #335
Hey @diederich, we’re currently working on a fix for that warning. It will be released soon.

[2019-10-30 13:49] hassaanelgarem commented on #339
Hey @Pro2005
We would really appreciate your help on this. Reporting this issue to cocoapods is extremely important to avoid future crashes, and we can't do that without sufficient info on how to reproduce it. So if you could please find the time to help us out with this, that would be great. 🙏 🙏

[2019-10-31 05:04] Pro2005 commented on #339
Sure...I'll check "pod env" today

[2019-10-31 18:38] bdaz opened #340 "Instabug Still Taking Screenshots When trackUserSteps = NO and reproStepsMode = IBGUserStepsModeDisable"
I first found this issue when profiling my app, because I recently started seeing huge frame drops on view controller transitions. Profiling revealed it was mostly Instabug.

### Steps to Reproduce the Problem
[code]

### Expected Behavior
I shouldn't see console logs about Instabug taking screenshots. And I shouldn't see heavy stack traces due to screenshotting.

### Actual Behavior
Still seeing

[2019-10-31 18:39] Kmohamed commented on #340
Could double check that you call them after startWithToken 🙏

[2019-10-31 18:40] bdaz commented on #340
@Kmohamed Yeah, they are set after +startWithToken. Sorry for the empty report earlier, hit post too soon.

[2019-10-31 19:17] Kmohamed commented on #340
Let me check it and get back to you soon

[2019-11-01 01:54] bdaz commented on #340
I spent some more time investigating this to the point where I completely disabled (and unlinked) Instabug and I was still seeing screenshots captured—which isn't possible. Turns out this was a build cache issue (maybe because of Xcode 11.2, which was just released today).

Can confirm, setting `IBGUserStepsModeEnabledWithNoScreenshots` works as expected.

That said, I would *strongly* suggest mak

[2019-11-01 01:54] #340 closed

[2019-11-01 06:47] Kmohamed commented on #340
Thanks, @bdaz for spending time debugging the issue. I agree with you that making capture screenshots is the default option is a privacy issue. But we worked around this by adding a consent. But if you saw that this is not enough. I can set up a call with one of our product managers to discuss this security is one of our top priorities.

Related to a performance issue in the transition. Yes, unfor

[2019-11-02 07:36] Pro2005 commented on #339
Here is "pod env"
`pod env

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Podfile

[code]
`

[2019-11-09 18:53] dylanberry commented on #335
Adding another voice. Running into the same issue but on a Xamarin.iOS app. Hope the fix is pushed out soon!

[2019-11-10 07:44] Kmohamed commented on #335
@dylanberry We are very sorry for being late. we will release it today.

[2019-11-10 19:38] Kmohamed commented on #335
issue fixed on [SDK version 9.0](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0)

[2019-11-10 19:38] #335 closed

[2019-11-10 19:39] #339 closed

[2019-11-10 19:41] Kmohamed commented on #337
@FrancoSabadini We are very sorry for not following up on this thread. are you still facing this crash?

[2019-11-11 22:36] FrancoSabadini commented on #337
@Kmohamed yes this is still happening. Have you found any possible solutions or workarounds?

[2019-11-12 13:53] Kmohamed commented on #337
@FrancoSabadini, unfortunately, no but I appreciate if you could share with me the occurrences number of the crash and whether you are using CoreData or not.

[2019-11-12 22:17] FrancoSabadini commented on #337
Sure thing @Kmohamed, I received 8 crashes for this so far and I'm not using CoreData directly, but some library dependency might be using it.

[2019-11-12 22:52] Kmohamed commented on #337
Thanks a lot for your help 🙏.
I will keep investigating but I would like to know in how many sessions?

[2019-11-13 04:53] FrancoSabadini commented on #337
Not sure what you mean by how many sessions @Kmohamed, you mean how many times the app crashed for users? If so it is 8 as I mentioned in my previous comment. If it's something else can you explain it a bit more please?

[2019-11-13 05:25] FrancoSabadini commented on #337
@Kmohamed I just noticed some interesting logs regarding Instabug and CoreData when I start the app:

[code]

However, this doesn't produce a crash on my device.

[2019-11-13 07:54] Kmohamed commented on #337
@FrancoSabadini Thanks a lot for sharing this warning. This warning should not cause a crash however it's fixed on SDK version 9.0.
Related to the number of Sessions I need to know the severity of this crash so this crash occurred 8 times out of x Sessions?

[2019-11-13 22:53] FrancoSabadini commented on #337
@Kmohamed oh I see. The number of sessions is on the hundreds, between 100 and 200 I'd say.

[2019-11-14 05:56] Kmohamed commented on #337
@FrancoSabadini Thank you

[2019-11-15 10:49] uddinr opened #341 "Running Live / Beta not working on iOS"
### Steps to Reproduce the Problem

we have implemented the suggested code to switch between live and beta for the app store version and our dev and testflight versions:

[code]

taken from your documentation here:

https://docs.instabug.com/docs/ios-integration

however it is just not working for us, all issues are always reported against the beta environment, it doesn't seem to have worked for u

[2019-11-15 11:15] Kmohamed commented on #341
Let me check and get back to you

[2019-11-16 01:05] Kmohamed commented on #341
are you face this issue on iOS 13 only or all iOS versions?

[2019-11-16 15:13] uddinr commented on #341
Issue occurs on all ios versions our minimum deployment is ios 12

[2019-11-17 10:47] Kmohamed commented on #341
@uddinr Thanks a lot for your collaboration I currently trying to test it within our App and will get back to you once Appstore publishes it.

[2019-11-17 18:14] dylanberry commented on #335
Has this been released? I'm 8.6.3 is the latest nuget package version.

[2019-11-17 18:16] Kmohamed commented on #335
Let me check and get back to you.

[2019-11-17 18:18] dylanberry commented on #335
@Kmohamed Thanks!

[2019-11-18 08:04] Kmohamed commented on #341
@uddinr I tried it on our App and works fine

[code]

[code]

[2019-11-18 08:06] Kmohamed commented on #341
I can invite you to our Testflight to try it.

[2019-11-18 10:02] uddinr commented on #341
hmm may be its something we are doing wrong, we have isRunningLive as a static method in a util class as follows:

[code]

and in our AppDelegate we call the following:

`Instabug.start(withToken: Util.isRunningLive() ? AppConstants.ServiceConstants.INSTABUG_LIVE_KEY : AppConstants.ServiceConstants.INSTABUG_BETA_KEY, invocationEvents: [.screenshot])`

is there something obvious we are doing incorr

[2019-11-18 10:18] Kmohamed commented on #341
Don't know if `UIKit.Bundle` is correct or not. Also, you add `!` before the bracket could you remove it.

**Wrong one:**
  `let hasEmbeddedMobileProvision = !(UIKit.Bundle.main.path(forResource: "embedded", ofType: "mobileprovision") != nil);`

**Correct one:**
  `let hasEmbeddedMobileProvision = (UIKit.Bundle.main.path(forResource: "embedded", ofType: "mobileprovision") != nil);`

[2019-11-18 10:27] uddinr commented on #341
we had to use the fully qualifying name as we have an object called Bundle in our project, which i have now changed.

the ! is odd not sure where it came from but changed it now, we'll see how that goes.

thanks for the response

[2019-11-18 11:58] Kmohamed commented on #341
Happy to help 😊

[2019-11-18 13:53] BucekJiri opened #342 "Network logger SSL pinning"
### The problem
How to implement SSL pinning using NetworkLogger.

### URLSession delegate usual implementation
The completion handler uses URLCredential as Optional, returning Credential with serverTrust in case of success and nil in case of failure.

[code]

### Network logger implementation
How to implement the same thing using NetworkLogger? Should I do the certificate validation in the `setCa

[2019-11-18 15:55] dylanberry commented on #335
@Kmohamed any updates?

[2019-11-18 16:59] Kmohamed commented on #335
@dylanberry we didn't release it yet. I will update you once it's released on cross-platform.

[2019-11-19 04:16] FrancoSabadini commented on #337
@Kmohamed I saw these new logs today in version 9.0.0 of the Instabug SDK:

[code]

[2019-11-19 08:02] Kmohamed commented on #342
Hello @BucekJiri
To be on the same page we want to change `URLCredential` to be `Optional` in order to handle failure. am I right?

[2019-11-19 08:05] Kmohamed commented on #341
@uddinr I will close it for now and feel free to open it if you face any issues

[2019-11-19 08:05] #341 closed

[2019-11-19 09:13] BucekJiri commented on #342
Yes. I believe that would solve the problem.

[2019-11-19 09:26] Kmohamed commented on #342
I agree with you. I will make sure to add it in the next release.
Thanks @BucekJiri 🙏

[2019-11-19 10:15] BucekJiri commented on #342
@Kmohamed Perfect. Thank you for that.

[2019-11-19 11:02] krin-san opened #343 "Crash: NSRangeException"
### Steps to Reproduce the Problem
Unknown. Based on a stacktrace, swizzled method attempted to handle shake gesture or touch.

### Expected Behavior
Obviously, it shouldn't crash.

### Actual Behavior
It crashes.

### Instabug integration code
<details>
  <summary>Click to expand</summary>

[code]
</details>

### SDK Version
[Instabug-IOS SDK v8.7.2](https://github.com/Instabug/Instabug-iOS/relea

[2019-11-19 11:05] Kmohamed commented on #343
are you able to reproduce it?

[2019-11-19 11:06] Kmohamed commented on #343
Also, Why do you think the crash is related to Instabug?

[2019-11-19 11:11] krin-san opened #344 "Informative changelogs"
Starting from version 8.7.3 release changelogs are not informative anymore and doesn't explain what exactly this release contains, which bugs were fixed and contains no links to (possibly) related issues opened on GitHub. And there are no changelogs available on official website.

That is not a good practice for the private/binary framework. Software company paying for your service should know how

[2019-11-19 11:20] krin-san commented on #343
Unfortunately not. Crash happens a couple of times in production and I don't know how to reproduce it yet.

Our app doesn't handle motion events, don't use `NSUndoManager` and doesn't use `NSAttributedString.enumerateAttributesInRange` function. Also our app is not mentioned in a stacktrace after swizzled Instabug method.

[2019-11-19 11:24] Kmohamed commented on #343
What about stack trace no. 13?
`13 TextInputUI                    0x1d9833c7c -[TUIAssistantButtonBarView _didTapButtonBarButton:withEvent:]`

[2019-11-19 11:28] Kmohamed commented on #344
Totally agree with you. I will make sure to fix this in the next releases.
Thanks a lot 🙏.

[2019-11-19 11:28] #344 closed

[2019-11-19 11:29] krin-san commented on #343
There are a couple of places where user could enter textual data (login, search screens). Shake-to-Undo feature of iOS 13 should somehow be involved because Instabug overlay also appears on shake.

[2019-11-19 11:32] Kmohamed commented on #343
Yes, Exactly also Instabug does not do anything with the event it's just logging and then execute the original implementation. So that the crash is not inside Instabug code.

This is the path of the code execution.
19 UIKitCore                      0x1c9f6b0a8 -[UIWindow sendEvent:]
20 UIKitCore                      0x1c9f47ae8 -[UIApplication sendEvent:]
21 Instabug                       0x10230e

[2019-11-19 11:42] krin-san commented on #343
Just reproduced a crash playing around with 3-finger tap text editing gesture and it clearly has nothing in common with Instabug. Thank you for your assistance!

[2019-11-19 11:42] #343 closed

[2019-11-19 11:43] Kmohamed commented on #343
Perfect 👌

[2019-11-20 03:24] FrancoSabadini commented on #337
@Kmohamed I have not seen this again when starting the app now so it seems like it doesn't happen on every start.

[2019-11-20 07:54] macchamps opened #345 "Instabug is not work (IOS 13.2.2)"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior
IBGCrashReporting - Instabug crash reporting is disabled because debugger is attached to this session. Crashes and NSErrors will not be reported to Instabug. To detach debugger, click the Stop button in Xcode, then run the app manually from the simulator.
### Instabug integration code
*Make sure to remove your app token

[2019-11-20 08:25] Kmohamed commented on #345
Not sure what’s the issue here. Could you provide me with more details about the issue?

[2019-11-20 09:28] #345 closed

[2019-11-20 09:30] Kmohamed commented on #345
Related to crash reporting this is the actual behavior: We can not make our crash reporting works with Xcode because Xcode is the one who catches crash in the development time.

[2019-11-20 09:55] macchamps commented on #345
can i provide send Demo App?

[2019-11-20 09:58] Kmohamed commented on #345
@macchamps I need to know the issue first 😅

[2019-11-20 10:30] macchamps commented on #345
[Instabug] - IBGUser Steps - Couldn't save userstep to CoreData in addStep. Error: Error Domain=PersistentStore not intialized Code=500 "(null)"
[Instabug] - IBGCrashReporting - Instabug crash reporting is disabled because debugger is attached to this session. Crashes and NSErrors will not be reported to Instabug. To detach debugger, click the Stop button in Xcode, then run the app manually from t

[2019-11-20 10:33] Kmohamed commented on #345
Yes that’s normal at start but after initializing CoreData. We will saving all pending data. These logs are for debugging only. We will fix it in the next release

[2019-11-20 10:33] Kmohamed commented on #345
Are you able to see user steps on dashboard?

[2019-11-20 10:36] macchamps commented on #345
No,There are nothing to showing me on Dashboard.

[2019-11-20 10:39] Kmohamed commented on #345
So, did you send a bug and you can not find any user steps inside this bug?

[2019-11-20 10:45] macchamps commented on #345
yes! did you give me solution about it?

[2019-11-20 10:48] Kmohamed commented on #345
@macchamps could you open a ticket on Instabug.com and send them a bug link?

[2019-11-20 11:30] macchamps commented on #345
how can i open ticket ?

[2019-11-20 20:59] Kmohamed commented on #345
From Intercom button. Bottom right corner

[2019-11-27 10:29] yonaskolb opened #346 "Apps using SceneDelegate don't show the Instabug UI"
### Steps to Reproduce the Problem
Have an app the uses the SceneDelegate in iOS 13 to create UIWindows, instead of an AppDelegate. If Instabug is started in the AppDelegate or even the SceneDelegate, the invocations never display any UI. Switching to an AppDelegate only window setup shows UI correctly.

### Expected Behavior
Instabug should correctly display UI

### Actual Behavior
No UI is shown

[2019-11-27 10:31] Kmohamed commented on #346
I think you mean Instabug not Instagram 🙃
And Yes, we still working to support SceneDelegate and will be released very soon.

[2019-11-27 10:34] yonaskolb commented on #346
Haha yes, typo :)
Fantastic! Do you have any sort of timeframe for the release? In the meantime do you know of any workarounds? I tried creating a window property on the AppDelegate and then setting that window within the SceneDelegate but it didn't work. It's unclear at the moment how Instabug is actually hooking into the window of the apps

[2019-11-27 19:12] Kmohamed commented on #346
no worries :)
I think it will be released within three weeks. Related how Instabug shows its UI. We create a new Window and show it and this way changed in Xcode 11

[2019-11-30 05:32] OnyekachiSamuel opened #347 "Instabug UI not displayed correctly for iOS 13"
### Steps to Reproduce the Problem
Install Instabug and invoke Instabug.show() where you want to show the UI in the latest Xcode 11 and iOS 13
### Expected Behavior
When I call Instabug.show() method, it should display the UI with the Report a Bug and Suggest an Improvement section properly displayed to view.
### Actual Behavior
When I call Instabug.show() method, the UI is not displayed properly

[2019-11-30 07:46] Kmohamed commented on #347
Hello @OnyekachiSamuel Yes we are aware of this bug. This symbolic break point is introduced in Xcode 11. We will release the fix in the next release. But it should shown correctly. Could you provide us with a screenshot of the UI?

[2019-11-30 09:59] OnyekachiSamuel commented on #347
Thanks, @Kmohamed  for responding back. Check out the screenshots below:

![Simulator Screen Shot - iPhone X - 2019-11-30 at 06 18 39](https://user-images.githubusercontent.com/11311182/69898953-45611580-1360-11ea-9b4b-34f96820aea9.png)
![Simulator Screen Shot - iPhone X - 2019-11-30 at 10 55 22](https://user-images.githubusercontent.com/11311182/69898957-4d20ba00-1360-11ea-9f99-1efc9e87eb2a.png)

[2019-11-30 10:15] Kmohamed commented on #347
Related to second screenshot are you overriding NavigationBar appearance?

[2019-11-30 10:53] OnyekachiSamuel commented on #347
I did the configuration for the UINavigationBar in the AppDelegate

[2019-11-30 12:44] Kmohamed commented on #347
@OnyekachiSamuel If you remove it inside
https://docs.instabug.com/docs/ios-bug-reporting-event-handlers#section-before-invoking-instabug

and add it again inside
https://docs.instabug.com/docs/ios-bug-reporting-event-handlers#section-after-dismissing-instabug
it should work fine.
Note:` UINavigationBar.appearance()` will affect native viewControllers like gallery

[2019-11-30 12:45] Kmohamed commented on #347
Related to the first screenshot do you have any extension on `UILabel`?

[2019-11-30 14:20] OnyekachiSamuel commented on #347
@Kmohamed Yes, I do have one, though I have removed the extension for the UILabel because I don't have a need for it again. I tried to comment out settings in the appearance proxy for UINavigationBar and the UI for Instabug was rendered correctly.

The part I don't get is adding it in
[code]
And removing it in
[code]

These are what I set for the appearance proxy in the AppDelegate
[code]

Help me

[2019-11-30 14:28] Kmohamed commented on #347
Sure, could you add this solution?

[code]

[code]

[2019-11-30 14:34] OnyekachiSamuel commented on #347
Perfect, problem solved. Thanks, I really appreciate. 😀

[2019-11-30 14:49] Kmohamed commented on #347
Perfect 👌
However I will make sure to implement these fixes inside Instabug

[2019-11-30 14:49] #347 closed

[2019-11-30 15:01] OnyekachiSamuel commented on #347
Cool 👌

[2019-12-02 12:35] moreirawebmaster opened #348 "Xamarin.iOS: Could not decompress the native framework 'Instabug.framework'"
Hello Guys!

When last version update, my app broken.

![Screen Shot 2019-12-02 at 09 32 29](https://user-images.githubusercontent.com/1142139/69959958-090bf180-14e7-11ea-9105-6e5f2e4e11c8.png)

[code]

### SDK Version
8.7.2
### iOS Version
13

[2019-12-02 13:50] AliAbdelfattah commented on #348
@moreirawebmaster thanks for reporting this. We're looking into it.

[2019-12-03 10:55] AliAbdelfattah commented on #348
Hi @moreirawebmaster, could you send us the VS tools versions details, please?

From Visual Studio > About Visual Studio > Click on "Show Details"

[2019-12-03 20:15] joshuapuentetransloc commented on #335
Hey this is still happening on Xcode 11.2.1 on Instabug v9.0.1.

[2019-12-04 08:21] Kmohamed commented on #335
@dylanberry we released cross platform last monday

[2019-12-04 12:37] dylanberry commented on #335
Where can I get it? Nuget still has v8.6.3 as the latest and there's no cross platform artifacts in GitHub releases or package registry.

[2019-12-05 10:27] Skoti opened #349 "Requests with custom `Accept` header and responses with custom `Content-Type` header are not reported."
### Steps to Reproduce the Problem
Change `Accept` header in a request and then `Content-Type` in its response to a custom value, i.e. `application/custom+json`.
Integration is correct as all other requests and responses are logged.

### Expected Behavior

as in the docs:

### Actual Behavior
Requests with custom `Accept` header and responses with custom `Content-Type` header are not reported.

##

[2019-12-05 11:18] Kmohamed commented on #349
Yes, this is expected. We support specific content type.
But I am curious to know your use cases

[2019-12-06 00:39] Skoti commented on #349
For me it is unexpected as it is not mentioned anywhere in the docs.

The case is that I happened to use a backend with a requirement to use custom values in headers - and I do not think it can be changed.

1. Is there any particular reason Instabug requires `application/json`?
2. Is there any workaround to force Instabug to log such requests?
3. I can see `text/plain` requests/responses are logge

[2019-12-06 08:19] Kmohamed commented on #349
We support only
1- `application/json`
2-`application/xml`
3- `text/xml`
4- `text/html`
5- `text/plain`
The reason behind this is the size of the network log. Let me discuss this with the product team and get back to you.

[2019-12-10 12:14] dylanberry commented on #335
@Kmohamed @yousefhamza any status on getting the updated cross platform .NET libraries uploaded to nuget?

[2019-12-11 08:11] Kmohamed commented on #335
@dylanberry I am very sorry for the delay but it should be at the beginning of the next week. 🙏

[2019-12-17 12:56] BucekJiri commented on #342
@Kmohamed Saw two new releases but the URLCredentials are still not Optional. Do you plan to release this?

[2019-12-17 13:01] Kmohamed commented on #342
@BucekJiri I am sorry for not releasing it. Because that release was a hotfix for an issue and will be included in the next release.

[2019-12-17 13:05] BucekJiri commented on #342
@Kmohamed No worries. I will be watching the releases.

[2019-12-17 15:48] leethree commented on #340
we recently ran into the issue with Instabug taking screenshots for every React-Native Modal on main thread. It causes a delay for all dialogs/popovers.

@Kmohamed could you elaborate on it? I haven't found any mention in the release notes. it would be great if we can upgrade and fix the issue. thanks!

[2019-12-17 15:54] Kmohamed commented on #340
Can you open ticket on support at Instabug site?

[2019-12-18 20:50] andreyz commented on #346
@Kmohamed any updates on the progress? We're on edge of switching away from Instabug since this issue is blocking a production release.

[2019-12-19 07:40] Kmohamed commented on #346
Hello @andreyz,
We are very sorry for not delivering it on time. I totally understand your concern.
But This kind of task impacting our main features heavily which needs from us to rethink wisely how we gonna provide useful information inside Instabug products. It's done now but still in an advanced position in testing process. also If you are interested I can share with you a custom build to give

[2019-12-19 07:52] andreyz commented on #346
@Kmohamed thanks for replying! I understand that quality takes time. And appreciate your offer of early access. What do I need to provide to participate?

[2019-12-19 07:54] Kmohamed commented on #346
@andreyz Thanks a lot for your understanding I really appreciate it.🙏
Nothing, I will prepare a custom build for you now and you can start using it. But one more question does your app support multiple scenes?

[2019-12-19 17:57] Kmohamed commented on #346
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'custo-scene'
@andreyz here is custom build please check it and I am waiting your feedback 🙏

[2019-12-19 23:02] gilroykilroy commented on #346
I tried this version in the iOS 13 version of my app and BugReporting.show still shows nothing.

[2019-12-19 23:55] Kmohamed commented on #346
@gilroykilroy I tried it and works fine maybe a caching problem in Xcode. so could you clear derived data?
Also, Here is a [sample app](https://www.dropbox.com/s/yc2lk0r6br6qu6z/sceneTest.zip?dl=0) with the new custom build

[2019-12-20 00:28] gilroykilroy commented on #346
I deleted derived data and the carthage cache and still no dialog :(

Here is your verbose debugging log:

error: module importing failed: inconsistent use of tabs and spaces in indentation (search.py, line 371)
  File "temp.py", line 1, in <module>

WherePrayer(9584,0x11018adc0) malloc: enabling scribbling to detect mods to free blocks
Loading Reveal Server from /Users/kilroy/Library/Application

[2019-12-20 00:39] gilroykilroy commented on #346
Your test app works but my app doesn’t. I sent you the verbose log separately.

[2019-12-20 00:43] gilroykilroy commented on #346
P.S. When I try to use floating button in my app there is no floating button (I normally use none).

[2019-12-22 08:46] Kmohamed commented on #346
@gilroykilroy could you give it a try using manual integration?

[2019-12-22 17:59] gilroykilroy commented on #346
That worked. Evidently using Carthage

binary "https://raw.githubusercontent.com/Instabug/Instabug-iOS/custo-scene/Instabug.json”

isn’t really getting the same binary you wanted me to use. The manual install of the binary from your sample code works.

[2019-12-23 08:25] Kmohamed commented on #346
Perfect.

[2019-12-25 19:07] jdtzmn commented on #330
@hassaanelgarem I think Sentry was having similar issues with their Binary dependencies. They have since fixed the issue [here](https://github.com/getsentry/sentry-cocoa/pull/352/files). I have not looked through their PR thoroughly, but I thought I would share it since it might help.

[2019-12-29 08:29] Kmohamed commented on #330
@jdtzmn Thanks a lot for your help. But I think it works with Sentry because it's open-source. am I right?

[2019-12-31 23:26] jdtzmn commented on #330
@Kmohamed I honestly don't know — I'm no expert. I just saw that they were having similar issues so I thought you might be able to get some ideas.

[2020-01-02 08:10] Kmohamed commented on #330
@jdtzmn could you check this [thread](https://forums.swift.org/t/pitch-support-for-binary-dependencies/27620/64)?

[2020-01-02 09:41] Kmohamed commented on #346
Custom build updated. it contains multiple fixes related to repro steps in multiple scenes.

[2020-01-03 01:16] jdtzmn commented on #330
@Kmohamed Ahh. Thank you for sharing the link. I now understand what you mean when you said Sentry only worked because it's open-source.

Oh well. I hope this issue is fixed soon.

[2020-01-06 21:48] pschroeder89 commented on #348
Any news on this, @AliAbdelfattah ? I'm seeing this behavior as well

[2020-01-07 11:34] AliAbdelfattah commented on #348
Hi @pschroeder89, are you using Instabug-Xamarin or the Instabug-iOS SDK?

[2020-01-07 16:14] pschroeder89 commented on #348
@AliAbdelfattah We are using Instabug-iOS. I updated fastlane / ruby on that machine and now we can unzip the compressed file just fine.

[2020-01-08 17:57] Skoti commented on #349
Any news?

[2020-01-09 08:44] Kmohamed commented on #349
@Skoti let me check and get back to you very soon.

[2020-01-09 18:19] cupojoe commented on #346
@Kmohamed  This fixes our issue. The Instabug UI shows again with this branch. Do you have plans to release this soon?

[2020-01-09 18:55] yousefhamza commented on #346
Hi @cupojoe, I am Youssef from Instabug as well.
This is great news!
Yes it will be released very soon.

[2020-01-20 10:04] bscheideldyrt opened #350 "App Crash when replying to an in app message from Instabug"
### Steps to Reproduce the Problem

1. Open App and send bug report to Instabug
2. Open Instabug.com and find bug report
3. Click on 'View conversation'
4. Enter message and click 'Send'
5. Open App and view message
6. Enter reply and send

### Expected Behavior

Reply is viewable in the conversation on Instabug.com

### Actual Behavior

App crashes with:

[code]

### Instabug integration code

[c

[2020-01-22 16:00] Kmohamed commented on #346
Hi @cupojoe we Just released SDK [version 9.0.4](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0.4) that support iPadOS

[2020-01-22 16:00] #346 closed

[2020-01-22 16:00] Kmohamed commented on #342
Hi @BucekJiri  we Just released SDK [version 9.0.4](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0.4) with the fix

[2020-01-22 16:00] #342 closed

[2020-01-22 16:02] Kmohamed commented on #349
@Skoti I am very sorry for being late. Finally, we implemented a solution I would like to send you a custom build to get your feedback and to make sure that there is no concern from your side.

[2020-01-22 21:59] Skoti commented on #349
@Kmohamed great news! Will it be a part of official release if it all works?
Can I contact you via email you have listed on your GitHub profile?

[2020-01-23 13:39] Kmohamed commented on #349
you can use this custom build.
 `pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'support/all-content-types'`

[2020-01-27 15:16] andrew-muzmatch commented on #330
@Kmohamed Looks like they're good to go on the SPM side: https://github.com/apple/swift-package-manager/pull/2514

[2020-01-28 08:48] Kmohamed commented on #330
@andrew-muzmatch Thanks a lot for your collaborations. I will check it and get back to you.

[2020-02-04 07:24] lisindima opened #351 "Error: IBGNetwork - failuers in parsing json (null)"
### Steps to Reproduce the Problem
1. Install Instabug via Cocoapods
2. Launch the application
### Expected Behavior
Disable or correct these messages.
### Actual Behavior
After updating to 9.0.6, I began to receive this spam in the console immediately after launching the application. On version 9.0.5 I did not notice such behavior.
<img width="1075" alt="Снимок экрана 2020-02-04 в 14 15 05" src="

[2020-02-04 07:26] Kmohamed commented on #351
I am sorry @lisindima it was a bug and will be fixed in the next release.

[2020-02-04 09:57] Kmohamed commented on #351
@lisindima Fixed in `9.0.7`

[2020-02-04 09:59] Kmohamed commented on #337
@FrancoSabadini I will close this issue now and do not hesitate to open it if you face this issue again.

[2020-02-04 09:59] #337 closed

[2020-02-04 10:00] Kmohamed commented on #349
Hi @Skoti
I am interested to know your feedback about the custom build. Does it fixes your issue?

[2020-02-04 10:12] FrancoSabadini commented on #337
@Kmohamed was this fixed at all? Were you able to reproduce it?

[2020-02-04 10:19] Kmohamed commented on #337
@FrancoSabadini Related to misleading console logs Yes. and related to crash we make a fix that should prevent this crash. could you update and till me if you still see it again. 🙏

[2020-02-04 12:14] FrancoSabadini commented on #337
Perfect, thanks @Kmohamed, what version of the SDK has the fix for the crash?

[2020-02-04 12:23] Kmohamed commented on #337
SDK 9.0.6

[2020-02-04 14:18] Skoti commented on #349
@Kmohamed
It works with this custom build :) Thanks!
Is this going to be a part of an official release?

[2020-02-05 03:14] lisindima commented on #351
After installing the latest update (9.0.7), the error was fixed only in the simulator, but the error remained on the real device.

[2020-02-05 05:48] Kmohamed commented on #351
It should be the same. Maybe it’s a Caching problem. Did you tried to clean build folder and derived data?

[2020-02-05 06:29] lisindima commented on #351
Yes, I just cleared build folder and derived data, but spam in the console still continues

[2020-02-05 08:27] lisindima opened #352 "Error: arrow "Back" does not inherit the color of the other elements"
### Steps to Reproduce the Problem
1. Install Instabug via Cocoapods
2. Change color through InstaBug.tintColor
### Actual Behavior
![IMG_B1F812233C17-1](https://user-images.githubusercontent.com/43087859/73823909-d2768e00-482b-11ea-8106-3353dfbb8221.jpeg)
![IMG_B1F812233C17-2](https://user-images.githubusercontent.com/43087859/73823915-d4d8e800-482b-11ea-8cad-572b0aa3aeb8.jpeg)
### SDK Version
In

[2020-02-05 08:54] Kmohamed commented on #352
We are sorry for this bug 😬. I will make sure that this bug will be fixed in the next release.

[2020-02-05 08:56] Kmohamed commented on #351
That's weird there is no different logic between a simulator and a real device. can you give it a try again and send me a sample of these logs.

[2020-02-05 09:00] lisindima commented on #351
This screenshot was taken during debugging on a real device in a project that is fully built with swiftui.
<img width="1213" alt="Снимок экрана 2020-02-05 в 15 58 38" src="https://user-images.githubusercontent.com/43087859/73826472-6c403a00-4830-11ea-81d7-cb9903b9aeff.png">

[2020-02-05 09:01] Kmohamed commented on #351
Oh, I understand now. I am aware of this bug and it will be fixed from our BE team. I will keep you updated.

[2020-02-05 09:17] Kmohamed commented on #352
@lisindima If you want a custom build I can provide it for you.

[2020-02-05 15:36] Kmohamed commented on #351
@lisindima It's fixed now could you check it.

[2020-02-06 05:20] lisindima commented on #351
Bug fixed, thanks for quick fix!

[2020-02-06 05:21] #351 closed

[2020-02-06 07:05] Kmohamed commented on #351
Perfect 👌

[2020-02-20 03:39] lisindima commented on #352
Thanks for solving the problem with the latest update!)

[2020-02-20 03:39] #352 closed

[2020-02-20 04:06] Kmohamed commented on #352
You are more than welcome 🙏

[2020-02-22 22:32] HassanElDesouky opened #353 "Update the manual installation guide in README.md"
### Steps to Reproduce the Problem
Add Instabug with a manual installation, **not through CocoaPods.**

### Expected Behavior
I expected it to work!

### Actual Behavior
The project compiles successfully, however, when running the app it crashes with the following error in the console:
[code]
### How I solved the problem
I googled the error and found out this accepted solution on [StackOverflow](h

[2020-02-23 09:18] Kmohamed commented on #353
@HassanElDesouky Thanks for reporting this. could you help us with updating the readme?

[2020-02-25 04:11] lisindima opened #356 "[Bug], [Function request] Color theme does not change when overrideUserInterfaceStyle changes"
### Steps to Reproduce the Problem
Try setting in SceneDelegate overrideUserInterfaceStyle in .dark, the Instabug window will continue to inherit the color of the system
### Expected Behavior
Instabug window inherit color from overrideUserInterfaceStyle
### Actual Behavior
Instabug window will continue to inherit the color of the system
### SDK Version
v9.0.10
### iOS Version
13.4
### Device Model

[2020-02-25 04:13] Kmohamed commented on #356
Hello @lisindima
Why do you think we should not follow the system theme? Because this was by design

[2020-02-25 04:20] lisindima commented on #356
Hi @Kmohamed, I have an application built on SwiftUI, it has a toggle that sets a forced dark theme in the application through overrideUserInterfaceStyle (it has three values, it is light, dark and inherit the color of the system) when I switch this toggle my application is completely displayed in dark colors, except instabug screen. I just suggest considering adding this theme management mode to

[2020-02-25 09:37] Kmohamed commented on #356
@lisindima I interested to know what will be the case if you show a native alert like permission or something else. I am trying to validate the use-case to forward it to our product team.

[2020-02-25 10:08] lisindima commented on #356
All system elements (alert, actionSheet) also inherit overrideUserInterfaceStyle without problems. Even the status bar changes color, adjusting to a dark theme.

[2020-02-25 17:14] Kmohamed commented on #356
@lisindima Perfect let me forward this to our product team and get back to you.

[2020-02-25 17:19] kcam commented on #330
@Kmohamed any update on this, just about to bring instabug into our project and we have some enterprise level security issues around cocoapods.  Thanks

[2020-02-25 17:31] Kmohamed commented on #330
Hi @kcam We are still working on it but supporting SPM should include Catalyst also so it may be delayed. But I interested to know about `security issues around cocoapods.`

[2020-02-26 09:47] Kmohamed commented on #356
@lisindima What about using our API in this case

So I the user enables dark mode you can use this API. `Instabug.setColorTheme(.dark)` and If he disables the dark mode you can use this `Instabug.setColorTheme(.light)`

What do you think?

[2020-02-26 11:06] lisindima commented on #356
I tried to use this api, it works, but not quite as it should in my situation. There is no problem when the toggle is active, the application forcibly goes into dark mode, and the api is installed in Instabug.setColorTheme (.dark). But problems begin when the toggle is inactive, and the system controls the color of the application. When deactivating toggle, we install api in Instabug.setColorTheme

[2020-02-28 23:49] seanliu1 opened #357 "[Crash] After shake, it may crash due to insert nil to an array"
- Instabug (9.0.1)

Fatal Exception: NSInvalidArgumentException
*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[119]
_hidden#12731_

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x18ed0aa48 __exceptionPreprocess
1  libobjc.A.dylib                0x18ea31fa4 objc_exception_throw
2  CoreFoundation                 0x18ed60

[2020-02-29 05:54] Kmohamed commented on #357
We are very sorry for experiencing this crash. We are already aware of this one And will release it very soon. it should be next week.

[2020-03-04 05:02] lisindima commented on #356
Good afternoon, is there any news?)

[2020-03-04 07:12] Kmohamed commented on #356
Good morning, It's already inside our backlog not sure when it will be released. but if it's a blocker for you we can send you a custom build.

[2020-03-04 08:59] lisindima commented on #356
No, this is not necessary, thanks)

[2020-03-04 09:06] Kmohamed commented on #356
I really appreciate your collaboration 🙏

[2020-03-04 09:48] Skoti opened #358 "Module compiled with Swift 5.1 cannot be imported by the Swift 4.2.1 compiler"
### Steps to Reproduce the Problem
Try to build a project in Xcode 10.1 using Instabug SDK in version 9.0.8.

### Expected Behavior
Build succeeds

### Actual Behavior
Build fails with error:
[code]
### SDK Version
9.0.8

It works when using Instabug SDK in version 9.0.7.
Seems like a significant change for a patch version update.

[2020-03-04 09:49] Kmohamed commented on #358
@Skoti, Thanks for reporting it. It's already fixed on SDK [v9.0.10](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0.10)

[2020-03-04 09:52] Kmohamed commented on #358
It was not a significate change but was a miss configuration in our build settings.

[2020-03-04 09:56] Skoti commented on #358
@Kmohamed  It seems like it is not. Same issue for all versions above 9.0.7.

[2020-03-04 10:04] Kmohamed commented on #358
@Skoti let me give you more details. SDK version 9.0.8 contains fixes related to our crash reporting. But we started to use Swift in our binary since the module stability was released in Swift 5.1. But unfortunately, we missed this flag [Build Libraries for Distribution ](https://developer.apple.com/videos/play/wwdc2019/416/)

[2020-03-04 10:25] Kmohamed commented on #358
please le me know if you need more details. Thanks

[2020-03-04 10:50] Skoti commented on #358
Well if you have started to use Swift then it is a breaking (major) change as it introduces binary incompatibility.
The `Build Libraries for Distribution` flag means, among many other things, that I could use 9.0.10 Instabug SDK with my `Swift 4.2` project (even though SDK is compiled with Swift 5.1) but still it is **required to use** at least `Xcode 11` - and because of some other dependencies I

[2020-03-04 10:53] Kmohamed commented on #358
@Skoti I totally agree with you. And this why we moved from SDK version 8.7.3 to [9.0](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0)
`⚠️ This release drops support for Xcode 10. To use this version of the SDK, you have to use Xcode 11.⚠️`
We dropped support for Xcode 10 to support iOS 13 features like dark mode and iPadOS

[2020-03-04 11:00] Skoti commented on #358
I've missed that. Thanks. Closing the issue.

[2020-03-04 11:00] #358 closed

[2020-03-04 11:01] Kmohamed commented on #358
@Skoti Thanks for your understanding 🙏

[2020-03-06 08:37] Kmohamed commented on #357
Issue fixed in SDK v[9.0.11](https://github.com/Instabug/Instabug-iOS/releases/tag/9.0.11).
If you faced this issue again please do not hesitate to open it again.

[2020-03-06 08:37] #357 closed

[2020-03-09 10:03] veso266 opened #359 "Feature request: Slovenian language"
Hi there, do you think you could add Slovenian Language support
[Localizable_slovenian.zip](https://github.com/Instabug/Instabug-iOS/files/4305906/Localizable_slovenian.zip)

Do you think you could add it to version: 8.6.3 to Xamarin Nugget package

because my app targets Android 9 and for some reason after migration to AndroidX happened in version 9 I am not able to integrate Instabug anymore int

[2020-03-09 10:05] Kmohamed commented on #359
Hello @veso266,
Do you want it for Android or iOS or both of them?

[2020-03-09 10:20] veso266 commented on #359
both if possible
Just a question: In Xamarin.Forms is it possible to create my own InstabugInvocationEvent

I would like to add Report Feedback button to FlyoutItem instead of having to have a big blue circle everywhere I go (its a bit anoying)

[2020-03-09 14:20] Kmohamed commented on #359
Let me check and get back to you soon.

[2020-03-12 10:02] Kollokvium commented on #298
I'm from the future :) The bug is still there

[2020-03-16 15:41] alexliubj commented on #335
still happening to me

[code]

[2020-03-17 06:50] Kmohamed commented on #335
@alexliubj Could you tell you me your SDK version and Xcode version?

[2020-03-24 05:44] alex-vasenin opened #360 "Network logging doesn't support Protobuf"
Our network requests are not appearing in Instabug, despite I added my `URLSessionConfiguration` with `NetworkLogger.enableLogging(for:)` to config. We're using Protobuf, and in #151 I found that only _JSON, XML, HTML, PlainText_ is supported, but `application/x-protobuf` is not.

Is it possible to add this content type to the list?

[2020-03-24 05:48] Kmohamed commented on #360
fortunately, we are going to release an enhancement on network logger which will support all network logs. I can send you custom build to give it a try before the release.

[2020-03-24 05:49] alex-vasenin commented on #360
That would be awesome, you can find my email in my profile

[2020-03-24 08:40] Kmohamed commented on #360
You can use this custom build.
pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'support/all-content-types'

[2020-03-24 09:19] alex-vasenin commented on #360
Yes, it works! Hope you'll release it soon. Thanks!

[2020-03-24 09:24] Kmohamed commented on #360
Awesome  🎉. It will be released very soon maximum of two weeks.

[2020-03-27 17:16] tirthpatelflynn commented on #307
![Screen Shot 2020-03-27 at 1 14 07 PM](https://user-images.githubusercontent.com/44585584/77781962-dacd9700-702c-11ea-8f38-98af86b4af46.png)

So, I found it bit confusing as the. information written by hand says that put it in Archive>post-action but then the image right below it shows the Build>post-action. Can you please confirm the accurate place to put it? Thanks.

[2020-03-27 17:49] Kmohamed commented on #307
I am very sorry for confusion @tirthpatelflynn, I will make sure to fix it.
If `Debug Information format` in build settings marked as `Dwarf` only in debug mode so you need to add this script in release mode only. If it is marked as `Dwarf with DSYM` file you need to add the script in both sections (post-archive and post-build)

[2020-03-27 18:03] cupojoe commented on #346
@Kmohamed thanks!

[2020-03-27 18:11] tirthpatelflynn commented on #307
Thank you so much for the prompt response will follow this instructions. @Kmohamed

[2020-03-27 18:12] Kmohamed commented on #307
Anytime 🙏

[2020-03-29 13:26] moreirawebmaster opened #361 "Xamarin.iOS error build last version 9.1.0"
Native linking failed, undefined symbol: _kIBGSurveyIntroDismissButtonText. This symbol was referenced by the managed member InstabugLib.IBGStringKey.IBGSurveyIntroDismissButtonText. Please verify that all the necessary frameworks have been referenced and native libraries linked.

[2020-03-29 16:16] AliAbdelfattah commented on #361
@moreirawebmaster Thanks for reporting this. We're working on a fix.

[2020-03-29 16:18] AliAbdelfattah commented on #348
Closing this as we're unable to reproduce it.

[2020-03-29 16:18] #348 closed

[2020-03-30 22:09] weedmapsmike opened #362 "Crash in 9.1"
### Steps to Reproduce the Problem
In our app we are logging a user in and that triggers the crash. it is unclear which methods from the sdk is triggering the crash.

### Expected Behavior
The app should not crash.

### Actual Behavior
The app crashes.

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
9.1

### iOS Version
13.4

### Device Model
iPhone 11 Pro Max

[2020-03-31 03:09] Kmohamed commented on #362
We are sorry about this crash. We are aware of it an It will be released very soon this week. I will update you once it's released. Also, if you wanna a custom build I can do it for you until the release date.

[2020-03-31 17:54] weedmapsmike commented on #362
@Kmohamed thanks for the update. do you have an estimate of when the fix will be released this week?

[2020-03-31 17:57] Kmohamed commented on #362
It should be Friday or Monday. Will update you once we do the release

[2020-04-07 09:42] TheStalwart opened #363 "NetworkLogger breaks SSL pinning"
### Steps to Reproduce the Problem
Configure Alamofire with custom SessionManager and ServerTrustPolicyManager configurations for SSL pinning:

                              trustPolicy: ServerTrustPolicy.pinCertificates(
                                certificates: ServerTrustPolicy.certificates(),
                                validateCertificateChain: true,
                                va

[2020-04-07 09:46] Kmohamed commented on #363
Hello @TheStalwart,
You have to handle SSL pining throughout our APIs in `IBGNetworkLogger`.
`+ (void)setCanAuthenticateAgainstProtectionSpaceHandler:(BOOL(^_Nonnull)(NSURLProtectionSpace * _Nonnull protectionSpace))protectionSpaceHandler;
`

`+ (void)setDidReceiveAuthenticationChallengeHandler:(NSURLCredential* _Nullable (^_Nonnull)(NSURLAuthenticationChallenge * _Nonnull challenge))reciveChallen

[2020-04-07 09:53] TheStalwart commented on #363
Is this documented anywhere?

[2020-04-07 12:07] Kmohamed commented on #363
unfortunately No. But we are working on it now.

[2020-04-12 22:13] joeoreilly commented on #362
Hey. We're seeing the same crash in 9.1, right after login, any idea when the fix will be available?

[2020-04-13 10:27] Kmohamed commented on #362
This crash is fixed on 9.1.1. Feel free to open it again if you face it again. 🙏

[2020-04-13 10:27] #362 closed

[2020-04-13 10:28] Kmohamed commented on #360
@alex-vasenin Sorry for being late but it's finally released to production.
Thank you 🙏

[2020-04-13 10:28] #360 closed

[2020-04-13 10:30] Kmohamed commented on #349
@Skoti Sorry for being late but it's finally released to production.
Thank you 🙏

[2020-04-13 10:30] #349 closed

[2020-04-14 11:52] sam-w opened #364 "Incompatible with Xcode 11.4/Swift 5.2"
### Steps to Reproduce the Problem
- Use Xcode 11.4
- `carthage update`

### Expected Behavior
- Successfully build the framework

### Actual Behavior

### SDK Version
9.1.1

### iOS Version
iOS 13, Swift 5.2

[2020-04-14 12:01] Kmohamed commented on #364
Hello @sam-w.
I tried this version and with Xcode 11.4 and Swift 5.2  and works fine with me but using Cocoapods let me check Carthage and get back to you.

[2020-04-14 12:11] Kmohamed commented on #364
@sam-w I think it's an issue in Carthage could you check this?
https://github.com/Carthage/Carthage/issues/2887

[2020-04-14 15:40] sam-w commented on #364
@Kmohamed yes, it is indeed a Carthage issue - thanks for the pointer. Workaround for now:

[code]

[2020-04-14 15:42] sam-w commented on #364
Will close this issue now, but would perhaps suggest sticking something in the readme for the next hapless person who's expecting Carthage to have gotten their s**t together by now

[2020-04-14 15:42] #364 closed

[2020-04-16 05:22] officialmanishgupta commented on #140
Thanks @Kmohamed and sorry I did not revert back, this solution had fixed the issue.

[2020-04-18 05:32] ghubaddole commented on #327
Any ETA on when this will be? I'm severely blocked due to this, but would like to have instabug as part of the app.

[2020-04-19 02:29] brunomunizaf commented on #100
(Non-related to Instabug - but It works on Instabug) How do you guys export a file with only its url? I'm trying to export a .sqlite file but writing as NSData doesn't help cause i'm not able to set the name prior to export it so it loses its extension. Help pleaaase 🙏🏻

[2020-04-19 02:57] nicopuri opened #365 "Couldn't update Instabug SDK to 9.1.1 on Xcode 11.4.1"
### Steps to Reproduce the Problem

1. Install Xcode 11.4.1
2. Update Instabug SDK
[code]
3. Execute `carthage update Instabug --platform iOS`

### Expected Behavior

Can run the app on Xcode 11.4.1

### Actual Behavior

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/362966/79678277-fbbe7d80-81cf-11ea-9efc-3f9d5ac7c0b1.png">

[code]

### SDK Version

9.1.1

[2020-04-19 03:19] Kmohamed commented on #365
Duplicate of #364
It’s a Carthage issue but their is a workaround.

[2020-04-19 03:19] #365 closed

[2020-04-24 23:46] OIO-WPK commented on #346
i understand that this is supposed to be closed, but since updating our app to use a SceneDelegate, Instabug (since 8.6.2, 8.7.2, and now 9.1.2) has not been able to show its UI.

Any suggestions as to what we should look into?

Cocoapods 1.9.1

[2020-04-25 05:15] ngocholo opened #366 "IBGUserStepsListener retains dismissed view controllers"
### Steps to Reproduce the Problem
- Present a screen modally
- Dismiss that screen
- Observe that view controller is still kept around in memory after dismissal
- It only gets released when user navigates to a new screen

<img width="619" alt="Screen Shot 2020-04-23 at 3 35 49 PM" src="https://user-images.githubusercontent.com/4305661/80271785-8abc1180-8678-11ea-8032-0374e88d61e4.png">

### Expec

[2020-04-25 08:13] Kmohamed commented on #366
Hello @ngocholo,
We are very sorry for this bug. we are working on a hotfix and will be released very soon.

[2020-04-25 10:04] Kmohamed commented on #346
@OIO-WPK Maybe a caching problem in Xcode could you update to the latest then clean build folder and derived data and give it a try.

[2020-04-25 10:06] Kmohamed commented on #327
Sorry for being late. it’s in our backlog and will share ETA once we have once.

[2020-04-25 15:40] ngocholo commented on #366
@Kmohamed thanks for the quick response.

When using the .pageSheet modal presentation style, the presenting view controller’s viewDidAppear does not get called after dismissing the top view controller. Therefore, the top view controller that was presented does not get deallocated.

[2020-04-26 06:50] Kmohamed commented on #366
make sense 👍. I can provide you a custom build if this blocks you.

[2020-04-26 17:08] ngocholo commented on #366
@Kmohamed No need for custom build, but really appreciate the offer!

[2020-04-29 07:07] kim-harry opened #367 "crash: Parent NSManagedObjectContext must not be nil."
### Steps to Reproduce the Problem
it's a user case... i don't know actually how can reproduce that.
But, App try to send http request with the Instabug integrated, and server say that request received well but there are no Instabug logs for that.

99% of requests and responses logs well. Except just before crash.

### Expected Behavior
don't crash
### Actual Behavior

### Instabug integration cod

[2020-04-29 07:11] Kmohamed commented on #367
Hello @kim-harry
We are sorry for the inconvenience. Related to this

Do you mean that this crash occurs after sending a request to your server? Also, could you share with me the complete stack trace?

[2020-04-29 07:20] kim-harry commented on #367
Thanks for quick response!

I'm not sure for this, but I think that.

The complete stack trace follows. I just replace application name to "MyApp".

data:text/text;charset=utf-8,
# Cause: Parent NSManagedObjectContext must not be nil.
# Reported at: 2020-04-28 19:42:41 UTC

Thread 0 [Crashed]:

0    CoreFoundation                           0x1a1a215f0     _exceptionPreprocess + 224
1    libobjc.A.

[2020-04-29 07:34] Kmohamed commented on #367
Thanks a lot. this is more than enough. I think we already aware of this issue and here is a custom build that will fix this crash. Also, I curios to know the number of occurrences.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'custom-purge-logs'`
And this fix should be released very soon. I will update you anyway.

[2020-04-29 07:40] kim-harry commented on #367
Thanks for update. I will wait for new release.

[2020-04-29 07:45] kim-harry commented on #367
Just one case happened yet. It is very rare case.

[2020-04-29 07:46] Kmohamed commented on #367
Thank you Kim 🙏

[2020-04-30 10:42] TheStalwart commented on #363
@Kmohamed i've read official Apple docs and quite a few threads on stackoverflow, and i can't get certificate-pinned hosts to work through IB NetworkLogger.

`Task <D1587C90-35C8-4C57-8064-9018C3848480>.<3> finished with error - code: -999
`
Pinning is configured using Alamofire 4 and works correctly unless IB NetworkLogger is enabled for this session:

[code]

Please provide example implementatio

[2020-04-30 11:00] Kmohamed commented on #363
Hello @TheStalwart
Sure I can provide you implementation for this.

If you are implementing SSL pining using `URLSession` or `Alamofire` you need to implement these two methods
`setCanAuthenticateAgainstProtectionSpaceHandler`
`setDidReceiveAuthenticationChallengeHandler`

You need to implement them inside our NetworkLogger. Then once we capture a network request we will call your implementation i

[2020-04-30 11:21] TheStalwart commented on #363
Yes i did implement them. Yes they're called. I can't get NetworkLogger to accept the request, it fails it no matter what i do in the handler and what values i return

[2020-04-30 11:48] Kmohamed commented on #363
Can we go step by step?
1- could you return `true` inside `setCanAuthenticateAgainstProtectionSpaceHandler`
2- could you return `.performDefaultHandling` inside the completion handler.

to make sure that the request will succeed without any logic.

[2020-04-30 12:02] TheStalwart commented on #363
[code]
This seems to return true for the calls i'm concerned about.

For setDidReceiveAuthenticationChallengeHandler, however, neither `urlAuthenticationChallenge.proposedCredential` or ```
URLCredential(trust: urlAuthenticationChallenge.protectionSpace.serverTrust,
                    Backend.serverTrustPolicy.evaluate(serverTrust, forHost: urlAuthenticationChallenge.protectionSpace.host))
[code]

[2020-04-30 12:19] Kmohamed commented on #363
could you share with me your implementation inside `setDidReceiveAuthenticationChallengeHandler`

[2020-04-30 12:33] Kmohamed commented on #363
Oh, I think I found what missed here. You need return to the completion handler the URLCredential and the `completionHandler(.useCredential, credential)`

[code]

[2020-04-30 12:43] Kmohamed commented on #363
Is this match your implementation?

[2020-04-30 14:15] TheStalwart commented on #363
Yes, i posted brief version of my setDidReceiveAuthenticationChallengeHandler previously. I create URLCredential according to all the docs i could find on the topic and return it. NetworkLogger still breaks the request

[2020-04-30 14:18] Kmohamed commented on #363
I can not find it.
I need to know your implementation inside `setDidReceiveAuthenticationChallengeHandler ` and what value do you return?

[2020-05-02 11:30] navyseai commented on #367
I quickly need a fix on this its happening alot to our app
70 crashes per day

[2020-05-02 11:37] Kmohamed commented on #367
@navyseai We are sorry for the inconvenience. You can use this custom build until we release a fix for it.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'custom-purge-logs'`

[2020-05-03 10:02] Kmohamed commented on #367
@navyseai Please tell me if this custom build fixes your issue.

[2020-05-03 10:10] Kmohamed commented on #363
Hello @TheStalwart,
I would like to check if you managed to make it work or not?. If not could you send me a sample app and I can apply it in the sample app.

[2020-05-03 10:12] Kmohamed commented on #353
PR merged.

[2020-05-03 10:12] #353 closed

[2020-05-04 17:23] RamblinWreck77 commented on #367
I ran into this as well. Trying the custom build for our next release but that won't be for several days.

[2020-05-04 17:25] RamblinWreck77 commented on #330
FYI, Swift 5.3 has 4 upgrades to SPM marked as "Implemented", so they'll definitely be releasing with 5.3:

https://github.com/apple/swift-evolution/blob/master/proposals/0278-package-manager-localized-resources.md

https://github.com/apple/swift-evolution/blob/master/proposals/0273-swiftpm-conditional-target-dependencies.md

https://github.com/apple/swift-evolution/blob/master/proposals/0272-swif

[2020-05-05 02:13] Kmohamed commented on #330
Than you @RamblinWreck77 🙏

[2020-05-09 07:11] AliAbdelfattah commented on #361
Closing the issue as it's been fixed in the latest Xamarin version.

[2020-05-09 07:11] #361 closed

[2020-05-11 14:37] navyseai commented on #367
@Kmohamed sorry but since i cannot replicate it i cannot say if it solves the problem is happening to our users. we currently have 1K crashes in 300 users in 10-15 days in what seems to be all devices 82% is using ios 13

Any idea on when that solution might be approved?

this is our biggest bug

[2020-05-11 14:40] Kmohamed commented on #367
@navyseai Are you able to use the custom build? it will fix the issue.

[2020-05-11 15:56] navyseai commented on #367
@Kmohamed we cannot put a custom build into production

[2020-05-11 15:58] Kmohamed commented on #367
Actually, the official release will be next Thursday. Does this works fine with you?

[2020-05-11 15:59] navyseai commented on #367
@Kmohamed yes, thanks

[2020-05-13 07:43] arturgrigor opened #368 "Instabug crashes the debugger"
Integrating the Instabug framework will crash the debugger so whenever you want to just print the description of a variable the debugger will respond with "Couldn't IRGen expression, no additional error".

I filled a bug report on Swift's JIRA (https://bugs.swift.org/browse/SR-12783) to ask for a better error reporting when this problem happens but meanwhile there's a reply from one of the develop

[2020-05-13 08:10] Kmohamed commented on #368
Thanks a lot, for reporting this. Let me check it and get back to you.

[2020-05-13 09:31] Kmohamed commented on #368
@arturgrigor I am sorry but I am not aware of this flag `-no-serialize-debugging-options`. do you have any documentation for this flag?

[2020-05-13 09:58] arturgrigor commented on #368
@Kmohamed I don't but maybe you can get in touch with the Swift developer in the comments section from this ticket https://bugs.swift.org/browse/SR-12783

[2020-05-13 12:29] Kmohamed commented on #368
Thanks 🙏.
I will try it and check if it works fine or not

[2020-05-13 12:48] Kmohamed commented on #368
@arturgrigor I tried the solution on the sample project and works fine for me.
Could you check this [custom build](https://www.dropbox.com/s/h7rhol5ubapltio/Instabug-SDK-LLDB.zip?dl=0) and confirm that it works fine?

[2020-05-13 12:58] arturgrigor commented on #368
I tried it with the demo project attached to this ticket (https://bugs.swift.org/browse/SR-12783) and with the app that I'm working on and it still doesn't work.

[2020-05-13 12:59] Kmohamed commented on #368
This is weird. What’s your Xcode version?

[2020-05-13 13:00] Kmohamed commented on #368
Also, did you clear the build folder and clear the derived data

[2020-05-13 13:03] arturgrigor commented on #368
I'm using the latest version, Xcode 11.4.1 (11E503a) and cleaned the project and also deleted the Derived Data. Have you tried it with the demo project from that ticket?

[2020-05-13 13:08] Kmohamed commented on #368
Yes.
<img width="1440" alt="Screen Shot 2020-05-13 at 3 05 36 PM" src="https://user-images.githubusercontent.com/1115748/81816394-8ecaa900-952b-11ea-89ca-90780ff60342.png">

[2020-05-13 13:20] arturgrigor commented on #368
Can you double check that you sent me the right framework, the one that you used in that demo project?

[2020-05-13 13:21] arturgrigor commented on #368
Or maybe can you send me a ZIP with the working demo project and I’ll copy the framework from there into the project that I’m working on?

[2020-05-13 13:32] Kmohamed commented on #368
Sure, you can download it from [here](https://www.dropbox.com/s/rncjz0k1ye8yyue/LLDB%20Crash.zip?dl=0).

[2020-05-13 13:46] arturgrigor commented on #368
It's working! Both the demo project and the app that I'm working on with the framework from the demo project included now works.

[2020-05-13 13:47] Kmohamed commented on #368
So I sent the wrong framework. Sorry 😐.

[2020-05-13 13:56] arturgrigor commented on #368
Yeah, no worries 😅

[2020-05-13 14:07] Kmohamed commented on #368
@arturgrigor Thanks for your help 🙏. I really appreciate it.

[2020-05-13 14:11] arturgrigor commented on #368
Glad I could help. ✌️

[2020-05-13 15:56] arturgrigor commented on #368
@Kmohamed There are some new details about the compiler flags in this ticket if you're still interested in reading about them https://bugs.swift.org/browse/SR-12783

[2020-05-14 08:04] Kmohamed commented on #368
@arturgrigor Thanks a lot 🙏

[2020-05-18 22:56] Kmohamed commented on #367
This has been fixed in 9.1.3 Please feel free to reopen if you encountered the same issue again.
Thank You.

[2020-05-18 22:56] Kmohamed commented on #366
This has been fixed in 9.1.3 Please feel free to reopen if you encountered the same issue again.
Thank You.

[2020-05-18 22:56] #366 closed

[2020-05-18 22:56] Kmohamed commented on #368
This has been fixed in 9.1.3 Please feel free to reopen if you encountered the same issue again.
Thank You.

[2020-05-18 22:56] #368 closed

[2020-05-26 06:25] kacper1703 opened #369 "NetworkLogger breaks trust of self-signed certificates"
I would like to enable network logging for my app, which connects to physical devices that propagate a Wi-Fi hotspot and I would like to be able to capture that communication.

Enabling `NetworkLogger` causes self-signed certificate trust to be discarded/ignored. Disabling logging allows communication.
[code]

### Instabug integration code
[code]
[code]
[code]

[code]

[code]

### SDK Version
Inst

[2020-05-26 08:08] yousefhamza commented on #369
Hi @kacper1703

Thanks for the comprehensive report 👍
The issue is because `ServerTrustPolicyManager` is an `Alamofire` feature which depends on `SessionDelegate` receiving the call for:
[code]
Which doesn't get called when network logger is active, however we have a public API that you can use instead (but not the 3rd party, but luckily `ServerTrustPolicy.disableEvaluation` is simple):
`+[IBGNetw

[2020-06-04 09:42] navyseai commented on #367
We've updated the app to use the new instabug 9.1.3 and we are still getting the same issue. It just seems to have changed line from 155 to 156(?)

We need a fix quickly on this this is happening allot on our users and its a major problem. This is happening to the same user sometimes 10 times in a week.

[code]

[2020-06-04 09:56] Kmohamed commented on #367
@navyseai I am sorry for experiencing this crash again. But are you sure that this crash from the new build, not the old one?

[2020-06-04 10:01] navyseai commented on #367
@Kmohamed yes

[2020-06-04 10:11] Kmohamed commented on #367
@navyseai I am very sorry for inconvenience. We will do some investigation and get back to you very soon.

[2020-06-07 19:38] Kmohamed commented on #367
This crash fixed on 9.1.4
Sorry for inconvenience 🙏

[2020-06-07 19:38] #367 closed

[2020-06-08 18:45] moreirawebmaster opened #370 "Crash Last version"
Hardware Model:      iPhone6,2
Process:         iOS [1165]
Path:            /var/containers/Bundle/Application/App.iOS.app/App.iOS
Identifier:      br.com.app
Version:         4.0.4 (4.0.17)
Code Type:       arm64
Parent Process:  ??? [1]

Date/Time:       2020-06-08T15:59:11.999Z
Launch Time:     2020-06-08T15:58:52Z
OS Version:      iPhone OS 12.4.6 (16G183)
Report Version:  104

Exception Type:

[2020-06-08 19:21] Kmohamed commented on #370
Thanks a lot for sharing all details I really appreciate it. But could you share with me if this crash is reproducible or not?, SDK version and Also the number of occurences.

[2020-06-09 12:37] kacper1703 commented on #369
It seems to have worked, thank you!

[2020-06-09 12:37] #369 closed

[2020-06-13 00:14] mowais-ac opened #371 "Crashed: com.twitter.crashlytics.ios.exception - SIGABRT ABORT 0x00000001a43d2df0"
### Stacktrace (TXT)
[code]

![st](https://user-images.githubusercontent.com/33151104/84555087-1fafc280-ad2c-11ea-9287-b8989403bc94.png)

### IOS Version
13.4.1 (got it from crashlytics)

### Device Model
Iphone XR

[2020-06-13 00:16] Kmohamed commented on #371
Hello @mowais-ac,
Thanks a lot for reporting this issue but I can not find Instabug inside the stack-trace. am I missing something?

[2020-06-13 05:36] mowais-ac commented on #371
I have no idea about instabug
Do I need to implement instabug also to resolve the error? Why the crashlytics reporting is not enough?

[2020-06-13 06:57] Kmohamed commented on #371
So why do you post this crash here?

[2020-06-15 08:35] Kmohamed commented on #371
@mowais-ac could you help me, please. Do you think this crash related to Instabug?

[2020-06-15 08:38] mowais-ac commented on #371
I am closing this because this crash is not related to **Instabug** Sorry guys

[2020-06-15 08:38] #371 closed

[2020-06-15 08:39] Kmohamed commented on #371
Thank you @mowais-ac
Please tell me if you need any help inside Instabug.

[2020-06-15 08:40] Kmohamed commented on #370
Hey @moreirawebmaster
Did you manage to catch my previous message?

[2020-06-17 11:59] navyseai commented on #367
come on guys....we just updated

Crashed: NSManagedObjectContext 0x1560f7c0
0  libdispatch.dylib              0x1cddd836 dispatch_group_leave + 99
1  Instabug                       0x131906d _hidden#5932_ + 100 (__hidden#5985_:100)
2  Instabug                       0x14084c9 _hidden#15319_ + 108 (__hidden#15341_:108)
3  Instabug                       0x1408337 _hidden#15316_ + 90 (__hidden#15341_:

[2020-06-17 13:19] Kmohamed commented on #367
@navyseai
We are very sorry about this. But I think this is a new one. I am curious to know if you are using CoreData maybe a conflict somehow?

[2020-06-17 13:31] navyseai commented on #367
no, we are using Realm (4.3.2)

[2020-06-17 13:33] Kmohamed commented on #367
Thanks for your help.
Could you share with me the full crash including the UUID of Instabug? to be able to remove the hidden frames.

[2020-06-17 14:33] Kmohamed commented on #367
Thank you

[2020-06-17 14:35] Kmohamed commented on #367
Could you share with me Instabug load address?

[2020-06-17 14:43] navyseai commented on #367
[crashInstabugLog.txt](https://github.com/Instabug/Instabug-iOS/files/4793259/crashInstabugLog.txt)

[2020-06-17 14:53] Kmohamed commented on #367
I mean this one
<img width="805" alt="Screen Shot 2020-06-17 at 4 50 58 PM" src="https://user-images.githubusercontent.com/1115748/84913400-cdb7c580-b0ba-11ea-8599-606c510e52f0.png">

[2020-06-17 15:44] navyseai commented on #367
Will this be enough?

[instabug_crash.txt.zip](https://github.com/Instabug/Instabug-iOS/files/4793681/instabug_crash.txt.zip)

[2020-06-17 15:59] Kmohamed commented on #367
Perfect 👌

[2020-06-17 17:24] Kmohamed commented on #367
@navyseai The UUID does not match the released one. So I think this one from an application on TestFlight. so Could you share with me a DSYM file matches this UUID `b767399b44cd3937bbc72b49d439b40e` ?

[2020-06-19 09:59] Kmohamed commented on #364
@sam-w I just tried [0.35.0](https://github.com/Carthage/Carthage/releases/tag/0.35.0) Carthage release and works fine.

[2020-06-19 13:25] sam-w commented on #364
Awesome, thanks Khaled

On Fri, 19 Jun 2020, 20:01 khaled el morabea, <notifications@github.com>
wrote:

[2020-06-25 21:25] rebello95 opened #372 "API endpoints returning incorrect `Content-Type`"
### Context

We are consuming the Instabug API without the SDK on both iOS and Android. It appears that a change was deployed on or before 6/21/2020 that changed the response `Content-Type` header from `application/json` (which was correct) to `text/plain` (which incorrectly describes the JSON payload).

Our clients expect `application/json` (given that the response is a JSON dictionary) in order

[2020-06-25 21:45] Kmohamed commented on #372
Hi @rebello95
I just reproduced the scenario and forwarded this to the BE team. I will keep you updated and sorry for the inconvenience.

[2020-06-25 21:48] rebello95 commented on #372
Thanks @Kmohamed. Did this break the SDK as well or does the SDK not validate `Content-Type`?

[2020-06-25 21:52] Kmohamed commented on #372
Yes. We are not validating the `Content-Type`.

[2020-06-25 21:53] rebello95 commented on #372
Got it, thanks for clarifying. Please keep us posted on the fix so we can verify.

[2020-06-25 22:05] Kmohamed commented on #372
Sure,

[2020-06-25 22:23] Kmohamed commented on #372
@rebello95 It should be fixed now.

[2020-06-25 22:25] rebello95 commented on #372
Looks like it's working now. Thanks!

[2020-06-25 22:25] #372 closed

[2020-06-25 22:25] Kmohamed commented on #372
You are welcome 🙏

[2020-06-26 07:09] AmyNgithub commented on #367
I think we have a similar issue in our app, however it has only occurred for two of our users so far and I have not been able to reproduced it yet.

[2020-06-26 07:10] Kmohamed commented on #367
Hello @AmyNgithub we are very sorry for inconvenience. Could you provide me with SDK version?

[2020-06-26 07:17] AmyNgithub commented on #367
We're currently using 9.1.2. See in the thread that you have updated since then. I will try to update the SDK. However since I have not been able to reproduce it I will not be able to verify that it solves the issue. I'll follow the development of the issue in this thread and update when I know more.

[2020-06-26 07:20] AmyNgithub commented on #367
@navyseai Do you know how the crash is triggered in your app? Thought it might give me a hint on how to reproduce it in my app.

[2020-06-26 07:27] Kmohamed commented on #367
Totally agree with you 👍
I succeeded to reproduce it but with code injection. It’s something related to saving data in CoreData while application going to the background also adding Data protection may increase the probability of this crash. It should be fixed on 9.1.5. I will leave this issue open until we 100% that there is nothing else that could cause this crash.

[2020-06-26 09:31] navyseai commented on #367
We were only able to reproduce it once. It seemed it was happening when we attempt to send 2 reports for instabug. But joining that with what Kmohamed said i would try to alternate to background while sending the report or something like that.

[2020-07-10 17:58] Kmohamed commented on #370
@moreirawebmaster Could you please update to SDK version 9.1.6. It should fix this issue.
Please feel free to open it again if you face the same crash.

[2020-07-10 17:58] #370 closed

[2020-07-14 00:15] csfelipe opened #373 "Connectivity always displays as WiFi"
### Steps to Reproduce the Problem
1. Shake device
2. Select Report a Bug
3. Select any type of report
4. Send report

### Expected Behavior
When a Bug report is filed we should get the current type of Connectivity available for the device.

### Actual Behavior
When a Bug report is filed it always returns Connectivity type as `WiFi`.

<img width="1090" alt="Screen Shot 2020-07-13 at 5 06 30 PM" sr

[2020-07-14 05:27] Kmohamed commented on #373
Hello @csfelipe,
To understand you well. Do you mean the wifi name when you mentioned the current type of Connectivity available for the device? If so this was changed in iOS 12 you need to provide a permission to access WiFi name from capabilities. You need to add `access to WiFi information`.

[2020-07-14 15:34] csfelipe commented on #373
@Kmohamed could you please point me into the right direction on how to do that? I've browsed around a lot but I couldn't find it.

[2020-07-14 20:50] Kmohamed commented on #373
Sure, I think you need to add `access to WiFi information from ` from `signing and capabilities`.
<img width="690" alt="Screen Shot 2020-07-14 at 10 22 45 PM" src="https://user-images.githubusercontent.com/1115748/87472734-b53abc80-c620-11ea-879e-70010bd2090b.png">

[2020-07-16 15:31] csfelipe commented on #373
Thanks you so much @Kmohamed !

[2020-07-16 15:31] #373 closed

[2020-07-16 15:33] Kmohamed commented on #373
Anytime

[2020-07-17 12:33] Kmohamed commented on #363
Hello @TheStalwart,
Feel free to open it again if you face any issues.

[2020-07-17 12:33] #363 closed

[2020-07-17 12:36] Kmohamed commented on #331
@francos Please feel free to open it again if you face any issues or need help.

[2020-07-17 12:36] #331 closed

[2020-07-18 06:57] quantamrhino commented on #327
+1.
It's been an year since it was announced. I'd really like to take my app to mac but this one library is blocking my ability.

[2020-07-21 14:52] goa opened #374 "Main Thread Checker: UI API called on a background thread: -[UIApplication connectedScenes]"
Starting Instabug takes about 130 milliseconds on an iPhone 8.
We'd like to get that delay off the main thread when our application starts, by starting Instabug from a background thread.

Although that works properly, it would be nice for Instabug to future-proof things by calling [UIApplication connectedScenes] on the main queue and take care of the warning.

### Steps to Reproduce the Problem
At

[2020-07-21 19:26] Kmohamed commented on #374
Hello @goa,
I understand your concern about the launch time. Unfortunately, `Instabug.startWithToken` is designed to be called from the Main thread inside `didFinishedLaunchWithOptions`. We are going to optimize our impact on App launch. But could you share with me which phase inside the app life cycle that Instabug affects?

[2020-07-21 19:31] goa commented on #374
Hi @Kmohamed, thanks for your prompt response.

We are calling `Instabug.startWithToken` inside `application:didFinishLaunchingWithOptions:` in a background queue. For the time being, we don't see any problems with that, besides the warning. No crashes or anything.

However, we would feel much safer if we knew that Instabug itself makes sure to call all UIKit APIs on the main thread.

100ms might

[2020-07-21 20:00] Kmohamed commented on #374
Yes, I agree with you that it's risky. What about `dispatch_asyn` on `main-thread`.  It should work.

totally agree with you 👍

[2020-07-22 13:02] goa commented on #374
I guess that if Instabug could call all related UIKit APIs using dispatch_async, that would be great for us :) We can keep the performance gains and get rid of the warning.

[2020-07-30 00:34] dannyhertz commented on #330
Any update on this? We only use SPM and would love to start using Instabug once support is added!

[2020-07-30 08:27] Kmohamed commented on #330
We are very sorry for being late 🙏. We will release it shortly.

[2020-08-19 06:19] jonchui commented on #363
I was having the same problem, and figured it out by only using

[code]

I basically refactored my `SSLCertPinToGlooSessionDelegate` which implements sample from https://stackoverflow.com/questions/34223291/ios-certificate-

to let me know if that URLProtectionSpace was trusted

[2020-08-19 09:32] Kmohamed commented on #363
Great, 👍
But, Are you using `setDidReceiveAuthenticationChallengeHandler`?

[2020-08-19 13:11] jonchui commented on #363
Nope

[2020-09-08 07:56] rajanbalana opened #376 "Enabling trackUserSteps causes swizzling crash"
### Steps to Reproduce the Problem
The crash happens intermittently. We couldn't find the exact steps to reproduce this crash. However, the crash stacktrace indicates the root cause to be method swizzling.

We started seeing this crash only after the SDK configuration changes wherein we assigned `trackUserSteps` to `true`.

### Expected Behavior

App should not crash.

### Actual Behavior

App is

[2020-09-08 08:33] Kmohamed commented on #376
Thank you a lot @rajanbalana for reporting this.
I think you are right it is related to swizzle. Could you please tell me if you are using another library that do swizzle? Also, Could you share with me the Full-stack trace and Instabug's DSYM from the app store?

[2020-09-08 09:06] rajanbalana commented on #376
Thank you @Kmohamed for the prompt response. We use multiple third-party libraries in our app that do swizzling internally like FacebookSDK, SegmentAnalytics, DataDog, etc. We also have our own swizzling implementations for `viewWillAppear` and `viewDidAppear`.

[Instabug_dsym.zip](https://github.com/Instabug/Instabug-iOS/files/5187263/Instabug_dsym.zip)

Extended stack trace:

[code]

[2020-09-08 13:10] Kmohamed commented on #376
Thank you🙏, This will be hard to reproduce but I guess it's a conflict with one of these frameworks.
Could you share with me the load address of Instabug as well?

[2020-09-08 13:21] rajanbalana commented on #376
![image](https://user-images.githubusercontent.com/13097169/92481610-374ff780-f204-11ea-9b7c-e7c27c1ef3d3.png)
Is this the load address you are talking about?

[2020-09-08 13:27] Kmohamed commented on #376
No, I mean Instabug binary load address.
ex:

<img width="1440" alt="Screen Shot 2020-09-08 at 3 22 59 PM" src="https://user-images.githubusercontent.com/1115748/92482346-d286a400-f1e7-11ea-8dd2-625671089a0a.png">

[2020-09-08 13:55] rajanbalana commented on #376
I looked for it in the Firebase crash report, but I couldn't find it. Where else should I look for it? Any pointers would be helpful.

[2020-09-08 14:03] Kmohamed commented on #376
No worries, Could you replace Instabug DSYMs with this one? 🙏
[Instabug-dsym-v2.zip](https://github.com/Instabug/Instabug-iOS/files/5188787/Instabug-dsym-v2.zip)

[2020-09-08 14:40] rajanbalana commented on #376
From replacing the Instabug DSYMs, do you mean that I should replace it in the DSYMs zip (downloaded from Appstore) and then upload this updated DSYMs zip to Firebase? If yes, does replacing it with this updated zip would resymbolicate the existing crashes in Firebase.

[2020-09-08 14:47] Kmohamed commented on #376
Yes, I mean replace Instabug DSYM that you downloaded from the Appstore with the one I just sent. I deobfuscate the hidden frames. I am not sure but I expect crashyltics will resymbolicate the crash with the new DSYM file.

[2020-09-08 15:21] rajanbalana commented on #376
I've uploaded the updated DSYMs like half an hour ago, but it looks like Firebase doesn't resymbolicate already symbolicated issues. I'll share an update here If I see the crashes symbolicate after few hours.

[2020-09-08 15:28] Kmohamed commented on #376
Thank you 🙏

[2020-09-09 06:50] rajanbalana commented on #376
We've observed another crash yesterday, and it looks like this time we have some additional desymbolication for this one. Here is the trace:

[code]

[2020-09-09 06:54] rajanbalana commented on #376
Here is the stack trace for another crash. Though, the root cause looks like the same.

[code]

[2020-09-10 08:40] Kmohamed commented on #376
Thanks a lot, @rajanbalana. Are you sure that the DYSM you sent me are related to 9.1.6 cause I can still see hidden frames?

[2020-09-10 08:56] rajanbalana commented on #376
Yes. I've double checked it again and the crash logs are from our app version 3.91.0 and 3.91.1. Both these versions have the 9.1.6 version of Instabug SDK.

[(v3.91.1) 6dac792c-9134-3994-a6a0-a5203967410e.dSYM.zip](https://github.com/Instabug/Instabug-iOS/files/5200363/v3.91.1.6dac792c-9134-3994-a6a0-a5203967410e.dSYM.zip)
[(v3.91.0) 6dac792c-9134-3994-a6a0-a5203967410e.dSYM.zip](https://github.c

[2020-09-11 06:41] rajanbalana commented on #376
It looks like Crashlytics is collecting fully desymbolicated crashes under a different name. Here is the stack trace for one of them:

[code]

Let me know if this is the one you were asking for.

[2020-09-14 08:57] kacper1703 opened #377 "App crashes at runtime when Instabug is in embedded library"
### Steps to Reproduce the Problem

- Create a project in **Xcode 12 (beta 6)**
- Add embedded library to project (with unit tests)
- Initialize Cocoapods
- Add Instabug **only to the embedded library**
- `pod install`
- Build and run the embedded tests

### Expected Behavior

Tests run successfully.

### Actual Behavior

App crashes with following message:
[code]

### SDK Version
9.1.7

### iOS V

[2020-09-14 09:02] Kmohamed commented on #377
Hi @kacper1703
So you are adding Instabug inside two targets the project and the test target?

[2020-09-14 09:07] kacper1703 commented on #377
@Kmohamed yes, it's in both:
[code]
I've just added an example project to run locally.

[2020-09-14 09:10] Kmohamed commented on #377
@kacper1703 I do not think this will work. But I am very curious to know more about your use case.

[2020-09-14 09:14] kacper1703 commented on #377
@Kmohamed Based on your question I would assume attaching a pod to both framework and its tests is not required if I don't use a pod (in this case Instabug) inside the test?

[2020-09-14 09:28] kacper1703 commented on #377
Okay so weird thing: I have tried replacing Instabug with Alamofire (just swapping the pods in Podfile) **in my main project** and tests run as expected. In the example project doing the same does not fix the issue. That's why I created an issue here as I thought it's Instabug-specific. I suppose I will take this over to the Cocoapods' Github.

[2020-09-14 10:37] Kmohamed commented on #377
If you are using Cocopods. I suggest the following:
1- update Cocopods
2- Clear derived data
3- `pod deintegrate`
4- `pod install`
5- Clean build folder

[2020-09-14 10:38] Kmohamed commented on #377
As you said it's something related to CocoaPods. So I will close it and feel free to open it again.

[2020-09-14 10:38] #377 closed

[2020-09-14 10:41] Kmohamed commented on #376
Sorry for being late. the crash seems to be perfect now. Could you please share with me the exception's name of the crash? 🙏

[2020-09-14 11:46] rajanbalana commented on #376
There you go!

[code]

[2020-09-14 22:21] Kmohamed commented on #376
Thank you 🙏
Will check and get back to you very soon.

[2020-09-15 08:54] yousefhamza commented on #376
Hi @rajanbalana

This is Yousef from Instabug.

This crash is happening because of a _reference_ kept to a `UIView` or `CALayer` although the actual object has been deallocated from memory.
I believe this crash is triggered by Instabug because we try to get the location of the touch in it's view which contains that invalid _reference_.

I have found multiple resources for similar problems that may

[2020-09-15 09:00] yousefhamza commented on #376
Turning on zombie objects should help with debugging this as well, messages to deallocated objects will no longer behave strangely or crash, but will instead log a message and die in a predictable and debugger-"breakpointable" way.

<img width="887" alt="Screen Shot 2020-09-15 at 10 58 31 AM" src="https://user-images.githubusercontent.com/3893067/93189452-70c3be00-f742-11ea-80ee-eb1b9f515c34.png">

[2020-09-15 12:43] rajanbalana commented on #376
Hey Yousef,

Thank you for sharing the insights on the cause of the crash. However, it would not be possible to reproduce this crash as we don't know when and where it happens. Also, it happens sporadically and we do not have any concrete steps to reproduce.

Considering that, can we think of any alternative approach to solve the crash?

[2020-09-15 13:32] yousefhamza commented on #376
I will create a potential fix from our side. Do you want these updates as a custom build _now_ or does next release works for you (~ October)?

Meanwhile I think debugging the app with "Zombie Objects" enabled can surface these bug.

[2020-09-15 14:00] rajanbalana commented on #376
We will wait for the next release to include this fix. Sure, In the meantime, I'll keep debugging the app enabled with Zombie Objects.
Thanks for the quick response and resolution. Appreciate it!

[2020-09-15 18:31] yousefhamza commented on #376
Thanks @rajanbalana  for the report. We will ping you when the fix is released 🙏

[2020-09-15 18:31] #376 closed

[2020-09-22 18:19] ismyhc commented on #330
Hi @Kmohamed just checking on the status of SPM support? :)

[2020-09-23 17:10] AhmedOS commented on #330
Hi @ismyhc ,
Unfortunately there are [issues](https://forums.swift.org/t/swiftpm-binarytarget-dependency-and-code-signing/38953) with SPM and binary dependencies which delaying us from supporting it, but we are still working on it. We just want to make sure that the package is stable without issues before releasing it.
Thanks for understanding.

[2020-09-24 01:14] sam-w opened #378 "Instabug breaks SwiftUI Previews in Xcode 12"
### Steps to Reproduce the Problem
- Create a new project in Xcode 12 GM
- Add Instabug as a dependency (I followed the manual steps from the Readme)
- Add a `PreviewProvider` to any file, e.g.
[code]
- Confirm that the project compiles successfully for a normal Build/Run.
- Build for Previews:
    - Make sure the Previews canvas is visible
    - Click `Resume` to trigger the build
<img width="201

[2020-09-24 02:56] sam-w commented on #378
# Possible Workaround

[2020-09-24 14:15] AhmedOS commented on #378
Hello @sam-w ,
We are working currently on this issue.
In the meantime, would you try this workaround as a temporary fix? This configuration disables building the project for simulators running on Apple’s new Macs processor. You may need to add this setting for Release config also if you have faced same issue with Release build for simulator, to profile the app for example.
![Screen Shot 2020-09-0

[2020-09-25 02:26] sam-w commented on #378
@AhmedOS yep, that works for me. Thanks for the tip!

[2020-10-02 07:00] kevinfarst-earnin opened #379 "Umbrella header missing 'InstabugCore.h'"
### Steps to Reproduce the Problem

1. Upgraded SDK from version 9.1.3 to 10.0
2. When building the project with the updated Cocoapod, received the build failure `/<module-includes>:1:1: Umbrella header for module 'Instabug' does not include header 'InstabugCore.h'`
3. When explicitly adding `#import InstabugCore.h` into the `Instabug.h` file, received the compilation error `'InstabugDefaults/Inst

[2020-10-02 07:25] Kmohamed commented on #379
Hello @kevinfarst-earnin
Could you please double check if you are excluding `Simulator arm64` inside build settings?
`"EXCLUDED_ARCHS[sdk=iphonesimulator*]" = arm64;`

[2020-10-05 17:59] kevinfarst-earnin commented on #379
@Kmohamed We actually are excluding the `Simulator arm64` architecture within our build settings:

<img width="522" alt="Screen Shot 2020-10-05 at 10 59 24 AM" src="https://user-images.githubusercontent.com/58189473/95115167-e398d700-06f9-11eb-89f2-44e13f461889.png">

[2020-10-05 20:56] Kmohamed commented on #379
@kevinfarst-earnin  Could you please share with me the Swift version?

[2020-10-05 21:28] kevinfarst-earnin commented on #379
@Kmohamed We are currently using `SWIFT_VERSION` 5.0.

[2020-10-06 08:55] Kmohamed commented on #379
@kevinfarst-earnin
could you ask them to open `module.modulemap`
`Instabug.framework/Modules/module.modulemap` and send me a screenshot from it.
Also, could you ask them to clear derived data and clean the build folder?

[2020-10-06 12:29] Kmohamed commented on #379
We are suspecting something, but to make sure it 100% fixes the problem, would you mind trying out the following custom build? If it works for you we will include the fix in the official SDK.
`pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git', :branch => 'InstabugCore-module'`

[2020-10-06 13:16] dchohfi opened #380 "App crashes with another framework swizzling UIViewController methods"
### Steps to Reproduce the Problem

After updating the library to 10.0 my app started crashing at a point where another library is also swizzling a method.
Have a framework that swizzles `viewDidAppear:` `UIViewController` method, in my case I use RxSwift which also do the same, but after upgrading the app started crashing.

### Expected Behavior

Not crash

### Actual Behavior

Crashes

### Insta

[2020-10-06 13:22] dchohfi commented on #380
Amazing @Kmohamed, thank you

[2020-10-06 18:54] kevinfarst-earnin commented on #379
@Kmohamed The `module.modulemap` file contains the following:

[code]

Additionally, testing out the `InstabugCore-module` branch seems to fix the build and run the app successfully with correct behavior from the SDK features. Thank you for looking into this! If you have any follow-up questions or need any additional info, please let me know.

[2020-10-06 20:25] stegiorgi commented on #379
Hi @Kmohamed,
i'm having the same issue with the missing header file.
Unfortunately, I've just noticed that using the _10.0_ version the crash occurrences are not being symbolicated in the Instabug portal because the SDK version it's not recognised correctly. (see the attached screenshot)
Can you please schedule a new SDK release as soon as possible to fix this issue?
We just released a brand new

[2020-10-06 20:28] Kmohamed commented on #379
@stegiorgi We are very sorry for the inconvenience. We will release a new version very soon, But I did not get what you mean by `the SDK version it's not recognized correctly. `

[2020-10-06 20:31] stegiorgi commented on #379
@Kmohamed I'm sorry, I wasn't able to attach the screenshot.
This is the message that I'm getting on the Crash section: `This crash had been reported from an older version of the SDK that doesn't support symbolication of linked dynamic frameworks. To be able to get fully symbolicated crashes, please update to the latest version.`

[2020-10-06 20:33] Kmohamed commented on #379
@stegiorgi Let me check this with the BE team and get back to you. But related to the symbolication. Do you face any problems?

[2020-10-06 20:36] stegiorgi commented on #379
[https://pasteboard.co/JurhoJ3.png](url)

[2020-10-06 20:38] Kmohamed commented on #379
@stegiorgi could you please reach out support on Instabug.com so That I can follow up with you. I need to check this crash closely 🙏

[2020-10-07 00:20] Kmohamed commented on #380
Hi @dchohfi, We released a fix. Could you please update to SDK version 10.0.1? Feel free to open it again if you reencounter this issue.

[2020-10-07 00:20] #380 closed

[2020-10-07 00:20] Kmohamed commented on #379
Hi @stegiorgi & @kevinfarst-earnin , We released a fix. Could you please update to SDK version 10.0.1? Feel free to open it again if you reencounter this issue.
@stegiorgi, your issue should be fixed now 👍

[2020-10-07 00:20] #379 closed

[2020-10-09 02:57] jadonbaker commented on #378
@AhmedOS was this fixed in 10.0.2?

[2020-10-09 05:01] sam-w commented on #378
This is now fixed in Xcode 12.2, I'm going to close the issue

[2020-10-09 05:01] #378 closed

[2020-10-09 07:14] Kmohamed commented on #378
Perfect 👌. Feel free to open it again if you face any problems.

[2020-10-09 20:27] RamblinWreck77 commented on #330
@AhmedOS were these issues resolved with this workaround?

https://pspdfkit.com/guides/ios/current/knowledge-base/library-not-found-swiftpm/

[2020-10-14 07:40] rajanbalana commented on #376
Is the fix released?

[2020-10-14 07:44] Kmohamed commented on #376
Unfortunately, not yet. But it's already included in the next release. I will keep you updated.

[2020-10-15 18:13] karthikdamodara opened #381 "Not able to track Network logs"
### Steps to Reproduce the Problem
We are not able to see network logs for issues reported by Instabug although we use non customised URLSession

### Expected Behavior
We should be able to see network logs by default if we use non customised URLSession

### SDK Version
We are using 9.1.6

[2020-10-15 18:44] Kmohamed commented on #381
Hi @karthikdamodara
It should work without any effort if you're using URLSession.shared, but if you create SessionConfiguration, you need to pass it to Instabug.

[2020-10-15 18:55] karthikdamodara commented on #381
Hi @Kmohamed

We use default SessionConfiguration, Do you still think we need to pass it to Instabug?

[2020-10-15 18:56] Kmohamed commented on #381
Yes, please

[2020-10-15 18:59] karthikdamodara commented on #381
Ok, thank you

[2020-10-19 11:07] goa commented on #374
Hi @Kmohamed :) Are there any updates on this? An estimate perhaps? Thanks :)

[2020-10-21 08:43] Kmohamed commented on #381
No, the implementation did not change. Could you give it a try and tell me if it works fine?

[2020-10-21 08:46] Kmohamed commented on #374
Hi, @goa. I am sorry for not getting back to you. Actually, we made a lot of improvements to our launch time. Could you please update to our latest version and tell me if it works fine or you still need to do Instabug works in the background thread?

[2020-11-02 14:00] rajanbalana commented on #376
Any update?

[2020-11-02 14:03] Kmohamed commented on #376
I am so sorry for all this delay. Actually, the next release will be next Monday. Also, If you want a custom build, I can afford 👍

[2020-11-13 06:56] alex-vasenin opened #383 "Cannot turn off crash reporting in Instabug 10.0.2"
### Steps to Reproduce the Problem
1. Embed Instabug into a project
2. Turn off Instabug crash reporting with `CrashReporting.enabled = false`
3. Run the app with debugger
4. Run the app without debugger

### Expected Behavior
Crash reporting is turned off (with or without debugger)

### Actual Behavior

With debugger attached I see in the console
`[Instabug] - IBGCrashReporting - Instabug crash r

[2020-11-13 06:58] Kmohamed commented on #383
Hi @alex-vasenin
We are very sorry for the inconvenience, But when you report a crash on your device, you can see it on the dashboard.

[2020-11-13 07:08] alex-vasenin commented on #383
@Kmohamed How can I fully turn off crash reporting?

[2020-11-13 07:25] Kmohamed commented on #383
@alex-vasenin  I think it's just a misleading error message. Because if it's enabled on your plan, it will be automatically turned on. Then when you turned it off, it's turned off. If you crash the app wee will not see and did not get reported on the dashboard.

[2020-11-13 07:26] Kmohamed commented on #383
And the reason behind turning on automatically, to catch crash at launch.

[2020-11-13 07:29] alex-vasenin commented on #383
Is there a way to start Instabug with crash reporting turned off?

[2020-11-13 07:42] Kmohamed commented on #383
Definitely, we can do this, But To understand your use-case. Does this affect your app?

[2020-11-13 07:58] alex-vasenin commented on #383
Truth is, I don't know. We do have some crash reports missing and I was investigating the issue and found this warning.

If framework A sets signal handler, then framework B sets its own handler for the same signal and then removes it, it might well mean that the first handler is gone.

[2020-11-13 08:00] Kmohamed commented on #383
Make sense. We will work on this and get back to you very soon.

[2020-11-17 14:57] mjohnson12 commented on #330
Binary SPM package signing is working now with Xcode 12.2.

[2020-11-17 16:11] akabel92 opened #384 "Can't hide sensitive data for the presented view controller"
### Steps to Reproduce the Problem
1- Create two view controllers and make the first viewController presents the second viewController modally
2- make the first viewController as a privateView
3- Add two textFields to the second view controller and make the first textField only as a privateView

### Expected Behavior
The first textField should be only has a black box when the user tries to create

[2020-11-18 14:50] Kmohamed commented on #384
Hello, @akabel92 We are very sorry for the inconvenience, Will check it and get back to you soon.

[2020-11-18 23:48] mrobert opened #385 "Memory leaks upon launch"
### Steps to Reproduce the Problem
`pod 'Instabug'`
_installed Instabug (10.0.3)_
Basic setup as per your setup documentation.
This line from '_didFinishLaunchingWithOptions_' flagged in Instruments Leaks:
`Instabug.start(withToken: [APP TOKEN], invocationEvents: [.shake, .screenshot])`

### Expected Behavior
No memory leaks.

### Actual Behavior
Instabug seems to be working as expected but unfort

[2020-11-19 08:11] Kmohamed commented on #385
Hello @mrobert
It seems to be memory leaks, but it does not. Instruments trigger these warnings for every object that didn't deallocate,  for example, singletons. I would recommend if you can use memory allocation and check the behaviors of memory consumption.

[2020-11-19 09:34] Ironworks opened #386 "Instabug fails when a podspec dependency"
Using Instabug as a dependency to for a private pod(cocoapods) causes pod repo lint to fail while attempting to compile the Instabug dependency.

### Steps to Reproduce the Problem
Incorporate Instabug as a dependency in your podspec file
Run 'pod spec lint'

### Expected Behavior
Lint should successfully validate the podspec

### Actual Behavior
Lint process fails while compiling Instabug with th

[2020-11-19 09:57] mrobert commented on #385
Hi @Kmohamed, thanks for getting back.  Not seeing anything obvious as far as memory consumption.

But these are 4 types that come up from your sample demo app.
<img width="1135" alt="InstabugDemoLeaksMemoryGraph" src="https://user-images.githubusercontent.com/484596/99649153-f13ace00-2aa7-11eb-9b8c-2c4d38d958a3.png">
All just warnings?

[2020-11-19 10:06] Kmohamed commented on #386
Hello @Ironworks
Hmm, first time to see this error, but do you mind if you give it a try using Xcode 11.x?

[2020-11-19 10:44] Kmohamed commented on #385
Yes, We have a singleton that owns an NSOperationQueue 👍.

[2020-11-19 11:06] Ironworks commented on #386
Hi @Kmohamed  It works fine in XCODE 11.x. I'm using this as a workaround at the moment. I think it might be something to do with not setting 's.swift_versions' in your podspec?

[2020-11-19 11:19] Kmohamed commented on #386
@Ironworks Will do it in the next release and update you to give it a try 👍

[2020-11-19 11:20] Ironworks commented on #386
@Kmohamed Thanks, I'l give it a go when it is available.

[2020-11-19 22:54] Kmohamed commented on #330
Thanks, @mjohnson12  for the heads-up. SPM will be released next week 🎉.

[2020-11-20 09:51] oumeima-ben-ghalba opened #387 "version"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version

### iOS Version

### Device Model

### [Optional] Project That Reproduces the Issue

[2020-11-20 09:51] #387 closed

[2020-11-23 09:11] rajanbalana commented on #376
Just wanted to check if there is any update on the release status of this issue.

[2020-11-23 09:13] Kmohamed commented on #376
Hi @rajanbalana, Yes it will be released this week 🙏

[2020-11-23 22:50] ismyhc commented on #330
Eagerly waiting for this.... :) @Kmohamed is the support for SPM still happening this week?

[2020-11-24 11:45] kacper1703 opened #388 "License file not available for SDK 10.0.3"
When installing the SDK 10.0.3 via CocoaPods (v10.0) a warning is shown in the console:

I can see in the git diff that both the License and Readme are being removed when updating from SDK 10.0.0.

<img width="255" alt="Screenshot 2020-11-24 at 12 43 56" src="https://user-images.githubusercontent.com/12765428/100089926-bb546b80-2e52-11eb-9f45-a4f01547f979.png">

This results in the Instabug licens

[2020-11-24 11:51] Kmohamed commented on #388
This is very weird. I still can see it inside the repo. Let me double-check and get back to you.

[2020-11-24 12:00] Kmohamed commented on #388
Could you please run `pod install --verbose`?

[2020-11-24 12:10] kacper1703 commented on #388
I did and I think the relevant part of the verbose log is:

Running `pod install --repo-update` also results in the same message.

[2020-11-24 13:09] Kmohamed commented on #388
Could you try it again now?

[2020-11-24 13:51] esteluk opened #389 "Cocoapod podspec checksum updates"
Hey there,

We've encountered an issue where our builds have started to fail with this error:

[code]

This appears to be because the cocoapods master spec has been [retrospectively updated](https://github.com/CocoaPods/Specs/commit/d767c576bf94ca19554f01c42eb5975aeb99650f#diff-347920df23f615369dfd8e58d1d8cfb0e8df9f76f518586271f4c2f0d1665e6d) for all previous releases to point to your self-hosted

[2020-11-24 14:05] kacper1703 commented on #388
It's still occuring. I think it may after all be related to Cocoapods. I will transfer the issue there.

[2020-11-24 14:05] #388 closed

[2020-11-24 14:08] Kmohamed commented on #389
Hi @esteluk,
I completely understand your concern. We should announce this before proceeding with it. This something we will definitely handle in the future. So, I confirm that we changed all previous releases to point to your self-hosted zip distribution rather than distributing directly from our repository.

[2020-11-24 14:10] Kmohamed commented on #388
I think it's related to ours. Could you please clean the cocoa-pods cache?
[code]

[2020-11-24 15:18] Kmohamed commented on #385
I will close this issue, but please feel free to open it again if you face any memory issues.

[2020-11-24 15:18] #385 closed

[2020-11-24 15:19] Kmohamed commented on #384
The fix will be included in the next release, but if you need a custom build, I will be happier to provide it.

[2020-11-24 15:32] akabel92 commented on #384
No need for a custom build. I will wait for the next release. Thanks @Kmohamed!

[2020-11-25 02:52] mrobert commented on #385
Alright, thank you @Kmohamed .  👍

[2020-11-25 06:09] kacper1703 commented on #388
Okay, that worked. But I also have fixed my `Podfile`, I had a leftover `source 'https://github.com/CocoaPods/Specs.git'` inside.

Thank you very much :)

[2020-11-25 16:33] Kmohamed commented on #389
We released `10.1` that maintains the old behavior and uses Github as a source for Cocoapods. Could you give it a try?

[2020-11-25 16:49] Kmohamed commented on #376
Hi, @rajanbalana Issue fixed on 10.1

[2020-11-25 19:33] RamblinWreck77 commented on #330
@ismyhc Given that they just did a release that appears to not have SPM support (unless I missed something) it looks like it is not. Oh well :/

[2020-11-25 19:44] Kmohamed commented on #330
@RamblinWreck77 Unfortunately, we did not. We faced some issues and working on them. But the good news that we will do an exceptional release only for SPM Next week.

[2020-11-26 22:22] alex-vasenin commented on #383
Any updates on the issue?

[2020-11-30 15:18] Kmohamed commented on #383
@alex-vasenin it will be included in the next release.

[2020-11-30 15:36] alex-vasenin commented on #383
Thank you! 👍

[2020-11-30 22:16] AndrewSB opened #391 "Instabug binary not compiling on a M1 host"
Hey! I'm trying to compile my app which includes the vended Instabug.framework v10.1. I get the following error:

<img width="751" alt="Screen Shot 2020-11-30 at 2 14 19 PM" src="https://user-images.githubusercontent.com/3814772/100672269-89da1500-3316-11eb-89a9-b6e2217b1693.png">

could you to re-compile and include an arm64 simulator slice in the built xcframework?

If I `#if` out my Instabug co

[2020-11-30 22:20] AndrewSB commented on #391
Versions:

machine: MacBook Air (M1, 2020)
macOS: 11.0.1 (20B29)
Xcode: Version 12.2 (12B45b)
Instabug: v10.1 binary

[2020-12-01 04:44] Kmohamed commented on #391
Unfortunately, We can’t do this with the dynamic framework because it already has arm64 architecture for iOS devices. We can not add two arm64 architectures in the same binary. You need to use XCFramework from our GitHub until we release SPM very soon.

[2020-12-03 07:36] AndrewSB commented on #391
I haven't been able to succeed with the XCFramework yet, for now I've taken it out

[2020-12-03 13:55] RamblinWreck77 commented on #330
@Kmohamed Any chance this is coming today? We're going to be cutting a release and would love to get this included :)

[2020-12-03 20:55] yousefhamza commented on #330
@RamblinWreck77
Good news! Instabug SPM is out with simulator arm64 arch too 🎉. You can get it at `https://github.com/Instabug/Instabug-SP.git`

Hope we caught your release 😄

[2020-12-03 21:17] RamblinWreck77 commented on #330
@YoumnaElhassany Just missed it, but I will try this out ASAP and let you know if I find anything weird!

I'm curious, what was the motivation for an entirely separate repo?

[2020-12-04 06:59] AndrewSB commented on #391
that worked! thank you

[2020-12-04 07:41] yousefhamza commented on #330
@RamblinWreck77 SPM deep clones the repo to work, but our original repo has gotten too big that cloning will take a long time now.

[2020-12-04 07:44] yousefhamza commented on #391
Hi @AndrewSB We just released Instabug in SPM! you can consume it at `https://github.com/Instabug/Instabug-SP.git`

We are shipping XCFramework so Instabug should work fine now with M1 macs' simulators 🎉

[2020-12-05 16:58] RamblinWreck77 commented on #330
@yousefhamza Hmmm, so the app builds and runs fine but when I try to export/archive the app store kicks back saying instabug is in the wrong place and that there are two of them. Screen shots:
<img width="627" alt="Screen Shot 2020-12-05 at 11 49 54 AM" src="https://user-images.githubusercontent.com/22692130/101258545-23c40800-36f1-11eb-82fe-f99eb9cc2db6.png">

[2020-12-05 17:00] RamblinWreck77 commented on #330
@yousefhamza

As you can see above, there are somehow two instabug frameworks in my project. I removed instabug from my podfile, ran pod install, cocoapods said it removed the dependency. Then I added the new git repo to SPM and it appeared to integrate properly like everything else. The only indication of any failure was at upload time

[2020-12-05 17:06] RamblinWreck77 commented on #330
Odd... so I removed the instabug SPM package and attempted to re-add it and got the following:

<img width="728" alt="Screen Shot 2020-12-05 at 12 05 22 PM" src="https://user-images.githubusercontent.com/22692130/101258688-4276ce80-36f2-11eb-94cf-55f8aab16978.png">

[2020-12-05 17:12] RamblinWreck77 commented on #330
Hmmm... nuking derived data and the module cache has let me re-add it. Probably just an Xcode bug.

[2020-12-05 18:10] RamblinWreck77 commented on #330
Digging into the exported app it appears that Instabug.framework shows up in _both_ /Frameworks and /PlugIns. I suspect this is the root issue.

Expanding the Instabug package in the Swift Package Dependencies browser in Xcode shows a folder "Referenced Binaries" that is not present in any other SPM package I have.

[2020-12-06 06:41] yousefhamza commented on #330
Hi @RamblinWreck77

This is because we are shipping Instabug as a binary, and that's why we were only able to do it in 2020.

I think this can be the root cause as well, and I was able to create the same setup, will investigate this and get back to you 🙏

[2020-12-06 09:12] yousefhamza commented on #330
@RamblinWreck77

I found out that `Instabug.framework` as SPM package will be copied to _all_ "Copy Files" build phases in your app target, this is maybe a bug in SPM so I will be open an issue there to discuss this issue further with them.

Meanwhile, your best option is to delete that extra copy with a "Run Script" build phase and add the following snippet as shown in the attached photos:
[code]

[2020-12-06 09:58] AndrewSB commented on #391
continuing over at https://github.com/Instabug/Instabug-SP/issues/5

[2020-12-06 10:01] yousefhamza commented on #391
Thanks for the new issue reference @AndrewSB 🙏
I will close this issue now.

[2020-12-06 10:01] #391 closed

[2020-12-07 14:39] RamblinWreck77 commented on #330
Thanks! I actually manually edited the archive output then signed/delivered it without the PlugIns folder. This script definitely makes it quicker though!

Any timeline on an update to resolve the root issue?

[2020-12-07 17:50] yousefhamza commented on #330
There's no timeline at the moment, make sure to follow the thread on Swift forums for updates 🙏

[2020-12-07 19:30] Kmohamed commented on #330
Since we supported SPM, I will close this issue and please feel free to reach out to us if you need any help.

[2020-12-07 19:30] #330 closed

[2020-12-07 19:33] Kmohamed commented on #389
Hi @esteluk, I think we fixed this issue in 10.1. Please feel free to reach out to us if you face any new issues.

[2020-12-07 19:33] #389 closed

[2020-12-07 19:34] Kmohamed commented on #381
@karthikdamodara, Are you still facing any issues here?

[2020-12-08 11:01] karthikdamodara commented on #381
@Kmohamed The issue has been resolved. Thanks

[2020-12-08 11:02] Kmohamed commented on #381
Perfect 🎉 , Please don't hesitate to reach out to us if you need any help.

[2020-12-08 11:02] #381 closed

[2020-12-08 15:16] AlexeyKolmyk opened #392 ""No such file or directory" for extra attachment"
Good day. I want to attach my custom logs using https://docs.instabug.com/docs/ios-bug-report-content#extra-attachments.  it's working, but I noticed one problem - my file didn't attach when I tried to post a bug after fresh app install. Here my code:

[code]

and here verbose logs:

[code]

I also tried to use `addFileAttachmentWithData:` or use `setWillSendReportHandler`  but result the same.
I

[2020-12-08 16:46] Kmohamed commented on #392
Hello @AlexeyKolmyk, Thanks a lot for a detailed bug report. This kind of report makes our life more easy 🙏.
I succeed to reproduce the bug, and I will keep you updated.

[2020-12-11 12:27] AlexeyKolmyk commented on #392
Good day @Kmohamed ! Do you have some news about this issue? I can provide additional info/logs if you need it

[2020-12-11 12:36] Kmohamed commented on #392
Yes, will be fixed next release.

[2020-12-11 13:11] AlexeyKolmyk commented on #392
Ok, thanks!

[2020-12-30 12:40] Kmohamed commented on #383
We are very sorry for being late. We released the [fix](https://github.com/Instabug/Instabug-iOS/releases/tag/10.1.1).
You can turn off crash reporting before `startWithToken`.

[2020-12-30 12:40] #383 closed

[2020-12-30 12:42] Kmohamed commented on #384
The [release](https://github.com/Instabug/Instabug-iOS/releases/tag/10.1.1) is finally out 🎉
We are very sorry for being late 🙏.

[2020-12-30 12:42] #384 closed

[2020-12-30 12:44] Kmohamed commented on #392
We released a [fix](https://github.com/Instabug/Instabug-iOS/releases/tag/10.1.1).
Please do hesitate to reach out to us if you need any help, and thanks again for the detailed report🙏.

[2020-12-30 12:44] #392 closed

[2020-12-30 13:39] GeorgiDamyanov opened #394 "Invalid JSON in Instabug.json on version 10.1.1"
It appears that the following [commit](https://github.com/Instabug/Instabug-iOS/commit/0d3838645a1a6226247894ea6f23482585c608c0) broke the Instabug.json file.

There is a comma missing on the second to last line:
`"10.1.1" : "https:\/\/github.com\/Instabug\/Instabug-iOS\/releases\/download\/10.1.1\/Instabug.zip"`

[2020-12-30 13:53] Kmohamed commented on #394
We are very sorry for that. It's fixed now. could you give it another try?

[2020-12-30 14:02] GeorgiDamyanov commented on #394
Thank you for the quick fix, it works now =)

[2020-12-30 14:03] Kmohamed commented on #394
Anytime

[2020-12-30 14:03] #394 closed

[2021-01-03 04:46] alex-vasenin opened #396 "Minor issue: license file is missing"
Starting from version 10.1.1 `pod install` complains:

I guess it's related to [this change](https://github.com/Instabug/Instabug-iOS/commit/0f8fe303711ebee233147d77a3cb9e393774e559#diff-c76339b287266c1aafb47d0bcc51d53637520d08b3a914b24f775cc205124067L9)

[2021-01-04 17:48] Kmohamed commented on #396
Yes, it will be fixed if you clear cocoapods cache using these commands?

[code]

[2021-01-05 21:27] Muhammad-Usman-Ali opened #397 "View name captured in Repro Steps are not readable in SwiftUI apps"
### Steps to Reproduce the Problem

1. Create a Swit UI app
2. Add Instabug SDK with crash reporting and feedback reporting enabled
3. Crash the app or report a bug

### Expected Behavior

The view names picked up should be the names of the SwiftUI `View` structs

### Actual Behavior

The names are of `UIHostingViewControllers` being used under the hood

### Instabug integration code
*Make sure to

[2021-01-06 02:54] Kmohamed commented on #397
Yes, This is something we are working on it to support.
But, Could you run this command on your terminal and tell me what the result is?
`swift demangle "_TtGC7SwiftUI19UIHostingControllerVVS_22_VaradicView_Childern7Element_"`

[2021-01-06 10:02] alex-vasenin commented on #396
Hi Khaled, I’m on vacation at the moment. Will get back once I get home.

On Mon, 4 Jan 2021 at 20:49 khaled el morabea <notifications@github.com>
wrote:

--
Alexander Vasenin
+7(903)660-5286

[2021-01-06 15:46] Muhammad-Usman-Ali commented on #397
Hey @Kmohamed , Thank you for responding so quickly! Looking forward to the support in a future release.

I ran the command on my terminal and getting the same name back:
<img width="1047" alt="Screen Shot 2021-01-06 at 10 32 20 AM" src="https://user-images.githubusercontent.com/63107491/103787674-e0b8c580-500b-11eb-8f6f-02a674683d5e.png">

[2021-01-14 06:10] phlippieb commented on #386
Hi! I'm experiencing this same issue when using Instabug v10.1.1 (the latest release at this time) with Xcode 12.2 (12B45b).

[2021-01-14 09:40] yousefhamza commented on #386
Hi @phlippieb, we still cannot reproduce this issue but we are still on it.

Meanwhile, can you try:
1. Quit Xcode
2. Delete "Derived Data"
3. Open Xcode and Build again

[2021-01-20 09:29] rajanbalana opened #398 "App crashing after updating the SDK to 10.1"
Since the day we have updated the Instabug SDK to 10.1, we are seeing following crashes on production. Please help!

### Steps to Reproduce the Problem

Intermittent. No clear steps known to reproduce the issue.

### Expected Behavior

The app should not crash.

### Actual Behavior

The app is crashing intermittently after updating the Instabug SDK to 10.1.

### SDK Version

10.1

### iOS Version

[2021-01-20 09:37] Kmohamed commented on #398
We are sorry for the inconvenience. Could you share with me the crash link, please?

[2021-01-20 09:55] rajanbalana commented on #398
I am not sure if it is possible to share the crash link. The crash is captured by Firebase Crashlytics. I think these crashes are only accessible internally. Is there an alternate way to provide the information you are looking for?

[2021-01-20 09:58] Kmohamed commented on #398
If you share the `.crash` file, the DSYM file related to the Instabug binary and the Instabug version of this crash will be great.

[2021-01-20 18:22] alex-vasenin commented on #396
No, it still complains about missing license. In the previous release podspec source was referring to GitHub repo (which *has* license), but now it links to `.../archive.zip` (no license file).

[2021-01-28 08:37] isavynskyi commented on #396
Having the same issue with 10.1.1 as `LICENSE.md` not included in the source `.../release/10.1.1/archive.zip`
ℹ️ This issue doesn't happen with the latest 10.2 release

[2021-01-28 09:05] yousefhamza commented on #396
Fixed in 10.2 🎉

[2021-01-28 09:05] #396 closed

[2021-01-28 09:06] Kmohamed commented on #398
@rajanbalana, any updates on this? 🙏

[2021-01-28 09:17] rajanbalana commented on #398
Give me sometime, I'll get back to you on this maximum by tomorrow. I am trying to find the `.crash` file. I can't seem to find it since I couldn't find the crash in Xcode organizer.

[2021-01-28 23:05] mloigeret commented on #378
Pro tip for cocoapods users: update cocoapods to the latest version. I struggled with this for hours :)

[2021-01-29 03:04] Kmohamed commented on #378
Thank you 🙏🙏

[2021-01-29 06:08] long1eu opened #399 "I can't build my iOS app with Xcode 12.4"
[code]

[2021-01-29 06:25] long1eu opened #400 "Updating to xcode 12.4 breaks the app"
[code]

[2021-01-29 08:28] yousefhamza commented on #399
Since you opened this new issue https://github.com/Instabug/Instabug-iOS/issues/400
Is this one resolved?

[2021-01-29 08:36] long1eu commented on #399
They are very different issues

[2021-01-29 08:36] long1eu commented on #400
This one happens whenI try to run it on the emulator.

[2021-01-29 08:39] yousefhamza commented on #400
@long1eu Just to confirm, the [other issue](https://github.com/Instabug/Instabug-iOS/issues/399) happens when you try to run on the device, right?

[2021-01-29 09:00] long1eu commented on #399
I tried doing this.

![Screenshot 2021-01-29 at 10 55 25](https://user-images.githubusercontent.com/9283414/106254261-32c2c480-6221-11eb-9602-f1f111720cf2.png)

[2021-01-29 09:13] yousefhamza commented on #399
@long1eu We have been shipping XCFrameworks for a while so you don't have to do that anymore.

I'm investigating the issue and will get back to you ASAP.

[2021-01-29 09:33] yousefhamza commented on #399
@long1eu Can you try using "iOS" for all configurations in "Supported platforms" build settings and check if this error https://github.com/Instabug/Instabug-iOS/issues/400#issue-796618058 is still happening?

[2021-01-29 09:37] yousefhamza commented on #399
Also make sure you update to the latest version of CocoaPods 🙏

[2021-01-29 09:38] long1eu commented on #399
Will do. Thanks

[2021-01-29 10:26] rajanbalana commented on #398
Please find the zip file attached. It has `.crash` files and also has a `dSYM` file for Instabug version of the crash.
[Archive.zip](https://github.com/Instabug/Instabug-iOS/files/5893209/Archive.zip)

[2021-01-29 10:33] long1eu commented on #399
The result is the same.

[code]

I'm using COCOAPODS: 1.10.1

[2021-01-29 10:48] yousefhamza commented on #399
Is this error still happening after Cocoapods update?

-------

The second problem [here](https://github.com/Instabug/Instabug-iOS/issues/399#issuecomment-769723177) happens because Xcode is looking for "iOS Simulator" framework - x86 slice, in the "iOS device" framework:

It looks like an issue that's specific to your project & settings, can you reproduce this in another project? If you managed t

[2021-01-29 10:50] long1eu commented on #399
I've already told you I've updated cocoapods.

On Fri, 29 Jan 2021 at 12:48, Yousef Hamza <notifications@github.com> wrote:

[2021-01-29 10:54] yousefhamza commented on #399
@long1eu Noted, But there are 2 issues reported. I'm confirming whether both issues are still occurring after Cocoapods update or only the one you mentioned in the comment here: https://github.com/Instabug/Instabug-iOS/issues/399#issuecomment-769723177

Also, just to double-check, did you re-install pods after updating Cocoapods?

[2021-01-29 12:37] long1eu commented on #400
Found the issue. This is runned by flutter looks like flutter always user pod from `/usr/local/bin/pod` and not the one in path. So I created a symlink in `/usr/local/bin` for `~/.gem/ruby/2.7.0/bin/pod`.

Thanks for you help.

[2021-01-29 12:37] #400 closed

[2021-01-29 14:28] yousefhamza commented on #400
@long1eu good catch 👍

[2021-01-29 14:29] #399 closed

[2021-01-30 02:25] gunyduny opened #401 "Building for iOS, but the linked and embedded framework 'Instabug.framework' was built for iOS + iOS Simulator."
Building for iOS, but the linked and embedded framework 'Instabug.framework' was built for iOS + iOS Simulator.

I upgraded from 10 to 10.2 and know I am getting the error above.

I am on the most updated Xcode and IOS 14.4 Image.

I have done every step listed on this Github and your webpage, and nothing, i am pretty much loading my app to the App store without Instabug, cause that is the only wa

[2021-01-30 05:57] yousefhamza commented on #401
It looks like you are still using an older version that do doesn’t yet use Instabug.**xcframework**

you can confirm this by checking the “Pods/Instabug” directory.

_Make sure_ you are using the latest version “10.2” because it’s using the XCFramework.

[2021-01-30 15:12] gunyduny commented on #401
I have tried pod install, pod update, deleted the Instabug directory in the PODS folder, I have done nothing different this time than I did in the past to update my PODs.

Dr. Andrew L. Dunn
www.dunn-carabali.com
andrew@dunn-carabali.com
832.494.8080

[2021-01-30 17:16] yousefhamza commented on #401
Can add this to your podfile to make sure that Cocoapods update Instabug:
`pod 'Instabug', '~> 10.2' `

Also please make sure you are using Cocoapods version 1.10 or above.

[2021-01-31 14:44] ismyhc opened #402 "Private View redacting for SwiftUI ?"
How would one handle redacting or hiding certain views when using SwiftUI?

Looking at the docs, I see that for UIKit there is:

`view.instabug_privateView = true`

For instance, I have some TextFields that I have sensitive information that I don't want to capture in a video or screenshot.

Any guidance much appreciated :)

[2021-02-08 02:18] Kmohamed commented on #398
I tried to fix the crash and make it readable, but for some reason, it doesn't symbolicate; but could you replace your DSYM with this one?
[archive.zip](https://github.com/Instabug/Instabug-iOS/files/5940929/archive.zip)

[2021-02-08 21:18] lizbarrett opened #403 "Views marked as private are still visible in screenshots"
### Steps to Reproduce the Problem
`instabug_privateView = true`

### Expected Behavior
The views marked as private would be private in screenshots

### Actual Behavior
Calling `instabug_privateView = true` does *not* actually make the view private from screenshots

### Instabug integration code
*Make sure to remove your app token.*

### SDK Version
10.1.1, 10.1.2, 10.3

### iOS Version
iOS 14.3

[2021-02-09 07:05] rajanbalana commented on #398
sure. Let me try.

[2021-02-09 08:04] rajanbalana commented on #398
Hey - I've symbolicated 2 crashes on my local using the dSYM file you shared. Please find them in the zip file.
[Archive.zip](https://github.com/Instabug/Instabug-iOS/files/5949757/Archive.zip)

[2021-02-09 08:14] Kmohamed commented on #398
How did you symbolicate this locally? I can see two frames with different memory addresses and same method name 🤔

[2021-02-09 09:28] Kmohamed commented on #403
Hello @lizbarrett
We are sorry for the inconvenience. Actually, I tried it several times, and it worked well. So, could you please contact the happiness team and share more information about the bug so that we can debug it deeply.