[2021-02-09 11:38] hassaanelgarem commented on #402
@ismyhc Sorry for the late reply.
Unfortunately we don't support SwiftUI yet, but we're working on it.

[2021-02-09 12:25] rajanbalana commented on #398
`symbolicatecrash 2021-01-27_21-59-57.5078_-0500-8100aede6ac97137a634587ba401877077696612.crash 13aab0c2-e52d-3124-a9b7-35bd13dd3fde.dSYM > desymbolicatedCrash1.crash`

I used the above command to symbolicate the crashes. Did I miss something?

[2021-02-10 08:32] ziadghali2 commented on #397
Hi @Muhammad-Usman-Ali
to make the screen log readable , you should remove AnyView() modifier from your code as it change your view identifier to be as any View which is see in your log

regards

[2021-02-10 09:08] ziadghali2 opened #404 "Failed building on Xcode randomly"
ld: warning: ignoring file /Users/ziad/Documents/shift-customer-app-ios/Pods/Instabug/Instabug.xcframework/ios-arm64_armv7/Instabug.framework/Instabug, missing required architecture x86_64 in file /Users/ziad/Documents/shift-customer-app-ios/Pods/Instabug/Instabug.xcframework/ios-arm64_armv7/Instabug.framework/Instabug (2 slices)

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_IBGNetw

[2021-02-11 13:58] rajanbalana commented on #398
Have you got any leads? Can I assist you in any way to narrow down the issue?

[2021-02-15 08:46] Kmohamed commented on #403
@lizbarrett Did you manage to do this?

[2021-02-15 08:50] Kmohamed commented on #401
@gunyduny Did you manage to make it work?

[2021-02-15 08:54] hassaanelgarem commented on #404
@ziadghali2 Hello ziad, sorry for the late reply
Can you tell the method you use for integrating Instabug?
Also can you make sure you choose "Any iOS Device" when you archive your app and try again?

[2021-02-15 10:23] okalentiev commented on #398
Experiencing similar issues on 10.2. For some reason frames in our crashes are also hidden. I tried to deobfuscate dSYM, but no luck. Any suggestion on how to track this issue?

Here are the crash reports: [Crashes.zip](https://github.com/Instabug/Instabug-iOS/files/5980894/Crashes.zip)

[2021-02-16 06:17] dazziest opened #405 "Crash due to signal: SIGTRAP(TRAP_BRKPT)"
### Steps to Reproduce the Problem
Cannot reproduce
### Expected Behavior
No crash
### Actual Behavior
7 crash occurrence on Instabug v10.0.3
2 crash occurrence on Instabug v10.1
### Instabug integration code
[code]

### SDK Version
10.0.3
10.1
### iOS Version
iOS 14
### Device Model
iPhone13,4
iPhone 11
iPhone 11 Pro
iPhone XR
iPhone XS
iPhone XS Max
### [Optional] Project That Reproduces the Iss

[2021-02-16 08:28] Kmohamed commented on #405
We are sorry for the inconvenience, but Could you share the SDK version for this crash?
10.0.3 or 10.1

[2021-02-16 08:30] Kmohamed commented on #398
@rajanbalana sorry for being late. I don't think this crash is symbolicated correctly. But if it's correct. I think you are using two crash reporting so I suggest using only one.

[2021-02-16 08:30] Kmohamed commented on #398
@okalentiev Let me check this and get back to you. But this one is different

[2021-02-16 10:10] dazziest commented on #405
@Kmohamed We have 7 crash occurrence on Instabug v10.0.3 then we upgrade to v10.1 but we still have crash. Currently we have 2 occurrence for 10.1

[2021-02-16 10:12] Kmohamed commented on #405
No, I mean the stack-trace you added related to 10.1 or 10.03?

[2021-02-16 10:36] rajanbalana commented on #398
oh! I see. Though, we are not using two crash reporters in the app. We are only using Firebase. Do you want me to resymbolicate the crashes to make some progress in it?

[2021-02-16 18:00] Kmohamed commented on #398
@rajanbalana Could you please check the SDK version mapped to your app version inside Crashlytics? this can be done if this crash does not happen on `10.1`

[2021-02-16 23:53] dazziest commented on #405
We have app build 634 (Instabug 10.0.3) and build 700 (Instabug 10.1). Build 634 has 7 crash occurrences and build 700 has 2 occurrences. Instabug dashboard group this into one single crash report.
There is no specific information in which SDK version the stack-trace generated. However, since we found `_hidden` log, we do run `atos` command using dSYM from build 700
<img width="946" alt="Screen Sh

[2021-02-17 06:52] rajanbalana commented on #398
I am not sure how can check the mapping since the crash started happening after we updated the SDK to 10.1. However, I looked at the code for the version in which we received the first crash. It confirmed that the crash started showing up only on the app versions with the upgraded SDK.

[2021-02-17 10:28] hassaanelgarem commented on #405
@dazziest The crash seems to not be properly symbolicated, can you try symbolicating it with dSYMs from build 634 instead?

[2021-02-17 11:48] dazziest commented on #405
@hassaanelgarem Thanks for getting back to me. Here is the symbolicated crash from build 634. Please see the dSYMs here
[Instabug-634.framework.dSYM.zip](https://github.com/Instabug/Instabug-iOS/files/5995354/Instabug-634.framework.dSYM.zip)

[code]

[2021-02-17 12:01] hassaanelgarem commented on #405
@dazziest We are aware of this crash, and it was fixed in version 10.1.1 👍
Please update to this version or to the latest, and feel free to reopen this if it still occurs 🙏

[2021-02-17 12:01] #405 closed

[2021-02-17 13:45] okalentiev commented on #398
@Kmohamed Thanks for looking into this! One of the crashes is very similar to the one reported, that's why I thought that it is relevant. In particular, because most of them are CoreData related.

Shall I create a new issue and outline the crashes I'm experiencing? Because I have some additional crashes but don't what to spam this thread.

[2021-02-18 15:52] arturgrigor commented on #330
Is it really supported, because I'm getting the following error for the last 2 Instabug releases?

[2021-02-18 15:54] arturgrigor commented on #330
My bad, I was using https://github.com/Instabug/Instabug-iOS instead of https://github.com/Instabug/Instabug-SP.

[2021-02-19 06:38] marcofung opened #406 "Crashes of [InstabugSurveys surveysRequestDone:isSucess:withSurveys:pausedSurveysIDs:]_block_invoke on SDK 10.2"
Encountered 25 crashes in first 24 hours of phased release on AppStore (1% rollout) on production, projected > 1K crashes on full rollout.
[code]

### Steps to Reproduce the Problem
Unknown

### Expected Behavior
No crashes

### Actual Behavior
Crashes

### Instabug integration code
Instabug.start(withToken: InstabugService.clientID, invocationEvents: .none)
APM.enabled = true
APM.autoUITraceEnabl

[2021-02-19 06:40] marcofung opened #407 "Crashes of [InstabugSurveys annoucmentsRequestDone:isSuccess:announcments:pausedAnnouncementsIDs:]_block_invoke on SDK 10.2"
Encountered 37 crashes in first 24 hours of phased release on AppStore (1% rollout) on production, projected > 1K crashes on full rollout.
[code]

### Steps to Reproduce the Problem
Unknown

### Expected Behavior
No crashes

### Actual Behavior
Crashes

### Instabug integration code
Instabug.start(withToken: InstabugService.clientID, invocationEvents: .none)
APM.enabled = true
APM.autoUITraceEnabl

[2021-02-19 06:52] Kmohamed commented on #407
We are very sorry for the inconvenience. Let me check this and get back to you as soon as possible.

[2021-02-19 07:11] Kmohamed commented on #407
Could you share the whole stack-trace?

[2021-02-19 08:19] marcofung commented on #407
The above is the full stacktrace of the crashed thread. We didn't find traces of other threads related to Instabug SDK.

[2021-02-19 10:09] yusufkildan opened #408 "Instabug 10.4.0 not working"
Hi, latest Instabug build not working. You can see the errors below:
![Screen Shot 2021-02-19 at 13 01 06](https://user-images.githubusercontent.com/7632833/108490026-4f4b9d00-72b3-11eb-95ec-b6fe70ac7c1c.png)

### Xcode Version
12.4
### SDK Version
10.4.0
### iOS Version
iOS 14
### Device Model
iPhone XR

[2021-02-19 11:10] tttttoo commented on #407
“.”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2021-02-19 11:19] Kmohamed commented on #407
@marcofung Thank you 🙏

[2021-02-19 11:20] Kmohamed commented on #408
How do you integrate our framework?

[2021-02-20 20:22] yousefhamza commented on #407
@marcofung Again we are really sorry for this unfortunate regression. We have a potential fix for this, would you like to use a custom build or wait for a new release (within a week)?

[2021-02-21 07:01] yusufkildan commented on #408
I'm using CocoaPods.

[2021-02-21 16:02] marcofung commented on #407
@YoumnaElhassany We do prefer a custom build. Please also include fix for this [issue](https://github.com/Instabug/Instabug-iOS/issues/406) as well.

[2021-02-21 16:06] yousefhamza commented on #407
Included 👍

we are doing a release now 🎉

[2021-02-21 19:46] Kmohamed commented on #406
`10.4.1` released and contains a fix for this. Very sorry for the inconvenience.

[2021-02-21 19:46] #406 closed

[2021-02-21 19:46] Kmohamed commented on #407
`10.4.1` released and contains a fix for this. Very sorry for the inconvenience.

[2021-02-21 19:46] #407 closed

[2021-02-21 19:47] Kmohamed commented on #408
What's your cocoa pods version?

[2021-02-21 19:50] Kmohamed commented on #403
If you faced this issue again, please don't hesitate to reach out to us.

[2021-02-21 19:50] #403 closed

[2021-02-21 19:55] Kmohamed commented on #398
@rajanbalana, I think we released a hotfix that might fix your crash. Please update to 10.4.1, and feel free to reach out to us if you faced this crash again.

[2021-02-21 19:56] Kmohamed commented on #398
@okalentiev Could you please report it through our happiness team?

[2021-02-21 19:57] #326 closed

[2021-02-22 06:22] yusufkildan commented on #408
It is the latest version: **1.10.1**

[2021-02-22 14:01] okalentiev commented on #398
@Kmohamed Reported, thanks 🙌

[2021-02-22 21:52] jacob753 opened #409 "Instabug 10.4.1 - Xcode 12"
### Steps to Reproduce the Problem
Building the Xcode project fails, and gives the error: 'Instabug/Instabug.h' file not found
The newest Instabug framework that works is 9.1.7. Updating to the newer versions stops compiling and gives the error above.

We need to get off the 9.1.7 framework asap, as 9.1.7 seems to cause the memory to continue to go up until the app crashes. This crash doesn't occu

[2021-02-23 04:54] yousefhamza commented on #409
Can you try to delete the “Pods/“ directory to _reinstall_ the pods?

[2021-02-23 07:23] rajanbalana commented on #398
@Kmohamed Thanks. I'll try updating the SDK to 10.4.1. Will keep you posted if we face the same crash after the upgrade.

[2021-02-23 18:10] jacob753 commented on #409
Yes, doing that gives the same error.

[2021-02-25 11:22] vasiliylisin commented on #408
I had the same error for Instabug **10.4.1** when tried to build a branch, which was previously updated and succesfully built by another dev in my project.
Running `pod deintegrate` and `pod install` fixed it for me.

Doesn't seem like it's a problem for this specific pod.

[2021-02-25 11:24] Kmohamed commented on #408
This is actually a good point. @yusufkildan Could you give it a try?

[2021-02-25 11:38] yusufkildan commented on #408
It's working now. Thanks a lot!

[2021-02-25 11:38] #408 closed

[2021-02-25 12:29] yousefhamza commented on #409
@jacob753 Can you try running `pod deintegrate` and `pod install` 🙏

[2021-02-25 21:52] jacob753 commented on #409
Same error.

[2021-02-26 15:04] marcofung opened #410 "Crashes of [IBGSurveyCache syncSurveysResponse:pausedSurveysIDs:isAnnouncements:]_block_invoke on SDK 10.4.1"
[code]

### Steps to Reproduce the Problem
Unknown

### Expected Behavior
No crashes

### Actual Behavior
Crashes

### Instabug integration code
Instabug.start(withToken: InstabugService.clientID, invocationEvents: .none)
APM.enabled = true
APM.autoUITraceEnabled = true
CrashReporting.enabled = true
Instabug.reproStepsMode = .disable
BugReporting.enabledAttachmentTypes = [.extraScreenShot, .galler

[2021-02-27 18:44] yousefhamza commented on #410
Hello again @marcofung 👋
Can you reproduce this crash locally?

[2021-02-28 08:20] yousefhamza commented on #409
@jacob753 The change we have is that for 10.4.1 we are using XCFrameworks instead of `.framework`
we will have to dig in a little deeper, can you verify that `Pods/Instabug` exists, and that it has `Instabug.xcframework`? Also, can you please verify that you are on Xcode 12?

[2021-02-28 10:31] yousefhamza commented on #410
Can you provide the full stack trace with all threads involved?

[2021-02-28 13:47] marcofung commented on #410
@yousefhamza We can't reproduce the issues. It seems related to
https://github.com/Instabug/Instabug-iOS/issues/406
https://github.com/Instabug/Instabug-iOS/issues/407

[2021-02-28 14:00] marcofung commented on #410
We didn't see other threads related to IBG in the crash logs and may not share the whole stacktrace due to organization policy.

[2021-02-28 14:14] yousefhamza commented on #410
@marcofung they are in the same module (surveys) but they are not unrelated, we are actively investigating this crash and will get back to you 🙏

[2021-03-02 03:57] jacob753 commented on #409
I am using Xcode Version 12.4 (12D4e).
Items under Pods/Instabug:
Instabug.framework.dSYM
Instabug.xcframework
LICENSE.md

[2021-03-02 11:00] Kmohamed commented on #410
@marcofung could you share with occurrences count of this crash?

[2021-03-02 13:44] marcofung commented on #410
@Kmohamed Our build is currently in phased release, the daily occurrences is ~10 for current user adoption, projected to be 50-100 daily on full rollout.

[2021-03-04 13:20] yousefhamza commented on #409
That all looks very good, and you mentioned that the cocoapods version is 1.10 here which is fine.

Can you reproduce this issue in a sample project and send it to us for investigation?

[2021-03-08 20:16] jacob753 commented on #409
Switching to Swift Packages to install Instabug instead of CocoaPods resolved the issue.
Thank you for your time.

[2021-03-08 21:29] yousefhamza commented on #409
Excellent, happy it works 👍

[2021-03-08 21:30] #409 closed

[2021-03-10 23:28] tinder-owenthomas opened #412 "Remove Non-Inclusive Terms"
### Issue Info

Instabug currently has some references to non-inclusive terms.

### Issue Description

Can we please get an updated version of the SDK which removes non-inclusive language? We are focusing on removing such language from our company which extends to all third-party code we choose to use.

I am happy to find that there are no instances of common problematic terms that we are running

[2021-03-11 21:31] yousefhamza commented on #412
Thanks for reaching out to us, and thank you for providing specific suggestions.

We will into the items that you mentioned and will get back to you with any updates related to them.

Please feel free to share with us anything else you may find that needs action from us.

[2021-03-11 21:31] yousefhamza commented on #412
Thanks for reaching out to us, and thank you for providing specific suggestions.

We will look into the items that you mentioned and will get back to you with any updates related to them.

Please feel free to share with us anything else you may find that needs action from us.

[2021-03-13 10:36] onelogapp commented on #327
Any news on this? Our app is not released yet, we're looking to get the Premium + Surveys pack but if Instabug doesn't have Mac support then we will 100% release without Instabug on both platforms and implement our own custom surveys solution as we don't want the experience on Mac and iOS to be different

[2021-03-15 00:41] AndrewSB opened #413 "IBGSessionManager unavailable"
Hey! I'm using the latest release through Carthage, and I'm trying to enable networking logging for my Alamofire session (https://docs.instabug.com/docs/ios-logging#alamofire)
I'm supposed to use `let manager = IBGSessionManager(configuration: configuration)`, but it doesn't seem like that class is shipped with the SDK.

Could I get some assistance please?

[2021-03-15 06:07] yousefhamza commented on #413
Hi @AndrewSB

The example in the docs shows a _declaration_ of “IBGSessionManager” as an example for a class that you would create in your own app to handle network requests using Alamo fire.

[2021-03-15 07:11] AndrewSB commented on #413
🤦‍♂️

[2021-03-15 07:11] #413 closed

[2021-03-19 09:51] AntonPoltoratskyi opened #414 "[IBGPushNotificationsManager deviceTokenFromData:] crashed"
### Steps to reproduce
Issue is not always reproduces, so steps could be not very accurate:
- login to the app and allow push notifications
- kill the app
- open app again: crash happen

### Expected Behavior
- App doesn't crash

### Actual Behavior
- App is crashed inside `[IBGPushNotificationsManager deviceTokenFromData:]`

Crash report:
[code]

<img width="546" alt="Screenshot 2021-03-19 at 11

[2021-03-19 11:29] yousefhamza commented on #414
Hi @AntonPoltoratskyi

You mentioned that it's reproducible on iPhone 11 and SE, Can you please share with us the reproduction steps?

[2021-03-19 11:45] AntonPoltoratskyi commented on #414
@yousefhamza I added steps to description.

[2021-03-19 12:56] yousefhamza commented on #414
@AntonPoltoratskyi Thanks for the steps 🙏

I have tried them multiple times with no luck, do you have a special networking condition?

And while you are at it, Can you try this custom build and let me know if it changes anything:
[code]

[2021-03-19 13:41] AntonPoltoratskyi commented on #414
Thanks, I will try

[2021-03-20 07:12] yousefhamza commented on #414
Hi @AntonPoltoratskyi

wanted to follow up to see if the problem still persists 🙏

[2021-03-23 08:05] yousefhamza commented on #414
Hi @AntonPoltoratskyi

I’m following up to see if the problem is fixed 🙏

[2021-03-23 10:46] AntonPoltoratskyi commented on #414
Hi @yousefhamza! Unfortunately, I can reply only next week. I need to get feedback from QA team, but they are on public holidays this week.

[2021-03-24 17:52] parachutemind commented on #327
Ditto. Any news? Either for catalyst or multiplatform app. Basically, support for macOS.

[2021-03-27 17:55] esstheevau commented on #327
+1 for this. Would be great if you could share some update on that topic. Thank you!

[2021-03-28 05:38] yousefhamza commented on #327
As of 2021, we don't have plans to support to MacCatalyst in the near future.

[2021-03-28 05:38] #327 closed

[2021-03-31 17:09] nab0y4enko commented on #414
Hello @AntonPoltoratskyi!
We found same issue.
Could you confirm it can be fixing using `https://ios-releases.instabug.com/custom/fix-memory_leak/Instabug.podspec`?
Thanks!

[2021-04-02 15:15] yousefhamza commented on #410
Fixed in 10.4.3

[2021-04-02 15:15] #410 closed

[2021-04-08 12:31] AntonPoltoratskyi commented on #414
@yousefhamza @nab0y4enko somehow we are not able to reproduce issue after upgrading to `10.4.3`.

[2021-04-08 12:32] yousefhamza commented on #414
We see some users still experiencing this issue on 10.4.3

This custom build should fix it
[code]

[2021-04-08 12:35] AntonPoltoratskyi commented on #414
hmm, we will try it, thanks. Can you please mention this in release notes when it will be included into release?

[2021-04-08 12:36] yousefhamza commented on #414
We are gonna release it next week, will make sure to ping you and include it in the release notes 👌

[2021-04-21 19:34] mfernandez94 opened #415 "PrivateView not working when alert is presented"
### Steps to Reproduce the Problem
- Start screen recording
- Record a screen that has `instabug_privateView = true`
- Present an `UIAltertViewController` from that screen

### Expected Behavior
- When the alert is presented the redacted information from the presenting view should still be redacted

### Actual Behavior
- When the alert is presented the redacted information from the pressing view i

[2021-04-22 12:35] hassaanelgarem commented on #415
@mfernandez94 We're sorry for this inconvenience! We were able to reproduce this issue and we have a fix for it. We will release this in an official release but that will be about 2 weeks from from now. If that's too far for you, I can provide you with a custom build including this fix if you want 👍

[2021-04-29 19:03] yousefhamza commented on #414
Fixed in 10.4.4

[2021-04-29 19:03] #414 closed

[2021-04-29 23:43] IsaiahJTurner commented on #325
2021 any updates?

[2021-04-29 23:55] alessiolapenna opened #416 "Crash on 10.4.3 in production on ibg_writeJSONObject:toDirectory:completion:"
### Steps to Reproduce the Problem
Not sure how to reproduce this crash. We see multiple instances on our app in production environment.

### Expected Behavior
The app should run normally

### Actual Behavior
App crashes for users.
The crash is reported by XCode Organizer
![Schermata 2021-04-30 alle 08 49 06](https://user-images.githubusercontent.com/3438105/116632409-1e15da00-a992-11eb-9d93-44f01

[2021-04-30 11:09] hassaanelgarem commented on #416
We're very sorry for this inconvenience! We'll be working on a fix for this crash and will update you once it's released.

[2021-04-30 11:22] hassaanelgarem commented on #325
@IsaiahJTurner Sadly this got deprioritized and we currently have no plans of supporting this in the near future. We will update this thread if this ever changes 👍

[2021-05-06 19:04] IsaiahJTurner opened #417 "NetworkLogger.setResponseObfuscationHandler results in No Response Status Code 0 in Instabug"
[code]
<img width="864" alt="image" src="https://user-images.githubusercontent.com/3732588/117351838-0db6a100-ae63-11eb-94ba-2d167a4e625b.png">

[2021-05-07 01:53] hassaanelgarem commented on #417
Hey @IsaiahJTurner
It looks like you're creating an empty response object every time and you pass back to the completion handler, that's why on the dashboard it shows that there's no response.

You can do one of two things, either pass the `response` object as it is, as I can see you don't actually obfuscate anything in the response. This way your last line should be like that:
[code]
Or if you wa

[2021-05-07 01:53] #417 closed

[2021-05-11 15:27] rajanbalana opened #418 "Experiencing High Number of Crashes on 10.4.4"
![image](https://user-images.githubusercontent.com/13097169/117842339-75be1a80-b29b-11eb-8a12-f3cde732942f.png)

[2021-05-12 08:23] rajanbalana commented on #418
What is the ETA for the official release with the fix?

[2021-05-13 17:35] yousefhamza commented on #418
First week of June

[2021-05-14 00:27] hassaanelgarem commented on #415
@mfernandez94 This issue has been fixed in the latest release

[2021-05-14 00:27] #415 closed

[2021-05-20 22:09] shalinipk commented on #418
Seeing app crashes - I am on instabug 10.4.4. @yousefhamza is this related to the original post ?

Thanks!

[code]

[2021-05-20 22:42] shalinipk commented on #418
I downgraded to 10.4.3 - not seeing the crash anymore

[2021-05-21 06:07] rajanbalana commented on #418
Thanks for the prompt response. Does v10.5.1 contains the fix for the crash in context?

[2021-05-21 17:55] algrid opened #419 "Can I make Instabug logs less verbose?"
Hi!

I see a lot of logs like this in my console:

and these line when going to background:

Is there a way to turn off these logs? Too much logs make it hard to debug other stuff in the app (I know, I can filter logs, but still...).

### SDK Version
10.5.1

### iOS Version
14.4

[2021-05-21 18:04] algrid opened #420 "Problems with logging in background"
### Steps to Reproduce the Problem
Try to use `IBGLog` in background (background fetch).

### Expected Behavior
Logging should work.

### Actual Behavior
I see error messages like this:

    total = "236.359375";
    used = "192.96875";
}

### Instabug integration code

        Instabug.start(withToken: token, invocationEvents: [.none])
        Instabug.willSendReportHandler = { report in

[2021-05-21 18:07] Kmohamed commented on #419
hi @algrid
Yes, you can.
You can add this API before `startWithToken`
`Instabug.sdkDebugLogsLevel = .error;`

[2021-05-21 18:10] Kmohamed commented on #420
Yes, it will not be saved into a disk, but once the app came back to the foreground it will be saved on disk.
Does this make sense?

[2021-05-21 18:10] #419 closed

[2021-05-21 18:29] algrid commented on #420
@Kmohamed If it's not saved to disk, does it mean that it's stored in RAM? The app can be terminated by the OS (when the background fetch finishes) and then those logs will be lost?

[2021-05-21 18:33] Kmohamed commented on #420
Yes, it will be saved in the RAM. But when the app terminated we remove old logs. So, it will be removed anyways.

[2021-05-21 18:41] algrid commented on #419
@Kmohamed

I just tried it:

    Instabug.sdkDebugLogsLevel = .error
    print("\(Instabug.sdkDebugLogsLevel == .error)")

It prints `true`, but I still can see those "Captured screenshot" messages.

[2021-05-21 18:44] Kmohamed commented on #419
Did you call it before `StartWithToken`?
btw `Instabug.sdkDebugLogsLevel = .error` will print the error messages only from Instabug, and you can completely disabling it using this line `Instabug.sdkDebugLogsLevel = .none`

[2021-05-21 18:56] algrid commented on #420
I wanted to see some background logs coming with user reports and make sure that they're saved.
But I guess I'm asking too much since anyway only recent logs are included with those reports. :)

Also those "IBGCore: error" logs are a bit confusing - it looks like something's wrong while it's expected behavior. Anyway, it's not a big deal, thanks for clarification!

[2021-05-21 18:57] Kmohamed commented on #420
I think you're right, we will work on improving these error messages 👍

[2021-05-21 19:02] algrid commented on #419
@Kmohamed I was calling it after `StartWithToken`. Moved it to call before `StartWithToken`, but the result is the same.

[2021-05-21 19:04] algrid commented on #419
Tried `Instabug.sdkDebugLogsLevel = .none` and it works - I see no Instabug logs at all.

[2021-05-21 19:04] Kmohamed commented on #419
Yes, none will prevent any Instabug logs, but the error will print error messages only.

[2021-05-21 19:06] algrid commented on #419
Ok, not sure why `.error` prints those lines, but anyway `.none` is fine for me, thanks!

[2021-05-22 06:27] AhmedOS commented on #418
Hi @shalinipk , the crash you are reporting is fixed in v10.5.1, but it isn't related to the crash in this issue.

Hi @rajanbalana , the fix for the crash will be available in the next release on first week of June.

[2021-05-22 13:50] shalinipk commented on #418
Thanks @AhmedOS

 I did try upgrading to 10.5.1 - however that did not resolve the crash :(

[2021-05-26 00:45] marcelofabri opened #421 "Carthage + xcframework"
### Steps to Reproduce the Problem

Open https://raw.githubusercontent.com/Instabug/Instabug-iOS/master/Instabug.json

### Expected Behavior

xcframeworks to be available as supported by [Carthage 0.38.0](https://github.com/Carthage/Carthage/releases/tag/0.38.0)

### Actual Behavior

Only .framework is available

### SDK Version

10.5.2

### iOS Version

All

### Device Model

All

[2021-05-26 16:02] ashiemke opened #422 "Instabug 1.5.x breaks the debugger"
### Steps to Reproduce the Problem

When running debugger in Xcode e.g. `po <some var>` I get this error:
[code]

This happens when using the 1.5.x SDK through cocoa pods. Downgrading to 1.4.4 fixes the issue.

xcode: 12.4
macos: 10.15.7
cocoapods: 1.10.1

Looks like a recurrence of https://github.com/Instabug/Instabug-iOS/issues/368

[2021-05-27 07:43] AhmedOS commented on #418
@shalinipk
We are sorry for the inconvenience. Would you please try the latest release v10.5.2? It has a further fix for that issue.
If the issue remains, please open a new issue with reproduction steps.

[2021-05-27 08:13] yousefhamza commented on #418
Hi @shalinipk,
Can you reproduce this crash locally? If so can you send us a sample project? 🙏

[2021-05-27 08:57] husseinkishk commented on #421
Hi @marcelofabri
We're working on it and you will find the fix in the next release.
I will update you once it's released.

[2021-05-28 08:32] ChadGarrett opened #423 "Starting Instabug in a singleton initialiser"
### Steps to Reproduce the Problem

Initialise Instabug while creating a singleton causes the app to lock up and never start, exiting with the 08xbadf00d error.

### Expected Behavior

Starting Instabug in the initialiser of a singleton during app setup should not cause the app to lock up.

### Actual Behavior

The app fails to startup because the process seems to hang and never complete, causing

[2021-05-28 17:04] kaiengelhardt opened #424 "Feature Request: Add a way to hide a view from Repro steps tab"
Our app has a relatively complex view hierarchy. Some of our views are what we call passthrough views. These are transparent views, which pass on all touches to the views below.

The problem is that this makes the repro steps tab in Instabug less useful, because all taps and swipes are reported to happen in these "passthrough views".

### Steps to Reproduce the Problem
1. Take this view controller

[2021-05-30 10:42] husseinkishk commented on #423
Hi @ChadGarrett
I tried your singleton class and it's working fine in a demo app.
Can you please share with me the demo app you're using to help reproduce the error?

[2021-05-30 14:01] husseinkishk commented on #422
Hi @ashiemke
This is an issue in lldb, which happens sometimes when you are trying to integrate Instabug in a Swift-only project.

A workaround for this issue is to add Objective-C files and a bridging header to your project, like mentioned in this [StackOverflow post](https://stackoverflow.com/questions/54776459/whats-the-solution-for-error-couldnt-irgen-expression-no-additional-error/61824142#61

[2021-06-03 05:25] rajanbalana commented on #418
@yousefhamza Any update on the release for the crash fix?

[2021-06-03 06:04] yousefhamza commented on #418
Hi @rajanbalana, it's happening next week 🙏

[2021-06-03 12:37] Tr736 opened #425 "Memory Leaks and unusual Allocations"
### 10.5.2

### 14.4

### Simulator

Hello,

Weve been using instabug for a while now and in our most recent profiling run have discovered a couple of issues.

1: I would expect a couple of "Memory Leaks" from instabug due to the nature of how it works. However we are currently experiencing a larger then normal amount. see image
<img width="905" alt="Screenshot 2021-06-03 at 13 35 07" src="https:/

[2021-06-03 13:49] ChadGarrett commented on #423
Sorry for the delayed response. This issue only affects us when we make a Production build that is distributed via TestFlight. Testing on the simulator or deploying to devices works fine, so the issue seems to be when the build has debug off and no debugger is attached.

[2021-06-03 17:08] yousefhamza commented on #425
Hi @Tr736

Thanks for the detailed report 🙏

#1 We managed to reproduce this by throwing many _handled_ exceptions, would you say this is also the case in our app?
#2 This looks related but it looks like the problem is compounding, Can you try re-running this crashing scenario with Time Profiler and send us the trace to understand what's happening here.

[2021-06-07 12:06] husseinkishk commented on #423
Hi @ChadGarrett
If "MyAwesomeApp" is a demo app, can you please share it with us, if not please share the stack trace of all threads.

[2021-06-07 12:15] Kmohamed commented on #424
Hi @kaiengelhardt
So sorry for being late. I am interesting to know your use-case. you are you adding this `PassthroughView`?

[2021-06-08 18:40] yousefhamza commented on #425
Hi @Tr736

We are waiting to hear back from you soon 🙏

[2021-06-08 18:42] Tr736 commented on #425
Thanks

Been hit by a cold virus or something but will come back as soon as I’m back at it

[2021-06-08 18:54] yousefhamza commented on #425
We are sorry to hear that! we wish you a speedy recovery 🙏 🙏

[2021-06-10 07:24] ChadGarrett commented on #423
Unfortunately not a demo app, but here is the full stack trace.

[code]

[2021-06-11 12:02] husseinkishk commented on #423
Hi @ChadGarrett
I happen to find you’re initializing Instabug from a background thread, the main thread is waiting on Instabug initialization and Instabug needs to be initialized on the main thread so the deadlock happens. So I believe you should initialize Instabug on the main thread.

[2021-06-11 12:31] pytouzain opened #426 "Crash of the application while having another UIScene opened at the same time"
### Steps to Reproduce the Problem
Having the Carplay App (or maybe just another UIScene) opened at the same time as the App on the phone, open on the phone a view controller that is presented

### Expected Behavior
The view controller is opened without issues

### Actual Behavior
The app crash at the end of the presentation

### Additional Infos
It appears that the swizzling of the method viewDid

[2021-06-11 16:05] husseinkishk commented on #426
Hi @pytouzain
We received this issue, it's fixed and will be included in our next release next week.

[2021-06-13 13:42] #426 closed

[2021-06-13 13:43] yousefhamza commented on #422
@ashiemke
Feel free to open this if you still encounter this issue

[2021-06-13 13:43] #422 closed

[2021-06-13 13:49] yousefhamza commented on #404
@ziadghali2
Feel free to ping us if you still have any problems

[2021-06-13 13:49] #404 closed

[2021-06-13 13:50] yousefhamza commented on #374
@goa we have even more app launch time overhead optimizations coming up, feel free to ping us If you still have any problems with app launch time.

[2021-06-13 13:50] #374 closed

[2021-06-13 13:51] #313 closed

[2021-06-13 13:52] #295 closed

[2021-06-13 13:54] #325 closed

[2021-06-13 13:54] #386 closed

[2021-06-13 13:54] #312 closed

[2021-06-13 13:55] #398 closed

[2021-06-13 13:56] #401 closed

[2021-06-13 15:16] #317 closed

[2021-06-14 08:30] pytouzain commented on #426
Hi @husseinkishk,
Awesome to hear, well play to you and your team ! 😄

[2021-06-14 08:49] rajanbalana commented on #418
Any update on the release?

[2021-06-15 12:56] ChadGarrett commented on #423
@husseinkishk thank you for response. We have solved the issue by moving Instabug initializing out of the constructor of the singleton. It seemed to occur even if we ran `_ = InstabugLogger.shared` on the main thread which _should_ run the setup func on the main thread, but I guess that isn't always the case. Thank you for looking into this.

[2021-06-15 12:56] #423 closed

[2021-06-17 08:09] yousefhamza commented on #421
Starting 10.7.1 Carthage is available as xcframework 🙏

[2021-06-17 08:09] #421 closed

[2021-06-18 07:02] rajanbalana commented on #418
@yousefhamza Can you please share an update on this issue?

[2021-06-18 07:18] yousefhamza commented on #418
@rajanbalana thank you for your patience, we will release a fix for this next Monday 👍

[2021-06-21 12:13] yousefhamza commented on #418
Fix released in 10.7.2 🎉

@rajanbalana thanks for the report and your patience 🙏

[2021-06-21 12:13] #418 closed

[2021-06-21 17:12] hingarn opened #427 "'... all-product-headers.yaml' not found, breaks the debugger"
### Steps to Reproduce the Problem
Happens after every app launch (looks similar to https://github.com/Instabug/Instabug-iOS/issues/368)

### Expected Behavior
Typing `po variableName` in the Xcode console would output debug information

### Actual Behavior
[code]

### Instabug integration code
[code]

### SDK Version
Any version greater than 10.5.2 (works as expected on 10.5.2)

### iOS Version
1

[2021-06-22 09:18] husseinkishk commented on #427
@hingarn
This is an issue in lldb, which happens sometimes when you are trying to integrate Instabug in a Swift-only project.

A workaround for this issue is to add Objective-C files and a bridging header to your project, like mentioned in this [StackOverflow post](https://stackoverflow.com/questions/54776459/whats-the-solution-for-error-couldnt-irgen-expression-no-additional-error/61824142#618241

[2021-06-22 16:19] #356 closed

[2021-06-22 18:50] hingarn commented on #427
Thank you, @husseinkishk, can confirm that adding a bridging header works.

[2021-06-23 09:13] #427 closed

[2021-07-01 09:55] florentilroxxe opened #428 "Instabug 10.7.1+ provokes debugger warning"
Hello,

We updated our Instabug pod recently from 10.7.0 to 10.7.1 (problem has also been noticed on 10.7.4). As soon as we updated our debugger started to print the warning you can read below. Any idea as to what might has caused this?

### Steps to Reproduce the Problem

pod install Instabug 10.7.1+ (10.7.0 and below were fine)
Try to use debugger po command on any object in our project

### Exp

[2021-07-06 07:19] andresinaka commented on #428
I'm experimenting the same problem. I had to downgrade to `10.5.2` and everything is back to normal.

[2021-07-06 10:46] husseinkishk commented on #428
Hi @florentilroxxe, @andresinaka
This is an issue in lldb, which happens sometimes when you are trying to integrate Instabug in a Swift-only project.

A workaround for this issue is to add Objective-C files and a bridging header to your project, like mentioned in this [StackOverflow post](https://stackoverflow.com/questions/54776459/whats-the-solution-for-error-couldnt-irgen-expression-no-addition

[2021-07-06 16:00] hassaanelgarem commented on #428
@florentilroxxe We think this could be caused by the xcode version we use for generating the binary. We created the following custom build using a newer xcode version:
`pod 'Instabug', :podspec => 'https://ios-releases.instabug.com/custom/fix-bump-xcode/Instabug.podspec'`

@andresinaka You can find the same custom build for SPM on the following branch: `fix/bump-xcode`

Can you guys try this and l

[2021-07-07 07:46] andresinaka commented on #428
@hassaanelgarem I just tested the branch `fix/bump-xcode` on my project and I still have the same issue.

<img width="283" alt="bild" src="https://user-images.githubusercontent.com/1957233/124718791-c0a88700-df06-11eb-9c7d-9ea18d755e60.png">

[code]

As soon as I go back to `10.5.2` the problem gets fixed and the debugger goes back to life.

[2021-07-08 09:46] hassaanelgarem commented on #428
@andresinaka That's unfortunate to hear. I just pushed a new build on branch `downgrade-xcode`. This build is generated using the same xcode version that `10.5.2` was generated with.

It would be great if you can give this one a try as well 🙏

[2021-07-08 12:22] andresinaka commented on #428
@hassaanelgarem good news!!!! The `downgrade-xcode` branch is working just fine 😄 🎉 🎉 🎉

<img width="302" alt="bild" src="https://user-images.githubusercontent.com/1957233/124920288-781cc680-dff7-11eb-86d8-efbf5dba0ff8.png">

how/where do I request my "I helped Instabug" t-shirt???? 🤣 🤣

[2021-07-08 17:22] adamdahan opened #429 "Adding attachments do not work."
### Steps to Reproduce the Problem

Extra attachments do not work:
[code]

### Expected Behavior

that a file get's attached when
[code]

### Actual Behavior

Nothing happens - no attachments.

### Instabug integration code

[code]

### SDK Version
  pod 'Instabug', '~> 10.7.4'

### iOS Version
14.6

### Device Model
iPhone XS MAx

### [Optional] Project That Reproduces the Issue

[2021-07-08 17:27] hassaanelgarem commented on #429
@adamdahan Hey Adam, sorry to hear that!

Can you please enable verbose logs and reproduce the issue then send us all the logs in a text file? 🙏

You can enable verbose logs by doing this:
`Instabug.sdkDebugLogsLevel = .verbose`

[2021-07-08 17:37] adamdahan commented on #429
These are the only parts of the log related to the issue:
[code]

[2021-07-08 17:38] adamdahan commented on #429
it's trying to attach a file from
[code]
and it says that
[code]

[2021-07-08 17:38] adamdahan commented on #429
But when I show the bug reporter - I don't see the file attachment?

[2021-07-08 17:39] adamdahan commented on #429
omg im dumb! it appears inside the dashboard. Nvm closing issue thank you 🚀

[2021-07-08 17:39] #429 closed

[2021-07-08 22:40] hassaanelgarem commented on #429
@adamdahan Don't worry about it! Feel free to reach out if you face anymore issues 👍

[2021-07-11 12:27] imokhtar opened #431 "Multiple Crashes in +[NSKeyedArchiver+ 570752 (IBGHelpers) ibg_archivedDataWithRootObject:requiringSecureCoding:error:] + 96"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
        Instabug.start(withToken: AbjUtilities.instabugAppToken(), invocationEvents: .shake)
        Instabug.setLocale(.arabic)
        Instabug.reproStepsMode = .enable
        Instabug.welcomeMessageMode = .disabled
        Instabug.sdkDebugLogsLevel = .none
        BugReporting.promptO

[2021-07-11 13:25] hassaanelgarem commented on #431
@imokhtar Can you provide us with the whole stack trace please? 🙏

[2021-07-11 13:31] imokhtar commented on #431
@hassaanelgarem HYG
`Thread 8 name:
Thread 8 Crashed:
0   CoreFoundation                	0x00000001ab01dea4 __CFBasicHashRehash + 104 (CFBasicHash.c:0)
1   CoreFoundation                	0x00000001ab01df0c __CFBasicHashRehash + 208 (CFBasicHash.c:284)
2   CoreFoundation                	0x00000001ab01fb4c __CFBasicHashAddValue + 104 (CFBasicHash.c:1260)
3   CoreFoundation                	0x00000001

[2021-07-12 10:11] hassaanelgarem commented on #431
@imokhtar Thanks you 🙏
Do you happen to use the `reportException` API?
We suspect that this is due to a memory leak that was fixed in version `10.7.3`, can you give it a try and let us know?

[2021-07-12 10:23] imokhtar commented on #431
Thanks, @hassaanelgarem. Yes, I use `reportException` API. I already updated the SDK and released a new version I will keep you updated with the results.

[2021-07-12 10:25] hassaanelgarem commented on #431
Okay great!

[2021-07-12 18:10] hardeverick opened #432 "Undefined symbol: _OBJC_CLASS_$_IBGCrashReporting"
### Steps to Reproduce the Problem

Include Instabug as a cocoapod

### Expected Behavior

Compile for simulator on an Intel Mac

### Actual Behavior

Compiling for simulator yields the following error:

[code]

### Instabug integration code

Used cocoapods

### SDK Version

Instabug 10.7.4
Xcode 12.4

### iOS Version
14.4

### Device Model
iOS Simulator 14.4

### Comments

I've seen other people

[2021-07-12 18:26] ahmedsalah196 commented on #432
What version of cocoapods are you using?
Can you make sure it’s >= 1.10 if that’s not the case

[2021-07-12 18:26] tbajis commented on #428
@hassaanelgarem I'm experiencing the same issue with versions `10.7.1+` (I'm currently using `10.7.2`).

I can confirm that this is not an issue for version `10.7.0` as I tested downgrading. However, I was using `10.7.2` to because of  a [crash fix](https://github.com/Instabug/Instabug-iOS/issues/418#issuecomment-863817557) that it brings in. Is there a recommended solution for this issue that doe

[2021-07-12 19:14] hardeverick commented on #432
Cocoapod v1.10.1

[2021-07-12 20:09] ahmedsalah196 commented on #432
May you send a sample project?

[2021-07-12 20:38] hardeverick commented on #432
I haven't been able to reproduce the issue in a clean sample project and I'm not able to share the original project. But I can share the build settings which is where I think the problem is.

[buildSettings.txt](https://github.com/Instabug/Instabug-iOS/files/6804237/buildSettings.txt)

Thanks for your help

[2021-07-12 23:04] hardeverick commented on #432
I've further narrowed down the issue to an invalid path being added to the final `clang` command. If you see in the command below the path **-FPods/Instabug/Instabug.xcframework/ios-arm64_armv7** is being added even though this is a simulator build. I'm not sure what setting is causing this path to be added.

[2021-07-13 00:14] hingarn commented on #428
@husseinkishk I am experiencing the same issue. StackOverflow post does not resolve the problem (the post did resolve https://github.com/Instabug/Instabug-iOS/issues/427).

[2021-07-13 14:56] hassaanelgarem commented on #428
@florentilroxxe @andresinaka @tbajis @hingarn This issue has been resolved in the latest release `10.7.5`, so sorry for the inconvenience 🙏

[2021-07-13 14:57] #428 closed

[2021-07-13 15:21] ahmedsalah196 commented on #432
It’s showing it’s building for real device not simulator here `EFFECTIVE_PLATFORM_NAME = -iphoneos`

[2021-07-13 15:37] hardeverick commented on #432
@ahmedsalah196 that might've been because I got the settings from the command line and it defaulted to that.

We figured out the setting that was causing the issue. The framework search path had a recursive entry that was causing all subdirectories to be included, even the `arm64` one which was not needed. The error message didn't help to pinpoint the issue. Thanks for your help.

[2021-07-13 15:37] #432 closed

[2021-07-14 12:24] andresinaka commented on #428
Confirming `10.7.5` works like a charm! 🎈🎈🎈🎈🎈

[2021-07-22 06:56] KacperCzapp opened #433 "Deprecated NSKeyedUnarchiveFromData warning"
### Steps to Reproduce the Problem
* Set up an app
* Call `Instabug.start(withToken: [TOKEN], invocationEvents: .none)` in `AppDelegate.didFinishLaunching`
* In debugger console there are multiple messages:
[code]

Set a symbolic breakpoint at:
[code]

When breakpoint is caught the stack trace is:
[code]
### Expected Behavior
No warnings are shown.

### SDK Version
10.7.5

### iOS Version
14.5

##

[2021-07-25 10:52] Shahzaib31 opened #434 "Unable to log network calls in loop using AFNetworking"
I am getting the data from multiple calls inside the loop using AFNetworking. Instabug is not able to log the calls and app crashes.
I am getting `Request timeout Error: Error Domain=NSURLErrorDomain Code=-1001`.

**SDK Version**

10.7.5

**iOS Version**

14.5

**Device Model**

any

[2021-07-25 15:06] ahmedsalah196 commented on #434
Can you please upload the crash stack trace?

[2021-08-03 13:59] tarunj370 commented on #322
Hi @yousefhamza, could you please explain what did you do to fix this issue as i am also facing this issue for my framework. Thanks in advance.

[2021-08-03 16:23] yousefhamza commented on #322
The fix was changing the Xcode version we were using to build the SDK from 10.0.2 to 9.3.1, we are using version 12.3 now because 12.5 used to cause other issues with the debugger e.g. https://github.com/Instabug/Instabug-iOS/issues/422

[2021-08-03 19:39] ahmedsalah196 commented on #434
@Shahzaib31 Can you provide the crash stack trace?

[2021-08-03 19:41] ahmedsalah196 commented on #434
@Shahzaib31 We didn't hear back from you in a while, we would love to help you further and we will need the stacktrace for that.

[2021-08-04 05:34] tarunj370 commented on #322
Thanks @yousefhamza, I'll also try downgrading xcode version.

[2021-08-13 03:38] hassaanelgarem commented on #431
Closing this due to inactivity. Feel free to reopen it if you're still facing this issue on the latest version 👍

[2021-08-13 03:38] #431 closed

[2021-08-15 18:03] ahmedsalah196 commented on #434
@Shahzaib31 I am closing this issue due to inactivity.

[2021-08-15 18:03] #434 closed

[2021-08-15 18:13] ahmedsalah196 commented on #425
Hi @Tr736

It's been a long time since we've heard from you. Hope you're in good health now 🙏
We'd like to follow up with you on this issue. Does it persist after updating?

[2021-08-30 18:29] tinder-owenthomas commented on #427
@husseinkishk Adding objective C to our targets is not a great work around as it increases build times/complexity. We are actively attempting to remove Objc from all of our targets so we won't be able to use this work around. We've found that pinning Instabug at 10.5.2 "solves" the issue, so it seems something has changed in Instabug after that which causes this issue. Is there any chance we can t

[2021-08-30 20:31] yousefhamza commented on #427
@tinder-owenthomas which Instabug version you are using now?

It looks like this issue was related to us using Xcode 12.5 to build the SDK but then we reverted back and users have reported the problem solved, so if you are not using the latest, please do, and let us know if you still have any problems.

[2021-09-15 11:17] bvanderdrift commented on #106
This issue popped up as the only issue on top of my Google search when searching for `Unable to install vendored xcframework 'Instabug' for Pod 'instabug-reactnative', because it contains both static and dynamic frameworks` which happened after `pod install` after my build process had given me a `framework not found Instabug`.

The solution for me was to upgrade the `instabug-reactnative` npm pack

[2021-09-27 20:40] paulomendes commented on #425
Hey Folks. I just ran into an issue similar to @Tr736 . When using `InstabugSDK` we got unusual memory allocations, but couldn't manage to get it dsymbolized. When I removed the `InstabugSDK` those memory spikes just disappeared. The packages are similar to the ones shared by @Tr736 but in version `10.9.2` The responsible library for the allocations is displaying `CFNetwork`, which does not seem r

[2021-09-28 20:46] yousefhamza commented on #425
Hi @paulomendes

The original memory leaks reported weren't related to `CFNetwork`, we would love to help you with this, we will need you to provide us with a scenario that triggers these issues, and/or a screenshot of those spikes (like in the original report) 🙏

[2021-10-20 18:52] #416 closed

[2021-10-20 18:52] #424 closed

[2021-10-20 18:52] #433 closed

[2021-10-21 18:00] Anhtastic opened #437 "Xcode 13 Instabug navigation bar has white background in dark mode."
Please see the image attached. This is an issue with Xcode 13. It appears Apple has changed the way navigation bar works and it's forcing the background color to be set, otherwise it looks like the image below.

![2021102003322915394050](https://user-images.githubusercontent.com/4810274/138331996-af4e4a92-d4c3-4106-ab7f-7ed245e0c7a1.jpg)
.

[2021-10-22 13:58] datoutwo opened #438 "Multiple crashes in IBGPLCrashReporter enableCrashReporterAndReturnError randomly"
### Steps to Reproduce the Problem

### Expected Behavior

### Actual Behavior

### Instabug integration code
[code]

### SDK Version
v10.9.3

### iOS Version
up to 14.5

### Device Model
Any

### [Optional] Project That Reproduces the Issue

[code]

[code]

[2021-10-29 06:41] zhouhao27 opened #439 "Memory leak in iOS InstaBug sdk"
### Steps to Reproduce the Problem

- Init instabug in AppDelegate
- Run the app
- Run instrument

### Expected Behavior

No memory leak

### Actual Behavior

Some memory leaks detected.

<img width="893" alt="Screenshot 2021-10-29 at 2 39 52 PM" src="https://user-images.githubusercontent.com/8099731/139387846-202c35c1-91c9-4239-b4e3-9fd5b4d2f4dc.png">

### Instabug integration code
*Make sure to

[2021-11-01 01:13] zhouhao27 commented on #439
@yousefhamza Thanks. Understand.

[2021-11-04 16:32] Anhtastic commented on #437
Sorry, I've been busy working on a project. I'll try to work on this next week. Thanks.

[2021-11-04 22:42] HassanElDesouky commented on #437
Sure, take your time! :)

[2021-11-05 19:36] #438 closed

[2021-11-07 18:44] henawey-t commented on #185
I'm facing this issue again, with NewRelic and I just did a workaround as here: https://discuss.newrelic.com/t/new-relic-conflicts-with-aspects-library-detected-an-unrecognized-selector/35759/3 and it did work. however, they mentioned the author of the library should fix it.
I'm using 10.10.0 with iOS 11 as deployment target

[2021-11-07 18:51] henawey-t opened #440 "Crash on Swizzling on 10.10.0"
### Steps to Reproduce the Problem
Just run the app with Instabug 10.10.0 and NewRelicAgent 6.11.0
### Expected Behavior
Works as expected
### Actual Behavior
Crash on
[code]

### Instabug integration code
[code]

### SDK Version
1.10.10
### iOS Version
iOS 15.1
### Device Model
iPhone x
### [Optional] Project That Reproduces the Issue

When we called `disableMethodSwizzling()` it did works fine h

[2021-11-08 08:46] HassanElDesouky commented on #440
Hi @henawey-t! Thank you for taking the time to report this. We have a fix for that and it’ll be released soon.

[2021-11-08 09:53] henawey-t commented on #440
Great, happy to hear. please let me know once it fixed so we can update the version pn our side

[2021-11-08 19:50] Anhtastic commented on #437
@HassanElDesouky In order for me to create a sample app, I need an app token. Can you provide one for me or should I create a free 14 days free trial for this token? Thanks.

Anh.

[2021-11-08 20:16] Anhtastic commented on #437
Hello @HassanElDesouky , link to the example app https://drive.google.com/drive/folders/1-VDAqrO7WcBiEEJfTUpU2dbIH_6BU9Qe?usp=sharing

 Specifically this part of the code is the cause of the issue:

`let appearance = UINavigationBarAppearance()`
`appearance.configureWithOpaqueBackground()`
`UINavigationBar.appearance().standardAppearance = appearance`
`UINavigationBar.appearance().scrollEdgeAppear

[2021-11-09 08:25] HassanElDesouky commented on #440
@henawey-t Sure! We will let you know.

[2021-11-09 08:26] HassanElDesouky commented on #437
@Anhtastic Thank you so much for your help! I'm investigating this and will come back to you as soon as possible.

[2021-11-09 19:54] meetmandar opened #441 "Attachments options is not shown with V 10.10.0"
BugReporting.enabledAttachmentTypes = [.galleryImage, .extraScreenShot, .screenRecording]
 BugReporting.invocationEvents = [.none]
 BugReporting.show(with: .feedback, options: [.commentFieldRequired])

With latest version attachment option is missing.
![Uploading MicrosoftTeams-image (2).png…]()

[2021-11-10 14:38] HassanElDesouky commented on #437
@Anhtastic Here's the custom build. Please, let me know how it goes. :) https://drive.google.com/file/d/18STF6-8UfMRjdrX3c0sXKvOiIvXA188e/view?usp=sharing

[2021-11-10 15:05] HassanElDesouky commented on #441
Hi @meetmandar! I tried to use the integration code you provided and it looks normal at my end. Can you please clarify more what the issue exactly?

[2021-11-10 19:09] Anhtastic commented on #437
Hi @HassanElDesouky ,

I've tested with our app and it works great. Thank you sir!

Anh.

[2021-11-10 19:11] HassanElDesouky commented on #437
Glad that it worked! Thank you so much for your help @Anhtastic.

[2021-11-10 19:11] #437 closed

[2021-11-18 20:57] nab0y4enko commented on #439
@yousefhamza I join to this request
In our company, we adhere to the highest standards of code quality and the only Memory Leak happens to your SDK. SDK for track errors, crashes and leaks as well 🤨
Could you pls reopen this issue?

[2021-11-21 08:31] HeshamMegid commented on #439
@nab0y4enko this issue was automatically closed since it had no activity but we've been actively working on a fixing it. We will be releasing a fix very soon.

[2021-11-21 10:25] nab0y4enko commented on #439
Cool! Thanks, @HeshamMegid

[2021-11-23 03:45] haozhutw opened #445 "Crash happens due to IBGSurveyCache"
### Steps to Reproduce the Problem

No steps, this issue is reported by Firebase

### Expected Behavior

should not crash

### Actual Behavior

app crashes

### SDK Version
https://github.com/Instabug/Instabug-React-Native#snapshot-ios/10.9.2-INSD-5983

### React Native, iOS and Android Versions
React Native: 0.61.5
iOS: 11 and above
Android: 5.0 and above

### Device Model
This crash happens on i

[2021-11-24 19:18] #441 closed

[2021-12-01 03:07] haozhutw opened #442 "iOS crash on IBGAppVersionFirstSeenManager.m line 65"
### SDK Version
https://github.com/Instabug/Instabug-React-Native#snapshot-ios/10.9.2-INSD-5983

### React Native, iOS and Android Versions
React Native: 0.61.5
iOS: 11 and above
Android: 5.0 and above

### Device Model
iPhoneX iOS 14.8.0

### Crash log
[code]

[2021-12-01 03:11] haozhutw opened #446 "iOS crash on IBGBatchDelete.m line 42"
### SDK Version
https://github.com/Instabug/Instabug-React-Native#snapshot-ios/10.9.2-INSD-5983

### React Native, iOS and Android Versions
React Native: 0.61.5
iOS: 11 and above
Android: 5.0 and above

### Device Model
iPhone 11 Pro with iOS 14.7.1

### Crash logs
[code]

[2021-12-09 10:05] hassaanelgarem commented on #439
@zhouhao27 @nab0y4enko This issue has been fixed in 10.11.0. Sorry for the inconvenience.
I'll close this, but feel free to reopen it if you still encounter this issue 👍

[2021-12-09 10:05] #439 closed

[2021-12-09 19:11] BrentMifsud commented on #439
Was this memory leak related to network logging?

I have noticed that we are also seeing memory leaks when we use the Instabug network logger.

[2021-12-09 19:40] BrentMifsud opened #443 "Seeing a lot of API MISUSE messages in the console while running instabug network logging"
### Steps to Reproduce the Problem
Enabled instabug network logging

### Expected Behavior
Should not be seeing console log messages

### Actual Behavior
[code]

### Instabug integration code
[code]

[code]

### SDK Version
10.11.0
### iOS Version
15.1
### Device Model
iPad
### [Optional] Project That Reproduces the Issue

[2021-12-10 11:16] hassaanelgarem commented on #439
@BrentMifsud It could be related if you have APM enabled. If not then it's probably a different issue.
Please update to 10.11.0 and if you're still seeing memory leaks then open a new issue and attach with it the memory leaks you're encountering.

[2021-12-10 11:18] hassaanelgarem commented on #443
We're looking into this.
Can I ask if the redirected requests are failing or passing?

[2021-12-10 17:56] BrentMifsud commented on #443
the redirects are going through.

But I did notice that while network logging is enabled, there seems to be a slight memory leak (about ~2 megabytes per hour).

Our app is an iPad kiosk that needs to run for long periods of time. And this was causing the app to kill itself after a week or so of runtime.

[2021-12-10 22:20] hassaanelgarem commented on #443
Can you export the instruments trace and send it please? Or if not possible a screenshot of the leak could also be useful.

[2021-12-11 08:46] BrentMifsud commented on #443
Yea I can send one over. Id prefer not to post it publicly here though. Is there an email I can forward it to or give you an iCloud link or something?

Here are some screenshots in the meantime:
<img width="1728" alt="Screen Shot 2021-12-11 at 2 56 58 AM" src="https://user-images.githubusercontent.com/18543934/145670464-be5daa8a-836f-465e-96f0-acc6ef6d45bd.png">
<img width="1728" alt="Screen Shot

[2021-12-11 10:11] BrentMifsud commented on #443
@hassaanelgarem sent you a copy of the trace to the email you have on your GitHub profile.

[2021-12-11 20:27] jafri opened #444 "Add target x86_64-apple-ios13.0-macabi (Mac Catalyst)"
arch: x86_64
target: x86_64-apple-ios13.0-macabi

Please add the "x86_64-apple-ios13.0-macabi" target to the list of available targets, which would enable Mac Catalyst support.

[2021-12-12 17:36] ahmedsalah196 commented on #444
Hello @jafri
Thank you for taking the time to send this but unfortunately supporting Mac Catalyst would require much more than that, we don't officially support Mac Catalyst right now, will keep you updated if we have any updates

[2021-12-13 08:58] #444 closed

[2021-12-14 10:26] hassaanelgarem commented on #443
@BrentMifsud Thank you! We'll take a look and get back to you soon.

[2021-12-22 03:37] BrentMifsud commented on #443
Great! thanks for looking into this.

[2021-12-22 12:24] yousefhamza commented on #442
This crash should be fixed on the latest version 👍

[2021-12-22 12:24] #442 closed

[2021-12-26 12:30] husseinkishk commented on #445
Hi @haozhutw, Please reach out to us at support@instabug.com as we need more confidential info that can't be shared here.

[2021-12-27 10:57] ahmedsalah196 commented on #440
Hello @henawey-t,
Sorry that it took us this long to get back to you.
Anyway, the good news is that the fix is now released and you shouldn't be facing this issue any longer on the latest version.
I'll be closing this issue but please feel free to reopen it if the issue persists. Your feedback is really valuable for us

[2021-12-27 10:57] #440 closed

[2021-12-29 12:23] husseinkishk commented on #443
Hi @BrentMifsud, Would you please Set this block `-[IBGNetworkLogger setTaskWillPerformHTTPRedirectionBlock:]` if your app attempting to perform a redirection to a different URL and you have network logging enabled.
Regrading the memory leaks, We're still looking into it but could you please reproduce the leaks **after passing your completionHandler to our API** and send us the memory graph of the

[2021-12-29 18:43] BrentMifsud commented on #443
Currently trying to figure out how to export the memory graph for you.

But just an FYI. By adding that completion handler you mentioned above, the memory leak is now gone.

[2021-12-30 12:05] husseinkishk commented on #443
@BrentMifsud I've the one you shared before to my colleague. Thank you.

[2022-01-04 11:27] #446 closed

[2022-01-04 11:29] AliAbdelfattah commented on #446
Fix shipped in the latest RN release.

[2022-01-10 17:19] BrentMifsud commented on #443
Bumping this to keep it open.

[2022-01-19 09:47] ahmedsalah196 commented on #443
@BrentMifsud I'm glad to inform you that this issue should be fixed on the latest version 10.11.4. I'd really like to thank you for opening this ticket which helped in increasing our SDK quality 🎉
I am closing this issue but feel free to reopen it if the issue persists 🙏

[2022-01-19 09:47] #443 closed

[2022-02-07 14:45] zalogatomek opened #447 "Instabug replaces LaunchScreen"
### Steps to Reproduce the Problem
1. Launch app
2. Move app to background
3. Kill app and launch again
4. On a Launch screen, on a notched iPhone, swipe slightly home indicator (so the app is inactive for a moment)

For easier reproduction, you can add `sleep(5)` in `application: didFinishLaunchingWithOptions:` AppDeleagte's method, so the launch is long enough.

Please note, that the above steps

[2022-02-08 20:01] ahmedsalah196 commented on #447
@zalogatomek I was able to reproduce the issue using another app as using the sample app provided wasn't reproducing it on iPhone 11 & 12.

The point is that the issue is reproducible by enabling or disabling Instabug. So, I don't believe Instabug is the root cause for this issue

[2022-02-09 07:56] zalogatomek commented on #447
@ahmedsalah196 Thank you for verifying this.
As I wrote In the report - integration with the Instabug framework was not required. It was enough to just add the framework to a project to make the issue reproducible.

Is there any chance that some code is run automatically regardless of whether Instabug is enabled or not? (for example by using `load` from Obj-C)

[2022-02-11 14:33] ahmedsalah196 commented on #447
@zalogatomek Yes, we use the `load` but it's only 1 line of code that we don't think it'll be causing this issue.

[2022-02-25 15:50] #447 closed

[2022-03-08 12:20] Mohsenkhodadadzadehthelist opened #448 "App is crashed by InstabugAPM/APMPersistenceManager.swift:413"
### Steps to Reproduce the Problem
the crash was reported by firebase crashlytics , what should I do?
the log is :
[code]

### SDK Version
10.1

### iOS Version
15.1

### Device Model
iPhone XS Max

[2022-03-09 19:22] AhmedOS commented on #448
Hi @Mohsenkhodadadzadehthelist,
This issue has been resolved on the latest version.

[2022-03-09 19:22] #448 closed

[2022-03-15 12:41] AndriiHanets opened #449 "Version 10.4.4 crash"
### Steps to Reproduce the Problem
App is crashed after calling `Instabug.start(withToken: <...>, invocationEvents: [.shake])`
App was in release for a while and worked fine. Crash stared today. No updates were added.
### Expected Behavior
App is not crashed
### Actual Behavior
App is crashed
### Instabug integration code
[code]

### SDK Version
10.4.4
### iOS Version
All
### Device Model
All

[2022-03-15 12:46] somsin commented on #449
yes we are facing same issue , our badly impacting

[2022-03-15 12:48] AndriiHanets commented on #449
Same, app is live and thousands of people having issue

[2022-03-15 12:49] HeshamMegid commented on #449
The issue has been fixed from our side. It may take a few minutes for the configuration that caused this to propagate. There’s no action needed from your side.

[2022-03-15 12:52] yousefhamza commented on #449
@AndriiHanets @dltmd6262 @somsin @AndriiHanets
The issue should be resolved now

[2022-03-15 12:55] AndriiHanets commented on #449
@yousefhamza I confirm the problem is solved. Thanks for the quick reply.

[2022-03-15 13:21] yousefhamza commented on #449
Thank you for the confirmation 🙏

[2022-03-15 13:21] #449 closed

[2022-03-15 13:26] IlliaDenysov opened #450 "Crash 8.7.3"
We have a lot of crashes from customer today.

[code]

[2022-03-15 13:29] somsin commented on #449
thanks for the confirmation

[2022-03-15 13:30] IlliaDenysov commented on #450
But we still have this issue... @yousefhamza

[2022-03-15 13:34] yousefhamza commented on #450
@IlliaDenysov can you communicate with us over intercome to share your app name and token to double-check 🙏

The issue should have been resolved ~40m ago

[2022-03-15 13:34] IlliaDenysov commented on #450
sure

[2022-03-15 13:37] yousefhamza commented on #450
@powtac we understand how critical this is and it has our full attention, please reach out to customer happiness on Intercom so we can serve you better 🙏

[2022-03-15 13:41] powtac commented on #450
@yousefhamza Where do I find the Intercom Chat on your website?

[2022-03-15 13:42] AA-Ayman commented on #450
@powtac @IlliaDenysov
Can you please reach out to us on the email at contactus@instabug.com?
Yes, you can find the intercom, on the chat on our website.

[2022-03-16 01:24] bsachettatm commented on #450
We're seeing this crash in our app as well. I sent an email to the address listed above for help. Thanks.

[2022-03-23 07:56] yousefhamza commented on #445
This should be fixed on latest release, please ping us if you still experience this crash.

[2022-03-23 07:56] #445 closed

[2022-04-01 00:41] Vidyaranigrao opened #451 "Cocoapod install not adding header files"
Hi Team,

I was trying to update Instabug version from 8.7.3 to the latest and I am having some issues with that.
I tried with `pod 'Instabug', '10.13.0'` and it's giving me below error -
[code]
I also tried with `pod 'Instabug', :git => 'https://github.com/Instabug/Instabug-iOS.git'`. In this case installation was successful but it didn't generate any header files and also the target for Instabug

[2022-04-01 20:39] husseinkishk commented on #451
Hi @Vidyaranigrao, Thanks for sharing this. I've tried installing our latest sdk after running `pod update` and it's working fine. Can you please clean your pods folder, make sure you have a stable connection (try using a vpn) and if the problem persists would you please reach out to us at support@instabug.com to schedule a debugging call.

[2022-04-04 23:25] dweekly commented on #427
It looks like this issue is happening with XCode 13.3 and Instabug 10.13.0, just ran into this. I'll try the workaround.

error: virtual filesystem overlay file '/Users/distiller/Library/Developer/Xcode/DerivedData/Instabug-cvgnxykmqaptlvcvhwtspqfbequo/Build/Intermediates.noindex/ArchiveIntermediates/InstabugDynamic/IntermediateBuildFilesPath/Instabug.build/Release-iphoneos/InstabugDynamic.build/a

[2022-04-04 23:53] hingarn commented on #427
Yes, seeing this issue again as well with XCode 13.3 and Instabug 10.13.0.

[2022-04-07 10:01] husseinkishk commented on #427
Sorry for seeing this again. The problem A release is coming up very soon to fix this.

[2022-04-10 10:09] husseinkishk commented on #427
Please find the fix in Instabug v10.13.1
Thank you for your patience.

[2022-04-15 23:32] #451 closed

[2022-04-25 09:29] cloverlai commented on #331
Hello, I'm trying to use NetworkLogger with ktor iOS   but can't find any reference. Have you finished it @francos ?

[2022-05-05 12:20] goa opened #452 "Improve Instabug 9.1.x - We still require support for iOS 9"
### Steps to Reproduce the Problem
Use Instabug 9.1.7 (the latest version to support iOS 9) in an iOS project.

### Expected Behavior
We need:
1. Instabug to support iOS 9.
2. Instabug to support Apple M1.
3. Instabug warnings on newer Xcode versions to be fixed.

The last Instabug version to support iOS 9 was 9.1.7 and that does not support Apple M1.
We also assume it is being phased out and won'

[2022-05-05 14:18] abdullahsalah96 commented on #452
Hello @goa,

Thank you for sharing this with us, can you please elaborate more about what you mean by

I have tried integrating Instabug `9.1.7` to a project using an M1 Mac and it builds successfully.

If you're facing an error like this `projectName.xcodeproj The linked framework 'Pods_projectName.framework' is missing one or more architectures required by this target: arm64.`, Try any of these

[2022-05-19 22:30] #452 closed

[2022-06-06 18:41] mohadel92 opened #453 "Rejection after Appstore submission"
After using of instabug package in my app
apple has refused my app twice
[code]
### SDK Version
latest

### Flutter, iOS and Android Versions
iOS 15 flutter 2.5.1

[2022-06-07 09:56] mohadel92 commented on #453
@AliAbdelfattah  its this issue closed?

[2022-06-07 09:59] HassanElDesouky commented on #453
Hi @mohadel92,

The rejection happened because screenshot invocation wasn't meant to be used on production builds I.e. (App Store). Therefore, please note that enabling this invocation event may get your app to be rejected from the store. [For more information check out this warning on our docs](https://docs.instabug.com/docs/ios-invocation#invocation-events).

[2022-06-09 22:37] mohadel92 commented on #453
Then how to prevent this behavior

[2022-06-10 07:51] davidblazek opened #454 "NetworkLogger breaks client certificate authorization"
### Steps to Reproduce the Problem
We're using a client certificate to authorize API calls. Using Alamofire session to provide client certificate in Alamofire SessionDelegate method like this works fine:
[code]
Using `NetworkLogger.enableLogging(for: configuration)` breaks the delegate method above (method is not called). We've found in other related issues that this is a known behaviour and we sh

[2022-06-10 09:47] ahmedsalah196 commented on #453
Hello @mohadel92,
You need to remove the screenshot from Instabug's invocation events when releasing

[2022-06-13 09:52] ahmedsalah196 commented on #453
@mohadel92
A sample of what you need to do, would be something like this
`if (kReleaseMode) {
      Instabug.start('TOKEN', [InvocationEvent.shake]);
    } else {
      Instabug.start('TOKEN', [InvocationEvent.screenshot, InvocationEvent.shake]);
    }`

Please feel free to reopen the ticket if the issue persists.

[2022-06-13 09:52] #453 closed

[2022-06-13 12:04] yousefhamza commented on #453
We are very sorry to hear that, but we are still very excited to help you with any integration issues, please do not hesitate to get in contact with us.

[2022-06-13 12:43] mohadel92 commented on #453
His attitude is not accepted , we have discarded the usage of instabug due to lack of support
Thanks we don't feel interested with such poorly supported plug-in

[2022-06-14 08:44] Mohsenkhodadadzadehthelist opened #455 "App crashes PLCrashMachExceptionServer.m line 683"
Hi,
we got a crash with the instabug SDK on our live version

(it seems the app crashed on PLCrashMachExceptionServer.m:683)

### CrashLytics detail:
[code]

### SDK Version
'Instabug', '10.11.8'

### Device Info
Device Model:iPhone XS Max
Orientation: Face Up
RAM free: 118.95 MB
Disk free: 138.15 GB
Operating system Version: 15.5.0
Orientation: Portrait
Jailbroken:No

[2022-06-15 07:30] davidblazek commented on #454
Hi @ahmedsalah196 ,
I followed your advice and it actually helped, removing `setCanAuthenticateAgainstProtectionSpaceHandler` causes that `SessionDelegate` is called properly.

I also tried to isolate the issue as much as possible and I found out that initializing the logger directly with default URLSessionConfiguration like this `NetworkLogger.enableLogging(for: URLSessionConfiguration.default)`

[2022-06-15 09:00] HassanElDesouky commented on #455
Hi @Mohsenkhodadadzadehthelist,

It’s not the thread responsible for the crash as it’s not marked as crashed thread. This thread is always running to listen for any crash.

[2022-06-15 14:41] ahmedsalah196 commented on #454
@davidblazek Glad that the initial issue has been resolved and we'd love to assist you more with any other issues that you're facing

[2022-06-16 06:37] Mohsenkhodadadzadehthelist commented on #455
Hi @HassanElDesouky, I got it, I had to check the other threads, thanks.

[2022-06-16 06:37] #455 closed

[2022-06-16 13:10] davidblazek commented on #454
@ahmedsalah196 OK, let me correct my previous answer.
We're using Alamofire (along with Moya), we can provide client certificate using two ways:
1. via Moya CredentialsPlugin (https://github.com/Moya/Moya/blob/master/docs/Authentication.md#basic-http-auth)
2. via Alamofire SessionDelegate (like in the very first code snippet in this issue).

Both ways are working until we enable logging. After tha

[2022-06-16 13:39] ahmedsalah196 commented on #454
@davidblazek May you reach out to us at:

[2022-06-16 13:42] ahmedsalah196 commented on #454
@davidblazek May you reach out to support@instabug.com to further investigate this in a debugging call?

[2022-06-27 14:12] KerollosNabil commented on #427
We are sorry for being late
can you please tell me which Xcode version you use?

[2022-06-27 17:39] JiBB commented on #427
13.2.1

[2022-06-27 17:40] JiBB commented on #427
13.2.1

[2022-06-29 12:57] KerollosNabil commented on #427
sorry for your wait but after investigation we found that
the problem is with Xcode version 13.2.1
you should have a higher version of Xcode and everything will work okay

[2022-07-08 08:50] #454 closed

[2022-07-22 11:29] MartinW commented on #402
@Kmohamed Any updates on SwiftUI support please?

[2022-07-22 11:30] MartinW commented on #402
@ismyhc Did you find any workaround for this? Thanks

[2022-08-01 10:21] kwstasna opened #456 "Status Bar Style doesn't change while Instabug w/ Floating Button is on"
### Steps to Reproduce the Problem
Following this Apple Developer Guide [here](https://developer.apple.com/documentation/technotes/tn3105-customizing-uistatusbar-syle) Section: **Set a style for each view controller**

Run the project **without** Instabug -> Working as expected.

Run the project **with** Instabug -> Status Bar Bug detected.

### Expected Behavior

I would expect the status bar sty

[2022-08-03 08:50] KerollosNabil commented on #456
@kwstasna we have figured out the bug and we are working on fixing it and will notify you once we fix it
and thank you for your helpful contribution to finding the bug

[2022-08-07 12:41] KerollosNabil commented on #456
@kwstasna  we are sorry for the late and we thank you for your contribution
here is a custom build that have the fix for this issue
`pod 'Instabug', :podspec => 'https://ios-releases.instabug.com/custom/fix-statusBar_prefered_theme_bug/Instabug.podspec'`

[2022-08-07 13:00] kwstasna commented on #456
Thanks a lot for this one, is there by any chance any ETA for this to be merged in the newest version ? We are not so fun of specific branches 😁

[2022-08-07 13:26] KerollosNabil commented on #456
@kwstasna let me check with the team and get back to you

[2022-08-15 07:51] EyadHeikal commented on #456
@kwstasna This will be merged into the next version to be released on September 4th.

[2022-08-15 07:54] #456 closed

[2022-08-29 22:52] bdaz opened #457 "IBGWelcomeMessageModeDisabled Not Working"
### Steps to Reproduce the Problem
1. Set `welcomeMessageMode` to `IBGWelcomeMessageModeDisabled`
2. Start Instabug with `startWithToken::`

### Expected Behavior
No Instabug welcome message appears

### Actual Behavior
A welcome message appears approximately after 10 seconds during the user's first session.

### Instabug integration code
[code]

### SDK Version
10.11.9

### iOS Version
15.6.x, 16

[2022-08-30 09:21] EyadHeikal commented on #457
Hello @bdaz
Instabug integration should start with a call to startWithToken method and any configuration code should come after it.
`
    [Instabug startWithToken:@"Token" invocationEvents:IBGInvocationEventShake];
    Instabug.tintColor = [UIColor blackColor];
    Instabug.trackUserSteps = NO;
    Instabug.welcomeMessageMode = IBGWelcomeMessageModeDisabled;
    Instabug.reproStepsMode = IBGUserSt

[2022-08-30 09:21] #457 closed

[2022-09-08 18:54] bdaz commented on #457
@EyadHeikal Thanks. This is probably worth documenting on the API reference. I would expect it to work regardless of the order otherwise.

(For what it's worth, the reason I was guessed it might need to be done prior to initialization was the fact, documented [here](https://docs.instabug.com/docs/ios-disabling-enabling-crash-reporting)  that Crash Reporting needs to be set to disabled prior to ini

[2022-09-12 15:16] MattRapchat opened #458 "Crash on application close - InstabugUserDefaults.ibg_secureSetObject(_:forKey:)"
### Steps to Reproduce the Problem
Seemingly, instabug is causing a crash while our app is closing.

Stacktrace from project organizer crash report (1298 devices reporting crash with 99% iPhone)
<img width="694" alt="Screen Shot 2022-09-12 at 10 00 04 AM" src="https://user-images.githubusercontent.com/84141572/189687800-b08391da-c3a6-486b-ba26-d6df714be7a7.png">

Stack Trace from firebase (only 9

[2022-09-25 08:00] EyadHeikal commented on #458
This is a duplicate of this [One-Signal-SDK issue](https://github.com/OneSignal/OneSignal-iOS-SDK/issues/1116)

[2022-09-25 08:00] #458 closed

[2022-10-28 14:30] danniss10 opened #460 "[Bug]: Infinite loop causes app to crash after force quitting app"
### Steps to Reproduce the Problem
1. Run the app
2. Double tap home button (or swipe up bottom bar) to view app switcher
3. Force quit app
4. Observe crash alert notifying that app has crash

### Actual Behavior
Crash occurs with some sort of infinite loop, see crash log below.

### Instabug integration code
[code]

### SDK Version
Instabug 11.4.1

### iOS Version
Observed in iOS 16, 15, 14 crash

[2022-11-20 19:25] anaseem80 commented on #317
have you solved the issue?

[2022-11-21 07:46] EyadHeikal commented on #317
@anaseem80 Hey Ahmed, It's still not recommended to use screenshot invocation event on live builds as it can cause Appstore rejection.

[2022-11-21 10:08] anaseem80 commented on #317
Hello! But i was typed a native code that make screenshot disabled but I
deleted it so can you please send me screenshot please for the problem
because I did not get this problem will please help me

On Mon, Nov 21, 2022, 9:47 AM Eyad Heikal ***@***.***> wrote: